Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

feat: add ErrorBoundary with try-again and reload fallback
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: none

feat: add error state + retry to AttackHistory
  frontend/src/components/History/AttackHistory.test.tsx
  frontend/src/components/History/AttackHistory.tsx
Due: none

feat: add error state + retry to ConversationPanel
  frontend/src/components/Chat/ConversationPanel.test.tsx
  frontend/src/components/Chat/ConversationPanel.tsx
Due: none

feat: refactor ChatWindow to use toApiError + preserve failed text
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
Due: none

refactor: use toApiError() in TargetConfig for consistent error messages
  frontend/src/components/Config/TargetConfig.tsx
Due: none

fix: restrict media endpoint to allowed subdirectories and block sensitive extensions
  pyrit/backend/routes/media.py
  tests/unit/backend/test_media_route.py
Due: website

feat: add onError fallback for video/audio media elements
  frontend/src/components/Chat/MessageList.tsx
Due: none

feat: wire ErrorBoundary, ConnectionHealthProvider, ConnectionBanner into App
  frontend/src/App.tsx
Due: none

docs: document health endpoint contract for frontend polling
  pyrit/backend/routes/health.py
Due: website

test: improve coverage and simplify ConnectionBanner
  frontend/src/App.test.tsx
  frontend/src/components/Chat/MessageList.test.tsx
  frontend/src/components/ConnectionBanner.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/History/AttackHistory.test.tsx
Due: none

adding scorer without pydub
  pyrit/score/audio_transcript_scorer.py
Due: website

MAINT: Add permissions to docker_build workflow for security hardening
  .github/workflows/docker_build.yml
Due: none

MAINT: Add permissions to docker_build workflow (#1441)
  .github/workflows/docker_build.yml
Due: none

fix: address hannahwestra25 review comments (round 2)
  pyrit/backend/models/__init__.py
  pyrit/backend/models/attacks.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
Due: website

MAINT: Bump pip deps
  pyproject.toml
  uv.lock
Due: none

TEST add unit tests for ConverterRegistry
  tests/unit/registry/test_converter_registry.py
Due: website

refactor: generate attack_result_id in AttackResult constructor
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/services/attack_service.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  tests/unit/backend/test_attack_service.py
Due: website

fix: rename label key operator_name -> operator for consistency
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

fix: address ValbuenaVC review comments
  pyrit/backend/routes/media.py
  pyrit/backend/routes/version.py
  tests/unit/backend/test_media_route.py
Due: website

getting rid of pydub
  pyrit/score/audio_transcript_scorer.py
Due: website

precommit
  pyrit/score/audio_transcript_scorer.py
Due: website

updating tests
  doc/api.rst
  pyrit/identifiers/__init__.py
  pyrit/identifiers/evaluation_identity.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/identifiers/test_evaluation_identity.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: validate-jupyter-book, website

adding deprecation to attack_identity
  pyrit/analytics/result_analysis.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/services/attack_service.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/identifiers/atomic_attack_identifier.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/attack_result.py
  pyrit/scenario/core/atomic_attack.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_markdown_printer.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/executor/benchmark/test_question_answering.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/models/test_attack_result.py
  tests/unit/scenarios/test_atomic_attack.py
Due: website

fix: address PR review comments (2-6)
  frontend/e2e/api.spec.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  pyrit/backend/routes/version.py
Due: website

fix: address older PR review comments (D, E)
  frontend/e2e/api.spec.ts
  frontend/src/utils/messageMapper.ts
Due: none

Rename field
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

fix: align api.test.ts mocks with backend contract
  frontend/src/services/api.test.ts
Due: none

Remove getattr
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

ruffen
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Rerun notebook
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Some rate limit issues :-/
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Trying to get a simple E2E test working
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Have a chat with the mocking
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Update output
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Ruffen
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fixing tests
  pyrit/analytics/result_analysis.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/identifiers/__init__.py
  pyrit/identifiers/atomic_attack_identifier.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/attack_result.py
  pyrit/scenario/core/atomic_attack.py
  tests/unit/backend/test_attack_service.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/identifiers/test_evaluation_identity.py
  tests/unit/models/test_attack_result.py
  tests/unit/scenarios/test_atomic_attack.py
Due: website

Backwards compatibility
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Rerun code
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
