Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

removing unused params
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
Due: website

Remove validation that prevents Sora from being used in multi-turn scenarios & add new lines to messages in original rationale (scorer)
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/scorer.py
Due: website

run notebook without aux scorer
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
Due: remove-notebook-headers, check-links, website

made benchmark orchestrator
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/fairness_bias.py
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: remove-notebook-headers, check-links, website

edits
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
  pyrit/executor/benchmark/fairness_bias.py
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: remove-notebook-headers, check-links, website

moving scoring file
  pyrit/datasets/score/categories/pronoun_category_score.yaml
Due: none

Refactoring command parsing
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: website

fixing file reference
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
Due: remove-notebook-headers, check-links, website

Refactoring close method
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: website

precommit
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
Due: remove-notebook-headers, check-links, website

Docs: Added Feature Parity Tracking section (Issue #511)
  README.md
Due: none

initial commit adding files
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/crescendo_score_conversation.py
Due: website

precommit errors
  pyrit/executor/attack/multi_turn/crescendo_score_conversation.py
Due: website

added unit tests
  tests/unit/executor/attack/multi_turn/test_crescendo_score_conversation.py
Due: website

DOcs: : Move Feature Parity Tracking section after Citing PyRIT (Issue #511)
  README.md
Due: none

Fix: Always display objective scores; auxiliary scores shown only if requested (Issue #1096)
  pyrit/executor/attack/printer/console_printer.py
Due: website

Feat: Add Hijacking Chain-of-Thought (H-CoT) attack (Issue #897)
  pyrit/executor/attack/hcot_attack.py
Due: website

remove blog changes
  doc/blog/2024_12_3.md
  doc/blog/2025_01_27.md
Due: check-links

feat: add initial HCoTAttack implementation and integration test (Fixes #897)
  pyrit/executor/attack/hcot_attack.py
  tests/integration/executors/test_hcot_attack.py
Due: website

tests passing
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/models/prompt_request_response.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/target/test_openai_response_target.py
Due: website

version locking
  README.sqlalchemy14.md
  launch.json.new
  pyproject.toml
  pyproject.toml.original
  settings.json.new
Due: none

addressing minor feedback
  pyrit/executor/benchmark/fairness_bias.py
Due: website

update blog and notebook
  build_scripts/generate_rss.py
  doc/blog/2024_12_3.md
  doc/blog/2025_01_27.md
  doc/blog/2025_06_06.md
  doc/code/scoring/7_batch_scorer.ipynb
Due: remove-notebook-headers, check-links, website

more pre-commit
  doc/code/executor/workflow/1_xpia_workflow.py
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
  doc/code/orchestrators/4_scoring_orchestrator.py
  doc/code/orchestrators/HITL_Scoring_Orchestrator.py
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/7_batch_scorer.py
  doc/code/scoring/look_back_scorer.py
  doc/code/targets/2_custom_targets.py
  doc/cookbooks/1_sending_prompts.py
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/score/batch_scorer.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/promptgen/test_fuzzer.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/score/test_prompt_shield_scorer.py
  tests/unit/score/test_true_fals_composite_scorer.py
  tests/unit/score/test_true_false_score_aggregator.py
  tests/unit/target/test_gandalf_target.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, check-links, website

update relevant blog files for attacks
  build_scripts/generate_rss.py
  doc/blog/2024_12_3.md
  doc/blog/2025_01_27.md
Due: check-links, website

fix broken links
  doc/blog/2024_12_3.md
  doc/blog/2025_01_27.md
Due: check-links

fix loading issue
  pyrit/datasets/seed_prompts/steal_system_prompt.prompt
Due: none

[FIX] Steal system prompt yaml (#1106)
  pyrit/datasets/seed_prompts/steal_system_prompt.prompt
Due: none

moooore pre-commit
  .gitignore
  doc/cookbooks/1_sending_prompts.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/promptgen/fuzzer.py
  pyrit/orchestrator/fuzzer_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/scoring_orchestrator.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/integration/score/test_hitl_gradio_integration.py
  tests/unit/executor/attack/component/test_objective_evaluator.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/orchestrator/test_scoring_orchestrator.py
  tests/unit/orchestrator/test_tree_of_attacks_with_pruning_orchestrator.py
  tests/unit/score/test_scorer_evaluator.py
Due: check-links, website

update nb
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
Due: remove-notebook-headers

Update pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/console_printer.py
Due: website

most things passing
  doc/code/orchestrators/HITL_Scoring_Orchestrator.ipynb
  doc/code/orchestrators/HITL_Scoring_Orchestrator.py
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/generic_scorers.py
  doc/code/scoring/insecure_code_scorer.py
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/targets/2_custom_targets.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/fuzzer_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/scoring_orchestrator.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/orchestrator/test_crescendo_orchestrator.py
  tests/unit/orchestrator/test_fuzzer_orchestrator.py
  tests/unit/orchestrator/test_tree_of_attacks_with_pruning_orchestrator.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/test_prompt_request_response.py
Due: remove-notebook-headers, check-links, website

pre-commit hooks & remove unused import from nb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
  pyrit/prompt_target/openai/openai_sora_target.py
Due: remove-notebook-headers, check-links, website

addressing feedback making helper functions
  pyrit/executor/benchmark/fairness_bias.py
Due: website
