Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

Address review: move logging out of TYPE_CHECKING, move PromptTarget to TYPE_CHECKING
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/promptgen/core/prompt_generator_strategy.py
  pyrit/executor/workflow/core/workflow_strategy.py
  pyrit/score/scorer.py
Due: website

Consolidate pre-commit into single matrix job
  .github/workflows/build_and_test.yml
Due: none

Ruffen once more
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

MAINT Bump rollup to >=4.59.0 for dependabot security alert
  frontend/package-lock.json
  frontend/package.json
Due: none

Add animated ASCII banner with raccoon mascot for PyRIT CLI
  pyrit/cli/banner.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_banner.py
  tests/unit/cli/test_pyrit_shell.py
Due: website

FEAT: CBT-Bench Dataset
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/cbt_bench_dataset.py
  tests/unit/datasets/test_cbt_bench_dataset.py
Due: website

Fix animation cursor repositioning (off-by-one)
  pyrit/cli/banner.py
Due: website

Fix raccoon art and animation scroll drift
  pyrit/cli/banner.py
Due: website

Redesign raccoon with mask and striped tail, fix animation drift
  pyrit/cli/banner.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_banner.py
Due: website

Replace ASCII raccoon with inverted braille art
  pyrit/cli/banner.py
  tests/unit/cli/test_banner.py
Due: website

Simplify raccoon art and clean up chin bottom dots
  pyrit/cli/banner.py
Due: website

Fix raccoon color inconsistency and layout
  pyrit/cli/banner.py
Due: website

Fix raccoon spacing, color consistency, and add striped tail
  pyrit/cli/banner.py
Due: website

Follow Copilot suggestion
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Fix from copilot
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Follow Copilot suggestion
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Fix subtitle color in animation, chin offset, and redesign tail
  pyrit/cli/banner.py
Due: website

Fix test name typos
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Make tail bushier: 10 lines with tapering braille stripes
  pyrit/cli/banner.py
Due: website

Accumulating fixes from CoPilot review
  pyrit/executor/attack/single_turn/beam_search.py
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Make tail wider, curling, with vertical delimiters
  pyrit/cli/banner.py
Due: website

More copilot addressing
  beam_search_test.py
  pyrit/executor/attack/single_turn/beam_search.py
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Fiddling with notebook
  doc/code/executor/attack/beam_search_attack.py
Due: check-links, validate-jupyter-book, website

Ruffen
  doc/code/executor/attack/beam_search_attack.py
Due: check-links, validate-jupyter-book, website

Copilot fix
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Getting notebook running with jupytext
  beam_search_test.py
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book, website

Suggestion from copilot
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Trying to fix some more things
  pyrit/executor/attack/single_turn/beam_search.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Small fix
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Fix from Copilot (alleged)
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Linting
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Update notebook
  doc/code/executor/attack/beam_search_attack.ipynb
  doc/code/executor/attack/beam_search_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Fix mixed blue/white tail colors
  pyrit/cli/banner.py
Due: website

Small fixes from CoPilot
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Copilot says this is redundant
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Updating imports
  doc/code/executor/attack/beam_search_attack.ipynb
  doc/code/executor/attack/beam_search_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Try staging everything this time...
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/single_turn/__init__.py
  pyrit/executor/attack/single_turn/beam_search.py
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Rerun notebook
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Update ReST doc
  doc/api.rst
Due: validate-jupyter-book

Duplicate import
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website
