Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

Grammar fix
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

integration & notebook regneration
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Make tail curl properly with S-curve shape
  pyrit/cli/banner.py
Due: website

Copilot suggests being a little more careful around things which might be callable
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Another thing from copilot
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Unused variable
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

import datasets might need to refresh jsonl
  pyrit/datasets/scorer_evals/harm/bias.csv
  pyrit/datasets/scorer_evals/harm/exploit.csv
  pyrit/datasets/scorer_evals/harm/exploits.csv
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/info_integrity.csv
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy.csv
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm.csv
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/sexual.csv
  pyrit/datasets/scorer_evals/harm/violence.csv
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/bias.csv
  pyrit/datasets/scorer_evals/objective/exploit.csv
  pyrit/datasets/scorer_evals/objective/exploits.csv
  pyrit/datasets/scorer_evals/objective/hate_speech.csv
  pyrit/datasets/scorer_evals/objective/info_integrity.csv
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/privacy.csv
  pyrit/datasets/scorer_evals/objective/self_harm.csv
  pyrit/datasets/scorer_evals/objective/sexual.csv
  pyrit/datasets/scorer_evals/objective/violence.csv
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
Due: website

Rerun notebook
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Copilot fix docstring
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

integration & notebook regneration, formatting issue is also fixed
  pyrit/datasets/seed_datasets/remote/cbt_bench_dataset.py
Due: website

Add per-segment coloring, vibrant theme, and richer animations
  pyrit/cli/banner.py
  tests/unit/cli/test_banner.py
Due: website

Fix overlapping segment rendering causing boundary overflow
  pyrit/cli/banner.py
Due: website

Fix border color on quick start and command lines
  pyrit/cli/banner.py
Due: website

Auto-detect Entra auth for Azure endpoints when no API key is provided
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/target/test_tts_target.py
Due: website

Remove API key requirements from initializers and scorers for Entra auth
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/1_openai_chat_target.py
  doc/cookbooks/2_precomputing_turns.py
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/simple.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_simple_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Add run_initializers_async, Entra auth, and config-file support
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_backend.py
  pyrit/setup/__init__.py
  pyrit/setup/initialization.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_backend.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: website

Add Python 3.14 support
  .github/workflows/build_and_test.yml
  pyproject.toml
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: website

Expand memory interface and models for attack results
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/conversation_stats.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/target/test_image_target.py
  tests/unit/target/test_video_target.py
Due: website

Add attack-centric backend API with conversations and streaming
  pyrit/backend/main.py
  pyrit/backend/mappers/__init__.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/mappers/target_mappers.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/targets.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/routes/targets.py
  pyrit/backend/routes/version.py
  pyrit/backend/services/attack_service.py
  pyrit/backend/services/target_service.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_main.py
  tests/unit/backend/test_mappers.py
  tests/unit/backend/test_target_service.py
Due: website

Add API key fallback to AIRTInitializer
  pyrit/setup/initializers/airt.py
  tests/unit/setup/test_airt_initializer.py
Due: website

Fix ruff and mypy linting errors
  pyrit/cli/banner.py
Due: website

Fix ruff format and check errors
  pyrit/cli/banner.py
  tests/unit/cli/test_banner.py
Due: website

Update cookbooks to use explicit Entra auth and regenerate ipynb files
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Fix env var name AZURE_CONTENT_SAFETY_ENDPOINT -> AZURE_CONTENT_SAFETY_API_ENDPOINT in prompt shield notebook
  doc/code/targets/prompt_shield_target.ipynb
  doc/code/targets/prompt_shield_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Gate Entra auth fallback on Azure endpoint in SimpleInitializer
  pyrit/setup/initializers/simple.py
  tests/unit/setup/test_simple_initializer.py
Due: website

Add ToxicChat dataset loader
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
  tests/unit/datasets/test_toxic_chat_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Add HarmfulQA dataset loader
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/harmful_qa_dataset.py
  tests/unit/datasets/test_harmful_qa_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Add SimpleSafetyTests dataset loader
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/simple_safety_tests_dataset.py
  tests/unit/datasets/test_simple_safety_tests_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Add pre-commit hook to sanitize user paths in notebook outputs
  .pre-commit-config.yaml
  build_scripts/sanitize_notebook_paths.py
  tests/unit/build_scripts/test_sanitize_notebook_paths.py
Due: website

Remove dataset_name from constructor, hardcode as class constant
  pyrit/datasets/seed_datasets/remote/harmful_qa_dataset.py
Due: website

Remove dataset_name from constructor, hardcode as class constant
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
  tests/unit/datasets/test_toxic_chat_dataset.py
Due: website

Remove dataset_name from constructor, guard empty harm_categories
  pyrit/datasets/seed_datasets/remote/simple_safety_tests_dataset.py
Due: website

Make authors multi-line, guard empty harm_categories
  pyrit/datasets/seed_datasets/remote/harmful_qa_dataset.py
Due: website
