Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

style: fix missing newlines at the end of yaml files
  pyrit/datasets/prompt_converters/colloquial_wordswaps/filipino.yaml
  pyrit/datasets/prompt_converters/colloquial_wordswaps/indian.yaml
  pyrit/datasets/prompt_converters/colloquial_wordswaps/multicultural_london.yaml
  pyrit/datasets/prompt_converters/colloquial_wordswaps/singaporean.yaml
  pyrit/datasets/prompt_converters/colloquial_wordswaps/southern_american.yaml
Due: none

fix: Add JsonStringConverter documentation and fix import ordering
  doc/api.rst
  doc/code/converters/1_text_to_text_converters.py
  tests/unit/converter/test_json_string_converter.py
Due: check-links, validate-jupyter-book, website

Adding general websocket target class and accompanying unit tests
  pyrit/prompt_target/websocket_target.py
  tests/unit/target/test_websocket_target.py
Due: website

update to 0.11.0 release version
  frontend/package.json
  pyproject.toml
  pyrit/__init__.py
Due: website

update with latest PR feedback, cleanup
  frontend/README.md
  frontend/dev.py
  pyproject.toml
  pyrit/backend/main.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/converters.py
  pyrit/backend/models/registry.py
  pyrit/backend/models/targets.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/routes/initializers.py
  pyrit/backend/routes/labels.py
  pyrit/backend/routes/scenarios.py
  pyrit/backend/routes/scorers.py
  pyrit/backend/services/__init__.py
  pyrit/backend/services/attack_service.py
  pyrit/backend/services/converter_service.py
  pyrit/backend/services/registry_service.py
  pyrit/backend/services/target_service.py
  pyrit/cli/pyrit_backend.py
  pyrit/registry/instance_registries/__init__.py
  pyrit/registry/instance_registries/converter_registry.py
  pyrit/registry/instance_registries/target_registry.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_converter_service.py
  tests/unit/backend/test_error_handlers.py
  tests/unit/backend/test_registry_service.py
  tests/unit/backend/test_target_service.py
Due: website

update to .1
  frontend/package.json
  pyproject.toml
  pyrit/__init__.py
Due: website

precedence
  pyrit/cli/frontend_core.py
Due: website

more simplifications
  pyrit/backend/models/__init__.py
  pyrit/backend/models/common.py
  pyrit/backend/models/converters.py
  pyrit/backend/models/targets.py
  pyrit/backend/routes/converters.py
  pyrit/backend/routes/targets.py
  pyrit/backend/services/converter_service.py
  pyrit/backend/services/target_service.py
  pyrit/registry/instance_registries/base_instance_registry.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_common_models.py
  tests/unit/backend/test_converter_service.py
  tests/unit/backend/test_target_service.py
Due: website

FEAT: Jailbreak Scenario (#1329)
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/datasets/seed_datasets/local/airt/harms.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

update with target identifier
  pyrit/backend/services/target_service.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/converter_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  pyrit/registry/instance_registries/target_registry.py
  tests/unit/backend/test_target_service.py
Due: website

precommit
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/common/path.py
  pyrit/setup/configuration_loader.py
  tests/unit/setup/test_configuration_loader.py
Due: website

unit tests precommit
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/setup/test_configuration_loader.py
Due: website

MAINT post-0.11.0 release update to 0.11.1dev0 (#1352)
  frontend/package.json
  pyproject.toml
  pyrit/__init__.py
Due: website

fix test, no default initializer
  frontend/dev.py
Due: website

pull latest ms repo
  .devcontainer/Dockerfile
Due: none

run converter notebooks with updates
  doc/code/converters/0_converters.ipynb
  doc/code/converters/1_text_to_text_converters.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fixes
  pyrit/cli/frontend_core.py
  pyrit/setup/configuration_loader.py
Due: website

devcontainer and conf
  .devcontainer/devcontainer_setup.sh
  .pyrit_conf_example
Due: none

FEAT: Add JsonStringConverter for JSON-safe string conversion (#454) (#1347)
  doc/api.rst
  doc/code/converters/0_converters.ipynb
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  doc/code/targets/10_http_target.ipynb
  doc/code/targets/10_http_target.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/json_string_converter.py
  tests/unit/converter/test_json_string_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

improve docker setup to be based on devcontainer for minimal duplication, helper scripts, update release instructions, github workflows for automated validation
  .github/workflows/docker_build.yml
  build_scripts/prepare_package.py
  doc/contributing/11_release_process.md
  docker/Dockerfile
  docker/QUICKSTART.md
  docker/build_pyrit_docker.py
  docker/docker-compose.yaml
  docker/requirements.txt
  docker/run_pyrit_docker.py
  docker/start.sh
  frontend/tsconfig.json
  pyproject.toml
  pyrit/backend/main.py
Due: check-links, validate-jupyter-book, website

additional changes to avoid devcontainer build failures
  .devcontainer/Dockerfile
  .devcontainer/devcontainer_setup.sh
  frontend/package-lock.json
Due: none

SHA1 fix
  .devcontainer/Dockerfile
Due: none

pre-commit fix
  .devcontainer/devcontainer_setup.sh
Due: none

upgrade vite in response to npm audit
  frontend/package-lock.json
  frontend/package.json
Due: none

mypy fixes
  pyrit/auth/manual_copilot_authenticator.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

ruff
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

use docker driver to create awareness of locally built images
  .github/workflows/docker_build.yml
Due: none

address dependabot alerts
  pyproject.toml
  uv.lock
Due: none

address code scanning alert on url sanitization
  pyrit/prompt_target/openai/openai_target.py
Due: website

mypy fixes
  pyrit/auth/manual_copilot_authenticator.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

FIX MS Package Signing Key issue #1353 to enable DevContainers after Feb-01-2026 (#1356)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer_setup.sh
  frontend/package-lock.json
Due: none

MAINT address code scanning alert on url sanitization (#1361)
  pyrit/prompt_target/openai/openai_target.py
Due: website

MAINT bump package versions to address dependabot alerts (#1360)
  pyproject.toml
  uv.lock
Due: none

MAINT mypy fixes (#1359)
  pyrit/auth/manual_copilot_authenticator.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

MAINT upgrade vite in response to npm audit (#1358)
  frontend/package-lock.json
  frontend/package.json
Due: none

add all of env_example
  .env_example
  pyrit/setup/initializers/airt_targets.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: website

update ollama key
  pyrit/setup/initializers/airt_targets.py
Due: website

Fixed function signature and file path
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  tests/unit/converter/test_colloquial_wordswap_converter.py
Due: website

FEAT: Target Registry and AIRT Targets Initializer (#1320)
  .env_example
  doc/api.rst
  doc/code/registry/2_instance_registry.ipynb
  doc/code/registry/2_instance_registry.py
  pyrit/identifiers/target_identifier.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/instance_registries/__init__.py
  pyrit/registry/instance_registries/target_registry.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/identifiers/test_target_identifier.py
  tests/unit/registry/test_target_registry.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

empty list behavior
  .pyrit_conf_example
  pyrit/cli/frontend_core.py
  pyrit/setup/configuration_loader.py
  tests/unit/setup/test_configuration_loader.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
