Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

enhance WebSocket URL validation
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

clean up
  .devcontainer/devcontainer_setup.sh
Due: none

small fix
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

specify virtual env in devcontainer setup
  .devcontainer/devcontainer_setup.sh
Due: none

fix
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

saving changes
  doc/code/targets/6_rate_limiting.ipynb
  doc/code/targets/7_http_target.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
Due: remove-notebook-headers, validate-jupyter-book, website

updating pipelines
  end-to-end-tests.yml
  integration-tests.yml
Due: none

FIX: Updating Pipelines (#1282)
  end-to-end-tests.yml
  integration-tests.yml
Due: none

improve `_parse_message`
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

useful links
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

intermediate debug
  pyrit/scenario/scenarios/airt/scam_scenario.py
Due: website

Update to Messages in AtomicAttack & add integration tests for scenarios notebooks. Rename other notebook test files to match test_notebooks_*.py format
  pyrit/scenario/core/atomic_attack.py
  tests/integration/executors/test_notebooks_executor.py
  tests/integration/scenarios/test_notebooks_scenarios.py
  tests/integration/score/test_notebooks_scorer.py
Due: website

pre-commit
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/use_huggingface_chat_target.ipynb
  pyrit/executor/core/strategy.py
Due: remove-notebook-headers, validate-jupyter-book, website

Add subclass validation to enforce INPUT_TYPES and OUTPUT_TYPES for PromptConverters
  pyrit/executor/promptgen/fuzzer/fuzzer_converter_base.py
  pyrit/prompt_converter/prompt_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/test_prompt_normalizer.py
Due: website

most recent stab at scam scenario
  doc/code/scenarios/1_composite_scenario.ipynb
  pyrit/datasets/seed_datasets/local/airt/scams.prompt
  pyrit/scenario/scenarios/airt/scam_scenario.py
Due: remove-notebook-headers, validate-jupyter-book, website

Leakage Scenario addition
  pyrit/datasets/score/true_false_question/leakage.yaml
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/scenario/__init__.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

pr feedback and test fix
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
Due: website

add timeouts for responses and connection
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

start with tests
  tests/unit/target/test_websocket_copilot_target.py
Due: website

require `wss://` only
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

add configurable response timeout
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/target/test_websocket_copilot_target.py
Due: website

fix
  tests/unit/target/test_websocket_copilot_target.py
Due: website

replace Enum with IntEnum and actually use it
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

test_dict_to_websocket_static_method
  tests/unit/target/test_websocket_copilot_target.py
Due: website

Refactor WebSocket message parser to handle multiple frames per message
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

rename message types in the enum
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

add raw WebSocket messages for testing
  tests/unit/target/test_websocket_copilot_target.py
Due: website

remove emojis
  tests/unit/target/test_websocket_copilot_target.py
Due: website

dataset refactor
  doc/code/scoring/scorer_evals_new.ipynb
  doc/code/scoring/scorer_evals_new2.ipynb
  pyrit/score/scorer.py
  pyrit/score/scorer_evals/harm/exploit.csv
  pyrit/score/scorer_evals/harm/hate_speech.csv
  pyrit/score/scorer_evals/harm/hate_speech_multi_score.csv
  pyrit/score/scorer_evals/harm/info_integrity.csv
  pyrit/score/scorer_evals/harm/mini_hate_speech.csv
  pyrit/score/scorer_evals/harm/privacy.csv
  pyrit/score/scorer_evals/harm/self_harm.csv
  pyrit/score/scorer_evals/harm/sexual.csv
  pyrit/score/scorer_evals/harm/violence.csv
  pyrit/score/scorer_evals/harm/violence_multi_score.csv
  pyrit/score/scorer_evals/refusal_scorer/mini_refusal.csv
  pyrit/score/scorer_evals/refusal_scorer/refusal.csv
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_utility.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_eval_csv_schema.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, validate-jupyter-book, website

simpler way to get the final result
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

log full raw message when no parseable content found
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

moving things
  doc/code/scoring/scorer_evals_new2.ipynb
  pyrit/models/scenario_result.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics.py
Due: remove-notebook-headers, validate-jupyter-book, website

_value2member_map_
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
