Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

forgot a few files
  doc/code/orchestrators/2_multi_turn_orchestrators.ipynb
  doc/code/orchestrators/2_multi_turn_orchestrators.py
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  tests/unit/test_prompt_template.py
Due: remove-notebook-headers, check-links, website

moved all helper functions inside PlagiarismScorer class
  pyrit/score/plagiarism_scorer.py
Due: website

fixed broken helper function unit tests
  tests/unit/score/test_plagiarism_scorer.py
Due: website

pre-commit hooks and final docs
  doc/_toc.yml
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/executor/attack/tap_attack.ipynb
  doc/code/executor/attack/tap_attack.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
  doc/code/executor/benchmark/0_benchmark.md
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.py
  doc/code/executor/promptgen/0_promptgen.md
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/executor/promptgen/fuzzer_generator.py
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/5_human_scorers.md
Due: remove-notebook-headers, check-links, website

adding role_filter to score_async
  doc/code/scoring/2_true_false_scorers.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/composite_scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_scorer.py
Due: remove-notebook-headers, website

ran pre commit hooks
  pyrit/score/plagiarism_scorer.py
Due: website

Add benchmarking cookbook
  doc/_toc.yml
  doc/cookbooks/3_benchmarking_models.ipynb
  doc/cookbooks/3_benchmarking_models.py
  pyrit/datasets/lexicons/fairness/gendered_professions.yaml
  pyrit/datasets/score/true_false_question/yes_no_answer.yaml
  pyrit/datasets/seed_prompts/fairness/yes_no_questions.yaml
Due: remove-notebook-headers, check-links, website

unittest fix
  tests/unit/memory/memory_interface/test_interface_export.py
Due: website

jupytext fix
  doc/code/memory/2_basic_memory_programming.ipynb
Due: remove-notebook-headers

precommit
  doc/code/memory/2_basic_memory_programming.py
Due: check-links, website

comments
  pyrit/memory/sqlite_memory.py
Due: website

simplified PlagiarismScore _score_async method with single _plagiarism_score call
  pyrit/score/plagiarism_scorer.py
Due: website

unit test fix after merge
  tests/unit/cli/mixed_multiple_attacks_args_success.yaml
  tests/unit/cli/multi_turn_crescendo_args_success.yaml
  tests/unit/cli/multi_turn_crescendo_success.yaml
  tests/unit/cli/multi_turn_crescendo_wrong_arg.yaml
  tests/unit/cli/multi_turn_multiple_attacks_args_success.yaml
  tests/unit/cli/multi_turn_rto_args_success.yaml
  tests/unit/cli/multi_turn_rto_success.yaml
  tests/unit/cli/multi_turn_rto_wrong_arg.yaml
  tests/unit/cli/multi_turn_tap_args_success.yaml
  tests/unit/cli/multi_turn_tap_success.yaml
  tests/unit/cli/multi_turn_tap_wrong_arg.yaml
  tests/unit/cli/prompt_send_no_objective_target.yaml
Due: none

added number prefix to copyright violations cookbook
  doc/_toc.yml
  doc/cookbooks/3_copyright_violations.ipynb
  doc/cookbooks/3_copyright_violations.py
Due: remove-notebook-headers, check-links, website

Fix CLI test validation error expectations
  tests/unit/cli/test_cli.py
Due: website

address comments
  doc/code/memory/1_sqlite_memory.ipynb
Due: remove-notebook-headers

pre-commit updates and self-pr feedback
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/tap_attack.ipynb
  doc/code/executor/attack/tap_attack.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/promptgen/0_promptgen.md
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  pyrit/executor/attack/single_turn/context_compliance.py
Due: remove-notebook-headers, check-links, website

changed metric param in _plagiarism_score method to PlagiarismMetric type
  pyrit/score/plagiarism_scorer.py
Due: website

fixed unit tests after updating _plagiarism_score
  tests/unit/score/test_plagiarism_scorer.py
Due: website

fix unit test
  tests/unit/executor/attack/single_turn/test_context_compliance.py
Due: website

reran copyright violations cookbook to make sure it still works
  doc/cookbooks/3_copyright_violations.ipynb
Due: remove-notebook-headers

pre-commit
  doc/code/executor/attack/context_compliance_attack.ipynb
Due: remove-notebook-headers

ran pre-commit hooks on cookbook
  doc/cookbooks/3_copyright_violations.ipynb
Due: remove-notebook-headers

ran pre-commit (again) on copyright violations cookbook
  doc/cookbooks/3_copyright_violations.ipynb
Due: remove-notebook-headers

precommit
  doc/code/memory/1_sqlite_memory.py
  pyrit/common/initialization.py
Due: check-links, website

unitest
  tests/unit/common/test_initialization.py
Due: website

FEAT Random translation converter (#1076)
  doc/code/converters/1_llm_converters.ipynb
  doc/code/converters/1_llm_converters.py
  pyrit/datasets/lexicons/languages_most_spoken.yaml
  pyrit/datasets/lexicons/languages_most_used_internet.yaml
  pyrit/datasets/prompt_converters/random_translation_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/random_translation_converter.py
  tests/unit/converter/test_generic_llm_converter.py
  tests/unit/converter/test_random_translation_converter.py
Due: remove-notebook-headers, check-links, website

FEAT PlagiarismScorer and demo notebook on probing for copyright violations with the FirstLetterConverter (#1073)
  doc/_toc.yml
  doc/api.rst
  doc/cookbooks/3_copyright_violations.ipynb
  doc/cookbooks/3_copyright_violations.py
  pyrit/score/__init__.py
  pyrit/score/plagiarism_scorer.py
  tests/unit/score/test_plagiarism_scorer.py
Due: remove-notebook-headers, check-links, website

fixed links
  doc/blog/2025_01_14.md
  doc/blog/2025_06_06.md
Due: check-links

Addressing PR comments
  doc/cookbooks/4_benchmarking_models.ipynb
  doc/cookbooks/4_benchmarking_models.py
Due: remove-notebook-headers, check-links, website

FIX: Replace expired blob storage links (#1079)
  doc/blog/2025_01_14.md
  doc/blog/2025_06_06.md
Due: check-links

pr feedback
  doc/code/executor/0_executor.md
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/benchmark/0_benchmark.md
Due: remove-notebook-headers, check-links

small feedback changes
  doc/api.rst
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/2_basic_memory_programming.py
  pyrit/memory/memory_models.py
Due: remove-notebook-headers, check-links, website

pre-commit / run notebooks to remove orchestrator refs
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/executor/promptgen/fuzzer_generator.py
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/5_memory_labels.py
  doc/code/targets/0_prompt_targets.md
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers, check-links, website

small edits
  pyrit/memory/memory_models.py
Due: website
