Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

Update pyrit/analytics/text_matching.py
  pyrit/analytics/text_matching.py
Due: website

FEAT: Adding decoding scorer (#1146)
  pyrit/analytics/__init__.py
  pyrit/analytics/text_matching.py
  pyrit/memory/memory_interface.py
  pyrit/models/message.py
  pyrit/score/__init__.py
  pyrit/score/aggregator_utils.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/scorer.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/decoding_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/analytics/test_text_matching.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/score/test_decoding_scorer.py
  tests/unit/score/test_substring.py
Due: website

adding check for all openai targets
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_tts_target.py
Due: website

add validation for sora
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/unit/target/test_sora_target.py
Due: website

fixing build issues
  doc/code/executor/attack/skeleton_key_attack.py
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.py
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/0_configuration.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/code/targets/playwright_target.ipynb
  pyrit/models/data_type_serializer.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_converter_base.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_crossover_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_expand_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_rephrase_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_shorten_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_similar_converter.py
  pyrit/prompt_converter/persuasion_converter.py
  pyrit/prompt_converter/random_translation_converter.py
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_converter/variation_converter.py
  tests/unit/converter/test_fuzzer_converter.py
  tests/unit/converter/test_persuasion_converter.py
  tests/unit/converter/test_random_translation_converter.py
  tests/unit/converter/test_translation_converter.py
  tests/unit/converter/test_variation_converter.py
Due: remove-notebook-headers, check-links, website

Fixing bug in get_info
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/0_configuration.py
  pyrit/setup/initializers/base.py
Due: remove-notebook-headers, check-links, website

typos
  doc/code/setup/0_configuration.ipynb
Due: remove-notebook-headers

Move message_to_memory before send_prompt
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

fix toc and notebook typo
  doc/_toc.yml
  doc/code/scoring/prompt_shield_scorer.ipynb
Due: remove-notebook-headers

pre-commit
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/0_configuration.py
  pyrit/setup/initializers/base.py
  tests/unit/setup/test_initializer_base.py
Due: remove-notebook-headers, check-links, website

pre-commit, tests
  doc/code/datasets/2_fetch_dataset.ipynb
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/datasets/seed_prompts/garak/access_shell_commands.prompt
  pyrit/datasets/seed_prompts/garak/slur_terms_en.prompt
  pyrit/datasets/seed_prompts/garak/web_html_js.prompt
  pyrit/memory/memory_interface.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  tests/unit/scenarios/test_encoding_scenario.py
Due: remove-notebook-headers, check-links, website

fix notebooks
  doc/code/memory/8_seed_database.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
Due: remove-notebook-headers

addressed comments removed csv from get_scorer function, moved input data files
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/SAMPLE_mixed_objective_refusal.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/mixed_objective_refusal.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: check-links, website

unit test fix
  tests/unit/score/test_scorer_evaluator.py
Due: website

Removing integration tests with manual download approach
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

added new unit tests
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/score/test_scorer_evaluator.py
Due: website

Cleaning up comments
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
Due: website

addressing feedback, simplifying unit tests, removing some specific paths
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
Due: website

Adding scenario results
  doc/code/scenarios/scenarios.ipynb
  pyrit/memory/memory_models.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/prompt_target/text_target.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/printer/__init__.py
  pyrit/scenarios/printer/console_printer.py
  pyrit/scenarios/printer/scenario_result_printer.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_result.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  pyrit/score/scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  tests/unit/memory/test_score_entry.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/target/test_crucible_target.py
  tests/unit/target/test_gandalf_target.py
  tests/unit/target/test_http_target.py
  tests/unit/target/test_hugging_face_endpoint_target.py
  tests/unit/target/test_huggingface_chat_target.py
  tests/unit/target/test_playwright_target.py
Due: remove-notebook-headers, website

pre-commit, pr feedback
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
Due: website

resolution updates based on what works and what doesn't, integration tests, unit tests, and documentation improvements.
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

mypy
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

pr feedback and pre-commit
  .github/instructions/unittests.instructions.md
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/memory/5_memory_labels.py
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/0_configuration.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/cli/scanner_config.py
  pyrit/setup/__init__.py
  pyrit/setup/initialization.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/simple.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_initialization.py
  tests/unit/setup/test_pyrit_initializer.py
  tests/unit/setup/test_simple_initializer.py
Due: remove-notebook-headers, check-links, website

finish merging
  doc/code/scenarios/scenarios.ipynb
Due: remove-notebook-headers

merging main
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
Due: website

FEAT: Adding Garak Encoding Probe as Scenario (#1142)
  doc/code/datasets/2_fetch_dataset.ipynb
  pyrit/datasets/seed_prompts/garak/access_shell_commands.prompt
  pyrit/datasets/seed_prompts/garak/slur_terms_en.prompt
  pyrit/datasets/seed_prompts/garak/web_html_js.prompt
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/score/test_float_scale_threshold_scorer.py
Due: remove-notebook-headers, website

Adding scenario results and printer
  .pre-commit-config.yaml
  doc/api.rst
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/printer/console_printer.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_result.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/memory/test_score_entry.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/target/test_hugging_face_endpoint_target.py
  tests/unit/target/test_huggingface_chat_target.py
Due: remove-notebook-headers, check-links, website

pre-commit
  .pre-commit-config.yaml
  pyrit/prompt_target/text_target.py
Due: website

25102025
  doc/code/executor/workflow/2_xpia_ai_recruiter.py
  tests/integration/ai_recruiter/ai_recruiter_integration_test.fr.md
  tests/integration/ai_recruiter/test_ai_recruiter.py
Due: check-links, website

on site
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/on_site_guide.fr.md
  tests/integration/ai_recruiter/ai_recruiter_integration_test.fr.md
  tests/integration/ai_recruiter/freebsd_guide.fr.md
Due: website

Update _toc.yml
  doc/_toc.yml
Due: none

pr feedback and pre-commit
  doc/api.rst
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/atomic_attack.py
  pyrit/scenarios/printer/console_printer.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_result.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, check-links, website

pre-commit
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

remove n_variants, output_filename as simplifications
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_sora_target.py
Due: website

fix jb build
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
