Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

Decoupled ScenarioMetadata and InitializerMetadata from Identity by introducing RegistryEntry (#1370)
  pyrit/registry/__init__.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/registry/test_base.py
Due: website

pre-commit
  tests/unit/models/test_seed_attack_technique_group.py
Due: website

docs
  doc/_toc.yml
  doc/setup/pyrit_conf.md
Due: check-links, validate-jupyter-book

clarifications
  doc/setup/pyrit_conf.md
Due: check-links, validate-jupyter-book

PR feedback
  pyrit/datasets/score/refusal/refusal_default.yaml
  pyrit/datasets/score/refusal/refusal_strict.yaml
  pyrit/datasets/score/refusal/refusal_with_objective.yaml
  pyrit/datasets/score/refusal/refusal_without_objective.yaml
  pyrit/score/__init__.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  tests/unit/score/test_self_ask_refusal.py
Due: website

docstring
  pyrit/score/true_false/self_ask_refusal_scorer.py
Due: website

Updated docs and generated notebooks
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  doc/code/converters/2_audio_converters.ipynb
  doc/code/converters/2_audio_converters.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Add note that attack prompts target Linux environments only
  doc/code/executor/agent_security/sensitive_data_access_attack.ipynb
  doc/code/executor/agent_security/sensitive_data_access_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Added new convetors to api docs
  doc/api.rst
Due: validate-jupyter-book

added type parameters to bare ndarray
  pyrit/prompt_converter/audio_echo_converter.py
  pyrit/prompt_converter/audio_volume_converter.py
  pyrit/prompt_converter/audio_white_noise_converter.py
Due: website

Update pre-commit
  doc/code/targets/4_openai_video_target.ipynb
  pyrit/prompt_target/openai/openai_video_target.py
Due: remove-notebook-headers, validate-jupyter-book, website

feat(#6a): plumb media output through adversarial feedback loop
  pyrit/executor/attack/multi_turn/red_teaming.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
Due: website

api.rst update
  doc/api.rst
Due: validate-jupyter-book

clean up yamls
  pyrit/datasets/score/refusal/refusal_default.yaml
  pyrit/datasets/score/refusal/refusal_strict.yaml
Due: none

clean up yamls2
  pyrit/datasets/score/refusal/refusal_default.yaml
Due: none

sphinx error
  pyrit/score/true_false/self_ask_refusal_scorer.py
Due: website

sphinx error2
  pyrit/score/true_false/self_ask_refusal_scorer.py
Due: website

azure_openai_video env vars
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_target_filters.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

FIX Support errors in `MultiPromptSendingAttack`, add safe completion support to `SelfAskRefusalScorer` (#1366)
  doc/api.rst
  pyrit/datasets/score/refusal/refusal_default.yaml
  pyrit/datasets/score/refusal/refusal_strict.yaml
  pyrit/datasets/score/refusal/refusal_with_objective.yaml
  pyrit/datasets/score/refusal/refusal_without_objective.yaml
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/score/__init__.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  tests/unit/score/test_self_ask_refusal.py
Due: validate-jupyter-book, website

FIX: OPENAI_VIDEO environment variable fix (#1376)
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_target_filters.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

Update type error
  pyrit/prompt_target/openai/openai_video_target.py
Due: website

notebook example
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/setup/pyrit_conf.md
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

align scenarios and add TAP to content harms
  pyrit/scenario/core/atomic_attack.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/leakage.py
  pyrit/scenario/scenarios/airt/psychosocial.py
  pyrit/scenario/scenarios/airt/scam.py
  tests/unit/scenarios/test_content_harms.py
  tests/unit/scenarios/test_leakage_scenario.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

Update doc/code/setup/1_configuration.py
  doc/code/setup/1_configuration.py
Due: check-links, validate-jupyter-book, website

tweaks
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/setup/pyrit_conf.md
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT: .pyrit_conf Docs (#1374)
  doc/_toc.yml
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/setup/pyrit_conf.md
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Compatibility
  tests/unit/target/test_video_target.py
Due: website

fix: handle error data type in multimodal chat messages
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

run pre-commit
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/psychosocial.py
  tests/unit/scenarios/test_content_harms.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

small corrections
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/scam.py
Due: website

update tests
  tests/unit/scenarios/test_content_harms.py
Due: website

FEAT: Sora target: support remix, image-to-video (#1341)
  doc/code/targets/4_openai_video_target.ipynb
  doc/code/targets/4_openai_video_target.py
  pyrit/models/message.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/models/test_message.py
  tests/unit/target/test_video_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

initial commit adding all changed files new converter
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  pyrit/datasets/prompt_converters/scientific_obfuscation_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/scientific_obfuscation_converter.py
  tests/unit/converter/test_scientific_obfuscation_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

instance namnes
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

tweaks
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

tests
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

adding in api
  doc/api.rst
Due: validate-jupyter-book

Update pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/red_teaming.py
Due: website

Clean up GCG code style and add unit tests
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
  pyrit/auxiliary_attacks/gcg/experiments/log.py
  pyrit/auxiliary_attacks/gcg/experiments/run.py
  pyrit/auxiliary_attacks/gcg/experiments/train.py
  tests/unit/auxiliary_attacks/__init__.py
  tests/unit/auxiliary_attacks/gcg/__init__.py
  tests/unit/auxiliary_attacks/gcg/test_attack_manager_helpers.py
  tests/unit/auxiliary_attacks/gcg/test_get_goals_and_targets.py
  tests/unit/auxiliary_attacks/gcg/test_log.py
  tests/unit/auxiliary_attacks/gcg/test_multi_prompt_attack.py
Due: website

refactor: improve message structure and extract multimodal handling
  pyrit/executor/attack/multi_turn/red_teaming.py
Due: website
