Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

FEAT: Extend data exporter to support Markdown (#1033) (#1042)
  pyrit/memory/memory_exporter.py
  tests/unit/memory/test_memory_exporter.py
Due: website

updated api.rst
  doc/api.rst
Due: none

Move docs into new doc/executor structure to expand more into /attacks and /workflow
  doc/code/executor/attacks/0_attack.md
  doc/code/executor/attacks/multi_turn/1_red_teaming_attack.ipynb
  doc/code/executor/attacks/multi_turn/1_red_teaming_attack.py
  doc/code/executor/attacks/multi_turn/2_crescendo_attack.ipynb
  doc/code/executor/attacks/multi_turn/2_crescendo_attack.py
  doc/code/executor/attacks/single_turn/1_prompt_sending_attack.ipynb
  doc/code/executor/attacks/single_turn/1_prompt_sending_attack.py
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/executor/workflow/1_xpia_workflow.py
  doc/code/executor/workflow/xpia_helpers.py
  pyrit/executor/workflow/xpia.py
Due: remove-notebook-headers, check-links, website

update no URLDataTypeSerializer
  doc/api.rst
Due: none

update scorer evaluator paths
  doc/api.rst
Due: none

pre-commit
  doc/api.rst
Due: none

edit Sora docstring
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

edit Sora docstrin pt 2g
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

precommit
  pyrit/executor/benchmark/question_answering.py
  pyrit/models/question_answering.py
Due: website

pr feedback
  pyrit/models/question_answering.py
  tests/unit/executor/benchmark/test_question_answering.py
Due: website

FEAT Refactored QA Benchmark Orchestrator as a Strategy (#1066)
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/question_answering.py
  pyrit/models/question_answering.py
  tests/unit/executor/benchmark/test_question_answering.py
Due: website

Sora docstring pt 3
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

pre-commit updates
  doc/_toc.yml
  doc/code/architecture.md
  doc/code/executor/attacks/multi_turn/1_red_teaming_attack.ipynb
  doc/code/executor/attacks/multi_turn/1_red_teaming_attack.py
  doc/code/executor/attacks/multi_turn/2_crescendo_attack.ipynb
  doc/code/executor/attacks/multi_turn/2_crescendo_attack.py
  doc/code/executor/attacks/single_turn/1_prompt_sending_attack.ipynb
  doc/code/executor/attacks/single_turn/1_prompt_sending_attack.py
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/executor/workflow/1_xpia_workflow.py
  doc/code/orchestrators/xpia_helpers.py
  doc/code/targets/0_prompt_targets.md
  doc/index.md
  pyrit/executor/workflow/xpia.py
Due: remove-notebook-headers, check-links, website

Sora docstring pt 4
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

Sora docstring pt 5
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

Sora docstring test
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

More docs: skeleton key and batch scorer
  doc/_toc.yml
  doc/code/executor/attacks/single_turn/skeleton_key_attack.ipynb
  doc/code/executor/attacks/single_turn/skeleton_key_attack.py
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
Due: remove-notebook-headers, check-links, website

Sora docstring test2
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

docstring again
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

docstring again2
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

remove Sora api.rst
  doc/api.rst
Due: none

Add separator support to FirstLetterConverter
  doc/code/converters/0_converters.ipynb
  doc/code/converters/0_converters.py
  pyrit/prompt_converter/first_letter_converter.py
  tests/unit/converter/test_first_letter_converter.py
Due: remove-notebook-headers, check-links, website

add Sora back
  doc/api.rst
Due: none

Sora empty line
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

pre-commit
  doc/_toc.yml
  doc/code/executor/attacks/single_turn/skeleton_key_attack.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
Due: remove-notebook-headers

pr feedback, renamed folders
  doc/_toc.yml
  doc/code/executor/attack/0_attack.md
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.ipynb
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.py
  doc/code/executor/attack/multi_turn/2_crescendo_attack.ipynb
  doc/code/executor/attack/multi_turn/2_crescendo_attack.py
  doc/code/executor/attack/single_turn/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/single_turn/1_prompt_sending_attack.py
  doc/code/executor/attack/single_turn/skeleton_key_attack.ipynb
  doc/code/executor/attack/single_turn/skeleton_key_attack.py
  doc/code/scoring/7_batch_scorer.py
Due: remove-notebook-headers, check-links, website

update mermaid diagram in RTA doc per pr feedback
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.ipynb
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.py
Due: remove-notebook-headers, check-links, website

pr feedback to clarify
  doc/code/executor/attack/single_turn/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/single_turn/1_prompt_sending_attack.py
Due: remove-notebook-headers, check-links, website

fetch_jbb_fix
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

cleanup docs
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/self_ask_general_scorer.py
Due: remove-notebook-headers, website

alphabetize
  tests/integration/datasets/test_fetch_datasets.py
Due: website

pre-commit fixes
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

fix unit tests
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

FIX: Updating api.rst (#1067)
  doc/api.rst
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/self_ask_general_scorer.py
Due: remove-notebook-headers, website

Add top-level pages for executor, multi-turn/single-turn attacks, and workflows. Update attack to be accurate given recent changes
  doc/code/executor/0_executor.md
  doc/code/executor/attack/0_attack.md
  doc/code/executor/attack/multi_turn/0_multi_turn.md
  doc/code/executor/attack/single_turn/0_single_turn.md
  doc/code/executor/workflow/0_workflow.md
Due: check-links

pre-commit hooks
  doc/code/architecture.md
  doc/code/executor/0_executor.md
  doc/code/executor/attack/0_attack.md
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.ipynb
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.py
  doc/code/executor/attack/single_turn/0_single_turn.md
  doc/code/executor/workflow/0_workflow.md
  doc/code/targets/0_prompt_targets.md
  doc/index.md
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
Due: remove-notebook-headers, check-links, website

execute xpia doc
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/executor/workflow/1_xpia_workflow.py
Due: remove-notebook-headers, check-links, website

remove links for promptgen and benchmark (they don't exist yet)
  doc/code/executor/0_executor.md
Due: check-links
