Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

Update doc/code/scenarios/scenarios.py
  doc/code/scenarios/scenarios.py
Due: check-links, website

Update .github/instructions/style-guide.instructions.md
  .github/instructions/style-guide.instructions.md
Due: none

test fixes
  doc/code/scenarios/scenarios.ipynb
  tests/unit/scenarios/test_foundry_scenario.py
Due: remove-notebook-headers, website

FEAT: Adding Scenarios (#1135)
  .github/instructions/style-guide.instructions.md
  doc/_toc.yml
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, check-links, website

Pruning scenarios
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  pyrit/setup/__init__.py
  pyrit/setup/initialization_paths.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/setup/test_attack_factory.py
  tests/unit/setup/test_configuration_paths.py
  tests/unit/setup/test_dataset_factory.py
  tests/unit/setup/test_initialization_paths.py
  tests/unit/setup/test_scenario_factory.py
Due: remove-notebook-headers, website

working xpia example #2 and pre-commit
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.py
  pyrit/models/data_type_serializer.py
  pyrit/prompt_target/azure_blob_storage_target.py
Due: remove-notebook-headers, check-links, website

pre-commit and adding apply_defaults
  doc/_toc.yml
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/scenarios/default_values.ipynb
  doc/code/scenarios/default_values.py
  doc/code/setup/using_configuration_files.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_converter_base.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_crossover_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_expand_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_rephrase_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_shorten_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_similar_converter.py
  pyrit/prompt_converter/malicious_question_generator_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  pyrit/prompt_converter/noise_converter.py
  pyrit/prompt_converter/persuasion_converter.py
  pyrit/prompt_converter/random_translation_converter.py
  pyrit/prompt_converter/tone_converter.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_converter/variation_converter.py
Due: remove-notebook-headers, check-links, website

Update integration-tests.yml for Azure Pipelines
  integration-tests.yml
Due: none

Adding second set of simple defaults
  doc/code/scenarios/default_values.ipynb
  doc/code/scenarios/default_values.py
  pyrit/setup/config/airt/README.md
  pyrit/setup/config/airt/converter_initialization.py
  pyrit/setup/config/airt/scorer_initialization.py
  pyrit/setup/config/airt/target_initialization.py
  pyrit/setup/config/simple/README.md
  pyrit/setup/config/simple/converter_initialization.py
  pyrit/setup/config/simple/scorer_initialization.py
  pyrit/setup/config/simple/target_initialization.py
  pyrit/setup/initialization_paths.py
  tests/unit/setup/test_initialization_paths.py
Due: remove-notebook-headers, check-links, website

address PR feedback
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/role_play_attack.py
  doc/contributing/11_release_process.md
  doc/contributing/1b_install_devcontainers.md
  doc/setup/1a_install_conda.md
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/role_play_attack.py
Due: remove-notebook-headers, check-links, website

BREAKING FEAT XPIA example with website (#1005)
  .devcontainer/docker-compose.yml
  doc/_toc.yml
  doc/blog/2025_06_06.md
  doc/code/executor/workflow/0_workflow.md
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.py
  doc/code/executor/workflow/example/index.html
  doc/code/executor/workflow/xpia_helpers.py
  pyproject.toml
  pyrit/models/data_type_serializer.py
  pyrit/prompt_target/azure_blob_storage_target.py
  tests/integration/executors/test_executor_notebooks.py
Due: remove-notebook-headers, check-links, website

DOC restructure installation instructions (#1127)
  build_scripts/check_links.py
  doc/_toc.yml
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/contributing/11_release_process.md
  doc/contributing/1a_install_conda.md
  doc/contributing/1b_install_devcontainers.md
  doc/index.md
  doc/setup/1a_install_conda.md
  doc/setup/1b_install_docker.md
  doc/setup/install_pyrit.md
  docker/README.md
Due: remove-notebook-headers, check-links, website

plaintext API fix
  doc/deployment/score_aml_endpoint.ipynb
  doc/deployment/score_aml_endpoint.py
Due: remove-notebook-headers, website

added all objective harm categories datasets
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/objective/self_harm_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/sexual_content_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/violence_eval_dataset.csv
  pyrit/score/config/true_false_question/self-harm.yaml
  pyrit/score/config/true_false_question/sexual_content.yaml
  pyrit/score/config/true_false_question/violence.yaml
Due: remove-notebook-headers, check-links, website

pre-commit and pr feedback
  pyrit/common/__init__.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/setup/config/airt/README.md
  pyrit/setup/config/airt/scorer_initialization.py
  pyrit/setup/config/airt/target_initialization.py
  pyrit/setup/config/simple/README.md
  pyrit/setup/config/simple/scorer_initialization.py
Due: website

pre-commit and pr feedback
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/auxiliary_attacks/0_auxiliary_attacks.py
  doc/code/converters/0_converters.py
  doc/code/converters/2_using_converters.py
  doc/code/converters/5_selectively_converting.py
  doc/code/converters/ansi_attack_converter.py
  doc/code/converters/char_swap_attack_converter.py
  doc/code/datasets/2_fetch_dataset.py
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/multi_prompt_sending_attack.py
  doc/code/executor/attack/tap_attack.py
  doc/code/executor/benchmark/1_qa_benchmark.py
  doc/code/memory/6_azure_sql_memory.py
  doc/code/scenarios/default_values.ipynb
  doc/code/scenarios/default_values.py
  doc/code/scenarios/scenarios.py
  doc/code/scoring/2_true_false_scorers.py
  doc/code/scoring/3_classification_scorers.py
  doc/code/scoring/4_likert_scorers.py
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/6_refusal_scorer.py
  doc/code/scoring/7_batch_scorer.py
  doc/code/scoring/generic_scorers.py
  doc/code/scoring/insecure_code_scorer.py
  doc/code/scoring/prompt_shield_scorer.py
  doc/code/targets/1_openai_chat_target.py
  doc/code/targets/3_non_open_ai_chat_targets.py
  doc/code/targets/5_multi_modal_targets.py
  doc/code/targets/8_openai_responses_target.py
  doc/code/targets/open_ai_completions.py
  doc/code/targets/realtime_target.py
  doc/cookbooks/3_copyright_violations.py
  tests/unit/cli/test_cli.py
Due: remove-notebook-headers, check-links, website

initial commit adding notebook and supplementary files
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/executors/psychosocial_harm/escalation_crisis_v1.yaml
  pyrit/datasets/seed_prompts/psych-crisis-conversations.prompt
Due: remove-notebook-headers, check-links, website

notebook edits
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, website

small init edits
  .gitignore
  pyrit/setup/config/airt/scorer_initialization.py
  pyrit/setup/config/simple/scorer_initialization.py
Due: website

set_global_value added
  pyrit/setup/__init__.py
  pyrit/setup/config/airt/converter_initialization.py
  pyrit/setup/config/airt/scorer_initialization.py
  pyrit/setup/config/simple/converter_initialization.py
  pyrit/setup/config/simple/scorer_initialization.py
  pyrit/setup/config/simple/target_initialization.py
  pyrit/setup/initialization.py
  pyrit/setup/pyrit_default_value.py
  tests/unit/setup/test_initialization_scripts.py
  tests/unit/setup/test_pyrit_default_value.py
Due: website

pr comments--update interface and tests
  doc/code/memory/8_seed_prompt_database.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/seed.py
  pyrit/models/seed_objective.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_group.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/models/test_seed_prompt.py
Due: check-links, website

unify into a single target
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/openai/openai_sora1_target.py
  pyrit/prompt_target/openai/openai_sora2_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_sora_target_base.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_sora_target.py
Due: website

structuring docs
  doc/code/scenarios/default_values.ipynb
  doc/code/scenarios/pyrit_initialization.ipynb
  pyrit/setup/initialization.py
  pyrit/setup/initialization_paths.py
Due: remove-notebook-headers, website

encoding scenario
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: website

Adding a couple encoding converters
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/ask_to_decode_converter.py
  pyrit/prompt_converter/braile_converter.py
  pyrit/prompt_converter/braille_converter.py
  tests/unit/converter/test_ask_to_decode_converter.py
  tests/unit/converter/test_braile_converter.py
Due: website

updating scenario
  pyrit/scenarios/scenarios/encoding_scenario.py
Due: website

moving files around
  pyrit/.vscode/settings.json
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/ask_to_decode_converter.py
  pyrit/prompt_converter/braile_converter.py
  pyrit/prompt_converter/braille_converter.py
  tests/unit/converter/test_ask_to_decode_converter.py
  tests/unit/converter/test_braille_converter.py
Due: website

fix links from cards on landing page
  build_scripts/check_links.py
  doc/_config.yml
  doc/contributing/11_release_process.md
  doc/index.md
  pyrit/models/storage_io.py
  tests/unit/score/test_true_false_composite_scorer.py
Due: check-links, website

rename source files to match new names
  pyrit/exceptions/exception_classes.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_crossover_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_expand_converter.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/question_answer_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_scorer.py
Due: website

remove obsolete PromptResponse
  .github/instructions/style-guide.instructions.md
  doc/api.rst
  pyrit/models/__init__.py
  pyrit/models/prompt_response.py
  tests/unit/converter/test_toxic_sentence_generator_converter.py
  tests/unit/test_message.py
Due: website

alphabetize api.rst and init files, add missing entries
  doc/api.rst
  pyrit/models/__init__.py
Due: website

updating things
  doc/code/datasets/2_fetch_dataset.ipynb
  doc/code/scenarios/scenarios.ipynb
  pyrit/datasets/harmbench_dataset.py
  pyrit/datasets/seed_prompts/garak/access_shell_commands.prompt
  pyrit/datasets/seed_prompts/garak/slur_terms_en.prompt
  pyrit/datasets/seed_prompts/garak/web_html_js.prompt
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/prompt_converter/ask_to_decode_converter.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/decoding_scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/score/test_decoding_scorer.py
Due: remove-notebook-headers, website

adding more garak converters
  pyproject.toml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/bin_ascii_converter.py
  pyrit/prompt_converter/nato_converter.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/converter/test_nato_converter.py
Due: website
