Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

Remove dataset_name from constructor, hardcode as class constant
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
Due: website

Use AsyncMock for _fetch_from_huggingface in tests
  tests/unit/datasets/test_beaver_tails_dataset.py
Due: website

Precompute source_url and groups outside the loop
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
Due: website

Add BeaverTails dataset loader
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
  tests/unit/datasets/test_beaver_tails_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Add license notice and content warning to docstring
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
Due: website

Wrap prompt values in raw/endraw to preserve Jinja2 syntax
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
Due: website

fix: update notebook output for rebased datasets
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Remove dataset_name from constructor, hardcode as class constant
  pyrit/datasets/seed_datasets/remote/salad_bench_dataset.py
  tests/unit/datasets/test_salad_bench_dataset.py
Due: website

Use AsyncMock for _fetch_from_huggingface in tests
  tests/unit/datasets/test_salad_bench_dataset.py
Due: website

Add SALAD-Bench dataset loader
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/salad_bench_dataset.py
  tests/unit/datasets/test_salad_bench_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Fix ruff formatting
  tests/unit/datasets/test_salad_bench_dataset.py
Due: website

Wrap prompt values in raw/endraw, precompute source_url and groups
  pyrit/datasets/seed_datasets/remote/salad_bench_dataset.py
Due: website

Add license notice and content warning to docstring
  pyrit/datasets/seed_datasets/remote/salad_bench_dataset.py
Due: website

fix: update notebook output and resolve merge conflicts
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fix: add ERA001 and PLE1142 to doc per-file ignores
  pyproject.toml
Due: none

fix: suppress RET504 for strategy assignment in test
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
Due: website

more generic approach to filtering
  doc/_toc.yml
  doc/code/analytics/1_result_analysis.ipynb
  doc/code/analytics/1_result_analysis.py
  pyrit/analytics/__init__.py
  pyrit/analytics/result_analysis.py
  tests/unit/analytics/test_result_analysis.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: update type annotations and use class_name attribute
  pyrit/analytics/result_analysis.py
Due: website

fix: use ComponentIdentifier instead of dict/ConverterIdentifier in tests
  tests/unit/analytics/test_result_analysis.py
Due: website

fix: ruff format
  tests/unit/analytics/test_result_analysis.py
Due: website

Enable ruff rule E (pycodestyle errors)
  pyproject.toml
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/attacks.py
  pyrit/cli/pyrit_backend.py
  pyrit/cli/pyrit_shell.py
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/registry/discovery.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/score/audio_transcript_scorer.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/score/test_scorer_prompt_validator.py
Due: website

Enable ruff rules: DTZ, N, T10, TID, YTT
  pyproject.toml
  pyrit/auth/azure_storage_auth.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/exceptions/exception_classes.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/models/score.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/prompt_converter/braille_converter.py
  pyrit/prompt_converter/insert_punctuation_converter.py
  pyrit/prompt_converter/morse_converter.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/websocket_copilot_target.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/integration/ai_recruiter/test_ai_recruiter.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/integration/score/test_hitl_gradio_integration.py
  tests/unit/auth/test_azure_storage_auth.py
  tests/unit/backend/test_converter_service.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_attack_parameters.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/models/test_message_piece.py
  tests/unit/models/test_score.py
Due: website

Enable ruff PERF rule for performance linting
  pyproject.toml
  pyrit/analytics/conversation_analytics.py
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/identifiers/component_identifier.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/models/scenario_result.py
  pyrit/prompt_converter/audio_echo_converter.py
  pyrit/prompt_converter/audio_volume_converter.py
  pyrit/prompt_converter/audio_white_noise_converter.py
  pyrit/prompt_converter/nato_converter.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
  pyrit/scenario/scenarios/garak/encoding.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/setup/initializers/pyrit_initializer.py
  tests/unit/datasets/test_jailbreak_text.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/setup/test_load_default_datasets.py
  tests/unit/target/test_playwright_target.py
Due: website

fix: remove unused type: ignore comments
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: website

set up GH Copilot CLI in devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  frontend/package-lock.json
Due: none

Regenerate package-lock.json cleanly from main
  frontend/package-lock.json
Due: none

npm install
  frontend/package-lock.json
Due: none

undo package lock change
  frontend/package-lock.json
Due: none

Fix external deprecation warnings
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_loading_datasets.py
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  doc/code/targets/2_openai_responses_target.ipynb
  pyrit/backend/middleware/error_handlers.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_add_image_text_converter.py
  tests/unit/converter/test_add_text_image_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: update notebook output with all dataset names
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fix: auto-fixed ruff format issues
  frontend/dev.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/targets.py
  pyrit/backend/services/attack_service.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/conversation_stats.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_mappers.py
Due: website

fix: address ruff and mypy lint issues
  frontend/dev.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/services/attack_service.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/conversation_stats.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/setup/initializers/airt.py
Due: website

FEAT Expand memory interface and models for attack results (#1420)
  doc/api.rst
  pyrit/backend/models/attacks.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/services/attack_service.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/conversation_stats.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/target/test_image_target.py
  tests/unit/target/test_video_target.py
Due: validate-jupyter-book, website

fix: remove unused type: ignore comments, ruff format
  pyrit/backend/mappers/attack_mappers.py
  pyrit/setup/initializers/airt.py
Due: website

fix: auto ruff format fixes
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/targets.py
  pyrit/backend/services/attack_service.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/conversation_stats.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_mappers.py
Due: website

Address PR review feedback: class constants, settable per-instance, rotation in ChunkedRequest
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
  tests/unit/target/test_supports_multi_turn.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
