Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

add skip to test_prompt_converter cases
  pyproject.toml
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

testing github workflow update for auto adding pre-commit fixes
  .github/workflows/build_and_test.yml
Due: none

updated the branch checkout step
  .github/workflows/build_and_test.yml
Due: none

precommit
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
Due: remove-notebook-headers, check-links, website

update
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

eod updates
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

MAINT: Remove Azure Speech SDK as Required Dependency (#896)
  pyproject.toml
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

remove unnecessary comment
  pyrit/prompt_converter/zalgo_converter.py
Due: website

Add zalgo converter to api.rst
  doc/api.rst
Due: none

FIX pip upgrade issue on windows
  .github/workflows/build_and_test.yml
Due: none

proportion instead of percentage
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  pyrit/common/utils.py
  tests/unit/converter/test_char_swap_generator_converter.py
Due: remove-notebook-headers, check-links, website

make tests more exhaustive
  pyrit/common/utils.py
  tests/unit/common/test_helper_functions.py
Due: website

change defaults for CharSwapConverter
  pyrit/prompt_converter/charswap_attack_converter.py
Due: website

FIX pip upgrade issue on windows (#901)
  .github/workflows/build_and_test.yml
Due: none

FEAT: Zalgo Converter (#883)
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/converter/test_zalgo_converter.py
Due: website

LookBackScorer Initial Code
  pyrit/datasets/score/likert_scales/behavior_change.yaml
  pyrit/datasets/score/scales/behavior_change_system_prompt.yaml
  pyrit/score/look_back_scorer.py
Due: website

multi-turn (not done)
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

pr feedback
  pyrit/score/__init__.py
  pyrit/score/composite_scorer.py
  pyrit/score/score_aggregator.py
  tests/unit/score/test_composite_scorer.py
  tests/unit/score/test_compound_scorer.py
Due: website

pre-commit
  pyrit/score/__init__.py
  pyrit/score/composite_scorer.py
  pyrit/score/score_aggregator.py
  tests/unit/score/test_composite_scorer.py
Due: website

refactor `ZalgoConverter`
  pyrit/prompt_converter/zalgo_converter.py
Due: website

pr feedback
  pyrit/score/composite_scorer.py
Due: website

Update .env_local_example with explanation
  .env_local_example
Due: none

precommit whitespace
  .env_local_example
Due: none

Addressing comments, moving score reporting function into scorer
  doc/code/orchestrators/benchmark_orchestrator.ipynb
  doc/code/orchestrators/benchmark_orchestrator.py
  pyrit/common/question_answer_helpers.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
Due: remove-notebook-headers, check-links, website

FEAT: Composite Scorer (#898)
  pyrit/score/__init__.py
  pyrit/score/composite_scorer.py
  pyrit/score/score_aggregator.py
  tests/unit/score/test_composite_scorer.py
Due: website

FIX: XPIA Notebook Env Variable Fix (#899)
  .env_local_example
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
Due: remove-notebook-headers, check-links, website

making a scorer cookbook
  doc/cookbooks/3_Creating_a_Generic_(Objective)_Scorer.ipynb
Due: remove-notebook-headers

improvements!
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/score/azure_content_filter_scorer.py
Due: remove-notebook-headers, website

FIX: bug where scorer_type is not set
  pyrit/score/azure_content_filter_scorer.py
Due: website

FIX: bug where scorer_type is not set in AzureContentFilterScorer (#902)
  pyrit/score/azure_content_filter_scorer.py
Due: website

use special methods insetad of kwargs for word selection configuration
  pyrit/common/__init__.py
  pyrit/common/utils.py
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/text_to_hex_converter.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_char_swap_generator_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: website

reformatting notebook
  doc/code/scoring/generic_scorers.py
Due: check-links, website

adding details to notebook
  doc/code/scoring/generic_scorers.py
Due: check-links, website

adding notebook changes
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/generic_scorers.py
Due: remove-notebook-headers, check-links, website

pre-commit stuff
  doc/code/converters/char_swap_attack_converter.py
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/prompt_converter/word_level_converter.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, check-links, website

precommit formatting fixes
  pyrit/datasets/prompt_converters/toxic_sentence_generator.yaml
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  tests/unit/converter/test_toxic_sentence_generator_converter.py
Due: website

abstract objective scorer out of orchestrator, create weight step
  doc/code/orchestrators/5_crescendo_ensemble_orchestrator.ipynb
  pyrit/orchestrator/multi_turn/crescendo_ensemble_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/score/ensemble_scorer.py
Due: remove-notebook-headers, website

replace crescendo orchestrator with ensemble variant
  doc/code/orchestrators/5_crescendo_ensemble_orchestrator.ipynb
  pyrit/orchestrator/multi_turn/crescendo_ensemble_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
Due: remove-notebook-headers, website

jupytext --execute --to notebook char_swap_attack_converter.py
  doc/code/converters/char_swap_attack_converter.ipynb
Due: remove-notebook-headers
