Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

remove conda references
  doc/contributing/11_release_process.md
  doc/setup/1a_install_uv.md
  doc/setup/jupyter_setup.md
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
  pyrit/auxiliary_attacks/gcg/src/conda_dependencies.yaml
Due: check-links, validate-jupyter-book

remove cache code
  .devcontainer/Dockerfile
  .github/workflows/docs.yml
  uv.lock
Due: none

update link
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix DOC201 docstring-missing-returns
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/http_target/httpx_api_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/prompt_shield_target.py
Due: website

update notebook and printing
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/scorer_evals/objective/objective_scorer_evals_registry.jsonl
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_registry.py
  pyrit/score/scorer_identifier.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix DOC501 docstring-missing-exception
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/batch_helper.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/http_target/httpx_api_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/prompt_shield_target.py
Due: website

precommit
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/batch_helper.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
Due: website

fix tests
  doc/api.rst
  pyrit/score/conversation_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: validate-jupyter-book, website

adding log messages
  pyrit/common/path.py
  pyrit/setup/initialization.py
  tests/unit/setup/test_initialization.py
Due: website

add log
  .devcontainer/devcontainer_setup.sh
  .github/workflows/docs.yml
Due: none

fix D107,D417,D103,D104
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/rpc_client.py
  pyrit/prompt_target/text_target.py
Due: website

D102 undocumented-public-method
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/rpc_client.py
  pyrit/prompt_target/text_target.py
Due: website

fix D101 undocumented-public-class
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/rpc_client.py
Due: website

precommit
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/playwright_target.py
Due: website

double install feedgen
  .github/workflows/docs.yml
Due: none

remove extra install
  .github/workflows/docs.yml
Due: none

conditionally remove file
  tests/unit/converter/test_add_image_text_converter.py
Due: website

try with all
  .github/workflows/docs.yml
Due: none

add uv run
  Makefile
Due: none

adding print messages for clarity
  pyrit/setup/initialization.py
Due: website

fix
  pyrit/prompt_target/common/prompt_target.py
Due: website

making print a function
  pyrit/setup/initialization.py
Due: website

separate prs
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/plagiarism_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/float_scale/video_float_scale_scorer.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_metrics_registry.py
  pyrit/score/scorer_identifier.py
  pyrit/score/true_false/decoding_scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/true_false/markdown_injection.py
  pyrit/score/true_false/prompt_shield_scorer.py
  pyrit/score/true_false/question_answer_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/substring_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  pyrit/score/true_false/video_true_false_scorer.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_identifier.py
  tests/unit/score/test_scorer_metrics_registry.py
Due: website

actual separation of pr
  doc/api.rst
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/1_composite_scenario.py
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/models/scenario_result.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/http_target/httpx_api_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/prompt_target/text_target.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/printer/console_printer.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evals/harm/harm_scorer_evals_registry.jsonl
  pyrit/score/scorer_evals/harm/mini_hate_speech.csv
  pyrit/score/scorer_evals/objective/objective_scorer_evals_registry.jsonl
  pyrit/score/scorer_evals/true_false/CONSOLIDATED_true_false_objective_dataset.csv
  pyrit/score/scorer_evals/true_false/mini_refusal.csv
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_registry.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics_registry.py
  tests/unit/target/test_hugging_face_endpoint_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pr feedback
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/executor/benchmark/question_answering.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/workflow/xpia.py
  pyrit/models/message.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/executor/benchmark/test_question_answering.py
  tests/unit/executor/workflow/test_xpia.py
Due: website

Update pyrit/prompt_target/__init__.py
  pyrit/prompt_target/__init__.py
Due: website

clarify functionality
  pyrit/prompt_target/__init__.py
Due: website

remove exception from docstring
  pyrit/prompt_target/crucible_target.py
Due: website

Update pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_target.py
Due: website

add transphobia awareness dataset back which was accidentally removed
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/transphobia_awareness_dataset.py
  tests/unit/datasets/test_transphobia_awareness_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

add new dataset_helper file for tests
  pyrit/datasets/dataset_helper.py
Due: website

add missing args section for private methods
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/prompt_shield_target.py
Due: website

keep `httpx_client_kwargs` in docstrings
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
Due: website

address some comments
  .devcontainer/devcontainer_setup.sh
  Makefile
  doc/contributing/1a_install_uv.md
  end-to-end-tests.yml
Due: check-links, validate-jupyter-book

updating notebooks
  doc/code/auxiliary_attacks/0_auxiliary_attacks.py
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/realtime_target.ipynb
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

update docs and use local workspace
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  doc/_toc.yml
  doc/contributing/1c_install_conda.md
  doc/contributing/9_pre_commit.md
  doc/setup/1c_install_conda.md
Due: check-links, validate-jupyter-book

integration test fixes
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/seed_datasets/local/examples/psych-crisis-conversations.prompt
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/integration/targets/test_target_filters.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

revert path and address md comments
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  doc/contributing/1a_install_uv.md
  doc/setup/1c_install_conda.md
Due: check-links, validate-jupyter-book

MAINT: fix docstrings for `/prompt_target` (#1263)
  pyproject.toml
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/batch_helper.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/common/utils.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/http_target/httpx_api_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/prompt_target/rpc_client.py
  pyrit/prompt_target/text_target.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
