Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

Fix: Move modality verification to prompt_target and add proper typing
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/modality_verification.py
  tests/unit/prompt_target/test_modality_support_clean.py
Due: website

Fix: Improve error logging in modality verification
  pyrit/prompt_target/modality_verification.py
Due: website

Fix: Use 'value' instead of 'data' in MessagePiece constructor
  pyrit/prompt_target/modality_verification.py
Due: website

Fix: Use actual file paths for image/audio/video modalities
  pyrit/prompt_target/modality_verification.py
Due: website

Fix: Rename verify_actual_capabilities to verify_actual_modalities
  pyrit/prompt_target/common/prompt_target.py
Due: website

Deprecate Gradio-based GUI and HumanInTheLoopConverter in favor of CoPyRIT
  doc/_toc.yml
  doc/code/gui/0_gui.md
  pyrit/prompt_converter/human_in_the_loop_converter.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/ui/__init__.py
Due: check-links, validate-jupyter-book, website

fixing merge conflicts
  pyrit/identifiers/component_identifier.py
  pyrit/prompt_converter/word_doc_converter.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  tests/unit/converter/test_word_doc_converter.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

Fixed deploy-book issues
  pyrit/identifiers/component_identifier.py
Due: website

updated get_child in mappers
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/8_scorer_metrics.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/services/attack_service.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/executor/workflow/xpia.py
  pyrit/prompt_converter/human_in_the_loop_converter.py
  pyrit/prompt_converter/llm_generic_text_converter.py
  pyrit/prompt_converter/noise_converter.py
  pyrit/prompt_converter/persuasion_converter.py
  pyrit/prompt_converter/prompt_converter.py
  pyrit/prompt_converter/selective_text_converter.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/prompt_converter/tone_converter.py
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_converter/variation_converter.py
  pyrit/score/printer/console_scorer_printer.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_mappers.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Complete ruff docstring cleanup for exceptions and models
  pyproject.toml
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_classes.py
  pyrit/exceptions/exception_context.py
  pyrit/exceptions/exceptions_helpers.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/chat_message.py
  pyrit/models/conversation_reference.py
  pyrit/models/data_type_serializer.py
  pyrit/models/embeddings.py
  pyrit/models/harm_definition.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/models/question_answering.py
  pyrit/models/scenario_result.py
  pyrit/models/score.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_attack_group.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/models/seeds/seed_group.py
  pyrit/models/seeds/seed_objective.py
  pyrit/models/seeds/seed_prompt.py
  pyrit/models/seeds/seed_simulated_conversation.py
  pyrit/models/storage_io.py
  pyrit/models/strategy_result.py
Due: website

fixed build issues
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/prompt_target/common/prompt_target.py
Due: remove-notebook-headers, validate-jupyter-book, website

addressed comments
  doc/code/registry/0_registry.md
  pyrit/backend/services/attack_service.py
Due: check-links, validate-jupyter-book, website

addressed comments
  pyrit/identifiers/component_identifier.py
  tests/unit/registry/test_scorer_registry.py
  tests/unit/registry/test_target_registry.py
Due: website

fixed the unit tests
  tests/unit/identifiers/test_component_identifier.py
Due: website

Enable ruff W (pycodestyle warnings) rules and fix all violations
  doc/code/setup/pyrit_initializer.ipynb
  pyproject.toml
Due: remove-notebook-headers, validate-jupyter-book

Enable ruff PIE (flake8-pie) rules and fix all violations
  build_scripts/check_links.py
  pyproject.toml
  pyrit/datasets/executors/question_answer/wmdp_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/attack_result_printer.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/benchmark/question_answering.py
  pyrit/executor/core/strategy.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/executor/promptgen/fuzzer/fuzzer_converter_base.py
  pyrit/executor/workflow/core/workflow_strategy.py
  pyrit/executor/workflow/xpia.py
  pyrit/memory/memory_models.py
  pyrit/models/data_type_serializer.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_prompt.py
  pyrit/prompt_converter/add_image_to_video_converter.py
  pyrit/prompt_converter/base2048_converter.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/ecoji_converter.py
  pyrit/prompt_converter/insert_punctuation_converter.py
  pyrit/prompt_converter/text_selection_strategy.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/text_target.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/printer/scenario_result_printer.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/score/conversation_scorer.py
  pyrit/score/printer/scorer_printer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/setup/initializers/pyrit_initializer.py
Due: website

Enable ruff C4 (flake8-comprehensions) rules and fix all violations
  build_scripts/check_links.py
  doc/generate_docs/pct_to_ipynb.py
  pyproject.toml
  pyrit/analytics/text_matching.py
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/common/csv_helper.py
  pyrit/common/json_helper.py
  pyrit/datasets/seed_datasets/remote/harmbench_multimodal_dataset.py
  pyrit/datasets/seed_datasets/remote/pku_safe_rlhf_dataset.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  pyrit/prompt_converter/template_segment_converter.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/score/float_scale/plagiarism_scorer.py
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
  tests/unit/memory/test_memory_exporter.py
  tests/unit/target/test_playwright_copilot_target.py
  tests/unit/target/test_prompt_shield_target.py
Due: check-links, validate-jupyter-book, website

revising yaml instructions adding a mode
  pyrit/datasets/prompt_converters/scientific_obfuscation_converter.yaml
Due: none

rename file
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  pyrit/datasets/prompt_converters/scientific_translation_converter.yaml
  pyrit/models/seeds/seed.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/scientific_translation_converter.py
  tests/unit/converter/test_scientific_translation_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

address feedback
  pyrit/datasets/prompt_converters/scientific_translation_converter.yaml
  pyrit/prompt_converter/scientific_translation_converter.py
  tests/unit/converter/test_scientific_translation_converter.py
Due: website

Add deprecation banners to HITL notebooks
  doc/code/converters/7_human_converter.ipynb
  doc/code/converters/7_human_converter.py
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

feat(score): add 0DIN JEF keyword scorers and n-day seed datasets
  doc/api.rst
  pyrit/datasets/seed_datasets/local/0din/chemical_compiler_debug.prompt
  pyrit/datasets/seed_datasets/local/0din/correction.prompt
  pyrit/datasets/seed_datasets/local/0din/hex_recipe_book.prompt
  pyrit/datasets/seed_datasets/local/0din/incremental_table_completion.prompt
  pyrit/datasets/seed_datasets/local/0din/placeholder_injection.prompt
  pyrit/datasets/seed_datasets/local/0din/technical_field_guide.prompt
  pyrit/score/__init__.py
  pyrit/score/true_false/odin_jef_scorers.py
  tests/unit/datasets/test_0din_nday_datasets.py
  tests/unit/score/test_odin_jef_scorers.py
Due: validate-jupyter-book, website

addressed comments
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/8_scorer_metrics.py
  pyrit/identifiers/component_identifier.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/score/test_scorer_metrics.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

addressed comments
  pyrit/identifiers/component_identifier.py
Due: website

fixed the tests
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
Due: website

MAINT Speeding up jailbreak
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/datasets/test_jailbreak_text.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

Fix stale ConverterIdentifier import to ComponentIdentifier
  pyrit/prompt_converter/human_in_the_loop_converter.py
Due: website

Address review comments on docstrings
  pyrit/models/chat_message.py
  pyrit/models/embeddings.py
  pyrit/models/message.py
  pyrit/models/question_answering.py
Due: website

Add clarifying comment for function_call filter in _find_last_pending_tool_call
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Fix missing ComponentIdentifier import in human_in_the_loop_gradio.py
  pyrit/score/human/human_in_the_loop_gradio.py
Due: website

Remove Attributes: sections from data class docstrings to fix Sphinx duplicate object warnings
  pyrit/models/chat_message.py
  pyrit/models/message.py
  pyrit/models/question_answering.py
Due: website

Fix test to use ComponentIdentifier.params instead of removed target_specific_params
  tests/unit/target/test_openai_response_target.py
Due: website

Fix UnicodeDecodeError in test_converter_documentation on Windows
  tests/unit/docs/test_converter_documentation.py
Due: website

Removed multi-langage-translation and TTS audio_file support
  doc/api.rst
  doc/code/converters/0_converters.ipynb
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/audio_speed_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  pyrit/prompt_converter/multi_language_translation_converter.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_multi_language_translation_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Deal with new ruff rule
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
