Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

pr feedback
  doc/code/front_end/1_pyrit_scan.ipynb
  pyrit/cli/frontend_core.py
Due: remove-notebook-headers, website

pre-commit
  doc/code/front_end/1_pyrit_scan.ipynb
Due: remove-notebook-headers

Adding composite scorer
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

Notebooks
  doc/_toc.yml
  doc/code/scenarios/cyberscenarios.ipynb
  doc/code/scenarios/cyberscenarios.py
Due: remove-notebook-headers, check-links, website

Loopback scaffolding
  pyrit/containers/runtime.py
  pyrit/containers/utils.py
Due: website

fix tests
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/2_end_to_end_scenario.ipynb
  doc/code/scenarios/2_end_to_end_scenario.py
  pyrit/scenarios/scenarios/e2e/__init__.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Precommit
  doc/code/scenarios/cyberscenarios.ipynb
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
Due: remove-notebook-headers, website

basic working version with single conversation and converters (not yet for non-text converter)
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/ConverterDrawer.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/clientConverters.ts
  pyrit/backend/main.py
  pyrit/backend/routes/chat.py
  pyrit/backend/routes/convert.py
  pyrit/backend/routes/converters.py
  pyrit/backend/services/chat_service.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

history added, small fixes
  frontend/src/App.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/History/HistoryPage.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  pyrit/backend/services/chat_service.py
Due: website

fix lexer error
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/2_end_to_end_scenario.ipynb
Due: remove-notebook-headers

pr feedback
  pyrit/cli/frontend_core.py
  pyrit/cli/scenario_registry.py
Due: website

Refactor out redundant default strategy
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

adding convenience method for strategies
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/scenarios/test_strategy_validation.py
Due: website

pre-commit
  pyrit/scenarios/scenario_strategy.py
Due: website

pre-commit
  pyrit/cli/scenario_registry.py
Due: website

Scaffolding for ScenarioDatasetLoader feature
  pyrit/cli/scenario_registry.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/core/__init__.py
  pyrit/scenarios/core/atomic_attack.py
  pyrit/scenarios/core/scenario.py
  pyrit/scenarios/core/scenario_strategy.py
  pyrit/scenarios/dataset/__init__.py
  pyrit/scenarios/dataset/scenario_dataset_loader.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/core/test_atomic_attack.py
  tests/unit/scenarios/core/test_scenario.py
  tests/unit/scenarios/core/test_scenario_partial_results.py
  tests/unit/scenarios/core/test_scenario_retry.py
  tests/unit/scenarios/core/test_strategy_validation.py
  tests/unit/scenarios/dataset/test_scenario_dataset_loader.py
  tests/unit/scenarios/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/scenarios/test_foundry_scenario.py
Due: website

pre-commit
  pyrit/cli/pyrit_shell.py
  pyrit/show_versions.py
Due: website

fixed docstrings for analytics module
  pyrit/analytics/__init__.py
  pyrit/analytics/conversation_analytics.py
  pyrit/analytics/result_analysis.py
Due: website

fixed docstrings for pyrit/auth
  pyrit/auth/__init__.py
  pyrit/auth/authenticator.py
  pyrit/auth/azure_auth.py
  pyrit/auth/azure_storage_auth.py
Due: website

removed auth and analytics from [tool.ruff.lint.per-file-ignores]
  pyproject.toml
Due: none

Feat: frontend update (#1188)
  .flake8
  .pre-commit-config.yaml
  doc/_toc.yml
  doc/code/front_end/0_front_end.md
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/front_end/2_pyrit_shell.md
  pyproject.toml
  pyrit/cli/__main__.py
  pyrit/cli/frontend_core.py
  pyrit/cli/initializer_registry.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  pyrit/show_versions.py
  tests/unit/cli/test_cli_main.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/cli/test_scenario_registry.py
Due: remove-notebook-headers, check-links, website

fixes in /common
  pyproject.toml
  pyrit/common/__init__.py
  pyrit/common/apply_defaults.py
  pyrit/common/csv_helper.py
  pyrit/common/data_url_converter.py
  pyrit/common/default_values.py
  pyrit/common/display_response.py
  pyrit/common/download_hf_model.py
  pyrit/common/json_helper.py
  pyrit/common/net_utility.py
  pyrit/common/notebook_utils.py
  pyrit/common/path.py
  pyrit/common/print.py
  pyrit/common/question_answer_helpers.py
  pyrit/common/singleton.py
  pyrit/common/text_helper.py
  pyrit/common/tool_configs.py
  pyrit/common/utils.py
  pyrit/common/yaml_loadable.py
Due: website

fixes in /datasets
  pyproject.toml
  pyrit/datasets/__init__.py
  pyrit/datasets/babelscape_alert_dataset.py
  pyrit/datasets/dataset_helper.py
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
  pyrit/datasets/equitymedqa_dataset.py
  pyrit/datasets/fetch_jbb_behaviors.py
  pyrit/datasets/forbidden_questions_dataset.py
  pyrit/datasets/harmbench_dataset.py
  pyrit/datasets/harmbench_multimodal_dataset.py
  pyrit/datasets/llm_latent_adversarial_training_harmful_dataset.py
  pyrit/datasets/medsafetybench_dataset.py
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/datasets/text_jailbreak.py
  pyrit/datasets/wmdp_dataset.py
  pyrit/datasets/xstest_dataset.py
Due: website

precommit
  pyrit/datasets/babelscape_alert_dataset.py
  pyrit/datasets/wmdp_dataset.py
  pyrit/datasets/xstest_dataset.py
Due: website

.
  pyrit/common/__init__.py
Due: website

Use openai SDK in OpenAIChatTarget and OpenAIResponseTarget
  frontend/.vite/deps_temp_f8b3b81a/package.json
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

MAINT: Minor Scenario class improvements (#1190)
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/scenarios/test_strategy_validation.py
Due: website

Removing notebooks
  doc/code/scenarios/cyberscenarios.ipynb
  doc/code/scenarios/cyberscenarios.py
Due: remove-notebook-headers, check-links, website

rename files
  pyrit/score/config/likert_scales/exploits.yaml
  pyrit/score/config/likert_scales/self_harm_v2.yaml
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/information_integrity_dataset_v1.csv
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/sexual_content_dataset_v1.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/exploit_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/hate_speech_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/information_integrity_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/mini_refusal_score_results.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/mini_refusal_scoring_results.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/mini_refusal_socre_metrics.json
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/privacy_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/refusal_score.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/refusal_socre_metrics.json
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/refusal_socre_results.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/self_harm_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/sexual_content_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/violence_eval_dataset.csv
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

rename and print scenarios using cli
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/2_end_to_end_scenario.ipynb
  doc/code/scenarios/2_end_to_end_scenario.py
  pyrit/cli/scenario_registry.py
  pyrit/scenarios/scenarios/harms/__init__.py
  pyrit/scenarios/scenarios/harms/content_harm_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

merge
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  pyrit/scenarios/scenarios/harms/content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

using single strategy extraction method
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

migrate to openai SDK with chat and response targets
  pyrit/auth/azure_auth.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

remove unnecessary file
  frontend/.vite/deps_temp_f8b3b81a/package.json
Due: none

MAINT: fix docstrings for `/common` and `/datasets` (#1193)
  pyproject.toml
  pyrit/common/__init__.py
  pyrit/common/apply_defaults.py
  pyrit/common/csv_helper.py
  pyrit/common/data_url_converter.py
  pyrit/common/default_values.py
  pyrit/common/display_response.py
  pyrit/common/download_hf_model.py
  pyrit/common/json_helper.py
  pyrit/common/net_utility.py
  pyrit/common/notebook_utils.py
  pyrit/common/path.py
  pyrit/common/print.py
  pyrit/common/question_answer_helpers.py
  pyrit/common/singleton.py
  pyrit/common/text_helper.py
  pyrit/common/tool_configs.py
  pyrit/common/utils.py
  pyrit/common/yaml_loadable.py
  pyrit/datasets/__init__.py
  pyrit/datasets/babelscape_alert_dataset.py
  pyrit/datasets/dataset_helper.py
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
  pyrit/datasets/equitymedqa_dataset.py
  pyrit/datasets/fetch_jbb_behaviors.py
  pyrit/datasets/forbidden_questions_dataset.py
  pyrit/datasets/harmbench_dataset.py
  pyrit/datasets/harmbench_multimodal_dataset.py
  pyrit/datasets/llm_latent_adversarial_training_harmful_dataset.py
  pyrit/datasets/medsafetybench_dataset.py
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/datasets/text_jailbreak.py
  pyrit/datasets/wmdp_dataset.py
  pyrit/datasets/xstest_dataset.py
Due: website

MAINT: Fixed doscstrings for pyrit/analytics+auth (#1192)
  pyproject.toml
  pyrit/analytics/__init__.py
  pyrit/analytics/conversation_analytics.py
  pyrit/analytics/result_analysis.py
  pyrit/auth/__init__.py
  pyrit/auth/authenticator.py
  pyrit/auth/azure_auth.py
  pyrit/auth/azure_storage_auth.py
Due: website

remove docker
  .github/workflows/build_and_test.yml
Due: none

update path
  .github/workflows/build_and_test.yml
Due: none

check disk space
  .github/workflows/build_and_test.yml
Due: none
