Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

notebook fix
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
Due: remove-notebook-headers, check-links, website

pre-commit hooks
  doc/code/executor/attack/context_compliance_attack.ipynb
Due: remove-notebook-headers

minor fixes + precommit
  doc/code/memory/1_sqlite_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
Due: check-links, website

remove duckdb from options
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  pyrit/common/initialization.py
  pyrit/memory/memory_models.py
  tests/unit/cli/prompt_send_bad_db_type.yaml
  tests/unit/cli/test_cli.py
  tests/unit/common/test_initialization.py
Due: remove-notebook-headers, check-links, website

reverting changed line
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  pyrit/memory/memory_models.py
Due: remove-notebook-headers, check-links, website

more removal of orchestrator refs
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/generate_docs/pct_to_ipynb.py
  pyrit/datasets/executors/benchmark/one_plus_one.yaml
  pyrit/datasets/executors/context_compliance/context_description.yaml
  pyrit/datasets/executors/role_play/movie_script.yaml
  pyrit/datasets/executors/role_play/trivia_game.yaml
  pyrit/datasets/executors/role_play/video_game.yaml
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/promptgen/fuzzer.py
  pyrit/memory/data_type_serializer.py
  pyrit/memory/memory_models.py
  scanner_configurations/basic_multi_turn_attack.yaml
  tests/integration/ai_recruiter/test_ai_recruiter.py
  tests/integration/cli/mixed_multiple_attacks_args_success.yaml
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
  tests/integration/executors/test_executor_notebooks.py
  tests/integration/orchestrators/test_orchestrator_notebooks.py
  tests/integration/score/test_scorer_notebooks.py
Due: remove-notebook-headers, check-links, website

pre-commits
  doc/code/executor/attack/context_compliance_attack.ipynb
Due: remove-notebook-headers

DOC: Create new Documentation for Orchestrator Doc Pages (Pt. 2) (#1077)
  doc/_toc.yml
  doc/code/executor/0_executor.md
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/executor/attack/tap_attack.ipynb
  doc/code/executor/attack/tap_attack.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
  doc/code/executor/benchmark/0_benchmark.md
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.py
  doc/code/executor/promptgen/0_promptgen.md
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/executor/promptgen/fuzzer_generator.py
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/5_human_scorers.md
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/single_turn/context_compliance.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
Due: remove-notebook-headers, check-links, website

remove remaining refs
  .env_local_example
  tests/integration/targets/test_aad_auth.py
  tests/integration/targets/test_target_filters.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

pre-commit hooks
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  tests/integration/ai_recruiter/test_ai_recruiter.py
  tests/integration/executors/test_executor_notebooks.py
  tests/integration/score/test_scorer_notebooks.py
Due: remove-notebook-headers, website

DOC Add benchmarking cookbook (#1078)
  doc/_toc.yml
  doc/cookbooks/4_benchmarking_models.ipynb
  doc/cookbooks/4_benchmarking_models.py
  pyrit/datasets/lexicons/fairness/gendered_professions.yaml
  pyrit/datasets/score/true_false_question/yes_no_answer.yaml
  pyrit/datasets/seed_prompts/fairness/yes_no_questions.yaml
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  pyrit/memory/data_type_serializer.py
  pyrit/models/data_type_serializer.py
Due: remove-notebook-headers, website

pre-commit nbstripout
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
Due: remove-notebook-headers

FEAT Attack Result Markdown Printer
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/printer/__init__.py
  pyrit/executor/attack/printer/attack_result_printer.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
Due: website

fixed precommit issues
  pyrit/executor/attack/printer/markdown_printer.py
Due: website

fixing precommit issues
  pyrit/executor/attack/printer/attack_result_printer.py
Due: website

address feedback
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  pyrit/common/initialization.py
Due: remove-notebook-headers, check-links, website

This is a test on my fork
  helloworld.txt
Due: none

Undid my test
  helloworld.txt
Due: none

FIX: All scorers that take a path in their constructor accept either a Path object or a str.
  pyrit/score/human_in_the_loop_scorer.py
  pyrit/score/insecure_code_scorer.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_category_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  pyrit/score/self_ask_true_false_scorer.py
Due: website

Changed likert constructor signature to accept str, Path
  pyrit/score/self_ask_likert_scorer.py
Due: website

Refactoring to add scorer configs; in-progress, does not pass unit tests.
  pyrit/score/scorer.py
  pyrit/score/scorer_config.py
  pyrit/score/self_ask_likert_scorer.py
Due: website

Changed implementation to just include a path verifier in Scorer init
  pyrit/score/scorer.py
  pyrit/score/scorer_config.py
  pyrit/score/self_ask_likert_scorer.py
  tests/unit/score/test_scorer.py
Due: website

refactor: align with Responses API schema, support tool calls & outputs
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/models/chat_message.py
  pyrit/models/literals.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: remove-notebook-headers, website

fix integration tests
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  tests/integration/cli/mixed_multiple_orchestrators_args_success.yaml
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
Due: website

fix typing
  pyrit/cli/__main__.py
Due: website

remove prompt_converters
  pyrit/cli/scanner_config.py
Due: website

[FIX] fix cli integration tests (#1082)
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  tests/integration/cli/mixed_multiple_orchestrators_args_success.yaml
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
Due: website

Added unit test for path verification
  pyrit/score/scorer.py
  tests/unit/score/test_scorer.py
Due: website

remove builtin_tools, centralize server-side tool configs in tool_configs.py
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/common/tool_configs.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: remove-notebook-headers, website

quick change to scorer
  pyrit/score/scorer.py
Due: website

Update pyrit/score/scorer.py
  pyrit/score/scorer.py
Due: website

Update tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer.py
Due: website

Update pyrit/score/self_ask_likert_scorer.py
  pyrit/score/self_ask_likert_scorer.py
Due: website

Removed unused dataclass import from scorer.py
  pyrit/score/scorer.py
Due: website

Fixed hard-coded scorer directory in unit/cli/multi_turn YAML
  tests/unit/cli/multi_turn_target_and_scorer_args_success.yaml
Due: none

Removing constructor from Scorer ABC and implementing path validation as a class method instead. Also adjusting tests to handle change.
  pyrit/score/insecure_code_scorer.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_category_scorer.py
  pyrit/score/self_ask_likert_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  pyrit/score/self_ask_true_false_scorer.py
  tests/unit/score/test_self_ask_category.py
Due: website

Fixed bug in SelfAskLikertScorer where it called super().__init__() in an irrelevant function
  pyrit/score/self_ask_likert_scorer.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
