Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

pr feedback
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/8_scorer_metrics.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/identifiers/identifier.py
  pyrit/registry/instance_registries/scorer_registry.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/identifiers/test_identifiers.py
  tests/unit/identifiers/test_scorer_identifier.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

updating api.rst
  doc/api.rst
Due: validate-jupyter-book

updating api.rst
  doc/api.rst
  pyrit/models/__init__.py
  tests/unit/docs/test_api_documentation.py
Due: validate-jupyter-book, website

clean up
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

precommit
  pyrit/scenario/scenarios/airt/__init__.py
Due: website

test fix
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/identifiers/scorer_identifier.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

make output converters show in console printer, run notebook
  doc/code/converters/0_converters.ipynb
  pyrit/executor/attack/printer/console_printer.py
Due: remove-notebook-headers, validate-jupyter-book, website

attempt to fix GitHub workflows
  .github/workflows/frontend_tests.yml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/Chat/InputBox.test.tsx
  frontend/src/components/Chat/InputBox.tsx
Due: none

task_achieved_scorer_evaluator
  pyrit/datasets/score/true_false_question/task_achieved.yaml
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

use scenario defaults and add to notebook
  .pyrit/.env_example
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  pyrit/scenario/core/scenario.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

DOC: Add Response Converters section to converters documentation (#1326)
  doc/code/converters/0_converters.ipynb
  doc/code/converters/0_converters.py
  pyrit/executor/attack/printer/console_printer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pr feedback
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_context.py
  pyrit/exceptions/exceptions_helpers.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/exceptions/test_exception_context.py
  tests/unit/executor/core/test_strategy.py
  tests/unit/prompt_normalizer/test_prompt_normalizer.py
Due: website

addressing feedback
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

minor reorg and test skipping
  doc/_toc.yml
  doc/code/targets/10_1_playwright_target.ipynb
  doc/code/targets/10_1_playwright_target.py
  doc/code/targets/10_2_playwright_target_copilot.ipynb
  doc/code/targets/10_2_playwright_target_copilot.py
  doc/code/targets/10_3_websocket_copilot_target.ipynb
  doc/code/targets/10_3_websocket_copilot_target.py
  doc/contributing/1c_install_conda.md
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

test exclusion
  tests/integration/targets/test_notebooks_targets.py
Due: website

basic tests
  tests/unit/scenarios/test_jailbreak.py
Due: website

remove extra file
  .pyrit/.env_example
Due: none

adding mock playwright for unit tests
  tests/unit/auth/test_copilot_authenticator.py
Due: website

pre-commit
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
Due: website

pre-commit
  doc/code/targets/10_3_websocket_copilot_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

FEAT: More Informative Attack Exceptions (#1318)
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_context.py
  pyrit/exceptions/exceptions_helpers.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/core/strategy.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/exceptions/test_exception_context.py
  tests/unit/exceptions/test_exceptions_helpers.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/core/test_strategy.py
  tests/unit/prompt_normalizer/test_prompt_normalizer.py
Due: website

build
  pyrit/auth/copilot_authenticator.py
Due: website

add updated backend after review
  pyrit/backend/main.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/conversations.py
  pyrit/backend/models/converters.py
  pyrit/backend/models/memory.py
  pyrit/backend/models/targets.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/routes/conversations.py
  pyrit/backend/routes/converters.py
  pyrit/backend/routes/memory.py
  pyrit/backend/routes/targets.py
  pyrit/backend/services/__init__.py
  pyrit/backend/services/attack_service.py
  pyrit/backend/services/conversation_service.py
  pyrit/backend/services/converter_service.py
  pyrit/backend/services/memory_service.py
  pyrit/backend/services/target_service.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_common_models.py
  tests/unit/backend/test_conversation_service.py
  tests/unit/backend/test_converter_service.py
  tests/unit/backend/test_error_handlers.py
  tests/unit/backend/test_memory_service.py
  tests/unit/backend/test_registry_service.py
  tests/unit/backend/test_routes.py
  tests/unit/backend/test_target_service.py
Due: website

trying this mypy
  pyrit/auth/copilot_authenticator.py
Due: website

pr feedback on tests
  frontend/e2e/api.spec.ts
  frontend/e2e/chat.spec.ts
Due: none

update for whitespace-only test and multi-attachment test
  frontend/src/components/Chat/InputBox.test.tsx
  frontend/src/components/Chat/InputBox.tsx
Due: none

FEAT: add WebSocket-based prompt target for Microsoft Copilot (#1275)
  .gitignore
  doc/_toc.yml
  doc/api.rst
  doc/code/targets/10_1_playwright_target.ipynb
  doc/code/targets/10_1_playwright_target.py
  doc/code/targets/10_2_playwright_target_copilot.ipynb
  doc/code/targets/10_2_playwright_target_copilot.py
  doc/code/targets/10_3_websocket_copilot_target.ipynb
  doc/code/targets/10_3_websocket_copilot_target.py
  doc/contributing/1c_install_conda.md
  pyrit/auth/__init__.py
  pyrit/auth/authenticator.py
  pyrit/auth/copilot_authenticator.py
  pyrit/auth/manual_copilot_authenticator.py
  pyrit/common/path.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/integration/targets/test_notebooks_targets.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_copilot_authenticator.py
  tests/unit/target/test_websocket_copilot_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

converter identifier
  pyrit/identifiers/__init__.py
  pyrit/identifiers/converter_identifier.py
  pyrit/identifiers/identifier.py
  pyrit/models/message_piece.py
  pyrit/prompt_converter/prompt_converter.py
Due: website

update tests to use default data config
  tests/unit/scenarios/test_cyber.py
  tests/unit/scenarios/test_encoding.py
  tests/unit/scenarios/test_foundry.py
  tests/unit/scenarios/test_leakage_scenario.py
  tests/unit/scenarios/test_scam.py
Due: website

format and fix extra objectives
  tests/unit/scenarios/test_scam.py
Due: website

TEST add frontend unit and e2e tests (#1331)
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .github/workflows/frontend_tests.yml
  frontend/.gitignore
  frontend/README.md
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/api.spec.ts
  frontend/e2e/chat.spec.ts
  frontend/eslint.config.js
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/App.test.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/InputBox.test.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/components/Chat/MessageList.test.tsx
  frontend/src/components/Layout/MainLayout.test.tsx
  frontend/src/components/Sidebar/Navigation.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  frontend/tsconfig.test.json
Due: none

FIX Auto-wrap synchronous token providers for AsyncOpenAI compatibility (#1327)
  pyrit/prompt_target/openai/openai_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_token_provider_wrapping.py
Due: website

fixing tests
  doc/api.rst
  pyrit/exceptions/exception_context.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/identifiers/converter_identifier.py
  pyrit/memory/memory_models.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/models/test_message_piece.py
Due: validate-jupyter-book, website

last test
  tests/unit/scenarios/test_jailbreak.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
