Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

remove empty links -deploy book does not like it
  doc/code/executor/0_executor.md
Due: check-links

comment out unused import for code cell in xpia
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/executor/workflow/1_xpia_workflow.py
Due: remove-notebook-headers, check-links, website

added PlagiarismScorer and unit tests
  pyrit/score/plagiarism_scorer.py
  tests/unit/score/test_plagiarism_scorer.py
Due: website

Pre-commit fixes
  doc/code/converters/0_converters.ipynb
  pyrit/prompt_converter/first_letter_converter.py
  tests/unit/converter/test_first_letter_converter.py
Due: remove-notebook-headers, website

FIX: Fix fetch_jbb_behaviors_dataset (#1069)
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

added PlagiarismScorer to init
  pyrit/score/__init__.py
Due: website

added first letter converter and plagiarism scorer demo notebook
  doc/code/converters/first_letter_converter.ipynb
  doc/code/converters/first_letter_converter.py
Due: remove-notebook-headers, check-links, website

pr feedback
  doc/code/executor/attack/multi_turn/0_multi_turn.md
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.ipynb
  doc/code/executor/attack/multi_turn/1_red_teaming_attack.py
  doc/code/executor/attack/multi_turn/2_crescendo_attack.ipynb
  doc/code/executor/attack/multi_turn/2_crescendo_attack.py
  doc/code/executor/attack/single_turn/0_single_turn.md
  doc/code/executor/attack/single_turn/skeleton_key_attack.ipynb
  doc/code/executor/attack/single_turn/skeleton_key_attack.py
Due: remove-notebook-headers, check-links, website

Ensure proper titles across docs to make them consistent
  doc/_toc.yml
  doc/code/converters/7_video_converters.ipynb
  doc/code/converters/7_video_converters.py
  doc/code/converters/ansi_attack_converter.py
  doc/code/converters/math_prompt_converter.py
  doc/code/converters/pdf_converter.ipynb
  doc/code/converters/pdf_converter.py
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/datasets/2_fetch_dataset.ipynb
  doc/code/datasets/2_fetch_dataset.py
  doc/code/executor/0_executor.md
  doc/code/executor/attack/0_attack.md
  doc/code/executor/attack/single_turn/skeleton_key_attack.ipynb
  doc/code/executor/attack/single_turn/skeleton_key_attack.py
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.py
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/generic_scorers.py
  doc/code/scoring/human_in_the_loop_scorer_gradio.ipynb
  doc/code/scoring/human_in_the_loop_scorer_gradio.py
  doc/code/scoring/insecure_code_scorer.ipynb
  doc/code/scoring/insecure_code_scorer.py
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.py
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  doc/code/scoring/true_false_batch_scoring.ipynb
  doc/code/scoring/true_false_batch_scoring.py
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target.py
  doc/code/targets/prompt_shield_target.ipynb
  doc/code/targets/prompt_shield_target.py
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  doc/code/targets/use_huggingface_chat_target.ipynb
  doc/code/targets/use_huggingface_chat_target.py
Due: remove-notebook-headers, check-links, website

Fix word split bug
  pyrit/prompt_converter/first_letter_converter.py
  pyrit/prompt_converter/word_level_converter.py
  tests/unit/converter/test_first_letter_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: website

pre-commit updates
  doc/_toc.yml
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/targets/realtime_target.ipynb
Due: remove-notebook-headers

hannah's pr feedback + add maxdepth to _toc.yml
  doc/_toc.yml
  doc/code/executor/0_executor.md
  doc/code/executor/attack/0_attack.md
  doc/code/executor/attack/multi_turn/0_multi_turn.md
  doc/code/scoring/7_batch_scorer.ipynb
Due: remove-notebook-headers, check-links

pre-commit run
  doc/_toc.yml
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/true_false_batch_scoring.py
  doc/code/targets/realtime_target.ipynb
Due: remove-notebook-headers, check-links, website

Multi-prompt sending attack + test/doc stubs
  doc/code/executor/attack/multi_turn/3_multi_prompt_sending_attack.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
Due: remove-notebook-headers, website

Run pre-commit
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/medsafetybench_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

remove rules for ruff
  pyproject.toml
Due: none

fixed plagiarism metrics to be on [0,1] scale
  pyrit/score/plagiarism_scorer.py
Due: website

fixed unit tests
  tests/unit/score/test_plagiarism_scorer.py
Due: website

simplified first letter converter demo notebook
  doc/code/converters/first_letter_converter.ipynb
  doc/code/converters/first_letter_converter.py
Due: remove-notebook-headers, check-links, website

small import fix
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/2_basic_memory_programming.py
Due: remove-notebook-headers, check-links, website

made changes for pre-commit
  pyrit/datasets/medsafetybench_dataset.py
Due: website

made pre-commit fix
  cache/155c57fa55cecd7e7c8c67cbd4c6aa65.csv
  cache/16f97d57d3839227a75497d264c05fad.csv
  cache/1717251dceacb03aafd179e1ecffb403.csv
  cache/188deb97b55da9a5bd2d783eb68aec2d.csv
  cache/18e6e03a86b3d69d9c2e402ff898321b.csv
  cache/20f71dc3ec746cc01b3c4af8fc332dda.csv
  cache/251de25af56f4274b24a2f6b3f1771c1.csv
  cache/397c21aec72248de66a63eb75ffae629.csv
  cache/47b9e6a255e5d87540773d4965e7930b.csv
  cache/47fb210513adf31778f8c91318d2966e.csv
  cache/517b8f38943dfa690d2806ed87984a18.csv
  cache/523884d90f48315613120b2f3c0dd3a8.csv
  cache/66aa5e555fcadcc75bb888d134dd4ef4.txt
  cache/78a2f13258c9583126fb1caea7704bbc.csv
  cache/7e1a9c763663a2e7fac5785a6d04cb7a.csv
  cache/7e6d0c6d9f647d227f98dda3d66ba4cd.txt
  cache/876321fa68f6a22b2ff453d1b5d7605b.csv
  cache/8a376d7defc21a4d3d8fc40083575b14.csv
  cache/8b51bb0a8a59d2eca8db0bd953ae70ec.csv
  cache/8ddce65520af15a36759f522d543d332.csv
  cache/94fec8d64071eaedaab5e9eaa07f6df6.txt
  cache/96266af59cbec2e40a2d85354d74f000.csv
  cache/adec0dd33c1c825ca3a58cad25af1e08.csv
  cache/b24dc1d82b8727c793e4455dde14b33b.csv
  cache/bdfc8fa9c0957eb8a82cf70526fb7d51.txt
  cache/be3dfe7ce70d336b07623117b07eb0d3.csv
  cache/c04e83a4c1ad17dcd43d896b8cc0679a.csv
  cache/c361c414333ced415adac992bfdc77dd.txt
  cache/c40a542291797cfa8d482cdf1b502b13.csv
  cache/db7637f0ec5b5b25e2fb3edb65bdcb1f.txt
  cache/defb8991003052f45b7ca1dff82353e4.csv
  cache/e3846595c071242bf3576cd234d65d45.csv
  cache/ec7a66bed9476836ee6cea88a33e05eb.csv
  cache/ee13bba3fb501318bd71e1dc548366f5.txt
  cache/ffe793bcbe3ffd53a6b84b906a8beeb7.csv
Due: none

small edits from feedback
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/5_memory_labels.py
  doc/code/memory/9_exporting_data.ipynb
  doc/code/memory/9_exporting_data.py
Due: remove-notebook-headers, check-links, website

FEAT: added medsafetybench dataset (#993)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/medsafetybench_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

fixing unit tests
  doc/code/memory/0_memory.md
  pyrit/common/initialization.py
  pyrit/memory/sqlite_memory.py
  tests/unit/converter/test_pdf_converter.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_core.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
Due: check-links, website

added tests to verity that all three plagiarism scores at 1.0 when the reference is contained in the LLM response
  tests/unit/score/test_plagiarism_scorer.py
Due: website

added documentation about the three plagiarism metrics to first letter converter demo notebook
  doc/code/converters/first_letter_converter.ipynb
  doc/code/converters/first_letter_converter.py
Due: remove-notebook-headers, check-links, website

fixing unit tests
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
Due: website

fixing jnit tests
  doc/code/memory/2_basic_memory_programming.ipynb
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, website

fix notebook error
  doc/code/memory/8_seed_prompt_database.ipynb
Due: remove-notebook-headers

remove duckdb file
  pyrit/common/initialization.py
  pyrit/memory/duckdb_memory.py
Due: website

remove duckdb
  pyrit/memory/__init__.py
Due: website

remove references to DuckDB
  doc/code/memory/2_basic_memory_programming.py
  pyrit/models/data_type_serializer.py
  scanner_configurations/basic_multi_turn_attack.yaml
  scanner_configurations/prompt_send.yaml
Due: check-links, website

pre-commit hooks / reorder website TOC
  doc/_toc.yml
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/converters/pdf_converter.ipynb
  doc/code/executor/attack/0_attack.md
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/2_red_teaming_attack.py
  doc/code/executor/attack/3_crescendo_attack.ipynb
  doc/code/executor/attack/3_crescendo_attack.py
  doc/code/executor/attack/multi_turn/0_multi_turn.md
  doc/code/executor/attack/single_turn/0_single_turn.md
  doc/code/executor/attack/skeleton_key_attack.ipynb
  doc/code/executor/attack/skeleton_key_attack.py
Due: remove-notebook-headers, check-links, website

fix scanner and cli tests
  pyrit/cli/scanner_config.py
  pyrit/prompt_converter/__init__.py
  tests/unit/cli/mixed_multiple_attacks_args_success.yaml
  tests/unit/cli/multi_turn_adversarial_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_crescendo_args_success.yaml
  tests/unit/cli/multi_turn_crescendo_success.yaml
  tests/unit/cli/multi_turn_crescendo_wrong_arg.yaml
  tests/unit/cli/multi_turn_multiple_attacks_args_success.yaml
  tests/unit/cli/multi_turn_objective_scorer_wrong_arg.yaml
  tests/unit/cli/multi_turn_objective_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_rto_args_success.yaml
  tests/unit/cli/multi_turn_rto_success.yaml
  tests/unit/cli/multi_turn_rto_wrong_arg.yaml
  tests/unit/cli/multi_turn_scoring_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_tap_args_success.yaml
  tests/unit/cli/multi_turn_tap_success.yaml
  tests/unit/cli/multi_turn_tap_wrong_arg.yaml
  tests/unit/cli/multi_turn_target_and_scorer_args_success.yaml
  tests/unit/cli/prompt_send_no_converter_target.yaml
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/cli/prompt_send_success_converters_llm_mixed_target.yaml
  tests/unit/cli/test_cli.py
  tests/unit/executor/attack/component/test_conversation_manager.py
Due: website

finish merge...oops
  doc/code/orchestrators/violent_durian.ipynb
  doc/code/targets/2_custom_targets.ipynb
Due: remove-notebook-headers

ran pre-commit hooks
  doc/code/converters/first_letter_converter.ipynb
  doc/code/converters/first_letter_converter.py
  pyrit/score/plagiarism_scorer.py
  tests/unit/score/test_plagiarism_scorer.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
