Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

Some small refinements
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

Draft unit test updates
  tests/unit/target/test_openai_response_target.py
Due: website

add tests and documentation
  doc/code/scenarios/rapid_response_harm_dataset_loading.md
  doc/code/scenarios/rapid_response_harm_scenario.ipynb
  doc/code/scenarios/rapid_response_harm_scenario.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/ai_rt/rapid_response_harm_scenario.py
  tests/unit/scenarios/test_rapid_response_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Adding scoring mechanism, t/f criteria, fixed typo in grounded.yaml
  pyrit/scenarios/scenarios/cyber_scenario.py
  pyrit/score/config/true_false_question/grounded.yaml
  pyrit/score/config/true_false_question/malware.yaml
Due: website

Adding more testing skeleton
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

Touching up
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenarios/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

pre-commit
  doc/code/front_end/0_cli.ipynb
  pyrit/cli/__main__.py
  pyrit/scenarios/scenario_signature_enforcer.py
  tests/unit/scenarios/test_scenario_signature_enforcer.py
Due: remove-notebook-headers, website

pre-commit
  pyrit/scenarios/scenario_signature_enforcer.py
  tests/unit/scenarios/test_scenario_signature_enforcer.py
Due: website

Successfully executed notebooks
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
Due: remove-notebook-headers, check-links, website

update notebook to remove mentions of running in jupyter
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
Due: remove-notebook-headers, check-links, website

bugfix to skip empty entry
  pyrit/datasets/sorry_bench_dataset.py
Due: website

Updating openai targets
  .env_example
  pyrit/common/net_utility.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/integration/cli/illegal_integration_test.prompt
  tests/integration/cli/illegal_integration_test_audio_input.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/mixed_multiple_attacks_args_success.yaml
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
  tests/integration/targets/test_target_filters.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/common/test_pyrit_default_value.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_realtime_target.py
  tests/unit/target/test_tts_target.py
  tests/unit/test_common_net_utility.py
Due: website

pr feedback
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: website

FEAT: Sorry-Bench Dataset (#1166)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/sorry_bench_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_sorry_bench_dataset.py
Due: website

Adding additional asserts to target integration tests
  tests/integration/targets/test_targets_and_secrets.py
Due: website

MAINT Breaking: Updating openai targets and parameters (#1179)
  .env_example
  pyrit/common/net_utility.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/integration/cli/illegal_integration_test.prompt
  tests/integration/cli/illegal_integration_test_audio_input.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/mixed_multiple_attacks_args_success.yaml
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
  tests/integration/targets/test_target_filters.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/common/test_pyrit_default_value.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_realtime_target.py
  tests/unit/target/test_tts_target.py
  tests/unit/test_common_net_utility.py
Due: website

Attack factory logic
  pyrit/scenarios/scenarios/cyber_scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

PR comments: simplify strategies and default to several attack types
  doc/code/scenarios/rapid_response_harm_dataset_loading.md
  doc/code/scenarios/rapid_response_harm_scenario.ipynb
  doc/code/scenarios/rapid_response_harm_scenario.py
  pyrit/datasets/seed_prompts/harms/harassment.prompt
  pyrit/datasets/seed_prompts/harms/hate.prompt
  pyrit/datasets/seed_prompts/harms/violence.prompt
  pyrit/scenarios/scenarios/ai_rt/rapid_response_harm_scenario.py
  tests/unit/scenarios/test_rapid_response_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Wrapped up CyberScenario pre-testing, moving on to testing suite
  pyrit/datasets/seed_prompts/malware.prompt
  pyrit/scenarios/scenarios/cyber_scenario.py
  pyrit/score/config/true_false_question/malware.yaml
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

ruff config
  pyproject.toml
Due: none

Adding documentation notebook, continuing unit tests
  doc/code/scenarios/cyber_scenario.ipynb
  doc/code/scenarios/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: remove-notebook-headers, check-links, website

FIX D214 overindented-section
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

FIX D300 triple-single-quotes
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
Due: website

FIX D411 no-blank-line-before-section (D410 is also fixed now)
  pyrit/auth/azure_auth.py
  pyrit/datasets/equitymedqa_dataset.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/promptgen/core/prompt_generator_strategy.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/data_type_serializer.py
  pyrit/models/storage_io.py
  pyrit/prompt_converter/insert_punctuation_converter.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

FIX D403 first-word-uncapitalized
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
Due: website

FIX D301 escape-sequence-in-docstring
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/datasets/darkbench_dataset.py
  pyrit/datasets/harmbench_multimodal_dataset.py
  pyrit/datasets/mlcommons_ailuminate_demo_dataset.py
  pyrit/datasets/sosbench_dataset.py
  pyrit/prompt_converter/image_compression_converter.py
Due: website

FIX D209 new-line-after-last-paragraph
  pyrit/models/storage_io.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/openai/openai_target.py
Due: website

FIX D416 missing-section-name-colon
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
  pyrit/show_versions.py
Due: website

update ruff version and add ruff-check hook to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Finished initialization unit tests
  pyrit/datasets/seed_prompts/malware.prompt
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

Added basic demo notebook
  doc/code/scenarios/cyber_scenario.ipynb
  doc/code/scenarios/cyber_scenario.py
  pyrit/scenarios/scenarios/cyber_scenario.py
Due: remove-notebook-headers, check-links, website

Precommit hooks
  doc/code/scenarios/cyber_scenario.ipynb
  doc/code/scenarios/cyber_scenario.py
  pyrit/datasets/seed_prompts/malware.prompt
  tests/unit/scenarios/test_cyber_scenario.py
Due: remove-notebook-headers, check-links, website

add missing D202 to args
  .pre-commit-config.yaml
Due: none

Adding REQUIRED_VALUE as a placeholder for apply_defaults
  pyrit/common/__init__.py
  pyrit/common/apply_defaults.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_converter_base.py
  pyrit/prompt_converter/llm_generic_text_converter.py
  pyrit/prompt_converter/malicious_question_generator_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  pyrit/prompt_converter/noise_converter.py
  pyrit/prompt_converter/persuasion_converter.py
  pyrit/prompt_converter/random_translation_converter.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/prompt_converter/tone_converter.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_converter/variation_converter.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/common/test_pyrit_default_value.py
Due: website

add prompts and tests
  doc/code/scenarios/rapid_response_harm_dataset_loading.md
  doc/code/scenarios/rapid_response_harm_scenario.ipynb
  doc/code/scenarios/rapid_response_harm_scenario.py
  doc/code/scenarios/scenarios.py
  pyrit/datasets/seed_prompts/harms/fairness.prompt
  pyrit/datasets/seed_prompts/harms/hate.prompt
  pyrit/datasets/seed_prompts/harms/leakage.prompt
  pyrit/datasets/seed_prompts/harms/misinformation.prompt
  pyrit/datasets/seed_prompts/harms/sexual.prompt
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/scenarios/scenarios/ai_rt/rapid_response_harm_scenario.py
  tests/unit/scenarios/test_rapid_response_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
