Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

docs update
  assets/seed_prompt_example.png
  doc/_toc.yml
  doc/blog/2025_02_11.md
  doc/code/architecture.md
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_loading_datasets.py
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/datasets/2_seed_programming.ipynb
  doc/code/datasets/2_seed_programming.py
  doc/code/datasets/3_dataset_writing.md
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_coding.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/architecture.md
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_coding.py
Due: remove-notebook-headers, check-links, website

fix env vars for consistency
  doc/blog/2025_03_03.md
  doc/code/converters/4_image_converters.ipynb
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/setup/initializers/airt.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/scenarios/test_content_harm_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/target/test_openai_url_warnings.py
Due: remove-notebook-headers, check-links, website

selective text converter
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/selective_text_converter.py
  pyrit/prompt_converter/text_selection_strategy.py
  pyrit/prompt_converter/word_level_converter.py
  tests/unit/converter/test_selective_text_converter.py
  tests/unit/converter/test_text_selection_strategy.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/architecture.md
Due: check-links

unit tests passing
  pyrit/setup/initializers/airt.py
  tests/unit/target/test_openai_chat_target.py
Due: website

revert nb
  doc/code/targets/1_openai_chat_target.ipynb
Due: remove-notebook-headers

revert nb
  doc/code/scoring/2_true_false_scorers.ipynb
Due: remove-notebook-headers

small doc fix
  doc/code/architecture.md
Due: check-links

recreate broken notebook
  doc/code/converters/4_image_converters.ipynb
Due: remove-notebook-headers

Fix example filename in Docker setup instructions
  doc/setup/1b_install_docker.md
Due: check-links

pre-commit
  doc/code/architecture.md
  pyrit/datasets/seed_datasets/local/airt/fairness.prompt
  pyrit/datasets/seed_datasets/local/airt/harassment.prompt
  pyrit/datasets/seed_datasets/local/airt/hate.prompt
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/datasets/seed_datasets/local/airt/misinformation.prompt
  pyrit/datasets/seed_datasets/local/airt/sexual.prompt
  pyrit/datasets/seed_datasets/local/airt/violence.prompt
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
Due: check-links, website

update init
  pyrit/scenario/__init__.py
  pyrit/scenario/scenarios/__init__.py
Due: website

added NVIDIA AI Content Safety Dataset
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/aegis_ai_content_safety_dataset.py
Due: website

rename test
  tests/unit/scenarios/test_content_harms_scenario.py
Due: website

pre-commit
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/setup/populating_secrets.md
Due: remove-notebook-headers, check-links

precommit
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, website

final pre-commit
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers

update ollama url
  .env_example
Due: none

Fix example filename in Docker setup instructions (#1221)
  doc/setup/1b_install_docker.md
Due: check-links

MAINT: Improve docstrings in pyrit/memory (#1176)
  pyproject.toml
  pyrit/memory/__init__.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/central_memory.py
  pyrit/memory/memory_embedding.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
Due: website

add test and clarify prompt
  pyrit/datasets/seed_datasets/local/airt/fairness.prompt
  tests/unit/scenarios/test_content_harms_scenario.py
Due: website

pre-commit and tests
  pyrit/memory/memory_interface.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/unit/memory/memory_interface/memory_interface.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
Due: website

pre-commit
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_coding.py
Due: remove-notebook-headers, check-links, website

Update doc/code/datasets/0_dataset.md
  doc/code/datasets/0_dataset.md
Due: check-links

DOC: Datasets docs revamp (#1219)
  assets/seed_prompt_example.png
  doc/_toc.yml
  doc/blog/2025_02_11.md
  doc/code/architecture.md
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_loading_datasets.py
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/datasets/2_seed_programming.ipynb
  doc/code/datasets/2_seed_programming.py
  doc/code/datasets/3_dataset_writing.md
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_coding.py
Due: remove-notebook-headers, check-links, website

fix test
  tests/unit/scenarios/test_content_harms_scenario.py
Due: website

[FIX] Add content harm datasets (#1222)
  pyrit/datasets/seed_datasets/local/airt/fairness.prompt
  pyrit/datasets/seed_datasets/local/airt/harassment.prompt
  pyrit/datasets/seed_datasets/local/airt/hate.prompt
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/datasets/seed_datasets/local/airt/misinformation.prompt
  pyrit/datasets/seed_datasets/local/airt/sexual.prompt
  pyrit/datasets/seed_datasets/local/airt/violence.prompt
  pyrit/scenario/__init__.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  tests/unit/scenarios/test_content_harms_scenario.py
Due: website

updating a few
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/scenario/core/scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/encoding_scenario.py
Due: remove-notebook-headers, website

MAINT: Fix docstrings for pyrit/executor modules (partial #1176)
  pyproject.toml
  pyrit/executor/__init__.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/__init__.py
  pyrit/executor/attack/single_turn/__init__.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/executor/benchmark/question_answering.py
  pyrit/executor/core/__init__.py
  pyrit/executor/core/strategy.py
  pyrit/executor/promptgen/__init__.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/promptgen/core/__init__.py
  pyrit/executor/promptgen/fuzzer.py
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/core/__init__.py
  pyrit/executor/workflow/xpia.py
Due: website

Moved docstrings under copyright/license comments
  pyrit/executor/__init__.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/printer/__init__.py
  pyrit/executor/attack/single_turn/__init__.py
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/core/__init__.py
  pyrit/executor/promptgen/__init__.py
  pyrit/executor/promptgen/core/__init__.py
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/core/__init__.py
Due: website

test
  .github/workflows/build_and_test.yml
  doc/contributing/1c_install_uv.md
  integration-tests.yml
  uv.lock
Due: check-links

remove extra uv
  .github/workflows/build_and_test.yml
Due: none

scenario loader
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/__init__.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/unit/setup/initializers/scenarios/test_load_default_datasets.py
Due: remove-notebook-headers, website

use sync
  .github/workflows/build_and_test.yml
Due: none

remove pip
  .github/workflows/build_and_test.yml
Due: none

updating scenario calls to include datasets
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/2_pyrit_shell.md
  pyrit/cli/frontend_core.py
  pyrit/cli/initializer_registry.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  tests/unit/cli/test_scenario_registry.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
