Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

Remove obsolete analyze_results module and tests; superseded by result_analysis with AttackStats and grouping
  pyrit/analytics/analyze_results.py
  tests/unit/analytics/test_analyze_results.py
Due: website

updated the api
  doc/api.rst
Due: none

First letter converter
  .pre-commit-config.yaml
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/first_letter_converter.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/converter/test_first_letter_converter.py
Due: website

fix notebook errors
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/targets/realtime_target.ipynb
Due: remove-notebook-headers

add seedprompt sequence validation in send_prompt_async
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/test_prompt_normalizer.py
Due: website

FEAT Add FirstLetterConverter (#1061)
  .pre-commit-config.yaml
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/first_letter_converter.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/converter/test_first_letter_converter.py
Due: website

fixes
  cache/155c57fa55cecd7e7c8c67cbd4c6aa65.csv
  cache/16f97d57d3839227a75497d264c05fad.csv
  cache/1717251dceacb03aafd179e1ecffb403.csv
  cache/188deb97b55da9a5bd2d783eb68aec2d.csv
  cache/18e6e03a86b3d69d9c2e402ff898321b.csv
  cache/20f71dc3ec746cc01b3c4af8fc332dda.csv
  cache/251de25af56f4274b24a2f6b3f1771c1.csv
  cache/397c21aec72248de66a63eb75ffae629.csv
  cache/47b9e6a255e5d87540773d4965e7930b.csv
  cache/47fb210513adf31778f8c91318d2966e.csv
  cache/517b8f38943dfa690d2806ed87984a18.csv
  cache/523884d90f48315613120b2f3c0dd3a8.csv
  cache/66aa5e555fcadcc75bb888d134dd4ef4.txt
  cache/78a2f13258c9583126fb1caea7704bbc.csv
  cache/7e1a9c763663a2e7fac5785a6d04cb7a.csv
  cache/7e6d0c6d9f647d227f98dda3d66ba4cd.txt
  cache/876321fa68f6a22b2ff453d1b5d7605b.csv
  cache/8a376d7defc21a4d3d8fc40083575b14.csv
  cache/8b51bb0a8a59d2eca8db0bd953ae70ec.csv
  cache/8ddce65520af15a36759f522d543d332.csv
  cache/94fec8d64071eaedaab5e9eaa07f6df6.txt
  cache/96266af59cbec2e40a2d85354d74f000.csv
  cache/adec0dd33c1c825ca3a58cad25af1e08.csv
  cache/b24dc1d82b8727c793e4455dde14b33b.csv
  cache/bdfc8fa9c0957eb8a82cf70526fb7d51.txt
  cache/be3dfe7ce70d336b07623117b07eb0d3.csv
  cache/c04e83a4c1ad17dcd43d896b8cc0679a.csv
  cache/c361c414333ced415adac992bfdc77dd.txt
  cache/c40a542291797cfa8d482cdf1b502b13.csv
  cache/db7637f0ec5b5b25e2fb3edb65bdcb1f.txt
  cache/defb8991003052f45b7ca1dff82353e4.csv
  cache/e3846595c071242bf3576cd234d65d45.csv
  cache/ec7a66bed9476836ee6cea88a33e05eb.csv
  cache/ee13bba3fb501318bd71e1dc548366f5.txt
  cache/ffe793bcbe3ffd53a6b84b906a8beeb7.csv
  pyrit/datasets/fetch_medsafetybench.py
  pyrit/datasets/medsafetybench.py
Due: website

fixes
  pyrit/datasets/medsafetybench.py
Due: website

FEAT Refactored XPIA orchestrator as a workflow
  pyrit/common/utils.py
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/core/__init__.py
  pyrit/executor/workflow/core/workflow_strategy.py
  pyrit/executor/workflow/xpia.py
  tests/unit/executor/workflow/test_xpia.py
Due: website

addressed comments
  .github/instructions/style-guide.instructions.md
Due: none

fixed precommit issues
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/core/__init__.py
  pyrit/executor/workflow/core/workflow_strategy.py
  pyrit/executor/workflow/xpia.py
  tests/unit/executor/workflow/test_xpia.py
Due: website

FEAT Add GitHub Copilot Instructions for PyRIT Development (#1052)
  .github/instructions/style-guide.instructions.md
  .github/instructions/unittests.instructions.md
Due: none

enforce role when more than one sequence in seed prompt group
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/models/seed_prompt_group.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/models/test_seed_prompt.py
  tests/unit/test_normalizer_request.py
  tests/unit/test_prompt_normalizer.py
Due: website

fix example
  pyrit/models/prompt_request_response.py
Due: website

rm unused torch import
  pyrit/auxiliary_attacks/gcg/experiments/train.py
Due: website

pre-commit checks
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

update comment
  pyrit/models/seed_prompt_group.py
Due: website

Align SeedPrompt with PromptRequestPiece (#1053)
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  pyrit/cli/__main__.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multiple-multiturn-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multiturn-group.prompt
  pyrit/datasets/seed_prompts/multimodal_data/roakey_potion.png
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/models/seed_prompt_group.py
  pyrit/orchestrator/orchestrator_class.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/models/test_seed_prompt.py
  tests/unit/test_normalizer_request.py
  tests/unit/test_prompt_normalizer.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, check-links, website

addressed comments
  pyrit/executor/workflow/xpia.py
  tests/unit/executor/workflow/test_xpia.py
Due: website

add img and correct alt
  assets/prompt_request_piece.png
  assets/seed_prompt.png
  doc/code/memory/3_prompt_request.md
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/code/targets/2_custom_targets.ipynb
  doc/code/targets/2_custom_targets.py
  doc/code/targets/3_non_open_ai_chat_targets.py
  doc/deployment/deploy_hf_model_aml.ipynb
  doc/deployment/deploy_hf_model_aml.py
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.py
  doc/deployment/score_aml_endpoint.ipynb
  doc/deployment/score_aml_endpoint.py
Due: remove-notebook-headers, check-links, website

update deployment notebooks
  doc/deployment/deploy_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/score_aml_endpoint.ipynb
Due: remove-notebook-headers

env variable changes
  .env_example
  tests/integration/targets/test_targets_and_secrets.py
Due: website

addressed comments
  doc/api.rst
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/xpia.py
Due: website

added processing conversation id to the results
  pyrit/executor/workflow/xpia.py
  tests/unit/executor/workflow/test_xpia.py
Due: website

fixed api
  doc/api.rst
Due: none

MAINT: OPENAI_RESPONSES environment variable change (#1065)
  .env_example
  tests/integration/targets/test_targets_and_secrets.py
Due: website

addressed comments
  doc/api.rst
Due: none

format
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/targets/2_custom_targets.ipynb
Due: remove-notebook-headers

FEAT Refactored XPIA orchestrator as a workflow (#1062)
  doc/api.rst
  pyrit/common/utils.py
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/core/__init__.py
  pyrit/executor/workflow/core/workflow_strategy.py
  pyrit/executor/workflow/xpia.py
  tests/unit/executor/workflow/test_xpia.py
Due: website

[DOC] add SeedPrompt and PromptRequestPiece images and correct alt tags (#1063)
  assets/prompt_request_piece.png
  assets/seed_prompt.png
  doc/code/memory/3_prompt_request.md
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/code/targets/2_custom_targets.ipynb
  doc/code/targets/2_custom_targets.py
  doc/code/targets/3_non_open_ai_chat_targets.py
  doc/deployment/deploy_hf_model_aml.ipynb
  doc/deployment/deploy_hf_model_aml.py
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.py
  doc/deployment/score_aml_endpoint.ipynb
  doc/deployment/score_aml_endpoint.py
Due: remove-notebook-headers, check-links, website

FEAT Refactored QA Benchmark Orchestrator as a Strategy
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/question_answering.py
  tests/unit/executor/benchmark/test_question_answering.py
Due: website

FEAT Add JailbreakBench/JBB-Behaviors dataset #1008 (#1045)
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

fixed precommit issues
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/question_answering.py
  tests/unit/executor/benchmark/test_question_answering.py
Due: website

precommit
  tests/unit/memory/test_memory_exporter.py
Due: website

first round of edits
  doc/code/attacks/multi_turn/1_red_teaming_attack.ipynb
  doc/code/attacks/multi_turn/1_red_teaming_attack.py
  doc/code/attacks/single_turn/1_prompt_sending_attack.ipynb
  doc/code/attacks/single_turn/1_prompt_sending_attack.py
Due: remove-notebook-headers, check-links, website
