Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

MAINT: Generic Scorer Notebook Reorganizing (#904)
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/generic_scorers.py
Due: remove-notebook-headers, check-links, website

tiny fix
  doc/api.rst
Due: none

Cleaning up comments and unused code sections
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: website

Adding orchestrator and scorer to __init__ and api.rst
  doc/api.rst
  pyrit/score/__init__.py
Due: website

rename and run QA benchmark orchestrator notebook
  doc/code/orchestrators/benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

linting, fixing toc
  doc/_toc.yml
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

MAINT Refactor question answer orchestrator as prompt orchestrator (#894)
  doc/_toc.yml
  doc/api.rst
  doc/code/orchestrators/benchmark_orchestrator.ipynb
  doc/code/orchestrators/benchmark_orchestrator.py
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  pyrit/common/question_answer_helpers.py
  pyrit/datasets/orchestrators/benchmark/one_plus_one.yaml
  pyrit/datasets/orchestrators/benchmark/question_answer.yaml
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/__init__.py
  pyrit/score/question_answer_scorer.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

FEAT: Toxic Sentence Generator (#893)
  doc/api.rst
  pyrit/datasets/prompt_converters/toxic_sentence_generator.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  tests/unit/converter/test_toxic_sentence_generator_converter.py
Due: website

saving
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
Due: remove-notebook-headers

cookbook works
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
Due: remove-notebook-headers, check-links, website

fixing tests
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

Updates to LookBackScorer. Addition of look_back_scorer.ipynb to include examples of persuasion and deception files.
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/datasets/score/likert_scales/behavior_change.yaml
  pyrit/score/__init__.py
Due: remove-notebook-headers, check-links, website

most tests for test_prompt_sending written and tested
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

roleplayorchestrator test update
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_role_play_orchestrator.py
Due: website

flip attack tests updated
  tests/unit/orchestrator/test_flip_orchestrator.py
Due: website

many shot tests
  doc/code/orchestrators/many_shot_jailbreak.ipynb
  tests/unit/orchestrator/test_context_compliance_orchestrator.py
  tests/unit/orchestrator/test_many_shot_jailbreak_orchestrator.py
Due: remove-notebook-headers, website

context compliance tests updated
  tests/unit/orchestrator/test_context_compliance_orchestrator.py
Due: website

question answer benchmark updated
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  pyrit/datasets/score/true_false_question/question_answering.yaml
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/__init__.py
  pyrit/score/self_ask_question_answer_scorer.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

tests updated
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, website

pre-commit
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/1_prompt_sending_orchestrator.py
  doc/code/orchestrators/context_compliance_orchestrator.ipynb
  doc/code/orchestrators/context_compliance_orchestrator.py
  doc/code/orchestrators/flip_orchestrator.ipynb
  doc/code/orchestrators/flip_orchestrator.py
  doc/code/orchestrators/many_shot_jailbreak.ipynb
  doc/code/orchestrators/many_shot_jailbreak.py
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.py
  doc/code/scoring/generic_scorers.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/score/self_ask_question_answer_scorer.py
  tests/unit/orchestrator/test_context_compliance_orchestrator.py
  tests/unit/orchestrator/test_flip_orchestrator.py
  tests/unit/orchestrator/test_many_shot_jailbreak_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_role_play_orchestrator.py
Due: remove-notebook-headers, check-links, website

feat(pyrit/datasets/__init__.py, pyrit/datasets/ccp_sensitive_prompts_dataset.py, tests/unit/datasets/test_ccp_sensitive_prompts_dataset.py): add CCP Sensitive Prompts dataset loader and tests
  pyrit/datasets/__init__.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
  tests/unit/datasets/test_ccp_sensitive_prompts_dataset.py
Due: website

FIX: escape prompt in HTTPTarget to avoid HTTP 400 with special characters
  pyrit/prompt_target/http_target/http_target.py
Due: website

FIX translation converter instability fix
  pyrit/datasets/prompt_converters/translation_converter.yaml
  pyrit/prompt_converter/translation_converter.py
Due: website

pre-commit
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/1_prompt_sending_orchestrator.py
  doc/code/orchestrators/context_compliance_orchestrator.ipynb
  doc/code/orchestrators/context_compliance_orchestrator.py
  doc/code/orchestrators/flip_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/score/self_ask_question_answer_scorer.py
  tests/unit/orchestrator/test_context_compliance_orchestrator.py
  tests/unit/orchestrator/test_flip_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: remove-notebook-headers, check-links, website

fixed unittests
  tests/unit/converter/test_translation_converter.py
Due: website

File changes with pre-commit command and addressing some PR feedback
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/datasets/score/scales/behavior_change_system_prompt.yaml
  pyrit/score/__init__.py
  pyrit/score/look_back_scorer.py
Due: remove-notebook-headers, check-links, website

Merged changes for init.py file
  pyrit/score/__init__.py
Due: website

Added LookBackScorer to api.rst and added unit test for LookBackScorer
  doc/api.rst
  tests/unit/score/test_look_back_scorer.py
Due: website

MAINT: link to relevant datasets in documentation
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

Updated unit test with longer conversation
  tests/unit/score/test_look_back_scorer.py
Due: website

FIX Removed JSON instructions for Translation Converter (#910)
  pyrit/datasets/prompt_converters/translation_converter.yaml
  pyrit/prompt_converter/translation_converter.py
  tests/unit/converter/test_translation_converter.py
Due: website

refactor(pyrit/datasets/__init__.py, pyrit/datasets/ccp_sensitive_prompts_dataset.py, tests/unit/datasets/test_ccp_sensitive_prompts_dataset.py): remove CCP Sensitive Prompts dataset and related tests
  pyrit/datasets/__init__.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
  tests/unit/datasets/test_ccp_sensitive_prompts_dataset.py
Due: website

release v0.9.0
  pyproject.toml
  pyrit/__init__.py
Due: website

update readme to remove readme.md links
  doc/contributing/11_release_process.md
Due: none

MAINT: Add unit tests for missing evaluation data and processing models
  tests/unit/orchestrator/test_anecdoctor_orchestrator.py
Due: website

pre-commit fixes
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/auxiliary_attacks/0_auxiliary_attacks.py
  doc/code/converters/2_using_converters.ipynb
  doc/code/converters/2_using_converters.py
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/ansi_attack_converter.py
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/datasets/2_fetch_dataset.ipynb
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/7_azure_sql_memory_orchestrators.py
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/4_scoring_orchestrator.ipynb
  doc/code/orchestrators/HITL_Scoring_Orchestrator.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/2_custom_targets.ipynb
  doc/code/targets/3_non_open_ai_chat_targets.ipynb
  doc/code/targets/4_non_llm_targets.ipynb
  doc/code/targets/4_non_llm_targets.py
  doc/code/targets/6_rate_limiting.ipynb
  doc/code/targets/7_http_target.ipynb
  doc/code/targets/playwright_target.py
  doc/code/targets/prompt_shield_target.ipynb
  doc/code/targets/use_huggingface_chat_target.ipynb
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_context_compliance_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: remove-notebook-headers, check-links, website

build fix
  pyrit/models/prompt_request_response.py
Due: website

build fix
  build_scripts/check_links.py
  doc/api.rst
Due: website
