Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

DOC basic docs for scanner (#1120)
  doc/_toc.yml
  doc/code/scanner/0_scanner.md
  doc/code/scanner/1_configuration.md
  scanner_configurations/README.md
Due: check-links

enable entra auth across cognitive services resources in PyRIT
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/1_azure_content_safety_scorers.py
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/1_openai_chat_target.py
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  doc/setup/populating_secrets.md
  pyproject.toml
  pyrit/auth/azure_auth.py
  pyrit/embedding/azure_text_embedding.py
  pyrit/memory/azure_sql_memory.py
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/score/azure_content_filter_scorer.py
  tests/integration/converter/test_entra_auth_converters.py
  tests/integration/targets/test_aad_auth.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_target_filters.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_prompt_shield_target.py
  tests/unit/target/test_realtime_target.py
  tests/unit/test_azure_text_embedding.py
Due: remove-notebook-headers, check-links, website

more consistent docstring
  pyrit/embedding/azure_text_embedding.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/integration/targets/test_entra_auth_targets.py
Due: website

fix test
  tests/unit/target/test_prompt_shield_target.py
Due: website

addressed feedback
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
Due: remove-notebook-headers, check-links, website

fixed unit test
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/test_prompt_normalizer.py
Due: website

minor changes for comment feedback
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
Due: remove-notebook-headers, check-links, website

Replaced GPL dependencies with permissive alternatives.
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/executor/workflow/xpia.py
  pyrit/prompt_converter/pdf_converter.py
Due: website

Ran Pre-Commit Hooks
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/executor/workflow/xpia.py
  pyrit/prompt_converter/pdf_converter.py
Due: website

minor feedback
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
Due: remove-notebook-headers, check-links, website

FEAT: Adding Harm Categories to Prompt Request Pieces
  doc/_toc.yml
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/datasets/seed_prompts/illegal.prompt
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/models/test_seed_prompt.py
  tests/unit/test_prompt_normalizer.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, check-links, website

SORA2
  .env_local_example
  pyrit/common/net_utility.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/openai/openai_sora1_target.py
  pyrit/prompt_target/openai/openai_sora2_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_sora_target_base.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

Removed Unnecessary Encoding Declaration
  pyrit/datasets/seclists_bias_testing_dataset.py
Due: website

Hardcoded list of country names to avoid external dependency
  pyrit/datasets/seclists_bias_testing_dataset.py
Due: website

add a warning
  pyrit/datasets/harmbench_multimodal_dataset.py
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

FEAT: add support for multimodal data from HarmBench (#1110)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/harmbench_multimodal_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

precomputing update
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers

bugs but progress
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers

restructure installation instructions and add cards
  doc/_toc.yml
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  doc/contributing/1a_install_conda.md
  doc/contributing/1b_install_devcontainers.md
  doc/index.md
  doc/setup/1a_install_conda.md
  doc/setup/1b_install_docker.md
  doc/setup/install_pyrit.md
  docker/README.md
Due: remove-notebook-headers, check-links, website

also adjust the .py files
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/role_play_attack.py
Due: check-links, website

pre-commit
  build_scripts/check_links.py
  doc/code/memory/11_harm_categories.ipynb
  doc/index.md
  doc/setup/1a_install_conda.md
  doc/setup/1b_install_docker.md
  docker/README.md
Due: remove-notebook-headers, check-links, website

import sort
  doc/code/memory/11_harm_categories.ipynb
  tests/unit/analytics/test_result_analysis.py
Due: remove-notebook-headers, website

FEAT analytics by attack type (#1041)
  doc/code/memory/11_harm_categories.ipynb
  pyrit/analytics/analyze_results.py
  pyrit/analytics/result_analysis.py
  tests/unit/analytics/test_analyze_results.py
  tests/unit/analytics/test_result_analysis.py
Due: remove-notebook-headers, website

Use blocking input() for manual prompt; remove questionary
  pyrit/executor/workflow/xpia.py
Due: website

added default values
  pyrit/setup/__init__.py
  pyrit/setup/pyrit_default_value.py
  tests/unit/setup/test_pyrit_default_value.py
Due: website

adding attack factory
  doc/code/setup/using_configs.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_factory.py
  pyrit/setup/__init__.py
  pyrit/setup/config/foundry/ascii_art.py
  pyrit/setup/pyrit_default_value.py
  tests/unit/executor/attack/core/test_attack_factory.py
Due: remove-notebook-headers, website

basics working
  doc/code/setup/initialization_scripts.py
  doc/code/setup/using_configs.ipynb
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/setup/README_DEFAULT_VALUES.md
  pyrit/setup/__init__.py
  pyrit/setup/builtin_init_paths.py
  pyrit/setup/config/defaults/converter_initialization.py
  pyrit/setup/config/defaults/scorer_initialization.py
  pyrit/setup/config/defaults/target_initialization.py
  pyrit/setup/config/foundry/ansi_attack.py
  pyrit/setup/initialization.py
  pyrit/setup/pyrit_default_value.py
  tests/unit/setup/test_builtin_init_paths.py
  tests/unit/setup/test_initialization.py
  tests/unit/setup/test_pyrit_default_value.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/_toc.yml
  doc/code/setup/initialization_scripts.py
  doc/code/setup/using_attack_runs.ipynb
  doc/code/setup/using_configuration_files.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/scenarios/scenario.py
  pyrit/setup/README_DEFAULT_VALUES.md
  pyrit/setup/attack_factory.py
  pyrit/setup/config/attack/foundry/ansi_attack.py
  pyrit/setup/config/attack/foundry/ascii_art.py
  pyrit/setup/config/attack/foundry/crescendo.py
  pyrit/setup/config/attack/foundry/tense.py
  pyrit/setup/config/datasets/harm_bench.py
  pyrit/setup/config/initialization/defaults/converter_initialization.py
  pyrit/setup/config/initialization/defaults/scorer_initialization.py
  pyrit/setup/config/initialization/defaults/target_initialization.py
  pyrit/setup/config/scenarios/foundry.py
  pyrit/setup/configuration_paths.py
  pyrit/setup/dataset_factory.py
  pyrit/setup/pyrit_default_value.py
  pyrit/setup/scenario_factory.py
  tests/unit/cli/test_cli.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/setup/test_attack_factory.py
  tests/unit/setup/test_configuration_paths.py
  tests/unit/setup/test_dataset_factory.py
  tests/unit/setup/test_initialization_scripts.py
  tests/unit/setup/test_pyrit_default_value.py
  tests/unit/setup/test_scenario_factory.py
Due: remove-notebook-headers, check-links, website

fixed some corruption
  doc/code/setup/using_attack_runs.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/scenarios/attack_run.py
  pyrit/setup/config/datasets/harm_bench.py
  pyrit/setup/configuration_paths.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_factory.py
Due: remove-notebook-headers, website

Added scenarios
  doc/code/setup/using_configs.ipynb
  doc/code/setup/using_scenarios.ipynb
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenario.py
  pyrit/setup/config/datasets/harm_bench.py
  pyrit/setup/configuration_paths.py
  pyrit/setup/pyrit_default_value.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, website

Renaming scenario to attackRun
  doc/code/setup/using_attack_runs.ipynb
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  tests/unit/scenarios/test_attack_run.py
Due: remove-notebook-headers, website

end of day
  pyrit/setup/config/attack/foundry/tense.py
Due: website

moving things around
  doc/code/setup/using_configs.ipynb
  pyrit/setup/__init__.py
  pyrit/setup/builtin_init_paths.py
  pyrit/setup/config/attack/foundry/ansi_attack.py
  pyrit/setup/config/attack/foundry/ascii_art.py
  pyrit/setup/config/attack/foundry/crescendo.py
  pyrit/setup/config/attack/foundry/tense.py
  pyrit/setup/config/initialization/defaults/converter_initialization.py
  pyrit/setup/config/initialization/defaults/scorer_initialization.py
  pyrit/setup/config/initialization/defaults/target_initialization.py
  pyrit/setup/configuration_paths.py
  tests/unit/setup/test_builtin_init_paths.py
  tests/unit/setup/test_configuration_paths.py
Due: remove-notebook-headers, website

adding more templates
  doc/code/setup/using_configs.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/prompt_converter/llm_generic_text_converter.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/setup/builtin_init_paths.py
  pyrit/setup/config/defaults/converter_initialization.py
  pyrit/setup/config/defaults/scorer_initialization.py
  pyrit/setup/config/defaults/target_initialization.py
  pyrit/setup/config/foundry/crescendo.py
  pyrit/setup/config/foundry/tense.py
Due: remove-notebook-headers, website

attack factory updated
  doc/code/setup/using_configs.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_factory.py
  pyrit/setup/__init__.py
  pyrit/setup/attack_factory.py
  pyrit/setup/config/attack/foundry/ansi_attack.py
  pyrit/setup/config/attack/foundry/ascii_art.py
  pyrit/setup/config/attack/foundry/crescendo.py
  pyrit/setup/config/attack/foundry/tense.py
  tests/unit/executor/attack/core/test_attack_factory.py
  tests/unit/setup/test_attack_factory.py
Due: remove-notebook-headers, website

Added dataset factory config
  pyrit/setup/__init__.py
  pyrit/setup/config/datasets/harm_bench.py
  pyrit/setup/configuration_paths.py
  pyrit/setup/dataset_factory.py
  tests/unit/setup/test_dataset_factory.py
Due: website

scenario factory
  doc/code/setup/using_attack_runs.ipynb
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenario.py
  pyrit/setup/__init__.py
  pyrit/setup/config/scenarios/foundry.py
  pyrit/setup/configuration_paths.py
  pyrit/setup/scenario_factory.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
