Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

Address review comments: narrow exception, handle {% for %} edge case, add test
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
  tests/unit/datasets/test_toxic_chat_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Populate harm_categories from toxicity, jailbreaking, and openai_moderation
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
  tests/unit/datasets/test_toxic_chat_dataset.py
Due: website

Pin @github/copilot to version 0.0.421 for reproducible builds
  .devcontainer/Dockerfile
Due: none

Reset video notebook to main version
  doc/code/targets/4_openai_video_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Regenerate TAP notebook after az login
  doc/code/executor/attack/tap_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Fix flaky test: move get_info_async inside mock context
  tests/unit/setup/test_airt_initializer.py
Due: website

[BREAKING] FEAT add TAP to content harms scenario (#1378)
  Makefile
  doc/code/scenarios/0_scenarios.ipynb
  pyrit/scenario/core/atomic_attack.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/leakage.py
  pyrit/scenario/scenarios/airt/psychosocial.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
  pyrit/scenario/scenarios/garak/encoding.py
  tests/integration/targets/test_notebooks_targets.py
  tests/unit/scenarios/test_content_harms.py
  tests/unit/scenarios/test_leakage_scenario.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: remove-notebook-headers, validate-jupyter-book, website

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

atomic attack identifier
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/identifiers/__init__.py
  pyrit/identifiers/atomic_attack_identifier.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  pyrit/scenario/core/atomic_attack.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
Due: website

MAINT set up GitHub Copilot in devcontainer (#1431)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

FEAT Add ToxicChat dataset loader (#1422)
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
  tests/unit/datasets/test_toxic_chat_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

Regenerate loading datasets notebook showing all datasets
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_loading_datasets.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Use TargetCapabilities for supports_multi_turn in backend API
  pyrit/backend/mappers/target_mappers.py
  pyrit/backend/models/targets.py
  tests/unit/backend/test_mappers.py
Due: website

update to use entra auth and change file structure
  .pre-commit-config.yaml
  doc/_toc.yml
  doc/code/auxiliary_attacks/agentic_attacks/0_agentic_security.md
  doc/code/auxiliary_attacks/agentic_attacks/1_sensitive_data_access.ipynb
  doc/code/auxiliary_attacks/agentic_attacks/1_sensitive_data_access.py
  doc/code/auxiliary_attacks/agentic_attacks/attack_recommendations.txt
  doc/code/auxiliary_attacks/agentic_attacks/attack_results.txt
  doc/code/executor/agent_security/sensitive_data_access_attack.ipynb
  docker/agent-sandbox/Dockerfile.langchain
  docker/agent-sandbox/docker-compose.yaml
  docker/agent-sandbox/langchain_agent.py
  docker/agent-sandbox/plant_canaries.py
  pyrit/datasets/seed_datasets/local/agentic/__init__.py
  pyrit/datasets/seed_datasets/local/agentic/sensitive_data_access.prompt
  tests/integration/auxiliary_attacks/test_notebooks_auxiliary.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Revert run_initializers_async extraction, use double initialize_pyrit_async
  pyrit/cli/frontend_core.py
  pyrit/setup/__init__.py
  pyrit/setup/initialization.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_backend.py
Due: website

restore seed.py file before i changed and minor edits
  doc/api.rst
  pyrit/models/seeds/seed.py
  pyrit/prompt_converter/scientific_translation_converter.py
  tests/unit/converter/test_scientific_translation_converter.py
Due: validate-jupyter-book, website

remove txt files
  doc/code/auxiliary_attacks/agentic_attacks/1_sensitive_data_access.py
  doc/code/auxiliary_attacks/agentic_attacks/attack_recommendations.txt
  doc/code/auxiliary_attacks/agentic_attacks/attack_results.txt
Due: check-links, validate-jupyter-book, website

precommit
  pyrit/prompt_converter/scientific_translation_converter.py
Due: website

pr-feedback
  pyrit/datasets/score/true_false_question/task_achieved.yaml
  pyrit/datasets/score/true_false_question/task_achieved_refined.yaml
  pyrit/datasets/scorer_evals/harm/exploits.csv
  pyrit/datasets/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/scorer_evals/harm/hate_speech_multi_score.csv
  pyrit/datasets/scorer_evals/harm/info_integrity.csv
  pyrit/datasets/scorer_evals/harm/mini_hate_speech.csv
  pyrit/datasets/scorer_evals/harm/privacy.csv
  pyrit/datasets/scorer_evals/harm/self_harm.csv
  pyrit/datasets/scorer_evals/harm/sexual.csv
  pyrit/datasets/scorer_evals/harm/violence.csv
  pyrit/datasets/scorer_evals/harm/violence_multi_score.csv
  pyrit/datasets/scorer_evals/objective/exploits.csv
  pyrit/datasets/scorer_evals/objective/hate_speech.csv
  pyrit/datasets/scorer_evals/objective/info_integrity.csv
  pyrit/datasets/scorer_evals/objective/privacy.csv
  pyrit/datasets/scorer_evals/objective/self_harm.csv
  pyrit/datasets/scorer_evals/objective/sexual.csv
  pyrit/datasets/scorer_evals/objective/violence.csv
  pyrit/datasets/scorer_evals/refusal_scorer/refusal.csv
  pyrit/datasets/scorer_evals/sample/mini_refusal.csv
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  tests/unit/score/test_scorer_eval_csv_schema.py
Due: website

fix tests
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer_evaluator.py
Due: website

FEAT: Add new human labeled datasets (#1436)
  pyrit/datasets/score/true_false_question/task_achieved.yaml
  pyrit/datasets/score/true_false_question/task_achieved_refined.yaml
  pyrit/datasets/scorer_evals/harm/bias.csv
  pyrit/datasets/scorer_evals/harm/exploit.csv
  pyrit/datasets/scorer_evals/harm/exploits.csv
  pyrit/datasets/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/scorer_evals/harm/hate_speech_multi_score.csv
  pyrit/datasets/scorer_evals/harm/info_integrity.csv
  pyrit/datasets/scorer_evals/harm/mini_hate_speech.csv
  pyrit/datasets/scorer_evals/harm/privacy.csv
  pyrit/datasets/scorer_evals/harm/self_harm.csv
  pyrit/datasets/scorer_evals/harm/sexual.csv
  pyrit/datasets/scorer_evals/harm/violence.csv
  pyrit/datasets/scorer_evals/harm/violence_multi_score.csv
  pyrit/datasets/scorer_evals/objective/bias.csv
  pyrit/datasets/scorer_evals/objective/exploit.csv
  pyrit/datasets/scorer_evals/objective/exploits.csv
  pyrit/datasets/scorer_evals/objective/hate_speech.csv
  pyrit/datasets/scorer_evals/objective/info_integrity.csv
  pyrit/datasets/scorer_evals/objective/privacy.csv
  pyrit/datasets/scorer_evals/objective/self_harm.csv
  pyrit/datasets/scorer_evals/objective/sexual.csv
  pyrit/datasets/scorer_evals/objective/violence.csv
  pyrit/datasets/scorer_evals/refusal_scorer/refusal.csv
  pyrit/datasets/scorer_evals/sample/mini_refusal.csv
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer_eval_csv_schema.py
  tests/unit/score/test_scorer_evaluator.py
Due: website

Address PR review comments: quick fixes
  pyrit/backend/models/targets.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/routes/version.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/backend/test_attack_service.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
Due: website

Move video remix injection logic from AttackService to OpenAIVideoTarget
  pyrit/backend/services/attack_service.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_video_target.py
Due: website

Address remaining review comments: UTC datetimes, persist guard, docs
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/services/attack_service.py
  pyrit/setup/initializers/airt_targets.py
Due: website

Fix change_main_conversation to move old main to PRUNED not ADVERSARIAL
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

Validate target_conversation_id belongs to attack in add_message_async
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

Persist updated_at in change_main_conversation_async
  pyrit/backend/services/attack_service.py
Due: website

Add comment explaining HTTPS-only check for Azure Blob URLs
  pyrit/backend/mappers/attack_mappers.py
Due: website

Add score_type and score_category to Score DTO, support true_false scores
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
  tests/unit/backend/test_mappers.py
Due: website

Replace 'stamp on' wording with 'attach to' for labels
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
Due: website

added first iteration of the cot hijacking attack strategy
  pyrit/datasets/executors/cot_hijacking/puzzle_generation_category_theory.yaml
  pyrit/datasets/executors/cot_hijacking/puzzle_generation_logic_grid.yaml
  pyrit/datasets/executors/cot_hijacking/puzzle_generation_logic_grid_enhanced.yaml
  pyrit/datasets/executors/cot_hijacking/puzzle_generation_skyscrapers.yaml
  pyrit/datasets/executors/cot_hijacking/puzzle_generation_skyscrapers_memetic.yaml
  pyrit/datasets/executors/cot_hijacking/puzzle_generation_sudoku.yaml
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/cot_hijacking.py
  tests/unit/executor/attack/multi_turn/test_cot_hijacking.py
Due: website

merging main
  pyrit/identifiers/__init__.py
  pyrit/identifiers/atomic_attack_identifier.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
Due: website

adding attackExecutorResult for tracking
  pyrit/executor/attack/core/attack_executor.py
  pyrit/identifiers/__init__.py
  pyrit/identifiers/atomic_attack_identifier.py
  pyrit/identifiers/evaluation_identity.py
  pyrit/models/scenario_result.py
  pyrit/scenario/core/atomic_attack.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluation_identity.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: website

adding harm category analysis and initial dataframe visualization
  doc/code/analytics/1_result_analysis.ipynb
  doc/code/analytics/1_result_analysis.py
  pyrit/analytics/result_analysis.py
  tests/unit/analytics/test_result_analysis.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

adding to db
  pyrit/identifiers/atomic_attack_identifier.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
Due: website

updating api.rst
  doc/api.rst
  doc/code/memory/3_memory_data_types.md
Due: check-links, validate-jupyter-book

[WIP] MAINT Bump npm deps: minimatch >=9.0.7 (via eslint 10, jest 30)
  frontend/package-lock.json
  frontend/package.json
Due: none

FEAT Add HarmfulQA dataset loader (#1421)
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_loading_datasets.py
  pyproject.toml
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/harmful_qa_dataset.py
  tests/unit/datasets/test_harmful_qa_dataset.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
