Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

adding notebook example
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
Due: remove-notebook-headers, check-links, website

fixing toc
  doc/_toc.yml
Due: none

beginnning to fix unit tests
  pyrit/memory/memory_interface.py
  tests/unit/models/test_seed_prompt.py
Due: website

fixed seed prompt unit test
  tests/unit/models/test_seed_prompt.py
Due: website

remove OR, fix unit tests, pre-commit
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website

adding example into cookbook notebook and small precommit
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
Due: remove-notebook-headers, check-links, website

added new unit tests
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_piece.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/test_prompt_normalizer.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, check-links, website

add authors, groups
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

only include examples where image fetch is successful
  pyrit/datasets/harmbench_multimodal_dataset.py
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

update integration test
  tests/integration/datasets/test_fetch_datasets.py
Due: website

Update api.rst
  doc/api.rst
Due: none

Update __init__.py
  pyrit/orchestrator/__init__.py
Due: website

PR feedback and tests
  doc/cookbooks/1_sending_prompts.py
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/promptgen/fuzzer.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/markdown_injection.py
  pyrit/score/true_false/prompt_shield_scorer.py
  pyrit/score/true_false/question_answer_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/substring_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  pyrit/score/true_false/true_false_scorer.py
  pyrit/score/true_false/video_true_false_scorer.py
  tests/unit/executor/attack/core/test_attack_config.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_true_false_composite_scorer.py
  tests/unit/score/test_true_false_score_aggregator.py
Due: check-links, website

basic docs for scanner
  doc/_toc.yml
  doc/code/scanner/0_scanner.md
  doc/code/scanner/1_configuration.md
  doc/code/scanner/2_examples.md
  scanner_configurations/README.md
Due: check-links

simplify by removing second markdown file
  doc/_toc.yml
  doc/code/scanner/0_scanner.md
  doc/code/scanner/1_configuration.md
  doc/code/scanner/2_examples.md
Due: check-links

Making sure aggregators are consistent
  doc/code/scoring/4_likert_scorers.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  tests/unit/score/test_true_false_composite_scorer.py
Due: remove-notebook-headers, check-links, website

moving through notebooks
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/4_likert_scorers.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/models/__init__.py
  pyrit/models/prompt_request_response.py
  pyrit/score/batch_scorer.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  tests/integration/score/test_scorer_notebooks.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/score/test_true_false_composite_scorer.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, check-links, website

moving through notebooks
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/insecure_code_scorer.ipynb
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/score/test_video_scorer.py
Due: remove-notebook-headers, website

addressing feedback adding unit tests
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/memory/memory_interface.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website

fixing bug with validator
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/5_memory_labels.ipynb
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/4_likert_scorers.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/insecure_code_scorer.ipynb
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/true_false_batch_scoring.py
  doc/code/targets/2_custom_targets.ipynb
  doc/code/targets/realtime_target.ipynb
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  pyrit/score/batch_scorer.py
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/score/config/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/integration/score/test_hitl_gradio_integration.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
  tests/unit/score/test_video_scorer.py
Due: remove-notebook-headers, check-links, website

fixing bug with test
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, website

FIX: Bug with responses integration test (#1121)
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, website

rename harm categories
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/test_prompt_normalizer.py
  tests/unit/test_prompt_request_piece.py
Due: website

fixing cookbooks
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/9_exporting_data.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/targets/2_custom_targets.ipynb
  doc/code/targets/realtime_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/3_copyright_violations.ipynb
  pyrit/memory/memory_models.py
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/integration/targets/test_target_filters.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
Due: remove-notebook-headers, website

Fixing azure sql bug
  pyrit/memory/azure_sql_memory.py
Due: website

Update doc/code/scanner/0_scanner.md
  doc/code/scanner/0_scanner.md
Due: check-links

Adding annotations and updating docstrings
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
Due: website

woops mypy errors
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
Due: website

precommit
  pyrit/memory/sqlite_memory.py
Due: website

minor edits, precommit
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
Due: remove-notebook-headers, check-links, website

pre-commit
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

FIX: Fixing azure sql bug (#1122)
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
Due: website

remove reference to removed file
  scanner_configurations/README.md
Due: none

Address PR feedback
  doc/code/scanner/1_configuration.md
Due: check-links

precommit
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
Due: remove-notebook-headers

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
