Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

Fixing sorting for dataset init imports
  pyrit/datasets/__init__.py
Due: website

made new directory for eval datasets
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/exploit_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/hate_speech_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/information_integrity_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/privacy_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/self_harm_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/sexual_content_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/violence_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/exploit_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/violence_eval_dataset.csv
Due: none

fixed notebook paths
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/violence_eval_dataset.csv
Due: remove-notebook-headers, check-links, website

foundry updates
  pyrit/models/message.py
  pyrit/models/prompt_request_response.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_attack_strategy.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  pyrit/score/scorer.py
  pyrit/score/true_false/decoding_scorer.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/score/test_decoding_scorer.py
Due: website

Updating Foundry Scenario
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/datasets/harmbench_dataset.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_attack_strategy.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, check-links, website

add validation for context with objective and seed prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

fixing precommit
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_attack_strategy.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: remove-notebook-headers, check-links, website

update integration tests to unify between sora versions, fix validation logic for openai
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

incorporating PR feedback
  .env_example
  .env_local_example
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

test fixes
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_scenario.py
Due: website

address remaining PR feedback around validation
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/unit/target/test_sora_target.py
Due: website

add documentation to notebooks
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  pyrit/datasets/seed_prompts/illegal-multimodal-objective-group.prompt
  pyrit/datasets/seed_prompts/illegal-objective-only-group.prompt
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/models/seed.py
  pyrit/models/seed_objective.py
  pyrit/models/seed_prompt_dataset.py
Due: remove-notebook-headers, check-links, website

fix test
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

PR feedback
  doc/code/scenarios/scenarios.ipynb
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: remove-notebook-headers, website

more pr feedback
  doc/code/scenarios/scenarios.ipynb
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_attack_run.py
Due: remove-notebook-headers, website

FEAT: Updating Foundry Scenario (#1145)
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/datasets/harmbench_dataset.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_attack_strategy.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, check-links, website

added results folder as default saving location. Also added true label into results csv
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

MAINT: Relaxing websockets and numpy dependencies (#1143)
  pyproject.toml
Due: none

fixing tests
  pyrit/scenarios/__init__.py
  tests/unit/score/test_float_scale_threshold_scorer.py
Due: website

pre-commit issues
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

precommit
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

Adding decoding scorer
  pyrit/analytics/__init__.py
  pyrit/analytics/text_matching.py
  pyrit/memory/memory_interface.py
  pyrit/models/message.py
  pyrit/score/__init__.py
  pyrit/score/aggregator_utils.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/scorer.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/decoding_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/analytics/test_text_matching.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/score/test_decoding_scorer.py
  tests/unit/score/test_substring.py
Due: website

precommit
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
Due: remove-notebook-headers, check-links, website

pre-commit
  pyrit/score/true_false/decoding_scorer.py
  tests/unit/analytics/test_text_matching.py
Due: website

pr review
  pyrit/analytics/text_matching.py
  pyrit/memory/memory_interface.py
  pyrit/score/true_false/decoding_scorer.py
Due: website

precommit
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

Adding URL validation for openai responses targets
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

pr review
  pyrit/analytics/text_matching.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/decoding_scorer.py
Due: website

merging in latest changes to main
  doc/_toc.yml
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/conversation_scorer.py
Due: remove-notebook-headers, check-links, website

updating documentation
  doc/code/configuration/0_configuration.ipynb
  doc/code/configuration/default_values.md
  doc/code/configuration/pyrit_initializer.ipynb
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/scenarios/default_values.ipynb
  doc/code/scenarios/default_values.py
  doc/code/scenarios/pyrit_initialization.ipynb
  doc/setup/populating_secrets.md
  pyrit/setup/initialization.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/simple.py
Due: remove-notebook-headers, check-links, website

updating tests
  doc/code/configuration/pyrit_initializer.ipynb
  pyrit/setup/initialization_paths.py
  tests/unit/common/test_pyrit_default_value.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_initialization.py
  tests/unit/setup/test_initialization_paths.py
  tests/unit/setup/test_initializer_base.py
  tests/unit/setup/test_simple_initializer.py
Due: remove-notebook-headers, website

Update pyrit/analytics/text_matching.py
  pyrit/analytics/text_matching.py
Due: website

rename notebook
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
Due: remove-notebook-headers, check-links, website

whitespace changes
  pyrit/models/seed_dataset.py
  pyrit/models/seed_group.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
