Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

refactor: decouple API DTOs from internal PyRIT identifier objects
  .github/instructions/style-guide.instructions.md
  pyrit/backend/main.py
  pyrit/backend/mappers/__init__.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/mappers/converter_mappers.py
  pyrit/backend/mappers/target_mappers.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/converters.py
  pyrit/backend/models/targets.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/routes/targets.py
  pyrit/backend/services/attack_service.py
  pyrit/backend/services/converter_service.py
  pyrit/backend/services/target_service.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_converter_service.py
  tests/unit/backend/test_main.py
  tests/unit/backend/test_mappers.py
  tests/unit/backend/test_target_service.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
Due: website

Refactor and test a little
  pyrit/executor/attack/single_turn/beam_search.py
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

One more extra check
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Several more tests
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Some better behaviour
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Sort imports
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Draft a notebook
  doc/code/executor/attack/beam_search_attack.py
Due: check-links, validate-jupyter-book, website

Some more sanity checks
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Constructor tests
  pyrit/executor/attack/single_turn/beam_search.py
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

pre-commit fixes
  doc/_toc.yml
  doc/code/executor/attack/beam_search_attack.py
Due: check-links, validate-jupyter-book, website

Adding notebook (unexecuted)
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Another effort at the linting
  doc/code/executor/attack/beam_search_attack.ipynb
  doc/code/executor/attack/beam_search_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Trim trailing non-printables from the grammar
  pyrit/executor/attack/single_turn/beam_search.py
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Switch to str.isprintable()
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Preserve message roles for frontend and add drift detection tests
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_converter_service.py
  tests/unit/backend/test_mappers.py
Due: website

Update video target
  pyrit/models/message.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_video_target.py
Due: website

fix py310 test with mime type for wav
  tests/unit/backend/test_mappers.py
Due: website

fix ruff
  tests/unit/backend/test_mappers.py
Due: website

tests
  tests/unit/scenarios/test_jailbreak.py
Due: website

Update naming and imports
  doc/code/targets/4_openai_video_target.ipynb
  doc/code/targets/4_openai_video_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/integration/targets/test_targets_and_secrets.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

new strategies
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

adversarial chat
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

roleplay path
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

roleplay
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

fix: cross-platform reliability for backend startup and e2e tests
  frontend/dev.py
  frontend/e2e/api.spec.ts
  frontend/playwright.config.ts
  frontend/vite.config.ts
  pyrit/backend/main.py
  pyrit/cli/pyrit_backend.py
  tests/unit/backend/test_main.py
  uv.lock
Due: website

refactor: improve type safety and fix mypy errors across mappers
  pyrit/backend/mappers/__init__.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/mappers/converter_mappers.py
  pyrit/backend/mappers/target_mappers.py
  pyrit/cli/pyrit_backend.py
  pyrit/models/attack_result.py
  pyrit/registry/instance_registries/converter_registry.py
  pyrit/registry/instance_registries/target_registry.py
  tests/unit/backend/test_mappers.py
Due: website

Address PR feedback
  doc/code/executor/agent_security/0_agent_security.md
  doc/code/executor/agent_security/sensitive_data_access_attack.ipynb
  doc/code/executor/agent_security/sensitive_data_access_attack.py
  docker/agent-sandbox/plant_canaries.py
  pyrit/datasets/seed_datasets/local/agentic/__init__.py
  pyrit/datasets/seed_datasets/local/agentic/sensitive_data_access.prompt
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/single_turn/__init__.py
  pyrit/executor/attack/single_turn/agent_security.py
  tests/unit/executor/attack/single_turn/test_agent_security.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Regenerate notebook after upgrading pygments
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Fixes from pre-commit
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Copy metadata block from another notebook
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Decoupled ScenarioMetadata and InitializerMetadata from Identity by introducing RegistryEntry
  pyrit/registry/__init__.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/registry/test_base.py
Due: website

Wire frontend attack view to backend APIs
  frontend/dev.py
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/api.spec.ts
  frontend/e2e/chat.spec.ts
  frontend/e2e/config.spec.ts
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/MessageList.test.tsx
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/Config/CreateTargetDialog.test.tsx
  frontend/src/components/Config/CreateTargetDialog.tsx
  frontend/src/components/Config/TargetConfig.test.tsx
  frontend/src/components/Config/TargetConfig.tsx
  frontend/src/components/Layout/MainLayout.test.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.test.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/messageMapper.test.ts
  frontend/src/utils/messageMapper.ts
  pyrit/backend/main.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/mappers/target_mappers.py
  pyrit/backend/models/attacks.py
  pyrit/backend/models/targets.py
  pyrit/backend/routes/targets.py
  pyrit/backend/services/attack_service.py
  pyrit/backend/services/target_service.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_backend.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_main.py
  tests/unit/backend/test_mappers.py
  tests/unit/backend/test_target_service.py
  tests/unit/cli/test_frontend_core.py
Due: website

FEAT Add JailBreakV-28K dataset
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/jailbreakv_dataset.py
  tests/unit/datasets/test_jailbreakv_dataset.py
Due: website

Rename WordDoc_Converter; add WordDoc tests
  pyproject.toml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/word_doc_converter.py
  tests/unit/converter/test_word_doc_converter.py
Due: website

test fixes
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

precommit
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

scoping to seed
  doc/api.rst
  pyrit/models/__init__.py
  pyrit/models/seeds/__init__.py
  pyrit/models/seeds/seed_attack_technique_group.py
  tests/unit/models/test_seed_attack_technique_group.py
  uv.lock
Due: validate-jupyter-book, website

updated naming to be more clear
  pyrit/registry/base.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  tests/unit/registry/test_base.py
Due: website
