Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

updating tests
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_interface/infrastructure_mixin.py
  pyrit/memory/memory_interface/interface.py
  pyrit/memory/memory_interface/protocol.py
  pyrit/memory/memory_interface/seed_prompts_mixin.py
  tests/unit/memory/__init__.py
  tests/unit/memory/memory_interface/__init__.py
  tests/unit/memory/memory_interface/conftest.py
  tests/unit/memory/memory_interface/test_attack_results.py
  tests/unit/memory/memory_interface/test_export.py
  tests/unit/memory/memory_interface/test_infrastructure.py
  tests/unit/memory/memory_interface/test_prompts.py
  tests/unit/memory/memory_interface/test_scores.py
  tests/unit/memory/memory_interface/test_seed_prompts.py
  tests/unit/memory/test_memory_interface.py
Due: website

pre-commit hooks on docs, adding a bit more to the 0_attack.md content
  doc/code/attacks/0_attack.md
  doc/code/attacks/1_prompt_sending_attack.ipynb
  doc/code/attacks/1_prompt_sending_attack.py
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/auxiliary_attacks/0_auxiliary_attacks.py
  doc/code/converters/2_using_converters.ipynb
  doc/code/converters/2_using_converters.py
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
Due: remove-notebook-headers, check-links, website

addressed comments
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

add attack to 3 more converter docs: ansi, char_swap, and math_prompt_converter
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/ansi_attack_converter.py
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/converters/math_prompt_converter.py
Due: remove-notebook-headers, check-links, website

fixing precommit issues
  pyrit/score/batch_scorer.py
  tests/unit/score/test_batch_scorer.py
Due: website

fixing precommit issues
  pyrit/attacks/base/attack_executor.py
Due: website

pre-commit hook updates
  doc/code/attacks/1_prompt_sending_attack.ipynb
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/ansi_attack_converter.py
  doc/code/converters/char_swap_attack_converter.ipynb
Due: remove-notebook-headers, check-links, website

fixing precommit issues
  tests/unit/score/test_batch_scorer.py
Due: website

Fix bug in PDF Converter, update docs to use attack for pdf_converter and 2_fetch_dataset
  doc/code/converters/pdf_converter.ipynb
  doc/code/converters/pdf_converter.py
  doc/code/datasets/2_fetch_dataset.ipynb
  doc/code/datasets/2_fetch_dataset.py
  pyrit/prompt_converter/pdf_converter.py
Due: remove-notebook-headers, check-links, website

More docs changed: 5_memory_labels and 7_azure_sql_memory_orchestrators (renamed to _attacks)(this one has a bug in DB that needs to be fixed before running)
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/5_memory_labels.py
  doc/code/memory/7_azure_sql_memory_attacks.py
Due: remove-notebook-headers, check-links, website

MAINT refactored Scoring Orchestrator (#1044)
  pyrit/score/__init__.py
  pyrit/score/batch_scorer.py
  tests/unit/score/test_batch_scorer.py
Due: website

tests passing
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface/attack_results_mixin.py
  pyrit/memory/memory_interface/export_mixin.py
  pyrit/memory/memory_interface/infrastructure_mixin.py
  pyrit/memory/memory_interface/interface.py
  pyrit/memory/memory_interface/prompts_mixin.py
  pyrit/memory/memory_interface/protocol.py
  pyrit/memory/memory_interface/scores_mixin.py
  pyrit/memory/memory_interface/seed_prompts_mixin.py
  tests/unit/analytics/test_conversation_analytics.py
  tests/unit/memory/memory_interface/test_seed_prompts.py
Due: website

FEAT Add JailbreakBench/JBB-Behaviors dataset #1008
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

add notebook
  assets/attack_bomb_question.jpg
  assets/benign_cake_question.jpg
  doc/_config.yml
  doc/_static/custom.css
  doc/_toc.yml
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/converters/transparency_attack_converter.py
  pyproject.toml
  pyrit/prompt_converter/transparency_attack_converter.py
  tests/unit/converter/test_transparency_attack_converter.py
Due: remove-notebook-headers, check-links, website

pre-commit
  pyrit/memory/duckdb_memory.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface/infrastructure_mixin.py
  pyrit/memory/memory_interface/prompts_mixin.py
  pyrit/memory/memory_interface/protocol.py
  pyrit/memory/memory_interface/seed_prompts_mixin.py
  tests/unit/memory/__init__.py
  tests/unit/memory/memory_interface/__init__.py
  tests/unit/memory/memory_interface/conftest.py
  tests/unit/memory/memory_interface/test_attack_results.py
  tests/unit/memory/memory_interface/test_export.py
  tests/unit/memory/memory_interface/test_infrastructure.py
  tests/unit/memory/memory_interface/test_scores.py
  tests/unit/memory/memory_interface/test_seed_prompts.py
Due: website

FEAT Introduce Flexible Attack Strategy Architecture with Type-Safe Overloads
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/single_turn/anecdoctor.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/cli/ll.py
  pyrit/common/__init__.py
  pyrit/common/utils.py
  tests/unit/attacks/test_anecdoctor.py
  tests/unit/attacks/test_attack_executor.py
Due: website

Remove accidentally committed ll.py file
  pyrit/cli/ll.py
Due: website

updated docstrings for AnecdoctorAttack overloaded signatures
  pyrit/attacks/single_turn/anecdoctor.py
Due: website

fixed flip attack system prompt bug
  pyrit/attacks/single_turn/flip_attack.py
Due: website

test change
  tests/unit/attacks/test_flip_attack.py
Due: website

FIX: passing in target for update_conversation_state_async (#1048)
  pyrit/attacks/single_turn/flip_attack.py
  tests/unit/attacks/test_flip_attack.py
Due: website

Update test_fetch_datasets.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

Update test_memory_exporter.py
  tests/unit/memory/test_memory_exporter.py
Due: website

fixed tests
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

use_fast tokenizer = True, new _update_ids() using apply_chat_template
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: website

adding device mapping for mps, set use_fast = True for tokenizer param
  pyrit/auxiliary_attacks/gcg/experiments/train.py
Due: website

gitignore mlruns results
  .gitignore
Due: none

fixed
  pyrit/datasets/fetch_jbb_behaviors.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jbb_behaviors.py
Due: website

refactor memory interface
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/printers/console_printer.py
  pyrit/memory/memory_interface.py
  pyrit/orchestrator/fuzzer_orchestrator.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/orchestrator_class.py
  tests/unit/memory/__init__.py
  tests/unit/memory/memory_interface/conftest.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_core.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/memory/test_memory_exporter.py
  tests/unit/memory/test_memory_interface.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

add unit tests and update tap notebook
  doc/code/orchestrators/tree_of_attacks_with_pruning.ipynb
  doc/code/orchestrators/tree_of_attacks_with_pruning.py
  pyrit/datasets/orchestrators/tree_of_attacks/image_generation.yaml
  tests/unit/attacks/test_tree_of_attacks.py
Due: remove-notebook-headers, check-links, website

FEAT added batch execution for multi-turn and single-turn attacks
  pyrit/attacks/base/attack_executor.py
  tests/unit/attacks/test_attack_executor.py
Due: website

minor fix in GCG notebook to load env vars
  doc/code/auxiliary_attacks/1_gcg_azure_ml.ipynb
  doc/code/auxiliary_attacks/1_gcg_azure_ml.py
Due: remove-notebook-headers, check-links, website

accept TOS for conda channels
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
Due: none

add role and separate seed_prompt_group and seed_prompt_dataset
  pyrit/attacks/base/attack_context.py
  pyrit/cli/__main__.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multiple-multiturn-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multiturn-group.prompt
  pyrit/datasets/seed_prompts/illegal.prompt
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/models/seed_prompt_group.py
  pyrit/orchestrator/orchestrator_class.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/test_normalizer_request.py
  tests/unit/test_prompt_normalizer.py
Due: website

addressed comments
  pyrit/attacks/base/attack_executor.py
Due: website

FEAT Github Copilot Default Instructions (Style/Unit Tests)
  .github/instructions/style-guide.instructions.md
  .github/instructions/unittests.instructions.md
Due: none

FEAT added batch execution for multi-turn and single-turn attacks (#1051)
  pyrit/attacks/base/attack_executor.py
  tests/unit/attacks/test_attack_executor.py
Due: website

fixed precommit issues
  .github/instructions/style-guide.instructions.md
  .github/instructions/unittests.instructions.md
Due: none

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
