Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

updates to notebooks with sync issues
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  doc/code/targets/realtime_target.ipynb
  tests/unit/target/test_tts_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

last fixes
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  doc/code/targets/realtime_target.ipynb
  tests/unit/target/test_tts_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT Breaking: Removing skip criteria (#1236)
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/models/filter_criteria.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FIX: Jailbreak Converter Bug (#1237)
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2.yaml
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2_5_max.yaml
  pyrit/datasets/jailbreak/templates/pliny/apple/siri_chatgpt.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_1_5_pro_experimental_0801.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_flash_thinking_exp.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_pro_experimental.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1114.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1206_flash_2_0.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/llama_3_1_nemotron_70b.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/nemotron_7_340b.yaml
  pyrit/datasets/jailbreak/templates/pliny/openai/chatgpt_tasks.yaml
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/models/seed.py
  tests/unit/datasets/test_jailbreak_text.py
  tests/unit/models/test_seed.py
Due: website

add MathObfuscationConverter to API reference
  doc/api.rst
  doc/code/converters/math_obfuscation_converter.ipynb
  pyrit/prompt_converter/__init__.py
Due: remove-notebook-headers, validate-jupyter-book, website

run pre-commit hooks
  pyrit/prompt_converter/math_obfuscation_converter.py
  tests/unit/converter/test_math_obfuscation_converter.py
Due: website

FEAT: add MathObfuscationConverter (#1231)
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/math_obfuscation_converter.py
  tests/unit/converter/test_math_obfuscation_converter.py
Due: validate-jupyter-book, website

mypy fixes
  pyrit/common/default_values.py
Due: website

change to pip install
  .github/workflows/build_and_test.yml
  integration-tests.yml
Due: none

use sync
  .github/workflows/build_and_test.yml
  integration-tests.yml
Due: none

Fixing jailbreak content
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2.yaml
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2_5_max.yaml
  pyrit/datasets/jailbreak/templates/pliny/apple/siri_chatgpt.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_1_5_pro_experimental_0801.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_flash_thinking_exp.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_pro_experimental.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1114.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1206_flash_2_0.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/llama_3_1_nemotron_70b.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/nemotron_7_340b.yaml
  pyrit/datasets/jailbreak/templates/pliny/openai/chatgpt_tasks.yaml
Due: none

use extra
  .github/workflows/build_and_test.yml
Due: none

Adding scenario e2e tests nightly
  Makefile
  end-to-end-tests.yml
  tests/end_to_end/test_scenarios.py
Due: website

explicit dev
  .github/workflows/build_and_test.yml
Due: none

test all
  .github/workflows/build_and_test.yml
  component-governance.yml
Due: none

list
  .github/workflows/build_and_test.yml
Due: none

updating build
  build_scripts/env_local_integration_test
  tests/end_to_end/__init__.py
  tests/end_to_end/test_scenarios.py
Due: website

only dev
  .github/workflows/build_and_test.yml
Due: none

update cmd
  .github/workflows/build_and_test.yml
  Makefile
Due: none

addopts
  pyproject.toml
Due: none

precommit
  doc/code/scoring/persuasion_full_conversation_scorer.py
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/score/conversation_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

dependency groups
  pyproject.toml
Due: none

MAINT: Better exception messages and error handling
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/exceptions/exception_classes.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/scorer.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  tests/integration/targets/test_target_filters.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_float_scale_score_aggregator.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
Due: remove-notebook-headers, validate-jupyter-book, website

explicit python path
  .github/workflows/build_and_test.yml
  pyproject.toml
Due: none

explicit python path
  .github/workflows/build_and_test.yml
Due: none

precommit
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Initializer doc fix
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

update git pipeline
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

update var
  .github/workflows/build_and_test.yml
Due: none

precommit
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

reverting notebooks
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

add uv env
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

add cache dir
  .github/workflows/build_and_test.yml
Due: none

syntax
  .github/workflows/build_and_test.yml
Due: none

remove re-assignment
  .devcontainer/docker-compose.yml
  .github/workflows/build_and_test.yml
Due: none

model name
  build_scripts/env_local_integration_test
Due: none

Foundry Scenario Update
  pyrit/scenario/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
