Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

update examples
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/8_seed_prompt_database.py
  pyrit/cli/__main__.py
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multiple-multiturn-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multiturn-group.prompt
  pyrit/datasets/seed_prompts/illegal.prompt
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/models/seed_prompt_group.py
  tests/unit/models/test_seed_prompt.py
Due: check-links, website

execute cookbook and pdf_converter nb once more
  doc/code/converters/pdf_converter.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
Due: remove-notebook-headers, check-links, website

initial commit adding sqldb
  tests/unit/memory/test_duckdb_memory.py
Due: website

add image
  doc/code/targets/realtime_target.py
  pyrit/attacks/base/attack_executor.py
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/multimodal_data/roakey_potion.png
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/models/test_seed_prompt.py
  tests/unit/test_prompt_normalizer.py
Due: check-links, website

fixed integration tests
  MANIFEST.in
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  doc/code/targets/2_custom_targets.ipynb
  pyproject.toml
  pyrit/prompt_target/gandalf_target.py
  pyrit/score/gandalf_scorer.py
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
Due: remove-notebook-headers, check-links, website

Updating memory_interface score queries
  pyrit/attacks/components/conversation_manager.py
  pyrit/memory/memory_interface.py
  pyrit/orchestrator/models/orchestrator_result.py
  tests/unit/memory/conftest.py
  tests/unit/memory/memory_interface/conftest.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_core.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/memory/test_memory_exporter.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

precommit fixes
  doc/code/memory/1_duck_db_memory.ipynb
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/2_basic_memory_programming.py
  doc/code/memory/4_manually_working_with_memory.md
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/cookbooks/1_sending_prompts.py
Due: remove-notebook-headers, check-links, website

added extra notebooks changed
  doc/_toc.yml
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/9_exporting_data.ipynb
  doc/code/memory/azure_embeddings.ipynb
  pyproject.toml
  pyrit/show_versions.py
Due: remove-notebook-headers, website

adding notebook py files
  doc/code/memory/1_duck_db_memory.ipynb
  doc/code/memory/2_basic_memory_programming.py
  doc/code/memory/5_memory_labels.py
  doc/code/memory/6_azure_sql_memory.py
  doc/code/memory/7_azure_sql_memory_orchestrators.py
  doc/code/memory/8_seed_prompt_database.py
  doc/code/memory/9_exporting_data.py
Due: remove-notebook-headers, check-links, website

removed duckdb, left warning in place
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/8_seed_prompt_database.py
  pyrit/memory/duckdb_memory.py
Due: remove-notebook-headers, check-links, website

nbstripout
  doc/code/targets/2_custom_targets.ipynb
Due: remove-notebook-headers

fix unit tests
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/5_memory_labels.py
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
  pyrit/common/__init__.py
  pyrit/common/initialization.py
  tests/integration/ai_recruiter/test_ai_recruiter.py
Due: remove-notebook-headers, check-links, website

fixed scorer to fit with sqlite
  pyrit/score/self_ask_general_scorer.py
Due: website

FIX: Minor fixes for integration tests (#1055)
  MANIFEST.in
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  doc/code/targets/2_custom_targets.ipynb
  pyproject.toml
  pyrit/prompt_target/gandalf_target.py
  pyrit/score/gandalf_scorer.py
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
Due: remove-notebook-headers, check-links, website

pre-commit hook runthru again
  doc/_toc.yml
  doc/code/converters/pdf_converter.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/common/display_response.py
  tests/integration/memory/test_notebooks_memory.py
  tests/unit/converter/test_pdf_converter.py
Due: remove-notebook-headers, website

Updating links to point to attacks/0_attack.md instead of orchestrators/0_orchestrator.md. Leaving one reference in there for index.md so Jupyter Book builds.
  doc/code/architecture.md
  doc/code/targets/0_prompt_targets.md
  doc/index.md
Due: check-links

pre-commit hook
  pyrit/common/display_response.py
Due: website

precommit
  tests/unit/memory/__init__.py
  tests/unit/memory/conftest.py
Due: website

add check for role in seedprompts with same sequence
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/8_seed_prompt_database.py
  pyrit/cli/__main__.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multiple-multiturn-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multiturn-group.prompt
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/models/seed_prompt_group.py
  tests/unit/models/test_seed_prompt.py
Due: check-links, website

Potential fix for code scanning alert no. 9: Clear-text logging of sensitive information
  doc/deployment/score_aml_endpoint.py
Due: website

removing mps mapping, undo use_fast override in train.py
  pyrit/auxiliary_attacks/gcg/experiments/train.py
Due: website

rm fastchat, detect assistant role slice
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: website

Add code/attacks files to _toc.yml, add mermaid diagrams to 0_attack.md, tweak colors to be more contrast in 10_schema_diagram, modify mermaid syntax in contributing/README.md
  doc/_toc.yml
  doc/code/attacks/0_attack.md
  doc/code/memory/10_schema_diagram.md
  doc/contributing/README.md
Due: check-links

MAINT: Breaking Refactoring MemoryInterface Scores Functions (#1056)
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/printers/console_printer.py
  pyrit/memory/memory_interface.py
  pyrit/orchestrator/fuzzer_orchestrator.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/orchestrator_class.py
  tests/unit/memory/__init__.py
  tests/unit/memory/memory_interface/conftest.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_core.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/memory/test_memory_interface.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

Fix malformed toc
  doc/_toc.yml
Due: none

Update mermaid diagram syntax
  doc/code/attacks/0_attack.md
  doc/code/memory/10_schema_diagram.md
  doc/contributing/README.md
Due: check-links

Remove old photo in favor of mermaid diagrams
  doc/code/attacks/pyrit_attack_architecture.png
Due: none

Remove sentence from index.md
  doc/index.md
Due: check-links

FIX for code scanning alert no. 9: Clear-text logging of sensitive information (#1058)
  doc/deployment/score_aml_endpoint.py
Due: website

fix tests
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/models/test_seed_prompt.py
  tests/unit/test_prompt_normalizer.py
  tests/unit/test_prompt_request_piece.py
Due: website

forgotten files
  pyrit/cli/__main__.py
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt_group.py
Due: website

display images with markdown
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/converters/transparency_attack_converter.py
Due: remove-notebook-headers, check-links, website

Fix PolicyScorer: refactor for new codebase, add comments, fix mypy errors, and add unit tests
  pyrit/score/policy_scorer.py
  tests/unit/score/test_policy_scorer.py
Due: website

temporary scoring fix
  pyrit/score/scorer.py
  tests/unit/score/test_scorer.py
Due: website

Fixing precommit issues
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_classes.py
  pyrit/executor/__init__.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/printer/__init__.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/core/__init__.py
  pyrit/executor/core/config.py
  pyrit/executor/core/strategy.py
  pyrit/executor/promptgen/__init__.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/promptgen/core/prompt_generator_strategy.py
  pyrit/models/strategy_result.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/executor/promptgen/test_anecdoctor.py
Due: website

FIX (TEMPORARY): Temporary scoring fix to only score first piece of multi-piece PromptRequestResponse (#1060)
  pyrit/score/scorer.py
  tests/unit/score/test_scorer.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
