Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

precommit
  tests/unit/scenarios/test_jailbreak.py
Due: website

Address PR review: importorskip guards, remove redundant __init__, fix validation
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
  pyrit/auxiliary_attacks/gcg/experiments/run.py
  tests/unit/auxiliary_attacks/gcg/test_attack_manager_helpers.py
  tests/unit/auxiliary_attacks/gcg/test_get_goals_and_targets.py
  tests/unit/auxiliary_attacks/gcg/test_log.py
  tests/unit/auxiliary_attacks/gcg/test_multi_prompt_attack.py
Due: website

yaml edit
  pyrit/datasets/prompt_converters/scientific_obfuscation_converter.yaml
Due: none

fix images
  Makefile
  pyrit/scenario/scenarios/airt/psychosocial.py
  tests/integration/targets/test_notebooks_targets.py
Due: website

fix test
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

max_dataset_size
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

Fix implicit relative import in run.py
  pyrit/auxiliary_attacks/gcg/experiments/run.py
Due: website

remove extra ignore
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

comments
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

FEAT: Jailbreak Scenario Expansion (#1340)
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

Address PR review: fix docstrings, lint, tests, and add documentation
  doc/code/converters/0_converters.ipynb
  doc/code/converters/5_file_converters.ipynb
  doc/code/converters/5_file_converters.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/word_doc_converter.py
  tests/unit/converter/test_word_doc_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Fix copyright header placement in word_doc_converter.py
  pyrit/prompt_converter/word_doc_converter.py
Due: website

Add WordDocConverter to api.rst documentation
  doc/api.rst
Due: validate-jupyter-book

FEAT Add WordDocConverter (#1368)
  doc/api.rst
  doc/code/converters/0_converters.ipynb
  doc/code/converters/5_file_converters.ipynb
  doc/code/converters/5_file_converters.py
  pyproject.toml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/word_doc_converter.py
  tests/unit/converter/test_word_doc_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: upgrade dependencies for Dependabot security alerts
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: none

update notebook
  doc/code/scenarios/0_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

pr feedback
  tests/unit/datasets/test_jailbreak_text.py
Due: website

MAINT: upgrade dependencies for Dependabot security alerts (#1382)
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: none

update uv lock
  uv.lock
Due: none

FEAT: Add modality support detection system for prompt targets
  pyrit/common/modality_discovery.py
  pyrit/identifiers/target_identifier.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/text_target.py
  tests/unit/prompt_target/test_modality_support_simple.py
Due: website

TRIGGER: Force GitHub PR interface refresh
  README.md
Due: none

CLEAN: Remove trigger line from README
  README.md
Due: none

FEAT: Add modality support detection with set[frozenset[PromptDataType]] architecture
  comprehensive_verification.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/text_target.py
  test_architecture.py
  test_modality_simple.py
  tests/unit/prompt_target/test_modality_support_clean.py
Due: website

CLEAN: Remove temporary verification scripts
  comprehensive_verification.py
  test_architecture.py
  test_modality_simple.py
Due: website

reformatted speed convertor to break down large method. Re-ran convertors notebook to populate new convertors.
  doc/code/converters/0_converters.ipynb
  pyrit/prompt_converter/audio_speed_converter.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixed missing Type parameters
  pyrit/prompt_converter/audio_speed_converter.py
Due: website

Address PR #1380 review comments
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_llama_2.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_llama_3.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_mistral.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_phi_3_mini.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_vicuna.yaml
  pyrit/auxiliary_attacks/gcg/experiments/train.py
Due: website

MAINT Clean up GCG code style and add unit tests (#1380)
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_llama_2.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_llama_3.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_mistral.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_phi_3_mini.yaml
  pyrit/auxiliary_attacks/gcg/experiments/configs/individual_vicuna.yaml
  pyrit/auxiliary_attacks/gcg/experiments/log.py
  pyrit/auxiliary_attacks/gcg/experiments/run.py
  pyrit/auxiliary_attacks/gcg/experiments/train.py
  tests/unit/auxiliary_attacks/__init__.py
  tests/unit/auxiliary_attacks/gcg/__init__.py
  tests/unit/auxiliary_attacks/gcg/test_attack_manager_helpers.py
  tests/unit/auxiliary_attacks/gcg/test_get_goals_and_targets.py
  tests/unit/auxiliary_attacks/gcg/test_log.py
  tests/unit/auxiliary_attacks/gcg/test_multi_prompt_attack.py
Due: website

add deprecation conversion
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/leakage.py
  pyrit/scenario/scenarios/airt/psychosocial.py
  pyrit/scenario/scenarios/airt/scam.py
Due: website

FEAT: add support for `image_path` data type in `WebSocketCopilotTarget` (#1345)
  doc/code/targets/10_3_websocket_copilot_target.ipynb
  doc/code/targets/10_3_websocket_copilot_target.py
  pyrit/common/data_url_converter.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/target/test_websocket_copilot_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

use class name for scenario name
  pyrit/scenario/core/scenario.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/leakage.py
  pyrit/scenario/scenarios/airt/psychosocial.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
  pyrit/scenario/scenarios/garak/encoding.py
Due: website

FEAT: Add SUPPORTED_OUTPUT_MODALITIES and make output method use variable
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/text_target.py
  tests/unit/prompt_target/test_modality_support_clean.py
Due: website

FEAT: Implement Roman's static API + verification architecture
  pyrit/common/modality_verification.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

fix: simplify reasoning display in console printer
  doc/code/targets/2_openai_responses_target.ipynb
  doc/code/targets/2_openai_responses_target.py
  pyrit/executor/attack/printer/console_printer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

feat: show reasoning summaries in console printer, improve notebook demo
  doc/code/targets/2_openai_responses_target.ipynb
  doc/code/targets/2_openai_responses_target.py
  pyrit/executor/attack/printer/console_printer.py
  tests/integration/targets/test_entra_auth_targets.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: respect include_reasoning_trace in console printer
  pyrit/executor/attack/printer/console_printer.py
Due: website

feat: add reasoning_effort and reasoning_summary to OpenAIResponseTarget
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
  tests/unit/target/test_openai_response_target.py
Due: website

docs: add reasoning configuration section to OpenAI Responses Target notebook
  doc/code/targets/2_openai_responses_target.ipynb
  doc/code/targets/2_openai_responses_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: use model_dump for reasoning sections, filter tool calls by data type, add Entra integration tests
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_entra_auth_targets.py
Due: website

fix: replace deprecated .role with .api_role in notebook and integration tests
  doc/code/targets/2_openai_responses_target.ipynb
  doc/code/targets/2_openai_responses_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
