Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

FEAT: Adding simulated_conversation and adding prepended_conversation to context (#1276)
  doc/api.rst
  doc/cookbooks/2_precomputing_turns.ipynb
  pyrit/common/path.py
  pyrit/datasets/executors/crescendo/crescendo_variant_1.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_2.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_3.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_4.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_5.yaml
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/executors/simulated_target/compliant.yaml
  pyrit/datasets/executors/tree_of_attacks/adversarial_system_prompt.yaml
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
Due: remove-notebook-headers, validate-jupyter-book, website

test fixc
  doc/code/converters/ansi_attack_converter.ipynb
  pyrit/scenario/core/dataset_configuration.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixing max
  pyrit/cli/frontend_core.py
  pyrit/scenario/core/dataset_configuration.py
  tests/unit/scenarios/test_dataset_configuration.py
Due: website

fixes
  pyrit/auth/copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/target/test_websocket_copilot_target.py
Due: website

Fixing bug with system prompt
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/executor/attack/component/test_conversation_manager.py
Due: website

fixing tests
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

adding validation for prompt_target prepended_conversation combos
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

FIX: Bug with prepended_conversation system prompt (#1289)
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/component/test_conversation_manager.py
Due: website

adding debugging to openaitarget
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

FEAT: adding underlying_model for target identification (#1234)
  .env_example
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

linting
  frontend/dev.py
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: website

AUTH FLOW improvements
  pyrit/auth/copilot_authenticator.py
Due: website

Restructuring JailbreakV dataset to work with overall dataset refactor
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/jailbreakv_28k_dataset.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

Pre-commit hooks
  pyrit/datasets/seed_datasets/remote/jailbreakv_28k_dataset.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

use mcr base image and install uv manually, mount env files from ~/.pyrit into the container
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  doc/code/converters/ansi_attack_converter.ipynb
Due: remove-notebook-headers, validate-jupyter-book

remove try-catch
  pyrit/prompt_converter/prompt_converter.py
Due: website

add ipykernel
  .devcontainer/devcontainer_setup.sh
Due: none

Adding simulated assistant role
  doc/code/converters/ansi_attack_converter.ipynb
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/chat_message.py
  pyrit/models/literals.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/models/seed_group.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/score/conversation_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/video_scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/test_literals.py
  tests/unit/test_message.py
  tests/unit/test_message_piece.py
Due: remove-notebook-headers, validate-jupyter-book, website

Adding deprecation version
  pyrit/models/message.py
Due: website

Apply suggestion from @romanlutz
  .devcontainer/devcontainer_setup.sh
Due: none

MAINT change devcontainer base image to python from MCR, mount .env* files into devcontainer (#1291)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
  doc/code/converters/ansi_attack_converter.ipynb
Due: remove-notebook-headers, validate-jupyter-book

pre-commit
  doc/code/converters/0_converters.ipynb
  doc/code/converters/2_audio_converters.ipynb
  doc/code/converters/5_file_converters.ipynb
Due: remove-notebook-headers, validate-jupyter-book

work in progress
  pyrit/datasets/seed_datasets/local/airt/psychosocial_dependency.prompt
  pyrit/datasets/seed_datasets/local/airt/psychosocial_vulnerability.prompt
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

pre-commit
  doc/code/converters/0_converters.ipynb
Due: remove-notebook-headers, validate-jupyter-book

`CopilotAuthenticator` tests
  pyrit/auth/copilot_authenticator.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_copilot_authenticator.py
Due: website

various fixes
  pyrit/auth/copilot_authenticator.py
  tests/unit/auth/test_copilot_authenticator.py
  tests/unit/target/test_websocket_copilot_target.py
  websocket_copilot_simple_example.py
Due: website

Don't need to quote self in type annotation
  pyrit/models/json_response_config.py
Due: website

Fix indent in docstring
  pyrit/prompt_target/common/prompt_chat_target.py
Due: website

Put links in docstring
  pyrit/models/json_response_config.py
Due: website

Better naming
  pyrit/models/json_response_config.py
Due: website

Update tests
  tests/unit/models/test_json_response_config.py
  tests/unit/target/test_openai_chat_target.py
Due: website

blacken
  tests/unit/target/test_openai_chat_target.py
Due: website

Another blacken
  pyrit/models/json_response_config.py
Due: website

Python 3.10 grrrr....
  pyrit/models/json_response_config.py
Due: website

Run isort
  pyrit/models/json_response_config.py
Due: website

Drafting a notebook update
  doc/code/targets/8_openai_responses_target.py
Due: check-links, validate-jupyter-book, website

Update notebook
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
