Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

BREAKING FEAT generalize OpenAISoraTarget to be compatible with Sora2 (#1126)
  .env_example
  .env_local_example
  pyrit/common/net_utility.py
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_sora_target.py
Due: website

break up function into smaller pieces, rename function
  pyrit/score/scorer_evaluation/krippendorff.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/score/test_scorer_evaluator.py
Due: website

tests for Krippendorff's alpha calculation
  tests/unit/score/test_krippendorff.py
Due: website

update docstring to credit simpledorff for implementation inspiration
  pyrit/score/scorer_evaluation/krippendorff.py
Due: website

Drafting a test
  tests/integration/targets/test_aoai_responses_cfg.py
Due: website

Hacking in the grammar usage
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Update test now that things hook up
  tests/integration/targets/test_aoai_responses_cfg.py
Due: website

Extra reference
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Fix type
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

addressing comments
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
Due: website

add tests and fix bugs
  .pre-commit-config.yaml
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
  pyrit/models/seed_dataset.py
  tests/unit/memory/memory_interface/memory_interface.py
  tests/unit/models/test_seed.py
Due: remove-notebook-headers, check-links, website

merge formatting
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
Due: remove-notebook-headers, check-links, website

Detect multiple grammars
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Add function and tool serializer
  pyrit/models/data_type_serializer.py
Due: website

Improve error in response parsing
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Tweak test
  tests/integration/targets/test_aoai_responses_cfg.py
Due: website

fix spacing
  tests/unit/models/test_seed.py
Due: website

FEAT: Adding Evaluation Datasets for Objective Scorers (#1134)
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/SAMPLE_mixed_objective_refusal.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/mixed_objective_refusal.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_09_22_2025/mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/exploit_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/hate_speech_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/information_integrity_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/privacy_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/self_harm_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/sexual_content_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/evaluation_datasets_10_21_2025/violence_eval_dataset.csv
  pyrit/score/config/true_false_question/exploits.yaml
  pyrit/score/config/true_false_question/hate_speech.yaml
  pyrit/score/config/true_false_question/information_integrity.yaml
  pyrit/score/config/true_false_question/privacy.yaml
  pyrit/score/config/true_false_question/self-harm.yaml
  pyrit/score/config/true_false_question/sexual_content.yaml
  pyrit/score/config/true_false_question/violence.yaml
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

Draft notebook update
  doc/code/targets/8_openai_responses_target.py
Due: check-links, website

Drafting notebook changes
  doc/code/targets/8_openai_responses_target.py
Due: check-links, website

[FIX] add tests and fix bugs (#1152)
  .pre-commit-config.yaml
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  pyrit/memory/memory_interface.py
  pyrit/models/seed_dataset.py
  tests/unit/memory/memory_interface/memory_interface.py
  tests/unit/models/test_seed.py
Due: remove-notebook-headers, check-links, website

Switch to pattern used in other tests
  tests/integration/targets/test_aoai_responses_cfg.py
Due: website

Tweak notebook
  doc/code/targets/8_openai_responses_target.py
Due: check-links, website

More tweaking
  doc/code/targets/8_openai_responses_target.py
Due: check-links, website

moving doc to notebook from md
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.md
  pyrit/scenarios/scenario_strategy.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/front_end/0_cli.ipynb
  pyrit/cli/__main__.py
Due: remove-notebook-headers, website

Fix linting?
  doc/code/targets/8_openai_responses_target.py
Due: check-links, website

FIX Add missing function and tool serializer (#1153)
  pyrit/models/data_type_serializer.py
Due: website

Linting
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

pre-commit, ran pdf converter notebook
  doc/code/converters/pdf_converter.ipynb
  pyrit/score/scorer_evaluation/krippendorff.py
  tests/unit/score/test_krippendorff.py
Due: remove-notebook-headers, website

nbstripout
  doc/code/converters/pdf_converter.ipynb
Due: remove-notebook-headers

FEAT: Replaced GPL/LGPL licensed dependencies with permissive alternate dependencies (#1125)
  doc/code/converters/pdf_converter.ipynb
  pyproject.toml
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/executor/workflow/xpia.py
  pyrit/prompt_converter/pdf_converter.py
  pyrit/score/scorer_evaluation/krippendorff.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/converter/test_pdf_converter.py
  tests/unit/score/test_krippendorff.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, website

regex fixes, comments
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

merge and minor comment edit
  pyrit/prompt_target/openai/openai_target.py
Due: website

pre-commit, add notebook (not fully working yet)
  build_scripts/check_links.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  tests/integration/targets/test_aoai_responses_cfg.py
Due: remove-notebook-headers, check-links, website

merging in scorer changes
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/executors/psychosocial_harm/escalation_crisis_v1.yaml
  pyrit/score/float_scale/conversation_scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
Due: remove-notebook-headers, check-links, website

MAINT: Adding URL validation for openai responses targets (#1148)
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_tts_target.py
Due: website

working notebook! needed gpt-5
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, website

remove integration test file because barely any scenario supports grammars. The notebook does the same.
  tests/integration/targets/test_aoai_responses_cfg.py
Due: website
