Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

TestParseRawMessage
  tests/unit/target/test_websocket_copilot_target.py
Due: website

finalizing things
  build_scripts/evaluate_scorers.py
  doc/code/scoring/scorer_metrics.ipynb
  pyrit/score/scorer.py
  pyrit/score/scorer_evals/refusal_scorer/refusal_evaluation_results.jsonl
  pyrit/score/scorer_evaluation/config_eval_datasets.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/scorer_identifier.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, validate-jupyter-book, website

test fix
  tests/unit/target/test_websocket_copilot_target.py
Due: website

TODO: use msal for auth
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

saving changes
  build_scripts/evaluate_scorers.py
  doc/code/scoring/8_scorer_metrics.ipynb
Due: remove-notebook-headers, validate-jupyter-book, website

add device code flow authentication method
  pyrit/auth/azure_auth.py
Due: website

add cache back for pyrit env
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

add build essential to allow make
  .devcontainer/Dockerfile
Due: none

selfasktruefalsescorerfix
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

re-use venv and fix makefile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
  Makefile
Due: none

revert make
  Makefile
Due: none

fix environment
  Makefile
Due: none

generalizing return types
  build_scripts/evaluate_scorers.py
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evals/objective_evaluation_results.jsonl
  pyrit/score/scorer_evals/refusal_scorer/refusal_evaluation_results.jsonl
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/scorer_identifier.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_identifier.py
  tests/unit/score/test_scorer_metrics.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FIX: set virtual env in docker dev setup (#1281)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  Makefile
Due: none

Revert "TODO: use msal for auth" -- as we need browser automation anyway because of `enterprise-prod-first-party-app-policy`
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Revert "add device code flow authentication method"
  pyrit/auth/azure_auth.py
Due: website

moving paths
  pyrit/common/path.py
  pyrit/datasets/scorer_evals/harm/exploit.csv
  pyrit/datasets/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/scorer_evals/harm/hate_speech_multi_score.csv
  pyrit/datasets/scorer_evals/harm/info_integrity.csv
  pyrit/datasets/scorer_evals/harm/mini_hate_speech.csv
  pyrit/datasets/scorer_evals/harm/privacy.csv
  pyrit/datasets/scorer_evals/harm/self_harm.csv
  pyrit/datasets/scorer_evals/harm/sexual.csv
  pyrit/datasets/scorer_evals/harm/violence.csv
  pyrit/datasets/scorer_evals/harm/violence_multi_score.csv
  pyrit/datasets/scorer_evals/objective/exploit.csv
  pyrit/datasets/scorer_evals/objective/hate_speech.csv
  pyrit/datasets/scorer_evals/objective/info_integrity.csv
  pyrit/datasets/scorer_evals/objective/objective_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/objective/privacy.csv
  pyrit/datasets/scorer_evals/objective/self_harm.csv
  pyrit/datasets/scorer_evals/objective/sexual.csv
  pyrit/datasets/scorer_evals/objective/violence.csv
  pyrit/datasets/scorer_evals/objective_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/mini_refusal.csv
  pyrit/datasets/scorer_evals/refusal_scorer/refusal.csv
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/true_false/mini_refusal.csv
  pyrit/datasets/scorer_evals/true_false/refusal.csv
Due: website

Piping harm scorers through
  build_scripts/evaluate_scorers.py
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/harm_definition/information_integrity.yaml
  pyrit/datasets/scorer_evals/objective/objective_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/objective_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_evaluation_results.jsonl
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/models/test_harm_definition.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_scorer_metrics.py
Due: remove-notebook-headers, validate-jupyter-book, website

updating csv structure
  build_scripts/evaluate_scorers.py
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/sexual.csv
  pyrit/datasets/scorer_evals/harm/sexual_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_evaluation_results.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
  pyrit/datasets/scorer_evals/true_false/mini_refusal.csv
  pyrit/datasets/scorer_evals/true_false/refusal.csv
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics.py
Due: remove-notebook-headers, validate-jupyter-book, website

most things working
  build_scripts/evaluate_scorers.py
  doc/api.rst
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/sexual_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
  pyrit/scenario/core/scenario.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/metrics_type.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_conversation_history_scorer.py
  tests/unit/score/test_scorer.py
Due: remove-notebook-headers, validate-jupyter-book, website

add Playwright-based way of getting sydney access token
  pyrit/auth/copilot_authenticator.py
Due: website

adding scorer printer
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/9_printing_scorers.ipynb
  pyrit/models/scenario_result.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/printer/console_printer.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  pyrit/score/__init__.py
  pyrit/score/printer/__init__.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/printer/scorer_printer.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixing tests
  build_scripts/evaluate_scorers.py
  doc/api.rst
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/9_printing_scorers.ipynb
  pyrit/datasets/scorer_evals/harm/exploit.csv
  pyrit/datasets/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/scorer_evals/harm/hate_speech_multi_score.csv
  pyrit/datasets/scorer_evals/harm/info_integrity.csv
  pyrit/datasets/scorer_evals/harm/mini_hate_speech.csv
  pyrit/datasets/scorer_evals/harm/privacy.csv
  pyrit/datasets/scorer_evals/harm/self_harm.csv
  pyrit/datasets/scorer_evals/harm/sexual.csv
  pyrit/datasets/scorer_evals/harm/violence.csv
  pyrit/datasets/scorer_evals/harm/violence_multi_score.csv
  pyrit/models/scenario_result.py
  pyrit/scenario/core/scenario.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/metrics_type.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/scorer_identifier.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/models/test_harm_definition.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_eval_csv_schema.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics.py
Due: remove-notebook-headers, validate-jupyter-book, website

pre-commit
  build_scripts/evaluate_scorers.py
  doc/_toc.yml
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/9_printing_scorers.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.py
  pyproject.toml
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/models/data_type_serializer.py
  pyrit/models/scenario_result.py
  pyrit/models/storage_io.py
  pyrit/scenario/printer/console_printer.py
  pyrit/score/__init__.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/printer/scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_identifier.py
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
  tests/unit/score/test_scorer_eval_csv_schema.py
  tests/unit/score/test_scorer_metrics.py
  uv.lock
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Resolve transpondian confusion
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

use `msal-extensions` for encrypted token persistence
  .gitignore
  pyrit/auth/copilot_authenticator.py
  pyrit/common/path.py
Due: website

add CopilotAuthenticator to WebSocketCopilotTarget for automated authentication
  pyrit/auth/__init__.py
  pyrit/auth/copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Adding DatasetConfiguration
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/__init__.py
  pyrit/scenario/core/__init__.py
  pyrit/scenario/core/dataset_configuration.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  pyrit/setup/initializers/scenarios/objective_list.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

updating tests
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: website

Fixing merge
  doc/api.rst
Due: validate-jupyter-book

WORKING multi prompt example
  doc/api.rst
  pyrit/auth/copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
  websocket_copilot_simple_example.py
Due: validate-jupyter-book, website

prepended_text_message_piece
  pyrit/score/scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer.py
Due: website

docstring update
  pyrit/prompt_target/common/prompt_target.py
Due: website

identifier
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
Due: website

FIX/FEAT: Enable multi-modal pieces for SelfAskTrueFalseScorer scoring (#1287)
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

unit tests update for `WebSocketCopilotTarget`
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/target/test_websocket_copilot_target.py
  websocket_copilot_simple_example.py
Due: website

updated
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  pyrit/cli/frontend_core.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/__init__.py
  pyrit/scenario/core/__init__.py
  pyrit/scenario/core/dataset_configuration.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  pyrit/setup/initializers/scenarios/objective_list.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/scenarios/test_dataset_configuration.py
  tests/unit/setup/test_load_default_datasets.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/_toc.yml
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  pyrit/scenario/core/dataset_configuration.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  tests/unit/scenarios/test_dataset_configuration.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website
