Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

fix: update per-file-ignores comment to match actual rules
  pyproject.toml
Due: none

fix: clarify BeaverTails loader extracts prompts only, not QA pairs
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/prompt_converter/braille_converter.py
Due: website

fix: address copilot comments - Optional type, UTC timestamp, braille is_number bug
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/prompt_converter/braille_converter.py
Due: website

Handle error data type in chat target conversation history
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

fix: address copilot review comments - NumPy docstring and logger.exception
  pyrit/backend/middleware/error_handlers.py
  pyrit/prompt_converter/transparency_attack_converter.py
Due: website

fix: revert unrelated package-lock.json changes
  frontend/package-lock.json
Due: none

MAINT Enable ruff PERF rule for performance linting (#1415)
  .pre-commit-config.yaml
  build_scripts/evaluate_scorers.py
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  doc/generate_docs/ipynb_to_pct.py
  pyproject.toml
  pyrit/analytics/conversation_analytics.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/identifiers/component_identifier.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/models/scenario_result.py
  pyrit/prompt_converter/audio_echo_converter.py
  pyrit/prompt_converter/audio_volume_converter.py
  pyrit/prompt_converter/audio_white_noise_converter.py
  pyrit/prompt_converter/nato_converter.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
  pyrit/scenario/scenarios/garak/encoding.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/setup/initializers/pyrit_initializer.py
  tests/unit/datasets/test_jailbreak_text.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/setup/test_load_default_datasets.py
  tests/unit/target/test_playwright_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: address copilot comments - exception handling and test coverage
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
  tests/unit/datasets/test_toxic_chat_dataset.py
Due: website

fix: address copilot review comments - animation bugs, docstrings, tests
  pyrit/cli/banner.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_pyrit_shell.py
Due: website

fix: use ComponentIdentifier instead of ConverterIdentifier and raw dicts
  doc/code/analytics/1_result_analysis.ipynb
  doc/code/analytics/1_result_analysis.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: address copilot comments - imports, API contract, security, accessibility
  frontend/e2e/api.spec.ts
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.test.ts
  frontend/src/utils/messageMapper.ts
  pyrit/backend/models/attacks.py
  pyrit/backend/routes/version.py
Due: website

fix: address copilot comments - security, cleanup, API contract
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/services/attack_service.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
Due: website

Fix PERF401: use list comprehension for modified_files
  build_scripts/sanitize_notebook_paths.py
Due: website

fix: address copilot comments - video target config, docstring, tests
  pyrit/setup/initialization.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/setup/test_initialization.py
Due: website

Fix PERF401: use list comprehension for resolved_group_by
  pyrit/analytics/result_analysis.py
Due: website

Fix PERF401: use list.extend for cmd_section
  pyrit/cli/banner.py
Due: website

Fix mypy: pass datetime directly instead of isoformat string
  pyrit/backend/services/attack_service.py
Due: website

Register ToxicChat in remote __init__.py and add exc_info to debug log
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
Due: website

Make Windows path regex case-insensitive and add test
  build_scripts/sanitize_notebook_paths.py
  tests/unit/build_scripts/test_sanitize_notebook_paths.py
Due: website

Move return inside try block in pdf_converter
  pyrit/prompt_converter/pdf_converter.py
Due: website

Address PR review comments: normalize naive timestamps, fix braille number prefix
  pyrit/models/message_piece.py
  pyrit/models/score.py
  pyrit/prompt_converter/braille_converter.py
  tests/unit/converter/test_braille_converter.py
Due: website

Remove application/json from sanitized mime types
  build_scripts/sanitize_notebook_paths.py
  tests/unit/build_scripts/test_sanitize_notebook_paths.py
Due: website

Support single-turn targets in ChunkedRequestAttack and remove supports_conversation_history
  doc/code/executor/attack/chunked_request_attack.ipynb
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/prompt_target/common/prompt_target.py
Due: remove-notebook-headers, validate-jupyter-book, website

Use strftime for cleaner UTC timestamp in markdown printer
  pyrit/executor/attack/printer/markdown_printer.py
Due: website

Narrow exception handling in ToxicChat loader
  pyrit/datasets/seed_datasets/remote/toxic_chat_dataset.py
Due: website

FIX address deprecation warnings (#1430)
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_loading_datasets.py
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  doc/code/targets/2_openai_responses_target.ipynb
  pyrit/backend/middleware/error_handlers.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_add_image_text_converter.py
  tests/unit/converter/test_add_text_image_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT Enable ruff rules: DTZ, N, T10, TID, YTT (#1414)
  pyproject.toml
  pyrit/auth/azure_storage_auth.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/exceptions/exception_classes.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/models/score.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/prompt_converter/braille_converter.py
  pyrit/prompt_converter/insert_punctuation_converter.py
  pyrit/prompt_converter/morse_converter.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/websocket_copilot_target.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/integration/ai_recruiter/test_ai_recruiter.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/integration/score/test_hitl_gradio_integration.py
  tests/unit/auth/test_azure_storage_auth.py
  tests/unit/backend/test_converter_service.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/converter/test_braille_converter.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_attack_parameters.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/models/test_message_piece.py
  tests/unit/models/test_score.py
Due: website

Linting fix
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

update target and scorer
  pyrit/scenario/scenarios/airt/content_harms.py
Due: website

replace auth key
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  pyrit/scenario/scenarios/airt/psychosocial_scenario.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix import
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  pyrit/scenario/scenarios/airt/psychosocial_scenario.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
Due: website

FIX replace api key in scenarios (#1435)
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  pyrit/scenario/scenarios/airt/psychosocial_scenario.py
  pyrit/scenario/scenarios/airt/scam.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix comments
  pyrit/scenario/scenarios/airt/psychosocial.py
Due: website

Extra test in response to comment
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Make integer more distinctive
  tests/unit/executor/attack/single_turn/test_beam_search.py
Due: website

Add per-file ignores for doc/ notebook rules (ERA001, PLE1142, A, LOG)
  pyproject.toml
Due: none

Remove stale comment referencing closed issue #1176
  pyproject.toml
Due: none

pr feedback
  doc/api.rst
  pyrit/identifiers/__init__.py
  pyrit/identifiers/component_identifier.py
  pyrit/identifiers/evaluation_identity.py
  pyrit/models/scenario_result.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluation_identity.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/identifiers/test_evaluation_identity.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: validate-jupyter-book, website

Replace bare raise with explicit RuntimeError in handle_bad_request_exception
  pyrit/exceptions/exception_classes.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
