Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

more typing dev deps
  pyproject.toml
Due: none

before pulling in changes
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

precommit
  pyrit/prompt_converter/__init__.py
Due: website

add_blob_data_type
  doc/code/converters/5_file_converters.ipynb
  pyrit/models/__init__.py
  pyrit/models/data_type_serializer.py
  pyrit/models/literals.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_pdf_converter.py
  tests/unit/models/test_data_type_serializer.py
  tests/unit/models/test_literals.py
Due: remove-notebook-headers, validate-jupyter-book, website

unit test fix
  doc/api.rst
  tests/unit/converter/test_prompt_converter.py
Due: validate-jupyter-book, website

rename to binary_path
  doc/api.rst
  pyrit/models/__init__.py
  pyrit/models/data_type_serializer.py
  pyrit/models/literals.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_pdf_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/models/test_data_type_serializer.py
  tests/unit/models/test_literals.py
Due: validate-jupyter-book, website

nb change
  doc/code/converters/5_file_converters.ipynb
Due: remove-notebook-headers, validate-jupyter-book

updating tests
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/message.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/score/conversation_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/mocks.py
  tests/unit/models/test_message_piece.py
  tests/unit/models/test_seed.py
  tests/unit/models/test_seed_group.py
  tests/unit/score/test_conversation_history_scorer.py
Due: website

pre-commit
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/models/seeds/seed.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
Due: website

FEAT: Added VLSU Multimodal Dataset (#1309)
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
Due: website

Leakage Scenario addition
  pyrit/datasets/score/true_false_question/leakage.yaml
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

run xpia notebook
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
Due: remove-notebook-headers, validate-jupyter-book

ruff check
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
Due: remove-notebook-headers, validate-jupyter-book

FEAT: Add binary_path data type (#1315)
  doc/api.rst
  doc/code/converters/5_file_converters.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
  pyrit/models/__init__.py
  pyrit/models/data_type_serializer.py
  pyrit/models/literals.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_pdf_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/models/test_data_type_serializer.py
  tests/unit/models/test_literals.py
Due: remove-notebook-headers, validate-jupyter-book, website

pre-commit
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/models/attack_result.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/scenarios/test_encoding.py
  tests/unit/scenarios/test_foundry.py
  tests/unit/score/test_score_utils.py
Due: website

pre-commit
  pyrit/memory/memory_interface.py
Due: website

scoring fix
  doc/api.rst
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/objective_evaluator.py
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/models/score.py
  pyrit/score/scorer.py
  tests/unit/executor/attack/component/test_objective_evaluator.py
  tests/unit/executor/attack/core/test_attack_config.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/registry/test_scorer_registry.py
  tests/unit/score/test_true_false_composite_scorer.py
Due: validate-jupyter-book, website

commiting
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  uv.lock
Due: website

re-integrating main
  doc/code/converters/5_file_converters.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
  pyrit/models/__init__.py
  pyrit/models/data_type_serializer.py
  pyrit/models/literals.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_pdf_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/models/test_data_type_serializer.py
  tests/unit/models/test_literals.py
Due: remove-notebook-headers, validate-jupyter-book, website

cleaned up files, ready for review
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/score/likert/crisis_management.yaml
  pyrit/datasets/seed_datasets/local/airt/psychosocial_dependency.prompt
  pyrit/datasets/seed_datasets/local/airt/psychosocial_therapist_boundaries.prompt
  pyrit/datasets/seed_datasets/local/airt/psychosocical_imminent_crisis.prompt
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

Delete pyrit/datasets/seed_datasets/local/airt/psychosocial_vulnerability.prompt
  pyrit/datasets/seed_datasets/local/airt/psychosocial_vulnerability.prompt
Due: none

Delete pyrit/datasets/score/likert/dependency_management.yaml
  pyrit/datasets/score/likert/dependency_management.yaml
Due: none

precommit
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

slight refactor and fixed tests
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

slight refactor and fixed tests
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

fixing tests
  doc/api.rst
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/score/conversation_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
  tests/unit/score/test_scorer.py
  uv.lock
Due: validate-jupyter-book, website

tests passing
  doc/api.rst
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/3_crescendo_attack.ipynb
  doc/code/executor/attack/tap_attack.ipynb
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_classes.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/attack_result_printer.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/memory/memory_models.py
  pyrit/score/scorer.py
  pyrit/score/scorer_prompt_validator.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/test_error_skip_scoring.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_insecure_code_scorer.py
  tests/unit/score/test_plagiarism_scorer.py
  tests/unit/score/test_question_answer_scorer.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
  tests/unit/score/test_substring.py
  tests/unit/score/test_true_false_inverter.py
Due: remove-notebook-headers, validate-jupyter-book, website

pre-commit
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/2_red_teaming_attack.py
  doc/code/executor/attack/3_crescendo_attack.ipynb
  doc/code/executor/attack/3_crescendo_attack.py
  doc/code/executor/attack/tap_attack.ipynb
  doc/code/executor/attack/tap_attack.py
  pyrit/datasets/executors/red_teaming/text_generation.yaml
  pyrit/exceptions/__init__.py
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_question_answer_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
  tests/unit/score/test_substring.py
  tests/unit/score/test_true_false_inverter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

self pr review
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
Due: website

fixing test
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
Due: website

test fixes
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/test_error_skip_scoring.py
  tests/unit/scenarios/test_foundry.py
Due: website

Updated LeakageScenario based on PR comments
  pyrit/datasets/score/true_false_question/leakage.yaml
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

pr feedback
  doc/api.rst
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/openai/openai_chat_audio_config.py
  pyrit/prompt_target/openai/openai_chat_target.py
  tests/integration/targets/test_openai_chat_target_integration.py
  tests/unit/target/test_chat_audio_config.py
  tests/unit/target/test_openai_chat_target.py
  uv.lock
Due: validate-jupyter-book, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
