Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

precommit
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, website

update custom uuid for azure sql
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  pyrit/memory/memory_models.py
Due: remove-notebook-headers, website

[FIX] update custom uuid for azure sql (#1089)
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  pyrit/memory/memory_models.py
Due: remove-notebook-headers, website

Generate RSS feed for blog
  Makefile
  build_scripts/generate_rss.py
  pyproject.toml
Due: website

Sort entries, add console logging
  build_scripts/generate_rss.py
Due: website

Add RSS link to blog landing HEAD
  doc/_static/custom.js
Due: none

Adding runtime checks
  build_scripts/generate_rss.py
Due: website

Pre-commit fixes
  build_scripts/generate_rss.py
Due: website

DOC Create RSS feed for blog (#1090)
  Makefile
  build_scripts/generate_rss.py
  doc/_static/custom.js
  pyproject.toml
Due: website

commiting changes
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/true_false/composite_scorer.py
Due: website

Fix execute_async overload
  doc/_toc.yml
  doc/code/executor/attack/multi_prompt_sending_attack.ipynb
  doc/code/executor/attack/multi_prompt_sending_attack.py
  doc/code/executor/attack/multi_turn/3_multi_prompt_sending_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
Due: remove-notebook-headers, check-links, website

Add unit tests
  doc/code/executor/attack/multi_prompt_sending_attack.ipynb
  doc/code/executor/attack/multi_prompt_sending_attack.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
Due: remove-notebook-headers, check-links, website

release v0.10.0rc0
  pyproject.toml
  pyrit/__init__.py
Due: website

update version
  pyproject.toml
  pyrit/__init__.py
Due: website

Fixing non-network related integration tests
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/scorer_evals.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/4_benchmarking_models.ipynb
  doc/cookbooks/4_benchmarking_models.py
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/score/config/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
Due: remove-notebook-headers, check-links, website

remove rc
  pyproject.toml
  pyrit/__init__.py
Due: website

test fixes
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  tests/unit/score/test_azure_content_filter.py
Due: remove-notebook-headers, website

Precommit
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/scorer_evals.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/4_benchmarking_models.ipynb
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
Due: remove-notebook-headers

WIP: Implement scoring for video_path in azure_content_filter_scorer.py
  doc/cookbooks/attacks/1_sending_gp40_prompts.out
  doc/cookbooks/attacks/1_sending_gpt40_prompts.py
  doc/cookbooks/attacks/1_sending_sora_prompts.out
  doc/cookbooks/attacks/1_sending_sora_prompts.py
  doc/cookbooks/attacks/1_sending_sora_prompts_with_scoring.py
  doc/cookbooks/attacks/datasets/1_sending_gpt40_illegal.prompt
  doc/cookbooks/attacks/datasets/1_sending_sora_illegal.prompt
  pyrit/score/azure_content_filter_scorer.py
Due: check-links, website

[MAINT] post-v0.10.0rc0.dev0 release updates (#1091)
  pyproject.toml
  pyrit/__init__.py
Due: website

pre commit fixes
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  pyrit/datasets/adv_bench_dataset.py
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/datasets/darkbench_dataset.py
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
  pyrit/datasets/equitymedqa_dataset.py
  pyrit/datasets/harmbench_dataset.py
  pyrit/datasets/mlcommons_ailuminate_demo_dataset.py
  pyrit/datasets/multilingual_vulnerability_dataset.py
  pyrit/datasets/pku_safe_rlhf_dataset.py
  pyrit/datasets/red_team_social_bias_dataset.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/harm_category.py
Due: remove-notebook-headers, website

Precommit
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/4_benchmarking_models.ipynb
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
Due: remove-notebook-headers

Precommit
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/4_likert_scorers.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
Due: remove-notebook-headers

Precommit
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
Due: remove-notebook-headers

release notes
  doc/contributing/11_release_process.md
Due: none

Address PR comments
  doc/api.rst
  doc/code/executor/attack/multi_prompt_sending_attack.ipynb
  doc/code/executor/attack/multi_prompt_sending_attack.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
Due: remove-notebook-headers, check-links, website

Fix unit test
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
Due: website

Added parameterization and exception wherever required
  pyrit/analytics/result_analysis.py
  tests/unit/analytics/test_result_analysis.py
Due: website

initial pr comment changes
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

pr comments
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

last pr comment change while loop
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

FEAT: Add tool call to OpenAI Response Target (#1006)
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/common/tool_configs.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/memory/memory_models.py
  pyrit/models/chat_message.py
  pyrit/models/literals.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/test_literals.py
Due: remove-notebook-headers, check-links, website

initial commit adding notebook and scorers
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
  pyrit/datasets/lexicons/fairness/pronouns_categories_score.yaml
Due: remove-notebook-headers, check-links, website

fixing composite scorer tests
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/score/test_true_fals_composite_scorer.py
Due: website

light edits
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
Due: remove-notebook-headers, check-links, website

add test file and fix markdown printer
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  pyrit/executor/attack/printer/markdown_printer.py
  tests/unit/executor/attack/core/test_markdown_printer.py
Due: remove-notebook-headers, website

fix test
  tests/unit/executor/attack/core/test_markdown_printer.py
Due: website

Resetting all notebooks to resolve merge conflicts
  doc/code/orchestrators/4_scoring_orchestrator.py
  doc/code/orchestrators/HITL_Scoring_Orchestrator.py
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/3_classification_scorers.py
  doc/code/scoring/4_likert_scorers.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
  doc/code/scoring/scorer_evals.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  doc/code/targets/open_ai_completions.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/4_benchmarking_models.ipynb
  doc/cookbooks/4_benchmarking_models.py
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
Due: remove-notebook-headers, check-links, website

pre-commit
  tests/unit/executor/attack/core/test_markdown_printer.py
Due: website
