Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

FEAT Mechanism to Score Video Responses (#1095)
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/prompt_target/batch_helper.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/__init__.py
  pyrit/score/azure_content_filter_scorer.py
  pyrit/score/scorer.py
  pyrit/score/video_scorer.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_video_scorer.py
Due: remove-notebook-headers, check-links, website

combining notebooks
  doc/_toc.yml
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
Due: remove-notebook-headers, check-links, website

fix cli tests
  tests/unit/cli/test_cli.py
Due: website

FEAT: add `TransparencyAttackConverter` (#1031)
  doc/_config.yml
  doc/_static/custom.css
  doc/_toc.yml
  doc/api.rst
  doc/code/converters/attack_bomb_question.jpg
  doc/code/converters/benign_cake_question.jpg
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/converters/transparency_attack_converter.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/transparency_attack_converter.py
  tests/unit/converter/test_transparency_attack_converter.py
Due: remove-notebook-headers, check-links, website

FEAT use console attack results printer in scanner (#1107)
  pyrit/cli/__main__.py
  pyrit/score/config/scales/task_achieved_scale.yaml
  pyrit/score/config/true_false_question/task_achieved.yaml
  scanner_configurations/basic_multi_turn_attack.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/test_cli.py
Due: website

better NER
  pyrit/executor/benchmark/fairness_bias.py
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: website

switch to DefaultAzureCredential and inject env vars into integration test pipeline
  integration-tests.yml
  pyrit/auth/azure_auth.py
Due: website

MAINT: Switch to DefaultAzureCredential and inject env vars into integration test pipeline (#1111)
  integration-tests.yml
  pyrit/auth/azure_auth.py
Due: website

Refactor HCoTAttack: add configurable score_threshold, integrate DummyModelClient, and add passing tests
  pyrit/executor/attack/hcot_attack.py
  tests/integration/executors/test_hcot_attack.py
Due: website

add config file for readthedocs
  .readthedocs.yaml
Due: none

Apply suggestion from @romanlutz
  .readthedocs.yaml
Due: none

Update implicare_attack.py
  pyrit/executor/attack/single_turn/implicare_attack.py
Due: website

Update implicare_attack.py
  doc/code/executor/attack/implicare_attack.py
Due: check-links, website

address comments
  pyrit/executor/benchmark/fairness_bias.py
Due: website

DOC add config file for readthedocs (#1113)
  .readthedocs.yaml
Due: none

adding dependencies
  pyproject.toml
  pyrit/executor/benchmark/fairness_bias.py
Due: website

precommit
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyproject.toml
Due: remove-notebook-headers, check-links, website

unit test import fix
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: website

cache cognitive service acccess token
  integration-tests.yml
Due: none

FIX: Acquire Cognitive Services access token before ID token expires (#1114)
  integration-tests.yml
Due: none

run inline script for integration tests
  integration-tests.yml
Due: none

FIX: run inline script for integration tests (#1115)
  integration-tests.yml
Due: none

Refactor HCoTAttack: explicit generator injection, docstrings, ValueError on invalid context, aligned tests
  pyrit/executor/attack/hcot_attack.py
  tests/integration/executors/test_hcot_attack.py
Due: website

Refactor HCoTAttack: strictly use PromptTarget, add docstrings, fail fast on invalid context
  pyrit/executor/attack/hcot_attack.py
  tests/integration/executors/test_hcot_attack.py
Due: website

WIP: local edits to pyproject and console_printer
  pyproject.toml
  pyrit/executor/attack/printer/console_printer.py
Due: website

import fix
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: website

fixing import in files
  pyrit/executor/benchmark/fairness_bias.py
Due: website

merging
  pyrit/executor/benchmark/fairness_bias.py
Due: website

fix unit test
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: website

FEAT: Adding notebook for testing fairness and bias
  doc/_toc.yml
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyproject.toml
  pyrit/datasets/score/categories/pronoun_category_score.yaml
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/fairness_bias.py
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: remove-notebook-headers, check-links, website

initial commit adding changes to include harm_categories in prompt request entry and pieces
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

add playwright copilot target
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target.py
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
  doc/generate_docs/pct_to_ipynb.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  tests/unit/target/test_playwright_copilot_target.py
  tests/unit/target/test_playwright_target.py
Due: remove-notebook-headers, check-links, website

update notebook by regenerating
  doc/code/targets/playwright_target_copilot.ipynb
Due: remove-notebook-headers

convert metadata dict to str
  pyrit/score/ensemble_scorer.py
Due: website

add criteria scale prompt for medsafetybench
  pyrit/score/config/scales/criteria_scale_medsafetybench_category1.yaml
Due: none

add EnsembleScorer documentation, make ground_truth_scorer optional
  pyrit/score/ensemble_scorer.py
Due: website

remove old orchestrator notebook
  doc/code/orchestrators/5_crescendo_ensemble_orchestrator.ipynb
Due: remove-notebook-headers

adding in query to find harm_categories in attack results
  pyrit/datasets/seed_prompts/illegal.prompt
  pyrit/memory/memory_interface.py
Due: website
