Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

split step
  .github/workflows/build_and_test.yml
Due: none

add env and permission
  .github/workflows/build_and_test.yml
Due: none

Adding datasetloader scaffolding and changes to encodingscenario.
  pyrit/common/yaml_loadable.py
  pyrit/scenarios/core/scenario.py
  pyrit/scenarios/dataset/scenario_dataset_loader.py
  pyrit/scenarios/scenarios/encoding_scenario.py
Due: website

separate install
  .github/workflows/build_and_test.yml
Due: none

linux
  .github/workflows/build_and_test.yml
Due: none

fix whitespace
  .github/workflows/build_and_test.yml
Due: none

fix order
  .github/workflows/build_and_test.yml
Due: none

move files
  doc/code/scoring/scorer_evals.ipynb
  pyrit/score/config/scorer_evals/harm/exploit.csv
  pyrit/score/config/scorer_evals/harm/hate_speech_single_score.csv
  pyrit/score/config/scorer_evals/harm/info_integrity.csv
  pyrit/score/config/scorer_evals/harm/mini_hate_speech.csv
  pyrit/score/config/scorer_evals/harm/privacy.csv
  pyrit/score/config/scorer_evals/harm/results/hate_speech_metrics.json
  pyrit/score/config/scorer_evals/harm/results/hate_speech_results.csv
  pyrit/score/config/scorer_evals/harm/results/mini_hate_speech_metrics.json
  pyrit/score/config/scorer_evals/harm/results/mini_hate_speech_results.csv
  pyrit/score/config/scorer_evals/harm/results/violence_metrics.json
  pyrit/score/config/scorer_evals/harm/results/violence_results.csv
  pyrit/score/config/scorer_evals/harm/self_harm.csv
  pyrit/score/config/scorer_evals/harm/sexual.csv
  pyrit/score/config/scorer_evals/harm/violence_single_score.csv
Due: remove-notebook-headers

move files
  pyrit/score/config/scorer_evals/objective/exploit.csv
  pyrit/score/config/scorer_evals/objective/info_integrity.csv
  pyrit/score/config/scorer_evals/objective/mini_refusal.csv
  pyrit/score/config/scorer_evals/objective/privacy.csv
  pyrit/score/config/scorer_evals/objective/refusal_score.csv
  pyrit/score/config/scorer_evals/objective/self_harm.csv
  pyrit/score/config/scorer_evals/objective/sexual.csv
  pyrit/score/config/scorer_evals/objective/violence.csv
Due: none

fixed notebook
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
Due: remove-notebook-headers, check-links, website

test
  pyrit/scenarios/scenario.py
Due: website

fix formatting
  pyrit/scenarios/scenario.py
Due: website

AtomicAttack and SeedGroup contracts
  pyrit/models/seed_dataset.py
  pyrit/models/seed_group.py
  pyrit/models/seed_objective.py
  pyrit/scenarios/core/atomic_attack.py
  pyrit/scenarios/core/scenario.py
  pyrit/scenarios/dataset/scenario_dataset_loader.py
  pyrit/scenarios/scenarios/encoding_scenario.py
Due: website

update
  pyrit/scenarios/scenario.py
Due: website

Minor changes
  pyrit/scenarios/core/atomic_attack.py
  pyrit/scenarios/core/scenario.py
Due: website

standardized column names
  pyrit/score/config/scorer_evals/harm/mini_hate_speech.csv
  pyrit/score/config/scorer_evals/objective/exploit.csv
  pyrit/score/config/scorer_evals/objective/info_integrity.csv
  pyrit/score/config/scorer_evals/objective/privacy.csv
  pyrit/score/config/scorer_evals/objective/refusal_score.csv
  pyrit/score/config/scorer_evals/objective/self_harm.csv
  pyrit/score/config/scorer_evals/objective/sexual.csv
  pyrit/score/config/scorer_evals/objective/violence.csv
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

rename files, add results
  pyrit/score/config/scorer_evals/objective/hate_speech.csv
  pyrit/score/config/scorer_evals/objective/human_labeled_evals/mini_refusal_score_results.csv
  pyrit/score/config/scorer_evals/objective/results/mini_refusal_metrics.json
  pyrit/score/config/scorer_evals/objective/results/mini_refusal_results.csv
  pyrit/score/config/scorer_evals/objective/results/refusal_score_metrics.json
  pyrit/score/config/scorer_evals/objective/results/refusal_score_results.csv
Due: none

rename yaml
  pyrit/score/config/likert_scales/information_integrity.yaml
  pyrit/score/config/likert_scales/sexual_v2.yaml
  pyrit/score/config/scorer_evals/objective/results/mini_refusal_metrics.json
Due: none

migrate remaining openai targets
  pyproject.toml
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_prompt_target.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
Due: website

Update pyrit/scenarios/scenarios/airt/cyber_scenario.py
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
Due: website

Redundant docstring
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
Due: website

fixed docstrings issues for chat_message_normalizer
  pyproject.toml
  pyrit/chat_message_normalizer/__init__.py
  pyrit/chat_message_normalizer/chat_message_nop.py
  pyrit/chat_message_normalizer/chat_message_normalizer.py
  pyrit/chat_message_normalizer/chat_message_normalizer_chatml.py
  pyrit/chat_message_normalizer/chat_message_normalizer_tokenizer.py
  pyrit/chat_message_normalizer/generic_system_squash.py
Due: website

fixed docstrings for pyrit/cli
  pyrit/cli/__init__.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
Due: website

fixed docstrings for pyrit/embedding
  pyproject.toml
  pyrit/embedding/__init__.py
  pyrit/embedding/azure_text_embedding.py
  pyrit/embedding/openai_text_embedding.py
Due: website

finished migrations, removed chat target base, updated tests (all passing)
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
Due: website

adding a few additional unit tests
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

FEAT: Cyber scenario (#1180)
  pyrit/datasets/seed_prompts/malware.prompt
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
  pyrit/score/config/true_false_question/grounded.yaml
  pyrit/score/config/true_false_question/malware.yaml
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

MAINT: Fix docstrings for `pyrit/chat_message_normalizer` and `pyrit/cli` (#1196)
  pyproject.toml
  pyrit/chat_message_normalizer/__init__.py
  pyrit/chat_message_normalizer/chat_message_nop.py
  pyrit/chat_message_normalizer/chat_message_normalizer.py
  pyrit/chat_message_normalizer/chat_message_normalizer_chatml.py
  pyrit/chat_message_normalizer/chat_message_normalizer_tokenizer.py
  pyrit/chat_message_normalizer/generic_system_squash.py
  pyrit/cli/__init__.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/embedding/__init__.py
  pyrit/embedding/azure_text_embedding.py
  pyrit/embedding/openai_text_embedding.py
Due: website

fix out of space error in integration test pipeline
  integration-tests.yml
Due: none

new structure
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/__init__.py
  pyrit/scenario/core/__init__.py
  pyrit/scenario/core/atomic_attack.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/printer/__init__.py
  pyrit/scenario/printer/console_printer.py
  pyrit/scenario/printer/scenario_result_printer.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/encoding_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenarios/printer/__init__.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
Due: website

specify depth and branch and add log
  integration-tests.yml
Due: none

Precommit
  doc/api.rst
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/encoding_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
Due: remove-notebook-headers, check-links, website

Unit tests
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/scenarios/test_strategy_validation.py
Due: website

unit tests
  tests/unit/cli/test_scenario_registry.py
Due: website

removing pyrit.scenarios references
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/core/atomic_attack.py
  pyrit/scenario/core/scenario.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: remove-notebook-headers, check-links, website

unified error handling for chat and response
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_error_handling.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_error_handling.py
  tests/unit/target/test_openai_response_target.py
Due: website

test linux
  .github/workflows/build_and_test.yml
  integration-tests.yml
Due: none

always use no cache dir
  .github/workflows/build_and_test.yml
Due: none

remove cache ref
  .github/workflows/build_and_test.yml
Due: none

remove all cache references
  .github/workflows/build_and_test.yml
Due: none

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
