Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

precommit
  pyrit/cli/frontend_core.py
Due: website

logging type
  pyrit/cli/frontend_core.py
Due: website

more generic approach to filtering
  doc/_toc.yml
  doc/code/analytics/1_result_analysis.ipynb
  doc/code/analytics/1_result_analysis.py
  pyrit/analytics/__init__.py
  pyrit/analytics/result_analysis.py
  tests/unit/analytics/test_result_analysis.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

address remaining dependabout issues with uv.lock
  uv.lock
Due: none

address comments
  doc/code/targets/4_openai_video_target.ipynb
  doc/code/targets/4_openai_video_target.py
  pyrit/score/audio_transcript_scorer.py
  pyrit/score/float_scale/video_float_scale_scorer.py
  pyrit/score/true_false/video_true_false_scorer.py
  pyrit/score/video_scorer.py
  tests/unit/score/test_video_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

notebook fix
  doc/code/targets/4_openai_video_target.ipynb
  doc/code/targets/4_openai_video_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FIX MS Package Signing Key issue #1353 to enable DevContainers after Feb-01-2026 (#1356)
  .devcontainer/devcontainer_setup.sh
  frontend/package-lock.json
Due: none

MAINT address code scanning alert on url sanitization (#1361)
  pyrit/prompt_target/openai/openai_target.py
Due: website

MAINT upgrade vite in response to npm audit (#1358)
  frontend/package-lock.json
  frontend/package.json
Due: none

MAINT mypy fixes (#1359)
  pyrit/auth/manual_copilot_authenticator.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

FEAT: Target Registry and AIRT Targets Initializer (#1320)
  .env_example
  doc/api.rst
  doc/code/registry/2_instance_registry.ipynb
  doc/code/registry/2_instance_registry.py
  pyrit/identifiers/target_identifier.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/instance_registries/__init__.py
  pyrit/registry/instance_registries/target_registry.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/identifiers/test_target_identifier.py
  tests/unit/registry/test_target_registry.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT bump package versions to address dependabot alerts (#1360)
  pyproject.toml
  uv.lock
Due: none

precommit
  pyrit/cli/frontend_core.py
  tests/unit/cli/test_frontend_core.py
Due: website

precommit mypy
  pyrit/cli/pyrit_shell.py
Due: website

logging type
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
Due: website

logging
  pyrit/cli/pyrit_scan.py
Due: website

FEAT: Add python-docx library
  pyproject.toml
Due: none

FIX: multi query batching for memory interface from review (#845)
  pyrit/memory/memory_interface.py
Due: website

TEST: multi query batching test for memory interface from review (#845)
  tests/unit/memory/memory_interface/test_batching_scale.py
Due: website

Adding attack identifier
  pyrit/analytics/result_analysis.py
  pyrit/exceptions/exception_context.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/executor/core/strategy.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/executor/workflow/xpia.py
  pyrit/identifiers/__init__.py
  pyrit/identifiers/attack_identifier.py
  pyrit/identifiers/identifiable.py
  pyrit/identifiers/identifier.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/attack_result.py
  pyrit/models/message_piece.py
  pyrit/models/seeds/seed.py
  pyrit/prompt_converter/prompt_converter.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/scorer.py
  tests/unit/mocks.py
Due: website

fixing all tests
  doc/api.rst
  pyrit/models/message_piece.py
  pyrit/models/seeds/seed.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  tests/unit/analytics/test_result_analysis.py
  tests/unit/docs/test_api_documentation.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/core/test_markdown_printer.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/executor/benchmark/test_question_answering.py
  tests/unit/executor/promptgen/test_anecdoctor.py
  tests/unit/executor/workflow/test_xpia.py
  tests/unit/identifiers/test_identifiers.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/mocks.py
  tests/unit/models/test_message_piece.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/score/test_scorer.py
  tests/unit/target/test_http_target.py
Due: validate-jupyter-book, website

Update files for Sora target PR
  pyrit/models/message.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/models/test_message.py
Due: website

pre-commit
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/score/scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/executor/benchmark/test_question_answering.py
  tests/unit/executor/promptgen/test_anecdoctor.py
  tests/unit/executor/workflow/test_xpia.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/mocks.py
  tests/unit/models/test_message_piece.py
  tests/unit/target/test_http_target.py
Due: website

potential CI fix with diagnostics
  .github/workflows/docker_build.yml
Due: none

remove path filter for triggering pipeline
  .github/workflows/docker_build.yml
Due: none

class constant uppercase fix
  pyrit/score/true_false/audio_true_false_scorer.py
Due: website

subset
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

MAINT address remaining dependabout issues with uv.lock (#1363)
  uv.lock
Due: none

tweaking
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

new strategy template
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

types'
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

adversarial
  pyrit/scenario/scenarios/airt/jailbreak.py
Due: website

FEAT: register WordDocConverter in prompt_converter __init__
  pyrit/prompt_converter/__init__.py
Due: website

Update prepare_package.py
  build_scripts/prepare_package.py
Due: website

FEAT: Word document converter implementation, including Jinja2 template rendering and integration with PyRIT's data serialization system.
  pyrit/prompt_converter/word_doc_converter.py
Due: website

FEAT: Add Word document converter unit tests
  tests/unit/converter/test_word_doc_converter.py
Due: website

Add WordDocConverter documentation examples
  doc/code/converters/5_file_converters.py
Due: check-links, validate-jupyter-book, website

fix: store labels as nested key in metadata instead of spreading
  pyrit/backend/services/attack_service.py
Due: website

fix missing labels in _build_summary
  pyrit/backend/services/attack_service.py
Due: website

update to actually test labels, too
  tests/unit/backend/test_attack_service.py
Due: website
