Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

tmpdir
  .github/workflows/build_and_test.yml
Due: none

add forgotten all
  .github/workflows/build_and_test.yml
Due: none

fix env prefix
  .github/workflows/build_and_test.yml
Due: none

remove =
  .github/workflows/build_and_test.yml
Due: none

remove from windows
  .github/workflows/build_and_test.yml
Due: none

add tmp dir variable
  .github/workflows/build_and_test.yml
Due: none

remove quotes
  .github/workflows/build_and_test.yml
Due: none

remove build
  .github/workflows/build_and_test.yml
Due: none

add log
  .github/workflows/build_and_test.yml
Due: none

add logs to all
  .github/workflows/build_and_test.yml
Due: none

add github cache back
  .github/workflows/build_and_test.yml
Due: none

Docstring and precommit
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/scenarios/scenarios.ipynb
  doc/code/setup/2_resiliency.ipynb
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/printer/__init__.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, website

use tmpdir
  .github/workflows/build_and_test.yml
Due: none

test previous
  .github/workflows/build_and_test.yml
Due: none

unicode debug
  pyrit/scenario/printer/console_printer.py
Due: website

MAINT Scenario Namespace & Directory Changes (#1197)
  doc/api.rst
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/__init__.py
  pyrit/scenario/core/__init__.py
  pyrit/scenario/core/atomic_attack.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/printer/__init__.py
  pyrit/scenario/printer/console_printer.py
  pyrit/scenario/printer/scenario_result_printer.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/encoding_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenarios/printer/__init__.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/scenarios/test_strategy_validation.py
Due: remove-notebook-headers, check-links, website

remove unnecessary variable and quotes
  .github/workflows/build_and_test.yml
Due: none

add /
  .github/workflows/build_and_test.yml
Due: none

Changed pydantic requirement
  pyproject.toml
Due: none

add temporary variable
  .github/workflows/build_and_test.yml
Due: none

add tmpdir to main job
  .github/workflows/build_and_test.yml
Due: none

use temp folder
  .github/workflows/build_and_test.yml
Due: none

Refactor anthropic evals dataset to use QuestionAnsweringDataset structure
  pyrit/datasets/anthropic_evals_dataset.py
  tests/unit/datasets/test_anthropic_evals_dataset.py
Due: website

moving cyber
  pyrit/datasets/seed_prompts/airt/malware.prompt
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

moving things
  MANIFEST.in
  doc/code/architecture.md
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyrit/datasets/adv_bench_dataset.py
  pyrit/datasets/data/adv_bench_dataset.json
  pyrit/datasets/remote_datasets/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/adv_bench.prompt
  pyrit/datasets/seed_datasets/airt/illegal.prompt
  pyrit/datasets/seed_datasets/airt/malware.prompt
  pyrit/datasets/seed_datasets/examples/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_datasets/examples/illegal-multimodal-group.prompt
  pyrit/datasets/seed_datasets/examples/illegal-multimodal-objective-group.prompt
  pyrit/datasets/seed_datasets/examples/illegal-multiple-multiturn-dataset.prompt
  pyrit/datasets/seed_datasets/examples/illegal-multiturn-group.prompt
  pyrit/datasets/seed_datasets/examples/illegal-objective-only-group.prompt
  pyrit/datasets/seed_datasets/examples/multimodal_data/kinetics_0107.mp4
  pyrit/datasets/seed_datasets/examples/multimodal_data/molotov.wav
  pyrit/datasets/seed_datasets/examples/multimodal_data/pyrit_architecture.png
  pyrit/datasets/seed_datasets/examples/multimodal_data/roakey_potion.png
  pyrit/datasets/seed_datasets/fairness/yes_no_questions.yaml
  pyrit/datasets/seed_datasets/garak/access_shell_commands.prompt
  pyrit/datasets/seed_datasets/garak/slur_terms_en.prompt
  pyrit/datasets/seed_datasets/garak/web_html_js.prompt
  pyrit/datasets/seed_datasets/psfuzz_steal_system.prompt
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/executor/promptgen/test_fuzzer.py
  tests/unit/models/test_seed.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: remove-notebook-headers, check-links, website

all tests working again post error handling unification (chat and response)
  pyrit/prompt_target/openai/openai_error_handling.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/integration/targets/test_target_filters.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_response_target.py
Due: website

Basic implementation added
  pyrit/scenario/dataset/__init__.py
  pyrit/scenario/dataset/load_utils.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/encoding_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_dataset_utils.py
Due: website

fix one failing unit test
  tests/unit/target/test_sora_target.py
Due: website

Duplicate else clause removed
  pyrit/scenario/scenarios/foundry_scenario.py
Due: website

scam scenario
  pyrit/datasets/seed_prompts/scams.prompt
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenarios/airt/scam_scenario.py
  pyrit/score/config/true_false_question/scam_scripts.yaml
  tests/unit/scenarios/test_scam_scenario.py
Due: website

updating docs and fixing bugs
  assets/seed_prompt_example.png
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/datasets/3_dataset_tips.md
  doc/code/datasets/3_seed_prompt.ipynb
  doc/code/datasets/4_fetch_dataset.ipynb
  pyrit/datasets/seed_datasets/dataset_loader.py
  pyrit/datasets/seed_datasets/local/__init__.py
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-group.prompt
  pyrit/datasets/seed_datasets/local/garak/access_shell_commands.prompt
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/darkbench_dataset.py
  pyrit/models/seed_dataset.py
Due: remove-notebook-headers, check-links, website

bug fixes
  pyrit/datasets/seed_datasets/dataset_loader.py
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-objective-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multiple-multiturn-dataset.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multiturn-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-objective-only-group.prompt
  pyrit/datasets/seed_datasets/local/garak/access_shell_commands.prompt
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
Due: website

fixing things
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/2_fetch_dataset.py
  doc/code/datasets/3_seed_prompt.ipynb
  doc/code/datasets/4_fetch_dataset.ipynb
  pyrit/datasets/__init__.py
  pyrit/datasets/seed_datasets/__init__.py
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/models/seed_dataset.py
  tests/unit/datasets/test_dataset_loaders.py
Due: remove-notebook-headers, check-links, website

bug fixes
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/memory/8_seed_database.ipynb
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-objective-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multiturn-group.prompt
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
Due: remove-notebook-headers, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
