Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

Clarify converter_types filter description: omit = no restriction
  pyrit/backend/routes/attacks.py
Due: website

Clarify pagination cursor description in list_attacks route
  pyrit/backend/routes/attacks.py
Due: website

Add explicit parens for attack_specific_params ternary clarity
  pyrit/backend/mappers/attack_mappers.py
Due: website

Validate source_conversation_id in create_related_conversation_async
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

Rename _persist_base64_pieces to _persist_base64_pieces_async
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

Only query lineage when original_prompt_id differs from piece id
  pyrit/prompt_target/openai/openai_video_target.py
Due: website

Fix SAS cache TTL to derive from token expiry instead of fixed value
  pyrit/backend/mappers/attack_mappers.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_video_target.py
Due: website

Rename _send_and_store_message and _store_message_only with _async suffix
  pyrit/backend/services/attack_service.py
Due: website

Redesign video remix: prompt_metadata DTO, validate_video_remix_pieces, fix mapper tests
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/backend/test_mappers.py
  tests/unit/target/test_video_target.py
Due: website

Add --config-file to pyrit_backend, use FrontendCore for initialization
  pyrit/cli/pyrit_backend.py
  tests/unit/cli/test_pyrit_backend.py
Due: website

Strip data URI prefix in _persist_base64_pieces_async
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

fix docs
  doc/code/auxiliary_attacks/agentic_attacks/0_agentic_security.md
  doc/code/auxiliary_attacks/agentic_attacks/1_sensitive_data_access.ipynb
  doc/code/auxiliary_attacks/agentic_attacks/1_sensitive_data_access.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Update tags, temp, renames, simplify
  build_scripts/evaluate_scorers.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/components/__init__.py
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  tests/unit/setup/test_airt_scorer_initializer.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: website

Serve media via URL instead of inline base64 encoding
  pyrit/backend/main.py
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/media.py
  tests/unit/backend/test_mappers.py
  tests/unit/backend/test_media_route.py
Due: website

flexible likert scaling
  pyrit/datasets/score/likert/likert_system_prompt.yaml
  pyrit/score/float_scale/self_ask_likert_scorer.py
  tests/unit/score/test_self_ask_likert.py
Due: website

work in progress
  doc/code/analytics/1_result_analysis.ipynb
  doc/code/analytics/1_result_analysis.py
  pyrit/analytics/__init__.py
  pyrit/analytics/result_analysis.py
  pyrit/analytics/visualization.py
  tests/unit/analytics/test_result_analysis.py
  tests/unit/analytics/test_visualization.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

work in progress
  pyrit/analytics/visualization.py
Due: website

minor feedback
  tests/unit/converter/test_scientific_translation_converter.py
Due: website

Re-export PrependedMessageRequest from backend models __init__
  pyrit/backend/models/__init__.py
Due: website

Update pyrit/datasets/prompt_converters/academic_science_converter.yaml
  pyrit/datasets/prompt_converters/academic_science_converter.yaml
Due: none

Consolidate backend models __init__ exports
  pyrit/backend/models/__init__.py
Due: website

Update tests/unit/converter/test_scientific_translation_converter.py
  tests/unit/converter/test_scientific_translation_converter.py
Due: website

Fix outdated Phase 2 comment in list_attacks_async
  pyrit/backend/services/attack_service.py
Due: website

Enforce video_id presence on video_path pieces in remix validation
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_video_target.py
Due: website

Deduplicate conversation IDs before querying stats
  pyrit/backend/services/attack_service.py
Due: website

Remove dead code and improve test coverage to 99%
  pyrit/backend/mappers/attack_mappers.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_mappers.py
  tests/unit/backend/test_media_route.py
Due: website

Fix test_init_with_defaults: assert None when no config file exists
  tests/unit/cli/test_frontend_core.py
Due: website

Update frontend types and tests for backend API changes
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/InputBox.test.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/types/index.ts
  frontend/src/utils/messageMapper.test.ts
Due: none

add data validation
  pyrit/score/float_scale/self_ask_likert_scorer.py
  tests/unit/score/test_self_ask_likert.py
Due: website

FEAT: Scientific Translation Converter (#1379)
  doc/api.rst
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  pyrit/datasets/prompt_converters/academic_science_converter.yaml
  pyrit/datasets/prompt_converters/combined_science_converter.yaml
  pyrit/datasets/prompt_converters/math_science_converter.yaml
  pyrit/datasets/prompt_converters/reaction_science_converter.yaml
  pyrit/datasets/prompt_converters/research_science_converter.yaml
  pyrit/datasets/prompt_converters/smiles_science_converter.yaml
  pyrit/datasets/prompt_converters/technical_science_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/scientific_translation_converter.py
  tests/unit/converter/test_scientific_translation_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Delete airt_targets, rename tests add scorer constants
  doc/api.rst
  doc/code/registry/2_instance_registry.ipynb
  doc/code/registry/2_instance_registry.py
  pyrit/setup/initializers/airt_targets.py
  pyrit/setup/initializers/components/scorers.py
  tests/unit/setup/test_scorer_initializer.py
  tests/unit/setup/test_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: address PR review comments from hannahwestra25 and copilot
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/routes/media.py
  pyrit/backend/services/attack_service.py
  pyrit/cli/pyrit_backend.py
  tests/unit/backend/test_attack_service.py
  tests/unit/backend/test_mappers.py
  tests/unit/cli/test_pyrit_backend.py
Due: website

fix: add type ignore for ContainerSasPermissions across mypy versions
  pyrit/backend/mappers/attack_mappers.py
Due: website

fix: mock DEFAULT_CONFIG_PATH in test_init_with_defaults for CI
  tests/unit/cli/test_frontend_core.py
Due: website

feat: add centralized ApiError type and toApiError() helper
  frontend/src/services/errors.test.ts
  frontend/src/services/errors.ts
Due: none

feat: add Axios interceptors for request-ID and error logging
  frontend/jest-import-meta-transformer.ts
  frontend/jest.config.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/setupTests.ts
Due: none

feat: add X-Request-ID middleware for frontend-backend log correlation
  pyrit/backend/main.py
  pyrit/backend/middleware/__init__.py
  pyrit/backend/middleware/error_handlers.py
  pyrit/backend/middleware/request_id.py
  tests/unit/backend/test_request_id.py
Due: website

feat: add useConnectionHealth hook + ConnectionHealthProvider
  frontend/src/hooks/useConnectionHealth.test.tsx
  frontend/src/hooks/useConnectionHealth.tsx
Due: none

feat: add ConnectionBanner for global connection status display
  frontend/src/components/ConnectionBanner.test.tsx
  frontend/src/components/ConnectionBanner.tsx
Due: none
