Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

pr feedback
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/1_composite_scenario.py
  pyrit/setup/initialization.py
  pyrit/setup/initializers/pyrit_initializer.py
  tests/unit/memory/memory_interface/memory_interface.py
  tests/unit/setup/test_pyrit_initializer.py
Due: remove-notebook-headers, check-links, website

address comments, move file
  pyrit/datasets/seed_datasets/local/examples/psych-crisis-conversations.prompt
  pyrit/score/__init__.py
  pyrit/score/conversation_scorer.py
Due: website

precommit
  pyrit/score/conversation_scorer.py
Due: website

initial commit removing harm categories from normalizer
  doc/_toc.yml
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: remove-notebook-headers, check-links, website

precommit + remove scorer_type unused
  doc/_toc.yml
  pyrit/score/conversation_scorer.py
Due: website

remove unit test and precommit
  doc/cookbooks/1_sending_prompts.ipynb
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, website

precommit
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
Due: remove-notebook-headers

unit tests added
  pyrit/score/conversation_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: website

MAINT: Removing harm categories notebook (#1233)
  doc/_toc.yml
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, check-links, website

Apply suggestion from @romanlutz
  pyrit/memory/azure_sql_memory.py
Due: website

MAINT: Improve docstrings completeness in pyrit/memory (#1223)
  pyproject.toml
  pyrit/memory/__init__.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/central_memory.py
  pyrit/memory/memory_embedding.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
Due: website

replace LLM with deterministic algorithm in MathObfuscationConverter
  doc/code/converters/math_obfuscation_converter.ipynb
  pyrit/datasets/prompt_converters/math_obfuscation_converter.yaml
  pyrit/prompt_converter/math_obfuscation_converter.py
  tests/unit/converter/test_math_obfuscation_converter.py
Due: remove-notebook-headers, website

fix math obfuscation algorithm
  doc/code/converters/math_obfuscation_converter.ipynb
  pyrit/prompt_converter/math_obfuscation_converter.py
  tests/unit/converter/test_math_obfuscation_converter.py
Due: remove-notebook-headers, website

pr feedback
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/targets/4_non_llm_targets.ipynb
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target_copilot.ipynb
Due: remove-notebook-headers

pre-commit
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/targets/4_non_llm_targets.ipynb
Due: remove-notebook-headers

MAINT: Unit test and pre-commit speedup (#1227)
  .github/workflows/build_and_test.yml
  .pre-commit-config.yaml
  Makefile
  build_scripts/check_links.py
  build_scripts/conditional_jb_build.py
  build_scripts/validate_jupyter_book.py
  pyproject.toml
  tests/integration/converter/test_retry_timing_integration.py
  tests/integration/targets/test_rate_limiting_integration.py
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/converter/test_translation_converter.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/test_common_net_utility.py
  tests/unit/test_prompt_normalizer.py
Due: website

pre-commit
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
  doc/code/converters/char_swap_attack_converter.ipynb
Due: remove-notebook-headers, check-links, website

FEAT Breaking: selective text converter improvements (#1228)
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/bin_ascii_converter.py
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/first_letter_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/random_translation_converter.py
  pyrit/prompt_converter/selective_text_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/text_selection_strategy.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/converter/test_bin_ascii_converter.py
  tests/unit/converter/test_char_swap_generator_converter.py
  tests/unit/converter/test_selective_text_converter.py
  tests/unit/converter/test_text_selection_strategy.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, check-links, website

small refactor
  pyrit/score/conversation_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: website

adding tests, verifying things working
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.py
  pyrit/score/conversation_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: remove-notebook-headers, check-links, website

draft underlying model
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
Due: website

add simple example
  doc/code/targets/1_openai_chat_target.ipynb
Due: remove-notebook-headers

import sort and ruff
  doc/code/memory/embeddings.ipynb
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/integration/embeddings/test_openai_embedding.py
Due: remove-notebook-headers, website

fix unit tests with missing model name
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_simple_initializer.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_response_target_function_chaining.py
  tests/unit/target/test_prompt_target.py
  tests/unit/target/test_video_target.py
Due: website

fix scenarios tests
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: website

address PR feedback
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/1_azure_content_safety_scorers.py
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/1_openai_chat_target.py
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/integration/targets/test_entra_auth_targets.py
Due: remove-notebook-headers, check-links, website

more PR feedback
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
Due: website

Removing skip criteria
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/models/filter_criteria.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, check-links, website

Fixing pliny templates
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2.yaml
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2_5_max.yaml
  pyrit/datasets/jailbreak/templates/pliny/apple/siri_chatgpt.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_1_5_pro_experimental_0801.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_flash_thinking_exp.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_pro_experimental.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1114.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1206_flash_2_0.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/llama_3_1_nemotron_70b.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/nemotron_7_340b.yaml
  pyrit/datasets/jailbreak/templates/pliny/openai/chatgpt_tasks.yaml
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/models/seed.py
  pyrit/prompt_converter/text_jailbreak_converter.py
  tests/unit/datasets/test_jailbreak_text.py
Due: website

more fixes from PR feedback
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/unit/target/test_tts_target.py
Due: remove-notebook-headers, website

fixing tests
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/models/seed.py
  tests/unit/datasets/test_jailbreak_text.py
  tests/unit/models/test_seed.py
Due: website

removing redundancy
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/prompt_converter/text_jailbreak_converter.py
  tests/unit/datasets/test_jailbreak_text.py
Due: website
