Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

add py.typed to help with mypy type checking for consuming packages
  pyproject.toml
  pyrit/py.typed
Due: none

changing concurrency
  pyrit/scenario/core/scenario.py
Due: website

adding tests
  pyrit/common/path.py
  pyrit/datasets/executors/simulated_target/compliant.yaml
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
Due: website

remove run
  .devcontainer/devcontainer_setup.sh
Due: none

Address ruff issues
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

re-order to match previous
  .devcontainer/devcontainer_setup.sh
Due: none

FIX activate env (#1274)
  .devcontainer/devcontainer_setup.sh
Due: none

end to end simulated conversation working
  doc/cookbooks/2_precomputing_turns.ipynb
  pyrit/datasets/executors/crescendo/crescendo_variant_1.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_2.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_3.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_4.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_5.yaml
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/executors/tree_of_attacks/adversarial_system_prompt.yaml
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
Due: remove-notebook-headers, validate-jupyter-book, website

pr
  doc/code/targets/playwright_target_copilot.ipynb
  pyrit/executor/attack/core/attack_executor.py
Due: remove-notebook-headers, validate-jupyter-book, website

pr feedback
  .github/instructions/style-guide.instructions.md
  pyrit/executor/attack/core/attack_executor.py
  pyrit/models/seed_group.py
  pyrit/models/seed_prompt.py
  tests/unit/scenarios/test_scenario.py
Due: website

initial, minimal working version of WebSocketCopilotTarget
  doc/api.rst
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/websocket_copilot_target.py
  websocket_copilot_simple_example.py
Due: validate-jupyter-book, website

updating seed_group attack properties
  pyrit/models/seed_group.py
  tests/unit/models/test_seed.py
Due: website

Update .github/instructions/style-guide.instructions.md
  .github/instructions/style-guide.instructions.md
Due: none

fixing yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_1.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_2.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_3.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_4.yaml
  pyrit/datasets/executors/crescendo/crescendo_variant_5.yaml
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/executors/tree_of_attacks/adversarial_system_prompt.yaml
Due: none

pr feedback
  pyrit/executor/attack/core/attack_executor.py
Due: website

pre-commit
  doc/cookbooks/2_precomputing_turns.ipynb
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
Due: remove-notebook-headers, validate-jupyter-book, website

fix devcontainer by making bash default and removing volume mount for venv
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
Due: none

FIX make bash default and remove volume mount for venv in devcontainer (#1277)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
Due: none

fix tests and exports
  doc/api.rst
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/simulated_conversation.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
Due: validate-jupyter-book, website

Updating docs
  .env_example
  doc/setup/populating_secrets.md
Due: check-links, validate-jupyter-book

remove dispose calls in docs
  doc/code/converters/0_converters.ipynb
  doc/code/converters/0_converters.py
  doc/code/converters/3_audio_converters.ipynb
  doc/code/converters/3_audio_converters.py
  doc/code/converters/4_image_converters.ipynb
  doc/code/converters/4_image_converters.py
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/converters/transparency_attack_converter.py
  doc/code/executor/attack/3_crescendo_attack.ipynb
  doc/code/executor/attack/3_crescendo_attack.py
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/2_basic_memory_programming.py
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/6_azure_sql_memory.py
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target.py
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
  doc/code/targets/use_huggingface_chat_target.ipynb
  doc/code/targets/use_huggingface_chat_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT add py.typed to help with mypy type checking for consuming packages (#1271)
  pyproject.toml
  pyrit/py.typed
Due: none

working changes and additions
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/seed_datasets/local/airt/psychosocical_imminent_crisis.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

precommit
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/seed_datasets/local/airt/psychosocical_imminent_crisis.prompt
  pyrit/scenario/scenarios/airt/__init__.py
Due: website

adding more generic scam prompts, integrating multi-turn strategy into scenario
  pyrit/datasets/score/true_false_question/scams.yaml
  pyrit/datasets/seed_datasets/local/airt/scams.prompt
  pyrit/datasets/seed_datasets/local/airt/scams_impersonation.prompt
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/airt/scam_scenario.py
  tests/unit/scenarios/test_scam_scenario.py
Due: website

fixing mermaid diagram
  doc/setup/populating_secrets.md
Due: check-links, validate-jupyter-book

MAINT CONTROVERSIAL: Make env files configurable (#1253)
  .env_example
  doc/setup/populating_secrets.md
  pyrit/auxiliary_attacks/gcg/experiments/run.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/common/path.py
  pyrit/setup/initialization.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/setup/test_initialization.py
Due: check-links, validate-jupyter-book, website

fix permission denied error when creating env
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

add exclude
  .devcontainer/devcontainer.json
Due: none

remove auto fetch model name
  .env_example
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

revert nb
  doc/code/targets/1_openai_chat_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

update env example
  .env_example
Due: none

FIX fix permission denied error when creating env (#1279)
  .devcontainer/Dockerfile
Due: none

MAINT remove dispose memory engine calls in docs (#1278)
  doc/code/converters/0_converters.ipynb
  doc/code/converters/0_converters.py
  doc/code/converters/3_audio_converters.ipynb
  doc/code/converters/3_audio_converters.py
  doc/code/converters/4_image_converters.ipynb
  doc/code/converters/4_image_converters.py
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/converters/transparency_attack_converter.py
  doc/code/executor/attack/3_crescendo_attack.ipynb
  doc/code/executor/attack/3_crescendo_attack.py
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/2_basic_memory_programming.py
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/6_azure_sql_memory.py
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target.py
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
  doc/code/targets/use_huggingface_chat_target.ipynb
  doc/code/targets/use_huggingface_chat_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Update doc/code/converters/1_text_to_text_converters.py
  doc/code/converters/1_text_to_text_converters.py
Due: check-links, validate-jupyter-book, website

big pr refactor
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/executor/core/strategy.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_attack_executor_partial.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
Due: remove-notebook-headers, validate-jupyter-book, website

add useful error message for "server rejected WebSocket connection: HTTP 401"
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

improve error handling and logging
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

define virtual_env
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
Due: none
