Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

added changed for the new updates
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/common/utils.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/memory/test_memory_interface.py
Due: website

add fixture and clean up methods and edit docstrings and add tests
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/human_labeled_dataset.py
  pyrit/score/scorer_evaluator.py
  tests/integration/score/test_likert_integration.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

unused import
  pyrit/score/self_ask_likert_scorer.py
Due: website

try pip install sentencepiece
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
Due: none

rm unit test with fetch - for transphobia dataset
  tests/unit/datasets/test_transphobia_awareness_dataset.py
Due: website

comma separated author names
  pyrit/datasets/transphobia_awareness_dataset.py
Due: website

FEAT Refactoring TreeOfAttacks with the new AttackStrategy (#992)
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/common/utils.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/memory/test_memory_interface.py
Due: website

removing long comments, and word wrapping to keep <120 chars
  pyrit/datasets/transphobia_awareness_dataset.py
Due: website

retry
  doc/code/auxiliary_attacks/1_gcg_azure_ml.ipynb
Due: remove-notebook-headers

mypy
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

restructure error handling
  pyrit/prompt_target/openai/openai_chat_target_base.py
Due: website

initial commit without datasets refactor
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/harm_category.py
  pyrit/models/harm_category_definitions.yaml
  pyrit/models/seed_prompt.py
  tests/unit/datasets/test_adv_bench_dataset.py
  tests/unit/datasets/test_xstest_dataset.py
  tests/unit/memory/test_memory_interface.py
  tests/unit/models/test_seed_prompt.py
Due: website

FEAT add OpenAI Response Target (#935)
  .env_example
  build_scripts/check_links.py
  doc/_toc.yml
  doc/api.rst
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/common/__init__.py
  pyrit/common/data_url_converter.py
  pyrit/models/data_type_serializer.py
  pyrit/models/literals.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/common/test_convert_local_image_to_data_url.py
  tests/unit/mocks.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_prompt_target.py
  tests/unit/test_literals.py
Due: remove-notebook-headers, check-links, website

refactor
  pyrit/attacks/single_turn/role_play.py
Due: website

refactoring as attack initial commit
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/role_play.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

refactored
  pyrit/attacks/single_turn/role_play.py
Due: website

precommit
  pyrit/attacks/single_turn/role_play.py
Due: website

refactor
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

resolve comments
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/models/__init__.py
  pyrit/models/harm_category.py
Due: website

updated easier datasets with new cat
  pyrit/datasets/adv_bench_dataset.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
  pyrit/datasets/darkbench_dataset.py
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
  pyrit/datasets/equitymedqa_dataset.py
  pyrit/datasets/forbidden_questions_dataset.py
Due: website

pre commit fixes
  pyrit/datasets/adv_bench_dataset.py
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/memory/memory_interface.py
  pyrit/models/harm_category.py
  pyrit/models/harm_category_definitions.yaml
  pyrit/models/seed_prompt.py
  tests/unit/datasets/test_xstest_dataset.py
  tests/unit/memory/test_memory_interface.py
Due: website

update aliases
  pyrit/models/harm_category.py
Due: website

last fix
  pyrit/models/harm_category.py
Due: website

Update _config.yml
  doc/_config.yml
Due: none

fix unit test
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

FIX: initialize kg_result as string and upgrade doc header; silence top-level await check
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

FIX: pre-commit hooks
  doc/_toc.yml
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_build_knowledge_graph.yaml
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_use_fewshot.yaml
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_use_knowledge_graph.yaml
  pyrit/orchestrator/anecdoctor_orchestrator.py
  tests/unit/orchestrator/test_anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

minor refactors to clean up and format
  pyrit/datasets/transphobia_awareness_dataset.py
Due: website

feat: add image compression converter
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/image_compression_converter.py
  tests/unit/converter/test_image_compression_converter.py
Due: website

rm fn args - fetch_transphobia_awareness_dataset
  pyrit/datasets/transphobia_awareness_dataset.py
Due: website

fix keyword err
  pyrit/datasets/transphobia_awareness_dataset.py
Due: website

rm Optional
  pyrit/datasets/transphobia_awareness_dataset.py
Due: website

FIX: Ensure _kg_result is initialized
  pyrit/orchestrator/anecdoctor_orchestrator.py
Due: website

FEAT: Add anecdoctor orchestrator to build attack prompts from real-world examples. (#913)
  doc/_toc.yml
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_build_knowledge_graph.yaml
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_use_fewshot.yaml
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_use_knowledge_graph.yaml
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
  tests/unit/orchestrator/test_anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

FEAT adding transphobia awareness dataset (#989)
  pyrit/datasets/__init__.py
  pyrit/datasets/transphobia_awareness_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

renaming and fix comments
  pyrit/models/seed_prompt.py
Due: website

Adding conversations to AttackResult
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/models/attack_result.py
Due: website

Fixing OpenAIChatTarget inheritence
  pyrit/prompt_target/openai/openai_chat_target_base.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

fixing test
  tests/unit/target/test_openai_chat_target.py
Due: website

add enum, renaming, new directory, validate fields
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal.csv
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/metrics_type.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
