Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

build fix
  pyrit/models/prompt_request_response.py
Due: website

build fix
  doc/code/converters/math_prompt_converter.ipynb
  doc/lab/lab.ipynb
  doc/lab/lab_target.py
Due: remove-notebook-headers, check-links, website

build fix
  pyrit/score/composite_scorer.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

reverting lab
  doc/lab/lab.ipynb
  doc/lab/lab_target.py
Due: remove-notebook-headers, check-links, website

fixing website
  doc/_toc.yml
Due: none

fixing website
  doc/code/converters/ansi_attack_converter.ipynb
Due: remove-notebook-headers

Updated unit test per PR comments
  tests/unit/score/test_look_back_scorer.py
Due: website

MAINT: black, ruff and pylint
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  tests/unit/orchestrator/test_anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

remove harm system prompt for cresc
  pyrit/datasets/score/scales/red_teamer_system_prompt.yaml
Due: none

modify release process md
  doc/contributing/11_release_process.md
Due: none

FIX: Removing harm specific prevention for Crescendo Orchestrator (#911)
  pyrit/datasets/score/scales/red_teamer_system_prompt.yaml
Due: none

draft
  .gitignore
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/common/path.py
  pyrit/common/scorer_evals_helper.py
  pyrit/datasets/score/scorer_evals/eval_configs/sample_config_likert_hate.yaml
  pyrit/datasets/score/scorer_evals/eval_configs/sample_config_likert_violence.yaml
  pyrit/datasets/score/scorer_evals/eval_datasets/likert_hate_speech_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/eval_datasets/likert_violence_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/metrics/likert_scorer/hate_speech_scale.json
  pyrit/datasets/score/scorer_evals/metrics/likert_scorer/violence_scale.json
  pyrit/models/seed_prompt.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_likert_scorer.py
  tests/integration/score/test_likert_integration.py
Due: remove-notebook-headers, check-links, website

feat: policy scorer
  doc/code/scoring/policy_scorers.ipynb
  pyrit/datasets/score/scales/policy_generator_prompt.yaml
  pyrit/datasets/score/scales/policy_system_prompt.yaml
  pyrit/score/policy_scorer.py
Due: remove-notebook-headers, website

PR feedback
  doc/api.rst
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.py
  pyrit/models/prompt_request_response.py
  pyrit/models/question_answering.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/__init__.py
  pyrit/score/question_answer_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  pyrit/score/substring_scorer.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_tree_of_attack_node.py
  tests/unit/orchestrator/test_tree_of_attacks_with_pruning_orchestrator.py
  tests/unit/score/test_question_answer_scorer.py
  tests/unit/score/test_substring.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, check-links, website

PR feedback
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/targets/4_non_llm_targets.ipynb
  pyrit/models/prompt_request_response.py
  pyrit/models/question_answering.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/score/question_answer_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
  tests/unit/score/test_question_answer_scorer.py
  tests/unit/score/test_substring.py
  tests/unit/test_prompt_request_piece.py
Due: remove-notebook-headers, website

build
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
  tests/integration/cli/test_cli_integration.py
Due: website

fixed a few bugs with the RealtimeTarget
  pyrit/exceptions/exception_classes.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  tests/unit/target/test_realtime_target.py
Due: website

fixed comments
  tests/unit/target/test_realtime_target.py
Due: website

FIX IndexError with RealtimeTarget (#914)
  pyrit/exceptions/exception_classes.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  tests/unit/target/test_realtime_target.py
Due: website

add more to release process info
  doc/contributing/11_release_process.md
Due: none

add note to release process
  doc/contributing/11_release_process.md
Due: none

add pypi publish info to release md
  doc/contributing/11_release_process.md
Due: none

add note about twine dist to release md
  doc/contributing/11_release_process.md
Due: none

bump version for release v0.9.0
  pyproject.toml
  pyrit/__init__.py
Due: website

MAINT post-v0.9.1.dev0 release updates (#915)
  pyproject.toml
  pyrit/__init__.py
Due: website

updates to release process doc
  doc/contributing/11_release_process.md
Due: none

small doc fixes
  pyrit/score/look_back_scorer.py
Due: website

fix tests, lint, replace py file in docs with a generated one from ipynb
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/score/look_back_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: remove-notebook-headers, check-links, website

more fixes to docs
  doc/_toc.yml
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
Due: remove-notebook-headers, check-links, website

FEAT Addition of LookBackScorer which scores using the entire conversation as context. (#906)
  doc/_toc.yml
  doc/api.rst
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/datasets/score/likert_scales/behavior_change.yaml
  pyrit/datasets/score/scales/behavior_change_system_prompt.yaml
  pyrit/score/__init__.py
  pyrit/score/look_back_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: remove-notebook-headers, check-links, website

pr feedback
  doc/contributing/11_release_process.md
Due: none

Updating LookBackScorer with a parameter that will determine if prompts with # Instructions will be excluded
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/score/look_back_scorer.py
Due: remove-notebook-headers, check-links, website

DOC Update Releasing PyRIT Documentation (#916)
  doc/contributing/11_release_process.md
Due: none

Adjusted Example notebook to place exclude_instruction_prompts in the correct place.
  doc/code/scoring/look_back_scorer.ipynb
Due: remove-notebook-headers

improve typing, add clarity
  doc/code/orchestrators/5_crescendo_ensemble_orchestrator.ipynb
  pyrit/orchestrator/__init__.py
  pyrit/score/__init__.py
  pyrit/score/ensemble_scorer.py
Due: remove-notebook-headers, website

remove SubStringsMultipleScorer
  doc/code/orchestrators/5_crescendo_ensemble_orchestrator.ipynb
  pyrit/score/__init__.py
  pyrit/score/composite_scorer.py
  pyrit/score/ensemble_scorer.py
  pyrit/score/score_aggregator.py
  pyrit/score/substrings_multiple_scorer.py
Due: remove-notebook-headers, website
