Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

updated api.rst
  doc/api.rst
Due: none

add a few additional lines to gitignore to simplify experimental doc builds
  .gitignore
Due: none

fix scanner scenario for non-text prompts
  pyrit/cli/__main__.py
Due: website

lint
  pyrit/cli/__main__.py
Due: website

standardize on mocking to address python 3.10 specific signature inspection issue
  tests/unit/cli/test_cli.py
Due: website

ensure every dataset has an integration test, fix equitymedqa
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/equitymedqa_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_exists_integration_test.py
Due: website

fix module name
  pyrit/datasets/equitymedqa_dataset.py
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

fix mocks
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

fix error case
  tests/integration/cli/test_cli_integration.py
Due: website

fix decoding trust data path
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
Due: website

fix prompt shield nb by avoiding the changed orchestrator ID
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.py
Due: remove-notebook-headers, check-links, website

Update doc/code/scoring/prompt_shield_scorer.py
  doc/code/scoring/prompt_shield_scorer.py
Due: check-links, website

linting
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
Due: website

improved error messages
  doc/code/orchestrators/xpia_helpers.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
Due: check-links, website

add images for HackAPrompt setup
  assets/hack_a_prompt_get_cookies.png
  assets/hack_a_prompt_get_session_id.png
  doc/code/targets/run_hack_a_prompt_target.ipynb
  doc/code/targets/run_hack_a_prompt_target.py
Due: remove-notebook-headers, check-links, website

add group alias back
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multiturn-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multiturn-multimodal-dataset.prompt
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  tests/unit/memory/test_memory_interface.py
  tests/unit/models/test_seed_prompt.py
Due: website

FIX ensure every dataset has an integration test, fix equitymedqa (#981)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/equitymedqa_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_equitymedqa_dataset.py
  tests/unit/datasets/test_exists_integration_test.py
Due: website

FIX replace orchestrator ID query in prompt shield notebook (#983)
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.py
Due: remove-notebook-headers, check-links, website

TAP and TAP node impl
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/multi_turn/tree_of_attacks_node.py
Due: website

FIX correct decoding trust data path (#982)
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
Due: website

fix linting
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
Due: website

more linting
  pyrit/prompt_target/openai/openai_tts_target.py
Due: website

lint
  doc/code/orchestrators/xpia_helpers.py
Due: check-links, website

refactor evaluator
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/score/__init__.py
  pyrit/score/human_labeled_dataset.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

move args to __init__
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_piece.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/prompt_converter/add_text_image_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/human_in_the_loop_converter.py
  pyrit/prompt_converter/pdf_converter.py
  pyrit/prompt_converter/qr_code_converter.py
  pyrit/prompt_converter/random_capital_letters_converter.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/composite_scorer.py
  pyrit/score/self_ask_refusal_scorer.py
  pyrit/score/substring_scorer.py
Due: website

add check for first text piece
  pyrit/cli/__main__.py
Due: website

fix unit tests
  tests/unit/target/test_http_target.py
  tests/unit/target/test_realtime_target.py
Due: website

FIX scanner support for non-text inputs (#980)
  .gitignore
  pyrit/cli/__main__.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/test_cli.py
Due: website

add integration test, fix indexing
  pyrit/datasets/sosbench_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

MAINT improved error messages for target validation (#984)
  doc/code/orchestrators/xpia_helpers.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/unit/target/test_http_target.py
  tests/unit/target/test_realtime_target.py
Due: check-links, website

add integration test
  tests/integration/datasets/test_fetch_datasets.py
Due: website

lint
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
Due: website

refactor
  pyrit/attacks/single_turn/role_play.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

initial pr adding attack file
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/role_play.py
Due: website

refactor
  pyrit/attacks/single_turn/role_play.py
Due: website

FEAT adding SOS-Bench dataset (#974)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/sosbench_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

refactoring as attack initial commit
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/role_play.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

small cleanup
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
