Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

ruffen
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Run pre-commit
  doc/code/executor/attack/beam_search_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

making eval config
  pyrit/identifiers/__init__.py
  pyrit/identifiers/atomic_attack_identifier.py
  pyrit/identifiers/evaluation_identity.py
  pyrit/models/attack_result.py
  pyrit/scenario/core/atomic_attack.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/identifiers/test_evaluation_identity.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: website

MAINT: Bump pip deps (#1442)
  pyproject.toml
  uv.lock
Due: none

TEST: add unit tests for ConverterRegistry (#1440)
  tests/unit/registry/test_converter_registry.py
Due: website

pr feedback
  pyrit/datasets/score/likert/likert_system_prompt.yaml
  pyrit/score/float_scale/self_ask_likert_scorer.py
  tests/unit/score/test_self_ask_likert.py
Due: website

FEAT: Flexible Scale Likert Scoring (#1444)
  pyrit/datasets/score/likert/likert_system_prompt.yaml
  pyrit/score/float_scale/self_ask_likert_scorer.py
  tests/unit/score/test_self_ask_likert.py
Due: website

refactor: move conversation validation logic to AttackResult domain object
  pyrit/backend/services/attack_service.py
  pyrit/models/attack_result.py
Due: website

pre-commit
  doc/api.rst
  pyrit/identifiers/evaluation_identity.py
  pyrit/models/attack_result.py
  pyrit/scenario/core/atomic_attack.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: validate-jupyter-book, website

feat: support operator/operation labels from config file
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Labels/LabelsBar.tsx
  pyrit/backend/routes/version.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_backend.py
  pyrit/setup/configuration_loader.py
Due: website

pr feedback
  doc/api.rst
  pyrit/identifiers/__init__.py
  pyrit/identifiers/atomic_attack_identifier.py
  pyrit/identifiers/evaluation_identifier.py
  pyrit/models/scenario_result.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  tests/unit/identifiers/test_atomic_attack_identifier.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/identifiers/test_evaluation_identifier.py
  tests/unit/score/test_scorer_evaluation_identifier.py
Due: validate-jupyter-book, website

fix: detect actual Vite port in dev.py status message
  frontend/dev.py
Due: website

fix: wait for backend health before declaring servers running
  frontend/dev.py
Due: website

fix: pipe backend output so status banner appears after init
  frontend/dev.py
Due: website

fix: kill stale processes on ports 8000/3000 during stop
  frontend/dev.py
Due: website

fix: --database default no longer overrides config file
  pyrit/cli/pyrit_backend.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/cli/test_pyrit_shell.py
Due: website

feat: add E2E error scenario tests
  frontend/e2e/errors.spec.ts
  frontend/playwright.config.ts
Due: none

Add VLGuard multimodal safety dataset loader
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/vlguard_dataset.py
  tests/unit/datasets/test_vlguard_dataset.py
Due: website

feat: persist history view filters across navigation with reset button
  frontend/src/App.tsx
  frontend/src/components/History/AttackHistory.test.tsx
  frontend/src/components/History/AttackHistory.tsx
Due: none

Fix integration test import errors and runtime issues
  pyrit/prompt_converter/add_image_to_video_converter.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/integration/mocks.py
  tests/integration/score/test_hitl_gradio_integration.py
Due: website

Update 1_loading_datasets notebook to include VLGuard
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Fix dict attack_identifier in azure sql memory integration test
  tests/integration/memory/test_azure_sql_memory_integration.py
Due: website

fix: resolve all frontend lint errors and warnings
  frontend/e2e/flows.spec.ts
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Config/TargetConfig.test.tsx
  frontend/src/components/History/AttackHistory.test.tsx
  frontend/src/components/History/AttackHistory.tsx
  frontend/src/components/History/historyFilters.ts
  frontend/src/components/Labels/LabelsBar.test.tsx
  frontend/src/components/Labels/LabelsBar.tsx
  frontend/src/components/Labels/labelDefaults.ts
  frontend/src/hooks/useConnectionHealth.test.tsx
  frontend/src/hooks/useConnectionHealth.tsx
Due: none

fix: show all target params (e.g. reasoning_effort) in target config view
  pyrit/backend/mappers/target_mappers.py
  tests/unit/backend/test_mappers.py
Due: website

test: add comprehensive tests for target_specific_params display
  frontend/src/components/Config/TargetConfig.test.tsx
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_mappers.py
  tests/unit/backend/test_target_service.py
Due: website

fix: auto-open conversations panel on branch/copy actions
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
Due: none

fix: prevent continuing conversation after switching targets
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
Due: none

fix: auto-resolve video_id metadata for video remix in GUI
  pyrit/backend/services/attack_service.py
  tests/unit/backend/test_attack_service.py
Due: website

merge fix
  pyrit/models/attack_result.py
Due: website

feat: propagate video metadata through frontend for seamless remix
  frontend/src/types/index.ts
  frontend/src/utils/messageMapper.test.ts
  frontend/src/utils/messageMapper.ts
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/models/attacks.py
Due: website

.
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

test fix
  tests/unit/backend/test_attack_service.py
Due: website

Update doc/contributing/11_release_process.md
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

MAINT Updating Release Instructions (#1449)
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

fix: preserve video_path pieces in request so they appear in chat UI
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_video_target.py
Due: website

Add Release Readiness step to release process docs
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

FEAT: Update evaluate_scorers (#1406)
  build_scripts/evaluate_scorers.py
  doc/api.rst
  doc/code/registry/2_instance_registry.ipynb
  doc/code/registry/2_instance_registry.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/components/__init__.py
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  tests/unit/setup/test_scorer_initializer.py
  tests/unit/setup/test_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
