Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

utilities scaffolding
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
  tests/unit/datasets/test_seed_dataset_metadata.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

FIX: fixing navbar link (#1468)
  doc/myst.yml
Due: none

PR feedback
  .pyrit_conf_example
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  pyrit/setup/configuration_loader.py
Due: website

PR feedback
  docker/README.md
  pyrit/cli/pyrit_shell.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  pyrit/setup/initializers/simple.py
  tests/unit/setup/test_pyrit_initializer.py
  tests/unit/setup/test_scorer_initializer.py
  tests/unit/setup/test_targets_initializer.py
  uv.lock
Due: check-links, website

docs: generate API pages for empty modules and render aliases
  build_scripts/gen_api_md.py
Due: website

Add converter catalog panel scaffolding
  frontend/src/components/Chat/ChatInputArea.styles.ts
  frontend/src/components/Chat/ChatInputArea.test.tsx
  frontend/src/components/Chat/ChatInputArea.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/ConverterPanel.styles.ts
  frontend/src/components/Chat/ConverterPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  pyrit/backend/models/converters.py
  pyrit/backend/routes/converters.py
  pyrit/backend/services/converter_service.py
  tests/unit/backend/test_api_routes.py
  tests/unit/backend/test_converter_service.py
Due: website

combobox for list and added parameters in
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ConverterPanel.styles.ts
  frontend/src/components/Chat/ConverterPanel.tsx
  frontend/src/types/index.ts
  pyrit/backend/models/converters.py
  pyrit/backend/services/converter_service.py
Due: website

Update frontend lockfile
  frontend/package-lock.json
Due: none

change converter panel design
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ConverterPanel.styles.ts
  frontend/src/components/Chat/ConverterPanel.tsx
Due: none

added actual conversion in and preview button to view converted value
  frontend/src/components/Chat/ChatInputArea.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/ConverterPanel.styles.ts
  frontend/src/components/Chat/ConverterPanel.tsx
  frontend/src/services/api.ts
Due: none

adding llm-based badge to the list of converters
  frontend/src/components/Chat/ConverterPanel.styles.ts
  frontend/src/components/Chat/ConverterPanel.tsx
  frontend/src/types/index.ts
  pyrit/backend/models/converters.py
  pyrit/backend/services/converter_service.py
Due: website

fixed bug for int input
  frontend/src/components/Chat/ConverterPanel.tsx
  pyrit/backend/services/converter_service.py
Due: website

make banners in line, looks prettier
  frontend/src/components/Chat/ChatInputArea.tsx
Due: none

adding converted value result into the chat box
  frontend/src/components/Chat/ChatInputArea.tsx
  frontend/src/components/Chat/ChatWindow.tsx
Due: none

LICENSE committed
  LICENSE
Due: none

CODE_OF_CONDUCT.md committed
  CODE_OF_CONDUCT.md
Due: none

SECURITY.md committed
  SECURITY.md
Due: none

README.md committed
  README.md
Due: none

SUPPORT.md committed
  SUPPORT.md
Due: none

Update README
  README.md
  doc/roakey.png
Due: none

Configure GitHub Pages
  .github/workflows/pages.yml
  doc/404.html
  doc/index.html
Due: none
