Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

fix: address ruff and mypy lint issues
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/attacks.py
  pyrit/backend/services/attack_service.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/conversation_stats.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/setup/initializers/airt.py
Due: website

fix: ruff format
  pyrit/setup/initializers/airt.py
Due: website

Refactor to TargetCapabilities dataclass per review feedback
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/common/target_capabilities.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/target/test_supports_multi_turn.py
Due: website

FEAT Add SALAD-Bench dataset loader (#1425)
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/salad_bench_dataset.py
  tests/unit/datasets/test_salad_bench_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

fix: remove stale _ORBenchDataset from __all__
  pyrit/datasets/seed_datasets/remote/__init__.py
Due: website

fix: pre-commit auto-fixes
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fix: nbstripout cleanup
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fix: alphabetize __all__ in remote __init__.py and add missing entries
  pyrit/datasets/seed_datasets/remote/__init__.py
Due: website

Use TargetCapabilities object for overrides instead of individual constructor args
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/target/test_supports_multi_turn.py
Due: website

Fix system prompt duplication for single-turn targets and update Crescendo error
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
Due: website

refactoring eval_hash
  pyrit/identifiers/component_identifier.py
  pyrit/models/scenario_result.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics.py
Due: website

fix: sanitize traceback/evalue fields, skip binary MIME types
  build_scripts/sanitize_notebook_paths.py
  tests/unit/build_scripts/test_sanitize_notebook_paths.py
Due: website

fix: restore type info in image_size docstring, move reconfigure into main()
  pyrit/cli/pyrit_backend.py
  pyrit/prompt_target/openai/openai_image_target.py
Due: website

Auto-detect Entra ID auth for Azure endpoints and fix inline import
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/target/test_tts_target.py
Due: website

Fix PERF401 violations from merged main code
  build_scripts/evaluate_scorers.py
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  doc/generate_docs/ipynb_to_pct.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Remove conversation rotation from ChunkedRequestAttack
  pyrit/executor/attack/multi_turn/chunked_request.py
Due: website

MAINT Enable ruff rule E (pycodestyle errors) (#1413)
  pyproject.toml
  pyrit/backend/mappers/attack_mappers.py
  pyrit/backend/routes/attacks.py
  pyrit/cli/pyrit_backend.py
  pyrit/cli/pyrit_shell.py
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/registry/discovery.py
  pyrit/scenario/core/scenario_strategy.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  pyrit/score/audio_transcript_scorer.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/score/test_scorer_prompt_validator.py
Due: website

Fix mypy no-any-return in attack_manager.py for cross-platform compatibility
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: website

fix: E731 lambda to def
  tests/unit/setup/test_airt_targets_initializer.py
Due: website

fixing flaky test
  tests/unit/target/test_prompt_target_text.py
Due: website

fix: update per-file-ignores comment to reflect E402/E501
  pyproject.toml
Due: none

Fix ruff E rule violations from merged #1413
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/3_classification_scorers.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.py
  pyproject.toml
  tests/unit/setup/test_airt_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix: add E402/E501 to doc per-file-ignores
  pyproject.toml
Due: none

fix: address review comments - logger.exception, f-string space, remove obsolete ignores, E731
  pyproject.toml
  pyrit/backend/middleware/error_handlers.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: website

Add Entra auth auto-detection to AzureContentFilterScorer and add TargetCapabilities to api.rst
  doc/api.rst
  doc/code/targets/4_openai_video_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
Due: check-links, validate-jupyter-book, website

fix: re-add ui/ per-file-ignores, revert logger.exception, fix E501
  pyproject.toml
  pyrit/backend/middleware/error_handlers.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

Address review comments and fix pre-commit failures
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/3_classification_scorers.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.py
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/memory/memory_interface.py
  pyrit/models/seeds/seed.py
  pyrit/prompt_target/azure_ml_chat_target.py
  tests/unit/setup/test_airt_targets_initializer.py
  tests/unit/setup/test_pyrit_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Fix all ruff check errors to reach 0 violations
  pyproject.toml
  pyrit/datasets/seed_datasets/remote/equitymedqa_dataset.py
  pyrit/prompt_converter/ansi_escape/ansi_payloads.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/converter/test_superscript_converter.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
Due: website

Address review comments and fix pre-commit after main merge
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/3_classification_scorers.py
  doc/code/targets/2_openai_responses_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.py
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  tests/unit/converter/test_add_image_text_converter.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Remove redundant empty list initializations before comprehensions
  .pre-commit-config.yaml
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Address review comments and regenerate notebook
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/3_classification_scorers.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/deployment/download_and_register_hf_model_aml.ipynb
  doc/deployment/download_and_register_hf_model_aml.py
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  tests/unit/setup/test_airt_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Rerun video target notebook with Entra auth
  doc/code/targets/4_openai_video_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

FEAT Add OR-Bench dataset loader (#1423)
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/or_bench_dataset.py
  tests/unit/datasets/test_or_bench_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

fix: add PERF to auxiliary_attacks per-file-ignores
  pyproject.toml
Due: none
