Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

Update __init__.py
  pyrit/executor/attack/single_turn/__init__.py
Due: website

Update 0_attack.md
  doc/code/executor/attack/0_attack.md
Due: check-links

Update api.rst
  doc/api.rst
Due: none

Update __init__.py
  pyrit/orchestrator/__init__.py
Due: website

Update SAMPLE_mixed_objective_refusal.csv
  pyrit/score/config/scorer_evals/objective/SAMPLE_mixed_objective_refusal.csv
Due: none

Create implicare_orchestrator.py
  doc/code/orchestrators/implicare_orchestrator.py
Due: check-links, website

Create implicare_attack_orchestrator.py
  pyrit/orchestrator/single_turn/implicare_attack_orchestrator.py
Due: website

Create implicare_attack.py
  doc/code/executor/attack/implicare_attack.py
Due: check-links, website

add original message
  pyrit/score/scorer.py
Due: website

FEAT Refactoring to a simpler implementation.
  doc/code/executor/attack/multi_branch_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_branch_attack copy.py
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: remove-notebook-headers, website

fixing many tests
  pyrit/prompt_target/openai/openai_completion_target.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/memory/test_memory_exporter.py
  tests/unit/mocks.py
  tests/unit/orchestrator/test_scoring_orchestrator.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/score/test_prompt_shield_scorer.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_crucible_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_gandalf_target.py
  tests/unit/target/test_http_api_target.py
  tests/unit/target/test_huggingface_chat_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_prompt_shield_target.py
  tests/unit/target/test_prompt_target_azure_blob_storage.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
  tests/unit/test_prompt_request_piece.py
Due: website

fixing more tests
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_playwright_target.py
  tests/unit/target/test_prompt_shield_target.py
  tests/unit/target/test_prompt_target.py
  tests/unit/target/test_prompt_target_azure_blob_storage.py
  tests/unit/target/test_prompt_target_text.py
Due: website

add test
  tests/unit/score/test_scorer.py
Due: website

FEAT still tinkering with multibranch
  doc/code/executor/attack/multi_branch_attack.ipynb
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
  pyrit/executor/core/strategy.py
Due: remove-notebook-headers, website

Create implicare_attack.yaml
  pyrit/datasets/executors/implicare_attack.yaml
Due: none

Update implicare_attack.py
  doc/code/executor/attack/implicare_attack.py
Due: check-links, website

FEAT Changing StrategyResult to include a field for intermediate result contexts
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
  pyrit/executor/core/strategy.py
  pyrit/models/strategy_result.py
Due: website

FEAT Added decorator for intermediate results
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
  pyrit/executor/core/strategy.py
  pyrit/models/strategy_result.py
Due: website

test
  tests/unit/score/test_scorer.py
Due: website

Create implicare_attack.pynb
  doc/code/executor/attack/implicare_attack.pynb
Due: none

create helper and pre-commit
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/score/scorer.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_video.mp4
Due: remove-notebook-headers, website

FEAT Multibranch changes to base classes
  doc/code/executor/attack/multi_branch_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
  pyrit/executor/core/strategy.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/strategy_result.py
Due: remove-notebook-headers, website

tests pass
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/models/prompt_request_response.py
  tests/unit/memory/memory_interface/conftest.py
  tests/unit/mocks.py
  tests/unit/orchestrator/test_scoring_orchestrator.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/test_prompt_normalizer.py
  tests/unit/test_prompt_request_piece.py
  tests/unit/test_prompt_request_response.py
  tests/unit/test_score.py
Due: website

FEAT overloaded async lifecycle methods
  pyrit/common/__init__.py
  pyrit/common/properties.py
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
  pyrit/executor/core/strategy.py
  pyrit/models/strategy_result.py
Due: website

good progress on merging fixes
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/prompt_shield_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  tests/unit/score/test_scorer.py
Due: website

Rename implicare_attack.pynb to implicare_attack.ipynb
  doc/code/executor/attack/implicare_attack.ipynb
Due: remove-notebook-headers

Update implicare_attack.ipynb
  doc/code/executor/attack/implicare_attack.ipynb
Due: remove-notebook-headers

Update __init__.py
  pyrit/executor/attack/__init__.py
Due: website

Update implicare_attack.yaml
  pyrit/datasets/executors/implicare_attack.yaml
Due: none

fix test
  tests/unit/score/test_scorer.py
  tests/unit/score/test_video.mp4
Due: website

fix import cv error
  pyrit/score/scorer.py
  tests/unit/score/test_scorer.py
Due: website

fix all tests
  pyrit/score/scorer.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_scorer.py
Due: website

merge
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/memory/sqlite_memory.py
Due: website

Adding JailBreakV_28k dataset and tests
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

Fixes for handling splits
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

fix function signature
  pyrit/memory/sqlite_memory.py
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

pre-commit hooks
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

fix sqlite id mismatch
  pyrit/memory/sqlite_memory.py
Due: website
