Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

adding to_attack_parameters
  doc/code/datasets/0_dataset.md
  doc/code/datasets/2_seed_programming.ipynb
  pyrit/models/__init__.py
  pyrit/models/seed_group.py
  tests/unit/models/test_seed.py
Due: remove-notebook-headers, check-links, website

adding docs
  doc/code/datasets/2_seed_programming.ipynb
  doc/code/datasets/3_dataset_writing.md
  doc/code/datasets/3_using_datasets.ipynb
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_tips.md
  pyrit/executor/attack/printer/console_printer.py
  pyrit/models/seed_group.py
Due: remove-notebook-headers, check-links, website

working unit and integration tests (ollama pending)
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_error_handling.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/integration/targets/test_target_filters.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_error_handling.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
Due: website

pre-commit (except local error for website build)
  pyrit/auth/azure_auth.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_error_handling.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/integration/targets/test_target_filters.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_error_handling.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_prompt_target.py
  tests/unit/target/test_sora_target.py
  tests/unit/target/test_tts_target.py
Due: website

consolidated scales, added violence file
  pyrit/score/config/likert_scales/self_harm_v2.yaml
  pyrit/score/config/likert_scales/sexual.yaml
  pyrit/score/config/likert_scales/sexual_v2.yaml
Due: none

rename folders, normalize column names
  pyrit/score/config/scorer_evals/likert/exploit.csv
  pyrit/score/config/scorer_evals/likert/hate_speech.csv
  pyrit/score/config/scorer_evals/likert/hate_speech_single_score.csv
  pyrit/score/config/scorer_evals/likert/info_integrity.csv
  pyrit/score/config/scorer_evals/likert/mini_hate_speech.csv
  pyrit/score/config/scorer_evals/likert/privacy.csv
  pyrit/score/config/scorer_evals/likert/self_harm.csv
  pyrit/score/config/scorer_evals/likert/sexual.csv
  pyrit/score/config/scorer_evals/likert/violence.csv
  pyrit/score/config/scorer_evals/likert/violence_single_score.csv
  pyrit/score/config/scorer_evals/objective/hate_speech.csv
  pyrit/score/config/scorer_evals/objective/info_integrity.csv
  pyrit/score/config/scorer_evals/objective/privacy.csv
  pyrit/score/config/scorer_evals/objective/self_harm.csv
  pyrit/score/config/scorer_evals/objective/violence.csv
  pyrit/score/config/scorer_evals/true_false/exploit.csv
  pyrit/score/config/scorer_evals/true_false/hate_speech.csv
  pyrit/score/config/scorer_evals/true_false/info_integrity.csv
  pyrit/score/config/scorer_evals/true_false/mini_refusal.csv
  pyrit/score/config/scorer_evals/true_false/privacy.csv
  pyrit/score/config/scorer_evals/true_false/refusal_score.csv
  pyrit/score/config/scorer_evals/true_false/self_harm.csv
  pyrit/score/config/scorer_evals/true_false/sexual.csv
  pyrit/score/config/scorer_evals/true_false/violence.csv
Due: none

making cache consistent
  doc/code/datasets/4_dataset_coding.ipynb
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/aya_redteaming_dataset.py
  pyrit/datasets/seed_datasets/remote/babelscape_alert_dataset.py
  pyrit/datasets/seed_datasets/remote/ccp_sensitive_prompts_dataset.py
  pyrit/datasets/seed_datasets/remote/darkbench_dataset.py
  pyrit/datasets/seed_datasets/remote/equitymedqa_dataset.py
  pyrit/datasets/seed_datasets/remote/forbidden_questions_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_multimodal_dataset.py
  pyrit/datasets/seed_datasets/remote/jbb_behaviors_dataset.py
  pyrit/datasets/seed_datasets/remote/librai_do_not_answer_dataset.py
  pyrit/datasets/seed_datasets/remote/llm_latent_adversarial_training_dataset.py
  pyrit/datasets/seed_datasets/remote/medsafetybench_dataset.py
  pyrit/datasets/seed_datasets/remote/mlcommons_ailuminate_dataset.py
  pyrit/datasets/seed_datasets/remote/multilingual_vulnerability_dataset.py
  pyrit/datasets/seed_datasets/remote/pku_safe_rlhf_dataset.py
  pyrit/datasets/seed_datasets/remote/red_team_social_bias_dataset.py
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/sorry_bench_dataset.py
  pyrit/datasets/seed_datasets/remote/sosbench_dataset.py
  pyrit/datasets/seed_datasets/remote/tdc23_redteaming_dataset.py
  pyrit/datasets/seed_datasets/remote/xstest_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  tests/integration/datasets/test_seed_dataset_provider.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: remove-notebook-headers, website

make helper function
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/common/path.py
  pyrit/score/config/scorer_evals/harm/results/hate_speech_metrics.json
  pyrit/score/config/scorer_evals/harm/results/hate_speech_results.csv
  pyrit/score/config/scorer_evals/harm/results/mini_hate_speech_metrics.json
  pyrit/score/config/scorer_evals/harm/results/mini_hate_speech_results.csv
  pyrit/score/config/scorer_evals/harm/results/violence_metrics.json
  pyrit/score/config/scorer_evals/harm/results/violence_results.csv
  pyrit/score/config/scorer_evals/objective/results/mini_refusal_metrics.json
  pyrit/score/config/scorer_evals/objective/results/mini_refusal_results.csv
  pyrit/score/config/scorer_evals/objective/results/refusal_score_metrics.json
  pyrit/score/config/scorer_evals/objective/results/refusal_score_results.csv
  pyrit/score/config/scorer_evals/true_false/info_integrity.csv
  pyrit/score/scorer_evaluation/config_eval_datasets.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
Due: remove-notebook-headers, check-links, website

fix unit test
  tests/unit/score/test_human_labeled_dataset.py
Due: website

added scoring details to notebook :
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
Due: remove-notebook-headers, check-links, website

fix unit test renames
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/score/test_scorer_evaluator.py
Due: website

adding concurrency
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/equitymedqa_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_multimodal_dataset.py
  pyrit/datasets/seed_datasets/remote/jbb_behaviors_dataset.py
  pyrit/datasets/seed_datasets/remote/medsafetybench_dataset.py
  pyrit/datasets/seed_datasets/remote/mlcommons_ailuminate_dataset.py
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/sorry_bench_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  tests/integration/datasets/test_seed_dataset_provider.py
Due: remove-notebook-headers, website

upate architecture diagram to be attack instead of orchestrator
  assets/architecture_components.png
Due: none

simplifying concurrency that didn't matter
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/3_dataset_writing.md
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/sorry_bench_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
Due: remove-notebook-headers, check-links, website

move construct fn into base class
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/unit/target/test_sora_target.py
Due: website

test fix
  doc/code/datasets/3_dataset_writing.md
  doc/code/datasets/4_dataset_coding.ipynb
  tests/unit/datasets/test_seed_dataset_provider.py
Due: remove-notebook-headers, check-links, website

doc formatting
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/datasets/2_seed_programming.ipynb
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/memory/8_seed_database.ipynb
Due: remove-notebook-headers, check-links

missing file
  doc/code/memory/8_seed_database.ipynb
Due: remove-notebook-headers

[FIX] fix out of memory errors (#1198)
  .github/workflows/build_and_test.yml
  integration-tests.yml
Due: none

fixing db tests
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  tests/integration/memory/test_azure_sql_memory_integration.py
Due: website

[DOC] update architecture diagram (#1203)
  assets/architecture_components.png
Due: none

Issue 1204 Fix Docker build dependency conflict in requirements.txt
  docker/requirements.txt
Due: none

integration test updates
  doc/code/scoring/generic_scorers.ipynb
  tests/integration/targets/test_entra_auth_targets.py
Due: remove-notebook-headers, website

minor edits
  doc/code/scoring/scorer_evals.py
  pyrit/common/path.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/scorer_evaluation/config_eval_datasets.py
Due: check-links, website

minor feedback
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/likert/hate_speech.csv
  pyrit/score/config/scorer_evals/likert/hate_speech_multi_score.csv
  pyrit/score/config/scorer_evals/likert/hate_speech_single_score.csv
  pyrit/score/config/scorer_evals/likert/violence.csv
  pyrit/score/config/scorer_evals/likert/violence_multi_score.csv
  pyrit/score/config/scorer_evals/likert/violence_single_score.csv
  pyrit/score/config/scorer_evals/true_false/refusal.csv
  pyrit/score/scorer_evaluation/config_eval_datasets.py
Due: remove-notebook-headers, check-links, website

notebook edit
  doc/code/scoring/scorer_evals.ipynb
Due: remove-notebook-headers

update model name
  tests/integration/targets/test_targets_and_secrets.py
Due: website

precommit
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
Due: remove-notebook-headers, check-links, website

Update integration model env variable (#1207)
  tests/integration/targets/test_targets_and_secrets.py
Due: website

precommit
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website
