Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

fix broken link
  doc/code/architecture.md
Due: check-links

fix unit typos and pre-commit hooks
  doc/code/targets/5_multi_modal_targets.ipynb
  tests/unit/target/test_sora_target.py
Due: remove-notebook-headers, website

first PR revised
  build_scripts/check_links.py
  pyrit/orchestrator/fuzzer_orchestrator.py
Due: website

address feedback
  pyrit/prompt_target/openai/openai_dall_e_target.py
  tests/integration/targets/test_target_filters.py
  tests/unit/target/test_dall_e_target.py
Due: website

addressed comments
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
Due: website

fixed precommit
  tests/unit/attacks/test_crescendo.py
Due: website

MAINT: DALLE Content Filter Check (#968)
  pyrit/prompt_target/openai/openai_dall_e_target.py
  tests/integration/targets/test_target_filters.py
  tests/unit/target/test_dall_e_target.py
Due: website

addressed comments
  pyrit/attacks/multi_turn/crescendo.py
Due: website

starting point
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/text_bugger_converter.py
  tests/unit/converter/test_text_bugger_converter.py
Due: website

clarify inspiration source
  pyrit/prompt_converter/text_bugger_converter.py
Due: website

add parameter validation
  pyrit/prompt_converter/text_bugger_converter.py
Due: website

# type: ignore for possibly unbound classes
  pyrit/prompt_converter/text_bugger_converter.py
Due: website

enhance TextBuggerConverter with additional constraints and error handling
  pyrit/prompt_converter/text_bugger_converter.py
Due: website

refactor TextBuggerConverter to conditionally use Universal Sentence Encoder based on tensorflow_hub availability
  pyrit/prompt_converter/text_bugger_converter.py
Due: website

add use_universal_sentence_encoder param
  pyrit/prompt_converter/text_bugger_converter.py
Due: website

FEAT Crescendo Attack Refactor (#970)
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_config.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/__init__.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/models/seed_prompt.py
  pyrit/score/scorer.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/models/test_seed_prompt.py
  tests/unit/score/test_scorer.py
Due: website

Update doc/code/targets/run_hack_a_prompt_target.py
  doc/code/targets/run_hack_a_prompt_target.py
Due: check-links, website

working notebooks without Orchestrator use
  doc/code/targets/run_hack_a_prompt_target.ipynb
  doc/code/targets/run_hack_a_prompt_target.py
  pyrit/prompt_target/hack_a_prompt_target.py
Due: remove-notebook-headers, check-links, website

Simplified Attack usage
  pyrit/attacks/base/attack_config.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_red_teaming.py
Due: website

fixed unittests
  tests/unit/attacks/test_prompt_sending.py
Due: website

adding sos bench dataset
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/sosbench_dataset.py
Due: website

initial pr adding attack file
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/role_play.py
Due: website

redesigned attacks with params
  pyrit/attacks/base/attack_config.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

making github precommit job for windows to use cache
  .github/workflows/build_and_test.yml
Due: none

another try for github workflow
  .github/workflows/build_and_test.yml
Due: none

ran pre-commit run --all-files
  pyrit/datasets/sosbench_dataset.py
Due: website

Revert .github/workflows/build_and_test.yml to version from 7c707d2
  .github/workflows/build_and_test.yml
Due: none

FEAT Simplified Attack Usage (#973)
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

fixing pre-commit windows job to use cache
  .github/workflows/build_and_test.yml
Due: none

add role and modify sequence in seedprompt
  doc/code/memory/8_seed_prompt_database.ipynb
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, website

moving python version to an env var
  .github/workflows/build_and_test.yml
Due: none

Update pyrit/datasets/sosbench_dataset.py
  pyrit/datasets/sosbench_dataset.py
Due: website

syntax fixes
  doc/code/memory/3_prompt_request.md
  doc/code/memory/8_seed_prompt_database.ipynb
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website

FIX fixing pre-commit windows job to use cache (#976)
  .github/workflows/build_and_test.yml
Due: none

ran pre commit successfully
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
Due: website

resolved merge conflict
  doc/code/architecture.md
  pyrit/datasets/__init__.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
Due: check-links, website

update test
  doc/code/memory/8_seed_prompt_database.ipynb
  pyrit/models/seed_prompt.py
  tests/unit/memory/test_memory_interface.py
  tests/unit/test_normalizer_request.py
Due: remove-notebook-headers, website

fix formatting
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  tests/unit/memory/test_memory_interface.py
Due: website
