Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

pre-commit
  .github/workflows/build_and_test.yml
Due: none

clean
  .github/workflows/build_and_test.yml
Due: none

add missing install
  .github/workflows/build_and_test.yml
Due: none

updat toc
  doc/_toc.yml
Due: none

updating initialize_async
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  pyrit/setup/initialization.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  pyrit/setup/initializers/simple.py
  tests/integration/conftest.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/setup/initializers/scenarios/test_load_default_datasets.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_initialization.py
  tests/unit/setup/test_simple_initializer.py
Due: remove-notebook-headers, website

addressing comments
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
Due: none

precommit
  pyrit/score/float_scale/conversation_scorer.py
Due: website

minor notebook edits
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, website

updates to make it work again, fix "new chat" bug and add ribbon
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  pyrit/backend/routes/chat.py
  pyrit/backend/routes/config.py
  pyrit/backend/routes/convert.py
  pyrit/backend/services/chat_service.py
  pyrit/backend/services/target_registry.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/backend/test_target_registry.py
Due: website

plumbing async through and updating tests
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/front_end/1_pyrit_scan.ipynb
  pyrit/cli/frontend_core.py
  pyrit/cli/initializer_registry.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_initializer_registry.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/setup/test_airt_initializer.py
  tests/unit/setup/test_initialization.py
  tests/unit/setup/test_load_default_datasets.py
  tests/unit/setup/test_pyrit_initializer.py
  tests/unit/setup/test_simple_initializer.py
Due: remove-notebook-headers, website

pre-commit
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/unit/cli/test_frontend_core.py
Due: website

MAINT: apply pre-commit fixes (trim trailing whitespace)
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/workflow/xpia.py
Due: website

MAINT: Fix docstrings for pyrit/executor modules (partial #1176) (#1225)
  pyproject.toml
  pyrit/executor/__init__.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/__init__.py
  pyrit/executor/attack/single_turn/__init__.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/benchmark/__init__.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/executor/benchmark/question_answering.py
  pyrit/executor/core/__init__.py
  pyrit/executor/core/strategy.py
  pyrit/executor/promptgen/__init__.py
  pyrit/executor/promptgen/anecdoctor.py
  pyrit/executor/promptgen/core/__init__.py
  pyrit/executor/promptgen/fuzzer.py
  pyrit/executor/workflow/__init__.py
  pyrit/executor/workflow/core/__init__.py
  pyrit/executor/workflow/xpia.py
Due: website

pre-commit
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/skeleton_key_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/code/memory/9_exporting_data.ipynb
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/setup/1_configuration.ipynb
  doc/code/targets/2_custom_targets.ipynb
  doc/code/targets/3_non_open_ai_chat_targets.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/open_ai_completions.ipynb
  doc/code/targets/prompt_shield_target.ipynb
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/use_huggingface_chat_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/setup/initializers/__init__.py
Due: remove-notebook-headers, check-links, website

pre commit
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/skeleton_key_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/setup/1_configuration.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers, check-links, website

scenario test
  tests/end_to_end/test_scenarios.py
Due: website

test fixes
  pyrit/datasets/jailbreak/templates/multi_parameter/many_shot_template.yaml
  pyrit/models/seed.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
Due: website

pre-commit speedups
  .github/workflows/build_and_test.yml
  .pre-commit-config.yaml
  build_scripts/check_links.py
  build_scripts/conditional_jb_build.py
  build_scripts/validate_jupyter_book.py
Due: website

parallel tests
  Makefile
  pyproject.toml
  tests/unit/converter/test_azure_speech_text_converter.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

test optimization
  tests/integration/converter/test_retry_timing_integration.py
  tests/integration/targets/test_rate_limiting_integration.py
  tests/unit/converter/test_translation_converter.py
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/test_common_net_utility.py
  tests/unit/test_prompt_normalizer.py
Due: website

pre-commit
  build_scripts/check_links.py
  build_scripts/conditional_jb_build.py
  build_scripts/validate_jupyter_book.py
  tests/integration/targets/test_rate_limiting_integration.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

pre-commit
  build_scripts/validate_jupyter_book.py
Due: website

updating tests
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
  pyrit/prompt_converter/bin_ascii_converter.py
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/first_letter_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/random_translation_converter.py
  pyrit/prompt_converter/selective_text_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/text_selection_strategy.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/converter/test_bin_ascii_converter.py
  tests/unit/converter/test_char_swap_generator_converter.py
  tests/unit/converter/test_selective_text_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, check-links, website

fixing docs
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/converters/char_swap_attack_converter.ipynb
Due: remove-notebook-headers

pre-commit
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
Due: remove-notebook-headers, check-links, website

MAINT: Improve docstrings completeness in pyrit/memory (#1176)
  pyproject.toml
  pyrit/memory/__init__.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/central_memory.py
  pyrit/memory/memory_embedding.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
Due: website

fixes in `pyrit/score`
  pyproject.toml
  pyrit/score/__init__.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/look_back_scorer.py
  pyrit/score/float_scale/plagiarism_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/config_eval_datasets.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/true_false/markdown_injection.py
  pyrit/score/true_false/prompt_shield_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  pyrit/score/video_scorer.py
Due: website

fixes in `prompt_normalizer`
  pyproject.toml
  pyrit/prompt_normalizer/__init__.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

MAINT: fix docstrings for `/score` and `/prompt_normalizer` (#1229)
  pyproject.toml
  pyrit/prompt_normalizer/__init__.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/look_back_scorer.py
  pyrit/score/float_scale/plagiarism_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/human/human_in_the_loop_gradio.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/config_eval_datasets.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/true_false/markdown_injection.py
  pyrit/score/true_false/prompt_shield_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  pyrit/score/video_scorer.py
Due: website

MAINT: Fix openai version and correct docstring indentation
  pyproject.toml
  pyrit/memory/memory_interface.py
Due: website

feat: add MathObfuscationConverter
  doc/code/converters/math_obfuscation_converter.ipynb
  pyrit/datasets/prompt_converters/math_obfuscation_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/math_obfuscation_converter.py
Due: remove-notebook-headers, website

MAINT: Remove accidental untracked files from merge
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/unit/scenarios/test_content_harm_scenario.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_sora_target.py
Due: remove-notebook-headers, check-links, website

docker infrastructure and workflow for GH push to ACR, small bugfix for new chat experience
  .dockerignore
  .github/ACR_SECRETS_SETUP.md
  .github/workflows/docker-build-acr.yml
  .gitignore
  MANIFEST.in
  Makefile
  build_scripts/prepare_package.py
  doc/contributing/11_release_process.md
  doc/contributing/1a_install_conda.md
  doc/index.md
  doc/setup/1b_install_docker.md
  docker/.env_container_settings_example
  docker/Dockerfile
  docker/QUICKSTART.md
  docker/build_pyrit_docker.py
  docker/docker-compose.yaml
  docker/run_pyrit_docker.py
  docker/start.sh
  frontend/README.md
  frontend/dev.py
  frontend/src/components/Chat/ConverterDrawer.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  pyproject.toml
  pyrit/backend/main.py
  pyrit/backend/routes/version.py
Due: check-links, website

pr feedback
  doc/code/converters/5_selectively_converting.ipynb
  doc/code/converters/5_selectively_converting.py
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/memory/11_harm_categories.ipynb
  pyrit/prompt_converter/text_selection_strategy.py
  tests/unit/converter/test_selective_text_converter.py
  tests/unit/converter/test_text_selection_strategy.py
Due: remove-notebook-headers, check-links, website

rename file
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.py
Due: remove-notebook-headers, check-links, website

including notebook output
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
Due: remove-notebook-headers

minor notebook edits, removing printing
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.py
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
