Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

MAINT: Deprecate ContextComplianceOrchestrator (#1024)
  doc/code/orchestrators/context_compliance_orchestrator.ipynb
  doc/code/orchestrators/context_compliance_orchestrator.py
  pyrit/attacks/single_turn/context_compliance.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  tests/unit/orchestrator/test_context_compliance_orchestrator.py
Due: remove-notebook-headers, check-links, website

forgot to add param to attack call
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
Due: website

updated according to pr comments
  pyrit/analytics/analyze_results.py
  tests/unit/analytics/test_analyze_results.py
Due: website

FEAT Added analyze_results (#1003)
  pyrit/analytics/analyze_results.py
  tests/unit/analytics/test_analyze_results.py
Due: website

Added AttackResult printer for console
  pyrit/attacks/__init__.py
  pyrit/attacks/printers/__init__.py
  pyrit/attacks/printers/attack_result_printer.py
  pyrit/attacks/printers/console_printer.py
Due: website

updated function names
  pyrit/attacks/printers/__init__.py
  pyrit/attacks/printers/attack_result_printer.py
  pyrit/attacks/printers/console_printer.py
Due: website

add unit tests, handle str-to-path conversion
  pyrit/cli/scanner_config.py
  tests/unit/cli/multi_turn_adversarial_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_objective_scorer_wrong_arg.yaml
  tests/unit/cli/multi_turn_objective_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_scoring_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_target_and_scorer_args_success.yaml
  tests/unit/cli/test_cli.py
Due: website

remove print statements where it should be logging, unify some exceptions
  pyrit/datasets/red_team_social_bias_dataset.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/duckdb_memory.py
  pyrit/memory/memory_interface.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/score/human_in_the_loop_scorer.py
  pyrit/score/look_back_scorer.py
Due: website

remove logging from dataset file
  pyrit/datasets/red_team_social_bias_dataset.py
Due: website

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/build_and_test.yml
Due: none

Update build_and_test.yml
  .github/workflows/build_and_test.yml
Due: none

addressed comments and also fixed a bug with turncount
  pyrit/attacks/__init__.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/printers/__init__.py
  pyrit/attacks/printers/console_printer.py
  tests/unit/attacks/test_conversation_manager.py
Due: website

FIX for code scanning alert no. 7 and 8: Workflow does not contain permissions (#1030)
  .github/workflows/build_and_test.yml
Due: none

fixing precommit issues
  pyrit/attacks/printers/console_printer.py
Due: website

FEAT AttackResultPrinter interface + console AttackResult printer (#1028)
  pyrit/attacks/__init__.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/printers/__init__.py
  pyrit/attacks/printers/attack_result_printer.py
  pyrit/attacks/printers/console_printer.py
  tests/unit/attacks/test_conversation_manager.py
Due: website

helper validation method
  pyrit/attacks/single_turn/role_play.py
Due: website

feat: add hidden layer image manipulation converter
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/hidden_layer_image_converter.py
  tests/unit/converter/test_hidden_layer_image_converter.py
Due: website

precommit
  pyrit/attacks/single_turn/role_play.py
Due: website

corrections/improvements
  pyrit/prompt_converter/hidden_layer_image_converter.py
Due: website

address feedback
  pyrit/attacks/single_turn/role_play.py
Due: website

addressed comments
  pyrit/attacks/single_turn/anecdoctor.py
Due: website

FEAT added a few improvements to the devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
Due: none

FEAT added a few improvements to the devcontainer (#1032)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
Due: none

pr feedback to add conversation reference
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/conversation_reference.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/memory/test_memory_interface.py
Due: website

Fixing bug with singler turn and adding related conversation
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_prompt_sending.py
Due: website

add tests
  pyrit/prompt_converter/hidden_layer_image_converter.py
  tests/unit/converter/test_hidden_layer_image_converter.py
Due: website

Pr Feedback
  doc/contributing/8_notebooks.md
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  pyrit/models/conversation_reference.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/memory/test_memory_interface.py
Due: check-links, website

pre-commit
  pyrit/prompt_converter/hidden_layer_image_converter.py
Due: website

Pr feedback
  pyrit/models/attack_result.py
  pyrit/models/conversation_reference.py
Due: website

FEAT: Adding Adversarial and Pruned Conversations to AttackResult (#1002)
  doc/contributing/8_notebooks.md
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/models/conversation_reference.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/memory/test_memory_interface.py
Due: check-links, website

FIX: Set `max_attempts_on_failure` in Compliance Context attack (#1026)
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
Due: website

Stop tracking .vscode/settings.json
  .vscode/settings.json
Due: none

FEAT Make target and scorer args in scanner configurable (#1023)
  pyrit/cli/scanner_config.py
  tests/unit/cli/multi_turn_adversarial_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_objective_scorer_wrong_arg.yaml
  tests/unit/cli/multi_turn_objective_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_scoring_target_wrong_arg.yaml
  tests/unit/cli/multi_turn_target_and_scorer_args_success.yaml
  tests/unit/cli/test_cli.py
Due: website

FIX Conversation Manager should properly apply converters
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/flip_attack.py
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_conversation_manager.py
  tests/unit/attacks/test_flip_attack.py
  tests/unit/attacks/test_prompt_sending.py
Due: website

addressed comments
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/__init__.py
Due: website

FIX remove print statements where it should be logging (#1029)
  pyrit/datasets/red_team_social_bias_dataset.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/duckdb_memory.py
  pyrit/memory/memory_interface.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/score/human_in_the_loop_scorer.py
  pyrit/score/look_back_scorer.py
Due: website

PR feedback
  pyrit/prompt_converter/hidden_layer_image_converter.py
  tests/unit/converter/test_hidden_layer_image_converter.py
Due: website
