Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

fixing integration tests
  doc/code/targets/open_ai_completions.ipynb
  doc/code/targets/open_ai_completions.py
  tests/integration/targets/test_targets_and_secrets.py
Due: remove-notebook-headers, check-links, website

FIX: fixing integration tests (#920)
  doc/code/targets/open_ai_completions.ipynb
  doc/code/targets/open_ai_completions.py
  tests/integration/targets/test_targets_and_secrets.py
Due: remove-notebook-headers, check-links, website

Prepare pyrit for new single turn orchestrator architecture
  pyrit/orchestrator/single_turn/steijn/steijn_prompt_sending_orchestrator.py
Due: website

do not provide default ground truth scorer for ensemble scorer
  pyrit/score/ensemble_scorer.py
Due: website

add unit tests
  tests/unit/score/test_ensemble_scorer.py
Due: website

modifying diagram
  doc/_toc.yml
  doc/code/memory/10_schema_diagram.md
Due: check-links

modifying diagram to make border clearer
  doc/code/memory/10_schema_diagram.md
Due: check-links

Adding support for repeated questions in the Question Answer Benchmark Orchestrator
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

pushing red teaming config
  .github/workflows/README.md
  .github/workflows/publish-to-pypi.yml
  .vscode/settings.json
  README.md
  pyproject.toml
  pyrit/memory/memory_models.py
Due: website

pushing red teaming config
  build_poetry_package.sh
Due: none

Update Steijn prompt sending orchestrator
  Steijn_DataSet_Evaluation.ipynb
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/multi_turn/steijn/steijn_red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/ah_gpt/ah_gpt_dataset_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/steijn/steijn_prompt_sending_orchestrator.py
  pyrit/score/evaluator.py
Due: website

Update steijn notebooks
  Steijn_Customer_Automation.ipynb
  Steijn_DataSet_Evaluation.ipynb
  Steijn_RedTeaming.ipynb
  pyrit/orchestrator/multi_turn/steijn/steijn_orchestrator.py
  pyrit/orchestrator/single_turn/steijn/steijn_prompt_sending_orchestrator.py
Due: website

Refactor method names
  pyrit/orchestrator/single_turn/steijn/steijn_prompt_sending_orchestrator.py
Due: website

Update AH GPT multi turn orchestrators
  pyrit/orchestrator/multi_turn/ah_gpt/ah_gpt_orchestrator.py
  pyrit/orchestrator/multi_turn/ah_gpt/ah_gpt_redteaming_orchestrator.py
Due: website

clean up
  doc/code/memory/10_schema_diagram.md
Due: check-links

diagram edit
  doc/code/memory/10_schema_diagram.md
Due: check-links

diagram edit format
  doc/code/memory/10_schema_diagram.md
Due: check-links

adding dataset
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_equitymedqa_dataset.py
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

memory model
  pyrit/memory/memory_models.py
Due: website

initial commit of denylist converter
  doc/code/converters/test_denylist_converter.ipynb
  pyrit/datasets/prompt_converters/denylist_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: remove-notebook-headers, website

add tests
  doc/code/converters/test_denylist_converter.ipynb
  pyrit/datasets/prompt_converters/denylist_converter.yaml
  pyrit/prompt_converter/denylist_converter.py
  tests/unit/converter/test_denylist_converter.py
Due: remove-notebook-headers, website

add groups to yaml
  pyrit/datasets/prompt_converters/denylist_converter.yaml
Due: none

fix test import
  tests/unit/converter/test_denylist_converter.py
Due: website

fix unused imports
  pyrit/prompt_converter/denylist_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

fix rename
  tests/unit/converter/test_denylist_converter.py
Due: website

run pre-commit
  pyrit/prompt_converter/denylist_converter.py
  tests/unit/converter/test_denylist_converter.py
Due: website

run pre-commit
  pyrit/prompt_converter/denylist_converter.py
Due: website

address comments
  pyrit/prompt_converter/denylist_converter.py
Due: website

fix up unit tests to match changes in main, continuing to debug integration tests (adding handling of seedprompts to address bug discovered when sending non-text data)
  pyrit/cli/__main__.py
  tests/integration/cli/illegal_integration_test.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/prompt_send_success_converters_image_default.yaml
  tests/integration/cli/prompt_send_success_converters_text_default.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/test_cli.py
Due: website

Add simple dataset scorer
  assets/AH_Evaluators/steijn/dataset_scorer.yaml
  pyrit/common/text_helper.py
  pyrit/orchestrator/single_turn/steijn/steijn_prompt_sending_orchestrator.py
  pyrit/prompt_target/http_target/steijn/steijn_response_parser.py
Due: website

address comments
  doc/api.rst
  pyrit/datasets/prompt_converters/denylist_converter.yaml
  pyrit/prompt_converter/denylist_converter.py
  tests/unit/converter/test_denylist_converter.py
Due: website

fix sphinx issues
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  pyrit/prompt_converter/diacritic_converter.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_denylist_converter.py
Due: website

FEAT: Add denylist converter (#924)
  doc/api.rst
  pyrit/datasets/prompt_converters/denylist_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/diacritic_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_denylist_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

revert changes in cli/__main__.py and add inference for data_type into seed_prompt based on file extension
  pyrit/cli/__main__.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
Due: website

fix typo
  pyrit/score/scorer.py
Due: website

core classes
  pyrit/attacks/__init__.py
  pyrit/attacks/base/__init__.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/base/backtracking_strategy.py
  pyrit/attacks/base/context.py
  pyrit/attacks/base/result.py
  pyrit/common/default_values.py
  pyrit/models/prompt_request_piece.py
  pyrit/models/prompt_request_response.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
