Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

Http Target update
  doc/code/targets/7_http_target.ipynb
  doc/code/targets/7_http_target.py
  pyrit/prompt_target/http_target/http_target.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/target/test_http_target.py
Due: remove-notebook-headers, check-links, website

pre-commit
  tests/unit/target/test_http_target.py
Due: website

test fix
  tests/unit/target/test_http_target_parsing.py
Due: website

initial support for converters with llm and extra arguments + success unit test
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  tests/unit/cli/prompt_send_success_converters.yaml
  tests/unit/cli/test_cli.py
Due: website

Moving boto3 import to within _complete_chat_async
  pyrit/prompt_target/aws_bedrock_claude_chat_target.py
Due: website

Files run through pre-commit
  pyrit/datasets/orchestrators/red_teaming/persuasion_deception/RUAI.yaml
  pyrit/datasets/orchestrators/red_teaming/persuasion_deception/persuasion_persona.yaml
  pyrit/datasets/orchestrators/role_play/persuasion_script.yaml
Due: none

MAINT: HTTPTarget Improvements (#879)
  doc/code/targets/7_http_target.ipynb
  doc/code/targets/7_http_target.py
  pyrit/prompt_target/http_target/http_target.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/target/test_http_target.py
  tests/unit/target/test_http_target_parsing.py
Due: remove-notebook-headers, check-links, website

fix: add closing bracket to markdown link
  doc/code/converters/2_using_converters.ipynb
Due: remove-notebook-headers

validate `sample_ratio` in `get_random_indices` function
  pyrit/common/utils.py
Due: website

update type hints for `select_word_indices` function
  pyrit/common/utils.py
Due: website

Initial zalgo converter
  doc/code/converters/zalgo_converter.ipynb
  pyrit/prompt_converter/zalgo_converter.py
Due: remove-notebook-headers, website

improve `get_random_indices`
  doc/code/converters/char_swap_attack_generator.ipynb
  doc/code/converters/char_swap_attack_generator.py
  pyrit/common/utils.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_char_swap_generator_converter.py
Due: remove-notebook-headers, check-links, website

remove redundant return statements
  pyrit/common/utils.py
Due: website

remove unused constructor from EmojiConverter
  pyrit/prompt_converter/emoji_converter.py
Due: website

set default value of deterministic to True (LeetspeakConverter)
  pyrit/prompt_converter/leetspeak_converter.py
Due: website

Added optional intensity and seed parameters
  pyrit/prompt_converter/zalgo_converter.py
Due: website

Adding some intensity guardrails
  pyrit/prompt_converter/zalgo_converter.py
Due: website

cleaning up example notebook
  doc/code/converters/zalgo_converter.ipynb
Due: remove-notebook-headers

Adding script version of notebook
  doc/code/converters/zalgo_converter.py
Due: check-links, website

FEAT: Smuggling arbitrary data through an emoji (#842)
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/ascii_smuggler_converter.py
  pyrit/prompt_converter/token_smuggling/__init__.py
  pyrit/prompt_converter/token_smuggling/ascii_smuggler_converter.py
  pyrit/prompt_converter/token_smuggling/base.py
  pyrit/prompt_converter/token_smuggling/sneaky_bits_smuggler_converter.py
  pyrit/prompt_converter/token_smuggling/variation_selector_smuggler_converter.py
  tests/unit/converter/test_token_smuggler_converter.py
Due: website

add unit tests
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  tests/unit/cli/mixed_multiple_orchestrators_args_success.yaml
  tests/unit/cli/prompt_send_converters_missing_arg.yaml
  tests/unit/cli/prompt_send_converters_wrong_arg.yaml
  tests/unit/cli/prompt_send_no_converter_target.yaml
  tests/unit/cli/prompt_send_success_converters.yaml
  tests/unit/cli/prompt_send_success_converters_custom_target.yaml
  tests/unit/cli/test_cli.py
Due: website

Adding to init
  pyrit/prompt_converter/__init__.py
Due: website

fix: add closing bracket to markdown link in .py file
  doc/code/converters/2_using_converters.py
Due: check-links, website

Update pyrit/common/utils.py
  pyrit/common/utils.py
Due: website

comment to clarify hex representation of space in `join_words`
  pyrit/prompt_converter/text_to_hex_converter.py
Due: website

CharSwapGenerator -> CharSwapConverter
  doc/_toc.yml
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/charswap_attack_converter.py
  tests/unit/converter/test_char_swap_generator_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: remove-notebook-headers, check-links, website

pre-commit hook fix
  tests/unit/cli/prompt_send_converters_missing_arg.yaml
  tests/unit/cli/prompt_send_converters_wrong_arg.yaml
  tests/unit/cli/prompt_send_no_converter_target.yaml
  tests/unit/cli/prompt_send_success_converters_custom_target.yaml
Due: none

Addition of look_back_scorer which takes in a conversation_id and scores the entire conversation based on percieved behavior changes.
  pyrit/datasets/score/likert_scales/behavior_change.yaml
  pyrit/datasets/score/scales/behavior_change_system_prompt.yaml
  pyrit/score/__init__.py
  pyrit/score/look_back_scorer.py
Due: website

OrchestratorResult
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

crescendo tests
  pyrit/orchestrator/models/orchestrator_result.py
  tests/unit/orchestrator/test_crescendo_orchestrator.py
Due: website

More test updates
  tests/unit/orchestrator/test_red_teaming_orchestrator.py
  tests/unit/orchestrator/test_tree_of_attacks_with_pruning_orchestrator.py
Due: website

keep conversation ID if it's passed in
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/prompt_normalizer/normalizer_request.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

Use correct link to target
  doc/code/converters/2_using_converters.py
Due: check-links, website

fix: use correct link also in notebook
  doc/code/converters/2_using_converters.ipynb
Due: remove-notebook-headers

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
