Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

update tests to remove test for audio_file support in TTS converter
  tests/unit/converter/test_prompt_converter.py
Due: website

Fixed test I accidently added a regression to
  doc/api.rst
  tests/unit/converter/test_azure_speech_converter.py
Due: validate-jupyter-book, website

MAINT Regenerate uv.lock for dependabot security fixes
  uv.lock
Due: none

Merge origin/main, fix TC001 in seed_attack_technique_group.py
  pyrit/models/seeds/seed_attack_technique_group.py
Due: website

FIX ruff format for 2 files
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/prompt_target/openai/openai_video_target.py
Due: website

FIX revert SIM401 for TrueFalseQuestion.get and wrap ctypes return in bool()
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/ui/app.py
Due: website

Ruffen
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

FIX Mock tokenizer in unit test to avoid HuggingFace network call
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

breaking yaml file up into multiple
  pyrit/datasets/prompt_converters/academic_science_converter.yaml
  pyrit/datasets/prompt_converters/combined_science_converter.yaml
  pyrit/datasets/prompt_converters/math_science_converter.yaml
  pyrit/datasets/prompt_converters/reaction_science_converter.yaml
  pyrit/datasets/prompt_converters/research_science_converter.yaml
  pyrit/datasets/prompt_converters/scientific_translation_converter.yaml
  pyrit/datasets/prompt_converters/smiles_science_converter.yaml
  pyrit/datasets/prompt_converters/technical_science_converter.yaml
  pyrit/prompt_converter/scientific_translation_converter.py
  tests/unit/converter/test_scientific_translation_converter.py
Due: website

llm scorer bug fix
  pyrit/score/scorer.py
Due: website

add unit test
  tests/unit/score/test_scorer.py
Due: website

notebook example
  doc/code/scoring/4_likert_scorers.ipynb
  doc/code/scoring/4_likert_scorers.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Silence linter
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

jsonls
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
Due: none

Execute 10_http_target notebook with Entra auth outputs
  doc/code/targets/10_http_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Fix re.sub bug in HTTPTarget and re-execute notebook
  doc/code/targets/10_http_target.ipynb
  pyrit/prompt_target/http_target/http_target.py
Due: remove-notebook-headers, validate-jupyter-book, website

Re-execute HTTP target notebook with fresh outputs
  doc/code/targets/10_http_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

FEAT: Generalize ColloquialWordswapConverter to support regional YAML files
  pyrit/datasets/prompt_converters/colloquial_wordswaps/multicultural_london.yaml
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  tests/unit/converter/test_colloquial_wordswap_converter.py
Due: website

Fix HTTP target: correct URL, content filter detection, unit tests
  doc/code/targets/10_http_target.ipynb
  doc/code/targets/10_http_target.py
  pyrit/prompt_target/http_target/http_target.py
  tests/unit/target/test_http_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Revert .env_example changes
  .env_example
Due: none

FIX: Preserve backward compatibility for deterministic and empty custom_substitutions
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  tests/unit/converter/test_colloquial_wordswap_converter.py
Due: website

MAINT: Deprecate positional 'deterministic' arg, keyword-only in 0.13.0
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  tests/unit/converter/test_colloquial_wordswap_converter.py
Due: website

TEST: Add keyword-only test for deterministic deprecation
  tests/unit/converter/test_colloquial_wordswap_converter.py
Due: website

Fix XPIA notebook missing language_info metadata
  doc/code/executor/workflow/1_xpia_website.ipynb
Due: remove-notebook-headers, validate-jupyter-book

FIX: Add type annotation to *args for mypy
  pyrit/prompt_converter/colloquial_wordswap_converter.py
Due: website

FIX: Add *args docstring for ruff D417
  pyrit/prompt_converter/colloquial_wordswap_converter.py
Due: website

MAINT Update cryptography>=46.0.5 and werkzeug>=3.1.6 for dependabot alerts
  pyproject.toml
  uv.lock
Due: none

MAINT Add macos-latest to CI build and test pipeline
  .github/workflows/build_and_test.yml
Due: none

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
