Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

adding missing dataaset files
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/sexual_content_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/violence_evaluation_dataset.csv
Due: none

Attack generation and properties unit tests
  doc/_toc.yml
  doc/code/scenarios/cyber_scenario.ipynb
  doc/code/scenarios/cyber_scenario.py
  pyrit/scenarios/scenarios/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: remove-notebook-headers, check-links, website

add scenario instructions
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  tests/unit/scenarios/test_rapid_response_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Removing notebooks temporarily
  .gitignore
  doc/code/scenarios/cyber_scenario.ipynb
  doc/code/scenarios/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: remove-notebook-headers, check-links, website

Fixing broken toctree
  doc/_toc.yml
Due: none

finishing unit tests
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

Update tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

adding exploit scale, extra exploit data, fix notebook
  doc/code/scoring/scorer_evals.ipynb
  pyrit/score/config/likert_scales/exploits.yaml
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/exploits_evaluation_dataset.csv
  pyrit/score/float_scale/self_ask_likert_scorer.py
Due: remove-notebook-headers, website

precommit fixes
  pyrit/datasets/anthropic_evals_dataset.py
  tests/unit/datasets/test_anthropic_evals_dataset.py
Due: website

important config fix
  .pre-commit-config.yaml
Due: none

update comment
  .pre-commit-config.yaml
Due: none

add missing seedobjective documentation
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/3_memory_data_types.md
Due: remove-notebook-headers, check-links, website

DOC add missing seedobjective documentation (#1183)
  doc/code/datasets/0_dataset.md
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/3_memory_data_types.md
Due: remove-notebook-headers, check-links, website

refactoring required params into interface
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: website

scenario strategies pass
  doc/code/scenarios/scenarios.ipynb
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/scenarios/test_scenario_strategies.py
Due: remove-notebook-headers, website

use ruff's F401 instead of pylint
  .pre-commit-config.yaml
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
  pyproject.toml
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/cli/__main__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/cli/test_cli_main.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: remove-notebook-headers, check-links, website

removing unnecessary test file
  tests/unit/scenarios/test_scenario_strategies.py
Due: website

Removing reference to uv in gitignore
  .gitignore
Due: none

rename and add attacks
  doc/code/scenarios/content_harm_scenario.py
  doc/code/scenarios/rapid_response_harm_dataset_loading.md
  doc/code/scenarios/rapid_response_harm_scenario.ipynb
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/datasets/executors/role_play/video_game.yaml
  pyrit/datasets/seed_prompts/harms/fairness.prompt
  pyrit/datasets/seed_prompts/harms/harassment.prompt
  pyrit/datasets/seed_prompts/harms/hate.prompt
  pyrit/datasets/seed_prompts/harms/leakage.prompt
  pyrit/datasets/seed_prompts/harms/misinformation.prompt
  pyrit/datasets/seed_prompts/harms/sexual.prompt
  pyrit/datasets/seed_prompts/harms/violence.prompt
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenarios/ai_rt/content_harm_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Adding skeleton code/scaffolding
  pyrit/simulation/__init__.py
  pyrit/simulation/config/ctf.dockerfile
  pyrit/simulation/runtime.py
  pyrit/simulation/utils.py
  tests/unit/simulation/config/test_ctf.py
  tests/unit/simulation/test_runtime.py
Due: website

fix integration tests
  MANIFEST.in
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/datasets/sorry_bench_dataset.py
  pyrit/prompt_target/openai/openai_chat_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
Due: remove-notebook-headers, check-links, website

fix sorry bench unit tests
  tests/unit/datasets/test_sorry_bench_dataset.py
Due: website

FIX: integration test fixes (#1185)
  MANIFEST.in
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/datasets/sorry_bench_dataset.py
  pyrit/prompt_target/openai/openai_chat_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
  tests/unit/datasets/test_sorry_bench_dataset.py
Due: remove-notebook-headers, check-links, website

followupedits
  MANIFEST.in
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, website

MAINT: Adding REQUIRED_VALUE as a placeholder for apply_defaults (#1182)
  pyrit/common/__init__.py
  pyrit/common/apply_defaults.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_converter_base.py
  pyrit/prompt_converter/llm_generic_text_converter.py
  pyrit/prompt_converter/malicious_question_generator_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  pyrit/prompt_converter/noise_converter.py
  pyrit/prompt_converter/persuasion_converter.py
  pyrit/prompt_converter/random_translation_converter.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/prompt_converter/tone_converter.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_converter/variation_converter.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/common/test_pyrit_default_value.py
Due: website

rename folder, update notebook and md file
  doc/code/scenarios/content_harm_scenario.ipynb
  doc/code/scenarios/content_harm_scenario.md
  doc/code/scenarios/content_harm_scenario.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/datasets/seed_prompts/harms/fairness.prompt
  pyrit/datasets/seed_prompts/harms/leakage.prompt
  pyrit/datasets/seed_prompts/harms/misinformation.prompt
  pyrit/datasets/seed_prompts/harms/sexual.prompt
  pyrit/datasets/seed_prompts/harms/violence.prompt
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenarios/e2e/content_harm_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

Proposal for schema smuggling
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

merge
  doc/code/scenarios/content_harm_scenario.ipynb
  pyrit/scenarios/scenarios/e2e/content_harm_scenario.py
Due: remove-notebook-headers, website

Removed match statement
  pyrit/scenarios/scenarios/cyber_scenario.py
Due: website

include csv
  MANIFEST.in
Due: none

Linting issues
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

rename file
  doc/code/scenarios/end_to_end_scenario._datasets.md
Due: check-links

FIX: Follow up fixes to #1185 (#1186)
  MANIFEST.in
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, website

test fixes
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: website

update docs
  doc/_toc.yml
  doc/code/scenarios/0_scenarios.md
  doc/code/scenarios/1_foundry_scenario.ipynb
  doc/code/scenarios/1_foundry_scenario.py
  doc/code/scenarios/2_end_to_end_scenario_datasets.md
  doc/code/scenarios/3_content_harm_scenario.ipynb
  doc/code/scenarios/3_content_harm_scenario.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
Due: remove-notebook-headers, check-links, website

fix path
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
Due: remove-notebook-headers, check-links, website

fix naming
  doc/code/scenarios/0_scenarios.md
  doc/code/scenarios/2_end_to_end_scenario_datasets.md
Due: check-links

pre commit
  doc/code/scenarios/1_foundry_scenario.ipynb
Due: remove-notebook-headers

pr feedback
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  pyrit/scenarios/scenario.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
