Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

fixing logic
  pyrit/identifiers/__init__.py
  pyrit/identifiers/identifiable.py
  pyrit/identifiers/identifier.py
  pyrit/identifiers/scorer_identifier.py
  pyrit/prompt_converter/prompt_converter.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  pyrit/score/__init__.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/printer/scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  tests/unit/identifiers/__init__.py
  tests/unit/identifiers/test_identifiers.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/score/test_scorer_metrics.py
Due: website

Addressing PR review comments
  doc/_toc.yml
  doc/code/targets/0_prompt_targets.md
  doc/code/targets/10_http_target.ipynb
  doc/code/targets/10_http_target.py
  doc/code/targets/11_message_normalizer.ipynb
  doc/code/targets/11_message_normalizer.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/1_openai_chat_target.py
  doc/code/targets/2_openai_responses_target.ipynb
  doc/code/targets/2_openai_responses_target.py
  doc/code/targets/3_openai_image_target.ipynb
  doc/code/targets/3_openai_image_target.py
  doc/code/targets/4_openai_video_target.ipynb
  doc/code/targets/4_openai_video_target.py
  doc/code/targets/5.1_openai_chat_target.ipynb
  doc/code/targets/5.1_openai_chat_target.py
  doc/code/targets/5_multi_modal_targets.md
  doc/code/targets/5_openai_tts_target.ipynb
  doc/code/targets/5_openai_tts_target.py
  doc/code/targets/6_custom_targets.ipynb
  doc/code/targets/6_custom_targets.py
  doc/code/targets/7_non_open_ai_chat_targets.ipynb
  doc/code/targets/7_non_open_ai_chat_targets.py
  doc/code/targets/8_non_llm_targets.ipynb
  doc/code/targets/8_non_llm_targets.py
  doc/code/targets/9_rate_limiting.ipynb
  doc/code/targets/9_rate_limiting.py
  doc/code/targets/open_ai_completions.py
  doc/code/targets/playwright_target.py
  doc/code/targets/playwright_target_copilot.py
  doc/code/targets/prompt_shield_target.py
  doc/code/targets/realtime_target.py
  doc/code/targets/use_huggingface_chat_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  tests/unit/target/test_image_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

gcg: Detach gradients post-backward() & add tensor cleanup in token_gradients()
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
Due: website

gcg attack_manager: Add gc.collect() post-worker & Python 3.13 annotations
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: website

TEST: batching scale tests for memory interface SQLite limits (#845) ``` python -m pytest tests/unit/memory/memory_interface/test_batching_scale.py -v ```
  tests/unit/memory/memory_interface/test_batching_scale.py
Due: website

backend with APIs that will be needed in the short-term.
  pyproject.toml
  pyrit/backend/main.py
  pyrit/backend/middleware/__init__.py
  pyrit/backend/middleware/error_handlers.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/common.py
  pyrit/backend/models/conversations.py
  pyrit/backend/models/converters.py
  pyrit/backend/models/memory.py
  pyrit/backend/models/registry.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/conversations.py
  pyrit/backend/routes/converters.py
  pyrit/backend/routes/memory.py
  pyrit/backend/routes/registry.py
  pyrit/backend/services/__init__.py
  pyrit/backend/services/conversation_service.py
  pyrit/backend/services/memory_service.py
  pyrit/backend/services/registry_service.py
  tests/unit/backend/__init__.py
  tests/unit/backend/test_common_models.py
  tests/unit/backend/test_conversation_service.py
  tests/unit/backend/test_error_handlers.py
  tests/unit/backend/test_memory_service.py
  tests/unit/backend/test_registry_service.py
  tests/unit/backend/test_routes.py
Due: website

remove unused memory disposal code
  doc/code/targets/websocket_copilot_target.ipynb
  doc/code/targets/websocket_copilot_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

remove verbose param
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Updates to pipe ScorerIdentifier through
  pyrit/identifiers/__init__.py
  pyrit/identifiers/identifiable.py
  pyrit/identifiers/identifier.py
  pyrit/identifiers/scorer_identifier.py
  pyrit/models/__init__.py
  pyrit/models/message_piece.py
  pyrit/models/scenario_result.py
  pyrit/prompt_converter/prompt_converter.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_metrics.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  tests/unit/models/test_message_piece.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_scorer_registry.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics.py
  tests/unit/score/test_self_ask_true_false.py
Due: website

make base URL configurable
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

fix tests after changes
  tests/unit/target/test_websocket_copilot_target.py
Due: website

rename: `message` -> `raw_websocket_message`
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

tiny fix
  doc/code/targets/websocket_copilot_target.py
Due: check-links, validate-jupyter-book, website

FIX: independent batching for memory interface from review (#845) - independent batching of all parameters - extracted batch in condition - helper functions
  pyrit/memory/memory_interface.py
Due: website

TEST: independent batching test for memory interface from review (#845) - tests focusing on independent batching of all parameters
  tests/unit/memory/memory_interface/test_batching_scale.py
Due: website

add `ManualCopilotAuthenticator`
  pyrit/auth/__init__.py
  pyrit/auth/manual_copilot_authenticator.py
Due: website

Scaffolding
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

add support for ManualCopilotAuthenticator
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Alternative Authentication with `ManualCopilotAuthenticator`
  doc/code/targets/websocket_copilot_target.py
  pyrit/prompt_target/websocket_copilot_target.py
Due: check-links, validate-jupyter-book, website

add ManualCopilotAuthenticator to API reference
  doc/api.rst
Due: validate-jupyter-book

use `silent=True`
  doc/code/targets/websocket_copilot_target.py
Due: check-links, validate-jupyter-book, website

moving normalize shim up a level
  doc/api.rst
  pyrit/identifiers/identifier.py
  pyrit/identifiers/scorer_identifier.py
  pyrit/models/scenario_result.py
  pyrit/models/score.py
  pyrit/prompt_target/rpc_client.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/plagiarism_scorer.py
  pyrit/ui/rpc.py
  pyrit/ui/rpc_client.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/executor/promptgen/fuzzer/test_fuzzer.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
  tests/unit/mocks.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_video_scorer.py
Due: validate-jupyter-book, website

fix mypy errors
  pyrit/auth/copilot_authenticator.py
  pyrit/auth/manual_copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Not storing empty values
  pyrit/identifiers/identifier.py
  tests/unit/identifiers/test_identifiers.py
Due: website

notebook rerun
  doc/code/targets/websocket_copilot_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

test fix
  tests/unit/identifiers/test_scorer_identifier.py
Due: website

Precommit
  pyrit/scenario/scenarios/airt/jailbreak.py
  tests/unit/scenarios/test_jailbreak.py
Due: website

commit blank canvas example image
  pyrit/datasets/seed_datasets/local/examples/blank_canvas.png
Due: none

pr feedback
  pyrit/identifiers/identifier.py
  tests/unit/identifiers/test_identifiers.py
  tests/unit/identifiers/test_scorer_identifier.py
Due: website

Not part of my pr woops
  pyrit/datasets/seed_datasets/local/examples/blank_canvas.png
Due: none

add frontend unit and e2e tests
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .github/workflows/frontend_tests.yml
  frontend/.gitignore
  frontend/README.md
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/api.spec.ts
  frontend/e2e/chat.spec.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/App.test.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/InputBox.test.tsx
  frontend/src/components/Chat/MessageList.test.tsx
  frontend/src/components/Layout/MainLayout.test.tsx
  frontend/src/components/Sidebar/Navigation.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  frontend/tsconfig.test.json
Due: none

refactoring
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/executors/crescendo/therapist.yaml
  pyrit/datasets/score/likert/crisis_management.yaml
  pyrit/datasets/score/likert/licensed_therapist.yaml
  pyrit/datasets/seed_datasets/local/airt/psychosocial.prompt
  pyrit/datasets/seed_datasets/local/airt/psychosocical_imminent_crisis.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

fix unit tests
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

FIX: commit `blank_canvas.png` required by `LeakageScenario` (#1330)
  pyrit/datasets/seed_datasets/local/examples/blank_canvas.png
Due: none

fixtures and basic tests
  tests/unit/scenarios/test_jailbreak.py
Due: website

updates to notebook
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit hook
  doc/code/scenarios/1_configuring_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

DOC: Update `doc/code/scenarios/1_configuring_scenarios` Notebook (#1332)
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website
