Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

fix lint & website
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
Due: website

DOC move class-level docstring arguments to constructor docstring (#986)
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_piece.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/human_in_the_loop_converter.py
  pyrit/prompt_converter/qr_code_converter.py
  pyrit/prompt_converter/random_capital_letters_converter.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/composite_scorer.py
  pyrit/score/self_ask_refusal_scorer.py
  pyrit/score/substring_scorer.py
Due: website

[FEAT] CCP-Sensitive-Prompts Dataset Integration (#959)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

break up methods, adjust tests
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

remove unnecessary ABC
  pyrit/models/prompt_request_piece.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

lint
  pyrit/models/prompt_request_piece.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

added umittests
  pyrit/attacks/__init__.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/multi_turn/tree_of_attacks_node.py
  tests/unit/attacks/test_tree_of_attacks.py
Due: website

integrating transphobia awareness dataset
  doc/code/datasets/transphobia_awareness_dataset.md
  examples/transphobia_awareness_example.py
  pyrit/datasets/__init__.py
  pyrit/datasets/seed_prompts/__init__.py
  pyrit/datasets/transphobia_awareness_dataset.py
  tests/unit/datasets/test_transphobia_awareness_dataset.py
Due: check-links, website

moving attackResult and AttackOutcome
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

adding memory module
  pyrit/memory/memory_models.py
Due: website

add_refusal_integration
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/score/__init__.py
  pyrit/score/scorer_evaluator.py
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
Due: remove-notebook-headers, check-links, website

add krippendorff dependency
  pyproject.toml
  tests/integration/test_assets/refusal_scorer_eval.csv
Due: none

book toc
  doc/_toc.yml
Due: none

MAINT remove unnecessary ABC (#988)
  pyrit/models/prompt_request_piece.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

updated unit tests and the code scoring logic
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/multi_turn/tree_of_attacks_node.py
  tests/unit/attacks/test_tree_of_attacks.py
Due: website

feat: added medsafetybench dataset
  doc/api.rst
  pyrit/datasets/fetch_medsafetybench.py
Due: website

memory interface updated
  pyrit/memory/__init__.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/duckdb_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  tests/unit/memory/test_memory_interface.py
Due: website

Updates: based on PR review
  doc/code/datasets/transphobia_awareness_dataset.md
  examples/transphobia_awareness_example.py
  pyrit/datasets/__init__.py
  pyrit/datasets/seed_prompts/__init__.py
  pyrit/datasets/transphobia_awareness_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: check-links, website

adding AttackResult to memory
  pyrit/attacks/base/attack_strategy.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

pre commit
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/duckdb_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/memory/test_memory_interface.py
Due: website

pre commit
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  tests/unit/memory/test_memory_interface.py
Due: website

unit tests
  .gitignore
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech.csv
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/score/scorer_evals/harm/violence.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal.csv
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal.csv
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluator.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

test fix
  pyrit/memory/memory_interface.py
  tests/unit/memory/test_memory_interface.py
Due: website

pr feedback
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  tests/unit/memory/test_memory_interface.py
Due: website

format trailing whitespace
  build_scripts/check_links.py
  pyrit/orchestrator/fuzzer_orchestrator.py
Due: website

set supports_seed to False for ministral
  tests/integration/targets/test_targets_and_secrets.py
Due: website

add role and seed_alias, repurpose sequence
  doc/code/memory/3_prompt_request.md
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/skeleton_key_orchestrator.py
  pyrit/orchestrator/xpia_orchestrator.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/test_prompt_normalizer.py
Due: check-links, website

added extra line
  pyrit/orchestrator/fuzzer_orchestrator.py
Due: website

updated the PR
  pyrit/orchestrator/fuzzer_orchestrator.py
Due: website

DOC fixing docstrings for FuzzerOrchestrator (#971)
  pyrit/orchestrator/fuzzer_orchestrator.py
Due: website

addressed comments
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/multi_turn/tree_of_attacks_node.py
  tests/unit/attacks/test_tree_of_attacks.py
Due: website

update seed alias assignment
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  tests/unit/models/test_seed_prompt.py
Due: website

FIX fix target integration test by setting supports_seed to False for ministral in Azure (#996)
  tests/integration/targets/test_targets_and_secrets.py
Due: website

FEAT: Adding AttackResult to the Database (#995)
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/memory/__init__.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/duckdb_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/attack_result.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/memory/test_memory_interface.py
Due: website

upgrade base image version
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
Due: none

use CLI cred
  doc/code/auxiliary_attacks/1_gcg_azure_ml.ipynb
Due: remove-notebook-headers

revert alias assignment
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/models/seed_prompt.py
Due: website

remove duplicate code
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/models/seed_prompt.py
Due: website

address PR feedback
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: remove-notebook-headers, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
