Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

Moving JsonResponseConfig to private
  doc/api.rst
  pyrit/models/__init__.py
  pyrit/models/json_response_config.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/models/test_json_response_config.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: validate-jupyter-book, website

Run isort on notebook
  doc/code/targets/8_openai_responses_target.py
Due: check-links, validate-jupyter-book, website

Add section on JSON to the chat notebook
  doc/code/targets/1_openai_chat_target.py
Due: check-links, validate-jupyter-book, website

Get the notebook fixed and regenerated
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/1_openai_chat_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Fix OpenAI docs issue
  build_scripts/check_links.py
Due: website

Linting notebooks
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Try running pre-commit
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

exec notebooks
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

rerun notebooks and pre-commit
  doc/code/targets/8_openai_responses_target.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Switch auth back for tests
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

[FEAT] Support JSON Schema in Responses (#1177)
  build_scripts/check_links.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/1_openai_chat_target.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/models/json_response_config.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
  tests/unit/models/test_json_response_config.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix image target integration tests
  tests/integration/targets/test_targets_and_secrets.py
Due: website

FIX remove obsolete assertions from image target integration tests (#1294)
  tests/integration/targets/test_targets_and_secrets.py
Due: website

adding therapist files
  pyrit/datasets/score/likert/dependency_management.yaml
  pyrit/datasets/seed_datasets/local/airt/psychosocial_therapist_boundaries.prompt
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

update ignored notebook index
  tests/integration/converter/test_notebooks_converter.py
Due: website

adding tool calls
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  tests/integration/message_normalizer/test_tokenizer_template_normalizer_integration.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

MAINT update ignored notebook index (#1295)
  tests/integration/converter/test_notebooks_converter.py
Due: website

add npm instructions to uv doc file
  doc/contributing/1a_install_uv.md
Due: check-links, validate-jupyter-book

updating message normalizer
  doc/api.rst
  doc/code/memory/chat_message.py
  doc/code/targets/3_non_open_ai_chat_targets.ipynb
  doc/code/targets/3_non_open_ai_chat_targets.py
  pyrit/chat_message_normalizer/__init__.py
  pyrit/chat_message_normalizer/chat_message_nop.py
  pyrit/chat_message_normalizer/chat_message_normalizer_chatml.py
  pyrit/chat_message_normalizer/chat_message_normalizer_tokenizer.py
  pyrit/chat_message_normalizer/generic_system_squash.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/prepended_conversation_configuration.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/memory/memory_interface.py
  pyrit/message_normalizer/__init__.py
  pyrit/message_normalizer/chatml_normalizer.py
  pyrit/message_normalizer/message_nop.py
  pyrit/models/chat_message.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/message_normalizer/test_chat_message_normalizer.py
  tests/unit/message_normalizer/test_chat_normalizer_chatml.py
  tests/unit/target/test_azure_ml_chat_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

reverting attack related changes
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/prepended_conversation_configuration.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
Due: website

updating docs, tests, and pre-commit
  doc/_toc.yml
  doc/api.rst
  doc/code/memory/chat_message.ipynb
  doc/code/memory/chat_message.py
  doc/code/targets/3_non_open_ai_chat_targets.ipynb
  doc/code/targets/9_message_normalizer.ipynb
  doc/code/targets/9_message_normalizer.py
  pyrit/common/__init__.py
  pyrit/common/print.py
  pyrit/memory/memory_interface.py
  pyrit/message_normalizer/chat_message_normalizer.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/models/chat_message.py
  pyrit/prompt_target/azure_ml_chat_target.py
  tests/integration/message_normalizer/test_tokenizer_template_normalizer_integration.py
  tests/unit/message_normalizer/test_chat_message_normalizer.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
  tests/unit/target/test_azure_ml_chat_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

test coverage pre-commit
  doc/code/targets/9_message_normalizer.ipynb
  doc/code/targets/9_message_normalizer.py
  pyrit/message_normalizer/message_normalizer.py
  pyrit/models/chat_message.py
  pyrit/models/message.py
  pyrit/prompt_target/azure_ml_chat_target.py
  tests/unit/message_normalizer/test_chat_message_normalizer.py
  tests/unit/message_normalizer/test_conversation_context_normalizer.py
  tests/unit/message_normalizer/test_generic_system_squash_normalizer.py
  tests/unit/models/test_message.py
  tests/unit/target/test_azure_ml_chat_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/targets/9_message_normalizer.ipynb
  tests/unit/message_normalizer/test_conversation_context_normalizer.py
Due: remove-notebook-headers, validate-jupyter-book, website

pre-commit
  doc/code/targets/9_message_normalizer.ipynb
  doc/code/targets/9_message_normalizer.py
  pyrit/message_normalizer/__init__.py
  pyrit/message_normalizer/chat_message_normalizer.py
  pyrit/message_normalizer/message_normalizer.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  tests/unit/message_normalizer/test_chat_message_normalizer.py
  tests/unit/message_normalizer/test_conversation_context_normalizer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/targets/9_message_normalizer.ipynb
Due: remove-notebook-headers, validate-jupyter-book

basic frontend/backend file selection
  Makefile
  build_scripts/prepare_package.py
  doc/contributing/11_release_process.md
  doc/index.md
  doc/setup/1b_install_docker.md
  docker/.env_container_settings_example
  docker/Dockerfile
  docker/build_pyrit_docker.py
  docker/docker-compose.yaml
  docker/run_pyrit_docker.py
  docker/start.sh
  frontend/README.md
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/ConverterDrawer.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/History/HistoryPage.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/clientConverters.ts
  pyrit/backend/README.md
  pyrit/backend/main.py
  pyrit/backend/models/requests.py
  pyrit/backend/models/responses.py
  pyrit/backend/routes/chat.py
  pyrit/backend/routes/convert.py
  pyrit/backend/routes/converters.py
  pyrit/backend/services/chat_service.py
Due: check-links, validate-jupyter-book, website

basic working version
  pyrit/backend/main.py
  pyrit/backend/models/responses.py
Due: website

Update pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

merging main pr feedback
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/scenario/core/dataset_configuration.py
Due: website

integration test fixes
  doc/cookbooks/2_precomputing_turns.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
Due: remove-notebook-headers, validate-jupyter-book, website

fix unit test
  tests/unit/executor/attack/multi_turn/test_crescendo.py
Due: website

FIX: integration test fixes (#1297)
  doc/cookbooks/2_precomputing_turns.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
Due: remove-notebook-headers, validate-jupyter-book, website

MAINT add skeleton frontend (#1290)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
  .dockerignore
  frontend/.gitignore
  frontend/README.md
  frontend/dev.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/roakey.png
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/InputBox.tsx
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/main.tsx
  frontend/src/styles/global.css
  frontend/src/types/index.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: website

undoing jupyfiles
  .gitignore
  doc/api.rst
  pyrit/models/chat_message.py
Due: validate-jupyter-book, website

MAINT: Adding simulated assistant role (#1292)
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/chat_message.py
  pyrit/models/literals.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/models/seed_group.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/score/conversation_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/video_scorer.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/test_literals.py
  tests/unit/test_message.py
  tests/unit/test_message_piece.py
Due: website

fixing merge
  pyrit/models/message_piece.py
  tests/unit/models/test_message.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
