Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

change include_auxiliary_scores to kw only
  pyrit/orchestrator/models/orchestrator_result.py
Due: website

pr feedback + add missing converters to api.rst
  doc/api.rst
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/cli/prompt_send_success_converters_llm_mixed_target.yaml
Due: website

pre-commit hooks + add denylist converter to tests
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
Due: website

FEAT: Add Converter Support to Scanner (#882)
  doc/api.rst
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/prompt_converter/repeat_token_converter.py
  tests/integration/cli/illegal_integration_test.prompt
  tests/integration/cli/illegal_integration_test_audio_input.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/mixed_multiple_orchestrators_args_success.yaml
  tests/unit/cli/prompt_send_converters_missing_arg.yaml
  tests/unit/cli/prompt_send_converters_wrong_arg.yaml
  tests/unit/cli/prompt_send_no_converter_target.yaml
  tests/unit/cli/prompt_send_success_converters_custom_target.yaml
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/cli/prompt_send_success_converters_llm_mixed_target.yaml
  tests/unit/cli/prompt_send_success_converters_no_target.yaml
  tests/unit/cli/test_cli.py
  tests/unit/converter/test_prompt_converter.py
Due: website

updating components
  pyrit/attacks/components/__init__.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/single_turn/PromptInjectionAttack.py
Due: website

Working openai response target with unit and integration tests
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/common/__init__.py
  pyrit/common/convert_local_image_to_data_url.py
  pyrit/models/data_type_serializer.py
  pyrit/models/literals.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: remove-notebook-headers, check-links, website

linting
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/common/convert_local_image_to_data_url.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: remove-notebook-headers, check-links, website

added Azure Speech dependencies to the dev container
  .devcontainer/Dockerfile
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
Due: website

pre-commit
  .devcontainer/Dockerfile
Due: none

Notebook section on scoring by objective, pre-commit hooks
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

FIX: Added Azure Speech dependencies to the Dev Container (#932)
  .devcontainer/Dockerfile
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
Due: website

refactor: simplify word selection logic in WordLevelConverter and remove unused select_word_indices function
  pyrit/common/utils.py
  pyrit/prompt_converter/word_level_converter.py
Due: website

update WordLevelConverter implementations
  doc/api.rst
  pyrit/common/__init__.py
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/text_to_hex_converter.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_char_swap_generator_converter.py
Due: website

tests\unit\converter\test_word_level_converter.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_word_level_converter.py
Due: website

Update tests/unit/score/test_look_back_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: website

fix post init typo
  pyrit/models/seed_prompt.py
Due: website

TEST: add test for print_conversation_async with include_auxiliary_scores (#928)
  pyrit/orchestrator/models/orchestrator_result.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

version 2
  doc/code/scoring/scorer_evals.ipynb
  pyrit/datasets/score/scorer_evals/csv_results/SelfAskLikertScorer/hate_speech.csv
  pyrit/datasets/score/scorer_evals/eval_configs/sample_config_likert_hate.yaml
  pyrit/datasets/score/scorer_evals/eval_configs/sample_config_likert_violence.yaml
  pyrit/datasets/score/scorer_evals/eval_datasets/likert_hate_speech_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/metrics/SelfAskLikertScorer/hate_speech.json
  pyrit/datasets/score/scorer_evals/metrics/likert_scorer/hate_speech_scale.json
  pyrit/datasets/score/scorer_evals/metrics/likert_scorer/violence_scale.json
  pyrit/score/__init__.py
  pyrit/score/gold_dataset.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluator.py
  pyrit/score/self_ask_likert_scorer.py
  tests/integration/score/test_likert_integration.py
Due: remove-notebook-headers, website

json changes
  doc/code/scoring/scorer_evals.ipynb
  pyrit/common/scorer_evals_helper.py
  pyrit/datasets/score/scorer_evals/csv_results/SelfAskLikertScorer/hate_speech.csv
  pyrit/datasets/score/scorer_evals/metrics/SelfAskLikertScorer/hate_speech.json
  pyrit/score/scorer_evaluator.py
  pyrit/score/self_ask_likert_scorer.py
Due: remove-notebook-headers, website

fix tests, add api doc
  doc/api.rst
  pyrit/common/__init__.py
  pyrit/common/data_url_converter.py
  tests/unit/common/test_convert_local_image_to_data_url.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/test_literals.py
Due: website

documentation
  pyrit/score/gold_dataset.py
Due: website

linting, pre-commit, TOC update with new notebook, remove developer role from literals since it maps to system internally
  doc/_toc.yml
  pyrit/models/chat_message.py
  pyrit/models/literals.py
  tests/unit/common/test_convert_local_image_to_data_url.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

small fixes from initial review
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/test_literals.py
Due: website

fix issue in py3.10
  tests/unit/target/test_openai_response_target.py
Due: website

mypy, lint
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/target/test_openai_response_target.py
Due: website

add link check exception
  build_scripts/check_links.py
Due: website

pre-commit
  doc/code/scoring/look_back_scorer.ipynb
  pyrit/score/look_back_scorer.py
Due: remove-notebook-headers, website

FEAT Adding flag parameter to LookBackScorer (#918)
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/score/look_back_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: remove-notebook-headers, check-links, website

fix tests, linting, mypy
  pyrit/prompt_target/http_target/http_target.py
  tests/unit/target/test_http_target.py
Due: website

fix test casing
  tests/unit/target/test_http_target.py
Due: website

add linear MultiAgentSystemChatTarget with persistent memory and improved auditability
  doc/code/targets/use_msa_chat_target.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/mas_target/mas_chat_target.py
Due: check-links, website

fix citation, order api ref
  doc/api.rst
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
Due: website

bump api versions
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

bump packages
  pyproject.toml
Due: none

upgrade aiofiles since gradio loosened the requirement!
  pyproject.toml
Due: none

refactored common code to scorer
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/components/score_evaluator.py
  pyrit/attacks/single_turn/PromptInjectionAttack.py
  pyrit/score/scorer.py
Due: website

Add HackAPromptTarget for red teaming HackAPrompt challenges
  doc/code/targets/run_hack_a_prompt_target.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/hack_a_prompt_target.py
Due: check-links, website

fix integration test with new PSO method
  tests/integration/targets/test_target_filters.py
Due: website

replace pylint commit with latest version
  .pre-commit-config.yaml
Due: none

update and rerun pdf converter notebook - works
  doc/code/converters/pdf_converter.ipynb
Due: remove-notebook-headers

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
