Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

FIX RTO was not honoring prepended conversations (#1009)
  pyrit/attacks/base/attack_strategy.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_prompt_sending.py
Due: website

Update 1_installation.md
  doc/contributing/1_installation.md
Due: check-links

working version
  doc/code/auxiliary_attacks/1_gcg_azure_ml.ipynb
  doc/code/auxiliary_attacks/1_gcg_azure_ml.py
Due: remove-notebook-headers, check-links, website

Add unit tests and finalize analyze_results with logging and consistent naming
  pyrit/analytics/analyze_results.py
  tests/unit/analytics/test_analyze_results.py
Due: website

fixing prepended conversation last user msg with RTO
  pyrit/attacks/multi_turn/red_teaming.py
  tests/unit/attacks/test_red_teaming.py
Due: website

FIX Use custom prompt regardless of turn count in RedTeamingAttack (#1013)
  pyrit/attacks/multi_turn/red_teaming.py
  tests/unit/attacks/test_red_teaming.py
Due: website

Update doc/contributing/1_installation.md
  doc/contributing/1_installation.md
Due: check-links

Refactor tests and fix parameterization errors
  pyrit/analytics/analyze_results.py
  tests/unit/analytics/test_analyze_results.py
Due: website

updated tests
  tests/unit/analytics/test_analyze_results.py
Due: website

FEAT: FlipAttack Refactor (#1010)
  doc/code/orchestrators/flip_orchestrator.ipynb
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/flip_attack.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  tests/unit/attacks/test_flip_attack.py
  tests/unit/orchestrator/test_flip_orchestrator.py
Due: remove-notebook-headers, website

first edit
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/many_shot_jailbreak.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
Due: website

remove commented code
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
Due: none

move sentencepiece install to gcg extra
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
Due: none

cleanup
  doc/code/auxiliary_attacks/1_gcg_azure_ml.ipynb
  doc/code/auxiliary_attacks/1_gcg_azure_ml.py
Due: remove-notebook-headers, check-links, website

FEAT: add image compression converter (#1000)
  doc/api.rst
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/image_compression_converter.py
  tests/unit/converter/test_image_compression_converter.py
Due: website

support negative indices in HTTP target JSON path parsing
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  tests/unit/target/test_http_target_parsing.py
Due: website

websearch is working, function calling got broken during updates
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/models/literals.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
Due: remove-notebook-headers, website

merging main changes
  pyrit/attacks/single_turn/role_play.py
Due: website

deprecating role playing orchestrator
  pyrit/attacks/__init__.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  tests/unit/orchestrator/test_role_play_orchestrator.py
Due: website

updated the tests
  pyrit/attacks/fuzzer_attack.py
  tests/unit/attacks/test_fuzzer.py
Due: website

updated function args
  pyrit/attacks/fuzzer_attack.py
Due: website

add unit tests
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  tests/unit/attacks/test_role_play.py
Due: website

fix unit test
  tests/unit/attacks/test_role_play.py
Due: website

seperating into 2 prs
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  tests/unit/attacks/test_role_play_orchestrator.py
Due: website

rename file
  tests/unit/orchestrator/test_role_play_orchestrator.py
Due: website

added deprecation for role playing orchestator
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  tests/unit/orchestrator/test_role_play_orchestrator.py
Due: website

refactor
  doc/code/orchestrators/many_shot_jailbreak.ipynb
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/many_shot_jailbreak.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  tests/unit/attacks/test_many_shot_jailbreak.py
Due: remove-notebook-headers, website

comments
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
Due: website

delete old test file
  tests/unit/orchestrator/test_many_shot_jailbreak_orchestrator.py
Due: website

FIX get AzureML pipeline for GCG working again (#1012)
  doc/code/auxiliary_attacks/1_gcg_azure_ml.ipynb
  doc/code/auxiliary_attacks/1_gcg_azure_ml.py
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
Due: remove-notebook-headers, check-links, website

Fixing scoring paradigm
  pyrit/score/__init__.py
  pyrit/score/azure_content_filter_scorer.py
  pyrit/score/composite_scorer.py
  pyrit/score/float_scale_threshold_scorer.py
  pyrit/score/gandalf_scorer.py
  pyrit/score/human_in_the_loop_gradio.py
  pyrit/score/human_in_the_loop_scorer.py
  pyrit/score/insecure_code_scorer.py
  pyrit/score/look_back_scorer.py
  pyrit/score/markdown_injection.py
  pyrit/score/prompt_shield_scorer.py
  pyrit/score/question_answer_scorer.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_category_scorer.py
  pyrit/score/self_ask_general_scorer.py
  pyrit/score/self_ask_likert_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  pyrit/score/self_ask_refusal_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  pyrit/score/self_ask_true_false_scorer.py
  pyrit/score/substring_scorer.py
  pyrit/score/true_false_inverter_scorer.py
Due: website

allowing no category with scores
  pyrit/memory/memory_models.py
  pyrit/models/score.py
  pyrit/ui/rpc.py
  tests/unit/attacks/test_crescendo.py
Due: website

Fix: Deleted fetch_medsafetybench.py
  pyrit/datasets/fetch_medsafetybench.py
Due: website

fixing tests
  tests/unit/score/test_composite_scorer.py
  tests/unit/score/test_generic_scorer.py
  tests/unit/score/test_scorer.py
Due: website

renamed the fuzzer attack file
  pyrit/attacks/__init__.py
  pyrit/attacks/fuzzer.py
  tests/unit/attacks/test_fuzzer.py
Due: website

fixing the tests
  tests/unit/attacks/test_fuzzer.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
