Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

add warning for out-of-bounds indices
  pyrit/common/utils.py
Due: website

clarify purpose of `join_words` method
  pyrit/prompt_converter/word_level_converter.py
Due: website

FIX: Update `re.split` calls to use `maxsplit` keyword argument
  pyrit/prompt_converter/repeat_token_converter.py
Due: website

pre-commit
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
  tests/unit/orchestrator/test_red_teaming_orchestrator.py
  tests/unit/orchestrator/test_tree_of_attack_node.py
  tests/unit/orchestrator/test_tree_of_attacks_with_pruning_orchestrator.py
Due: website

pre-commit
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
Due: website

updaing doc strings
  doc/api.rst
  doc/blog/2024_12_3.md
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
Due: check-links, website

adding back orchestrator rst
  doc/api.rst
Due: none

DOC fix markdown link (#880)
  doc/code/converters/2_using_converters.ipynb
  doc/code/converters/2_using_converters.py
Due: remove-notebook-headers, check-links, website

Revert "Addition of look_back_scorer which takes in a conversation_id and scores the entire conversation based on percieved behavior changes."
  pyrit/datasets/score/likert_scales/behavior_change.yaml
  pyrit/datasets/score/scales/behavior_change_system_prompt.yaml
  pyrit/score/__init__.py
  pyrit/score/look_back_scorer.py
Due: website

FEAT Persuasion and Deception Scenarios (#878)
  pyrit/datasets/orchestrators/red_teaming/persuasion_deception/RUAI.yaml
  pyrit/datasets/orchestrators/red_teaming/persuasion_deception/persuasion_persona.yaml
  pyrit/datasets/orchestrators/role_play/persuasion_script.yaml
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

FIX: Update `re.split` calls to use `maxsplit` keyword argument (#885)
  pyrit/prompt_converter/repeat_token_converter.py
Due: website

Renaming TAPAttackResult
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
Due: website

BREAKING FEAT: orchestrator result (#886)
  doc/api.rst
  doc/blog/2024_12_3.md
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_with_pruning_orchestrator.py
  tests/unit/orchestrator/test_crescendo_orchestrator.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
  tests/unit/orchestrator/test_red_teaming_orchestrator.py
  tests/unit/orchestrator/test_tree_of_attack_node.py
  tests/unit/orchestrator/test_tree_of_attacks_with_pruning_orchestrator.py
Due: check-links, website

Update pyrit/datasets/multilingual_vulnerability_dataset.py
  pyrit/datasets/multilingual_vulnerability_dataset.py
Due: website

FEAT: Added Multilingual Vulnerability Dataset (#834)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/multilingual_vulnerability_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
Due: website

FEAT: Anecdoctor Orchestrator
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_build_knowledge_graph.yaml
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_use_fewshot.yaml
  pyrit/datasets/orchestrators/anecdoctor/anecdoctor_use_knowledge_graph.yaml
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
  tests/unit/orchestrator/test_anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

FIX keep conversation ID in PromptSendingOrchestrator if it's passed in (#889)
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/prompt_normalizer/normalizer_request.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

small fixes, still single turn
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Update pyrit/datasets/cbt_bench_dataset.py
  pyrit/datasets/cbt_bench_dataset.py
Due: website

Added support for CBT-Bench dataset
  pyrit/datasets/__init__.py
  pyrit/datasets/cbt_bench_dataset.py
Due: website

create ensemble scorer/orchestrator classes
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/multi_turn/crescendo_ensemble_orchestrator.py
  pyrit/score/__init__.py
  pyrit/score/ensemble_scorer.py
Due: website

create POC example for ensemble orchestrator
  doc/code/orchestrators/5_crescendo_ensemble_orchestrator.ipynb
Due: remove-notebook-headers

Basics are working in notebooks
  doc/code/memory/7_azure_sql_memory_orchestrators.py
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/1_prompt_sending_orchestrator.py
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/scoring/prompt_shield_scorer.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
  tests/unit/orchestrator/test_prompt_orchestrator.py
Due: remove-notebook-headers, check-links, website

Adding more single turn
  doc/code/orchestrators/context_compliance_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: remove-notebook-headers, website

new substring scorer to search for multiple substrings
  pyrit/score/__init__.py
  pyrit/score/substrings_multiple_scorer.py
Due: website

small refactor for easier converter config
  doc/code/orchestrators/context_compliance_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
Due: remove-notebook-headers, website

moving retries to constructor
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: website

unit test additions (pr feedback)
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/cli/prompt_send_success_converters_llm_mixed_target.yaml
  tests/unit/cli/prompt_send_success_converters_no_target.yaml
  tests/unit/cli/test_cli.py
Due: website

hooks fix
  pyrit/datasets/score/scales/criteria_example.yaml
  pyrit/datasets/score/scales/criteria_system_prompt.yaml
Due: none

renamed
  pyrit/datasets/score/scales/criteria_example_scale.yaml
Due: none

fix tests
  pyrit/score/self_ask_scale_scorer.py
Due: website

All single turn orchestrators working
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/flip_orchestrator.ipynb
  doc/code/orchestrators/many_shot_jailbreak.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
Due: remove-notebook-headers, website

FEAT Adding into Criteria based scoring (#874)
  pyrit/datasets/score/scales/criteria_example_scale.yaml
  pyrit/datasets/score/scales/criteria_system_prompt.yaml
  pyrit/score/self_ask_scale_scorer.py
  tests/unit/score/test_self_ask_scale.py
Due: website

removing example notebook + script
  doc/code/converters/zalgo_converter.ipynb
  doc/code/converters/zalgo_converter.py
Due: remove-notebook-headers, check-links, website

Added normalizing intensity and logging warning if intensity is too high
  pyrit/prompt_converter/zalgo_converter.py
Due: website

Adding unit tests
  tests/unit/converter/test_zalgo_converter.py
Due: website

FEAT: Toxic Sentence Generator
  doc/code/converters/toxic_sentence_generator.ipynb
  doc/code/converters/toxic_sentence_generator.py
  pyrit/datasets/prompt_converters/toxic_sentence_generator.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  tests/unit/converter/test_toxic_sentence_generator_converter.py
Due: remove-notebook-headers, check-links, website

kw-only args for get_random_indices
  pyrit/common/utils.py
Due: website

remove **kwargs in favor of named parameters
  pyrit/common/utils.py
Due: website
