Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

added first letter converter demo notebook to toc
  doc/_toc.yml
Due: none

pre-commit fixes
  doc/code/targets/2_custom_targets.ipynb
Due: remove-notebook-headers

forgotten files
  doc/code/orchestrators/2_multi_turn_orchestrators.ipynb
  doc/code/orchestrators/violent_durian.ipynb
Due: remove-notebook-headers

moved first letter converter demo notebook to cookbooks
  doc/cookbooks/copyright_violations.ipynb
  doc/cookbooks/copyright_violations.py
Due: remove-notebook-headers, check-links, website

updated toc with copyright violations cookbook
  doc/_toc.yml
Due: none

precommit fix
  doc/api.rst
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/2_basic_memory_programming.py
  pyrit/common/initialization.py
  pyrit/memory/memory_interface.py
Due: remove-notebook-headers, check-links, website

small fix to get prompt
  pyrit/datasets/medsafetybench_dataset.py
Due: website

FIX: Fetch MedSafetyBench fix (#1074)
  pyrit/datasets/medsafetybench_dataset.py
Due: website

ran pre-commit hooks on copyright violations cookbook
  doc/cookbooks/copyright_violations.ipynb
Due: remove-notebook-headers

FEAT Add separator support for FirstLetterConverter (#1070)
  doc/code/converters/0_converters.ipynb
  doc/code/converters/0_converters.py
  pyrit/prompt_converter/first_letter_converter.py
  pyrit/prompt_converter/word_level_converter.py
  tests/unit/converter/test_first_letter_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, check-links, website

initialize aliases
  pyrit/datasets/adv_bench_dataset.py
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/datasets/ccp_sensitive_prompts_dataset.py
  pyrit/datasets/darkbench_dataset.py
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
  pyrit/datasets/equitymedqa_dataset.py
  pyrit/datasets/forbidden_questions_dataset.py
  pyrit/datasets/librAI_do_not_answer_dataset.py
  pyrit/datasets/pku_safe_rlhf_dataset.py
  pyrit/datasets/red_team_social_bias_dataset.py
  pyrit/datasets/sosbench_dataset.py
  pyrit/datasets/xstest_dataset.py
  pyrit/models/harm_category.py
Due: website

explicit typing of class variables
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

edit import Engine
  pyrit/memory/memory_interface.py
Due: website

Promptgen section complete
  doc/code/executor/promptgen/0_promptgen.md
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/executor/promptgen/fuzzer_generator.py
Due: remove-notebook-headers, check-links, website

explicit typing for model
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

type: ignore
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

Benchmark done
  doc/code/executor/0_executor.md
  doc/code/executor/benchmark/0_benchmark.md
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.py
Due: remove-notebook-headers, check-links, website

Context Compliance Updates
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  pyrit/executor/attack/single_turn/context_compliance.py
Due: remove-notebook-headers, check-links, website

cc add
  doc/code/executor/attack/context_compliance_attack.ipynb
Due: remove-notebook-headers

spelling
  pyrit/executor/attack/core/attack_config.py
Due: website

Random translation converter
  doc/code/converters/1_llm_converters.ipynb
  doc/code/converters/1_llm_converters.py
  pyrit/datasets/lexicons/languages_most_spoken.yaml
  pyrit/datasets/lexicons/languages_most_used_internet.yaml
  pyrit/datasets/prompt_converters/random_translation_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/random_translation_converter.py
  tests/unit/converter/test_generic_llm_converter.py
Due: remove-notebook-headers, check-links, website

updated score_async with ValueError if response is not text
  pyrit/score/plagiarism_scorer.py
Due: website

added PlagiarismScorer to api.rst
  doc/api.rst
Due: none

Fail attack if any step fails + pre-commit fixes
  doc/code/executor/attack/multi_turn/3_multi_prompt_sending_attack.ipynb
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
Due: remove-notebook-headers, website

updating notebooks
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/4_likert_scorers.ipynb
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/code/scoring/human_in_the_loop_scorer_gradio.ipynb
  doc/code/scoring/insecure_code_scorer.ipynb
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/memory/memory_models.py
  pyrit/models/prompt_request_piece.py
  pyrit/models/prompt_request_response.py
  pyrit/models/score.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/look_back_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/float_scale/self_ask_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/true_false/composite_scorer.py
  pyrit/score/true_false/question_answer_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/substring_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  pyrit/ui/rpc_client.py
Due: remove-notebook-headers, website

fix test for python 3.10
  pyrit/cli/__main__.py
  scanner_configurations/basic_multi_turn_attack.yaml
  scanner_configurations/prompt_send.yaml
  tests/unit/cli/test_cli.py
Due: website

FIX: HuggingFace and SQLAlchemy pre-commit issues (#1075)
  pyrit/memory/memory_interface.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
Due: website

Pre-commit fix
  doc/code/converters/1_llm_converters.ipynb
Due: remove-notebook-headers

format notebook
  doc/code/orchestrators/2_multi_turn_orchestrators.ipynb
Due: remove-notebook-headers

fix unit test
  pyrit/memory/memory_interface.py
  tests/unit/memory/memory_interface/test_interface_export.py
Due: website

precommit
  tests/unit/memory/memory_interface/test_interface_export.py
Due: website

removed unnecessary response type check already covered by validate()
  pyrit/score/plagiarism_scorer.py
Due: website

removed unnecessary unit test
  tests/unit/score/test_plagiarism_scorer.py
Due: website

add attack docs
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
Due: remove-notebook-headers, check-links, website

minor syntax updates to PlagiarismScorer class
  pyrit/score/plagiarism_scorer.py
Due: website

fixed 3 failing plagiarism scorer unit tests
  tests/unit/score/test_plagiarism_scorer.py
Due: website

set score_metadata to None (ignoring linter)
  pyrit/score/plagiarism_scorer.py
Due: website

Address PR comments
  pyrit/prompt_converter/random_translation_converter.py
  tests/unit/converter/test_generic_llm_converter.py
  tests/unit/converter/test_random_translation_converter.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
