Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

conditional skip test
  tests/unit/test_azure_auth.py
Due: website

test fixes
  doc/code/memory/11_harm_categories.ipynb
  doc/code/setup/using_configuration_files.ipynb
  pyrit/setup/initialization.py
  tests/unit/cli/test_cli.py
  tests/unit/setup/test_initialization_scripts.py
  tests/unit/setup/test_scenario_factory.py
Due: remove-notebook-headers, website

updating attackresult docs
  doc/code/memory/3_prompt_request.md
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
Due: remove-notebook-headers, check-links, website

renaming doc file
  doc/_toc.yml
  doc/code/memory/3_memory_data_types.md
Due: check-links

fixing link
  doc/code/targets/0_prompt_targets.md
Due: check-links

cache Azure ML and Foundry token in integration test
  integration-tests.yml
Due: none

adding one dataset as POC
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/objective/information_integrity_eval_dataset.csv
  pyrit/score/config/true_false_question/information_integrity.yaml
Due: remove-notebook-headers, check-links, website

MAINT: Cache Azure ML/Foundry token in integration test (#1132)
  integration-tests.yml
Due: none

split xpia notebooks, tested #1 so far
  doc/_toc.yml
  doc/blog/2025_06_06.md
  doc/code/executor/workflow/0_workflow.md
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  doc/code/executor/workflow/1_xpia_workflow.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.py
  doc/code/executor/workflow/example/index.html
  tests/integration/executors/test_executor_notebooks.py
Due: remove-notebook-headers, check-links, website

fixed evaluation dataset csv
  pyrit/score/config/scorer_evals/objective/information_integrity_eval_dataset.csv
Due: none

Updated pyproject.toml, typing/flake8 fixes
  pyproject.toml
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/executor/workflow/xpia.py
  pyrit/score/scorer_evaluation/krippendorff.py
Due: website

Replace external krippendorff with internal implementation
  pyrit/score/scorer_evaluation/krippendorff.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

GitHub Actions: Add Python 3.14 and 3.14t to the testing
  .github/workflows/build_and_test.yml
  pyproject.toml
Due: none

Update doc/code/memory/3_memory_data_types.md
  doc/code/memory/3_memory_data_types.md
Due: check-links

update ensemble scorer test cases
  tests/unit/score/test_ensemble_scorer.py
Due: website

adding exploit harm category and notebook to switch between harm_categories
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/objective/exploit_eval_dataset.csv
  pyrit/score/config/true_false_question/exploits.yaml
Due: remove-notebook-headers, check-links, website

DOC: Adding Documentation for AttackResult (#1131)
  doc/_toc.yml
  doc/code/memory/3_memory_data_types.md
  doc/code/memory/3_prompt_request.md
  doc/code/targets/0_prompt_targets.md
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
Due: remove-notebook-headers, check-links, website

Remove fpdf from unit test; Add reportlab
  pyproject.toml
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_pdf_converter.py
Due: website

cleaning up
  doc/code/setup/using_configuration_files.ipynb
  pyrit/prompt_converter/tense_converter.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  pyrit/setup/attack_factory.py
  pyrit/setup/config/attack/crescendo.py
  pyrit/setup/config/attack/foundry/ansi_attack.py
  pyrit/setup/config/attack/foundry/ascii_art.py
  pyrit/setup/config/attack/foundry/tense.py
  pyrit/setup/config/attack/prompt_sending.py
  pyrit/setup/config/converters/ansi_attack.py
  pyrit/setup/config/converters/ascii_art.py
  pyrit/setup/config/converters/base64.py
  pyrit/setup/config/converters/leetspeak.py
  pyrit/setup/config/converters/rot13.py
  pyrit/setup/config/scenarios/foundry.py
  pyrit/setup/configuration_paths.py
  tests/unit/scenarios/test_attack_run.py
Due: remove-notebook-headers, website

cleaning up more
  doc/code/setup/using_configuration_files.ipynb
  pyrit/setup/__init__.py
  pyrit/setup/attack_factory.py
  pyrit/setup/config/attack/crescendo.py
  pyrit/setup/config/attack/prompt_sending.py
  pyrit/setup/config/converter_initialization.py
  pyrit/setup/config/converters/ansi_attack.py
  pyrit/setup/config/converters/ascii_art.py
  pyrit/setup/config/converters/base64.py
  pyrit/setup/config/converters/leetspeak.py
  pyrit/setup/config/converters/rot13.py
  pyrit/setup/config/datasets/harm_bench.py
  pyrit/setup/config/scenarios/foundry.py
  pyrit/setup/config/scorer_initialization.py
  pyrit/setup/config/target_initialization.py
  pyrit/setup/configuration_paths.py
  pyrit/setup/dataset_factory.py
  pyrit/setup/initialization_paths.py
  pyrit/setup/scenario_factory.py
Due: remove-notebook-headers, website

docs working
  doc/code/scenarios/scenarios.ipynb
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, website

Fix typos discovered by codespell
  doc/blog/2025_02_11.md
  doc/code/converters/1_llm_converters.ipynb
  doc/code/converters/1_llm_converters.py
  doc/code/converters/2_using_converters.ipynb
  doc/code/converters/2_using_converters.py
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/datasets/0_dataset.md
  doc/code/executor/0_executor.md
  doc/code/executor/attack/0_attack.md
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/6_azure_sql_memory.py
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
  doc/deployment/deploy_hf_model_aml.ipynb
  doc/deployment/deploy_hf_model_aml.py
  pyrit/common/default_values.py
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt.py
  pyrit/prompt_converter/caesar_converter.py
  pyrit/prompt_converter/insert_punctuation_converter.py
  pyrit/prompt_converter/unicode_confusable_converter.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/ui/rpc.py
  tests/unit/test_chat_message_normalizer.py
Due: remove-notebook-headers, check-links, website

add use_as_objective and objective_seed model
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/seed.py
  pyrit/models/seed_objective.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_group.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website

adding in privacy and hate speech datasets
  doc/code/scoring/scorer_evals.ipynb
  pyrit/score/config/scorer_evals/objective/hate_speech_eval_dataset.csv
  pyrit/score/config/scorer_evals/objective/privacy_eval_dataset.csv
  pyrit/score/config/true_false_question/hate_speech.yaml
  pyrit/score/config/true_false_question/privacy.yaml
Due: remove-notebook-headers

add HTML as an option, get xpia scenario #1 working
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  pyrit/prompt_target/azure_blob_storage_target.py
Due: remove-notebook-headers, check-links, website

DOC Fix typos discovered by codespell (#1133)
  doc/blog/2025_02_11.md
  doc/code/converters/1_llm_converters.ipynb
  doc/code/converters/1_llm_converters.py
  doc/code/converters/2_using_converters.ipynb
  doc/code/converters/2_using_converters.py
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
  doc/code/datasets/0_dataset.md
  doc/code/executor/0_executor.md
  doc/code/executor/attack/0_attack.md
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/1_sqlite_memory.py
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/6_azure_sql_memory.py
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
  doc/deployment/deploy_hf_model_aml.ipynb
  doc/deployment/deploy_hf_model_aml.py
  pyrit/common/default_values.py
  pyrit/models/prompt_request_response.py
  pyrit/models/seed_prompt.py
  pyrit/prompt_converter/caesar_converter.py
  pyrit/prompt_converter/insert_punctuation_converter.py
  pyrit/prompt_converter/unicode_confusable_converter.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/ui/rpc.py
  tests/unit/test_chat_message_normalizer.py
Due: remove-notebook-headers, check-links, website

testing and fixes
  .github/instructions/style-guide.instructions.md
  doc/_toc.yml
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_attack_run.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/scenarios/scenarios.ipynb
Due: remove-notebook-headers

Fix formatting of torch dependency in pyproject.toml
  pyproject.toml
Due: none

enable host networking so that we can reach localhost, run AI recruiter
  .devcontainer/docker-compose.yml
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.py
  doc/code/executor/workflow/example/index.html
  pyrit/prompt_target/azure_blob_storage_target.py
Due: remove-notebook-headers, check-links, website

fix return value
  doc/code/memory/8_seed_prompt_database.ipynb
  pyrit/models/seed.py
  pyrit/models/seed_objective.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_group.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, website

throw error if objective and seedprompt objective defined
  pyrit/executor/attack/core/attack_executor.py
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

pr feedback
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/scenarios/attack_run.py
  pyrit/scenarios/config/foundry_scenario.py
  pyrit/scenarios/scenario.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
