Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

functioning initial backend
  frontend/README.md
  frontend/dev.py
  frontend/package.json
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  pyrit/backend/__init__.py
  pyrit/backend/main.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/responses.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/config.py
  pyrit/backend/routes/health.py
  pyrit/backend/routes/targets.py
  pyrit/backend/routes/version.py
  pyrit/backend/services/__init__.py
  pyrit/backend/services/target_registry.py
  tests/unit/backend/test_config_routes.py
  tests/unit/backend/test_target_registry.py
  tests/unit/backend/test_targets_routes.py
Due: website

pr feedback
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  pyrit/cli/frontend_core.py
  pyrit/cli/scenario_registry.py
  pyrit/memory/memory_interface.py
  pyrit/models/scenario_result.py
  pyrit/scenario/core/dataset_configuration.py
  pyrit/scenario/core/scenario.py
  tests/unit/scenarios/test_content_harms_scenario.py
  tests/unit/scenarios/test_dataset_configuration.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

EOD commit
  doc/code/converters/ansi_attack_converter.ipynb
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona.yaml
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona_written.yaml
  pyrit/datasets/executors/role_play/scam_materials.yaml
  pyrit/datasets/score/true_false_question/scams.yaml
  pyrit/datasets/seed_datasets/local/airt/scams.prompt
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/scenario/scenarios/airt/scam_scenario.py
Due: remove-notebook-headers, validate-jupyter-book, website

adding tests, fixing bugs
  doc/api.rst
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/prepended_conversation_config.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
Due: validate-jupyter-book, website

pre-commit
  pyrit/executor/attack/core/prepended_conversation_config.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
Due: website

MAINT: Enhance type hinting across auth and analytics modules, improve cosine similarity robustness.
  pyrit/analytics/conversation_analytics.py
  pyrit/analytics/result_analysis.py
  pyrit/auth/azure_auth.py
  pyrit/auth/azure_storage_auth.py
Due: website

nb update
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
Due: remove-notebook-headers, validate-jupyter-book

Refactor NegationTrapConverter based on PR feedback
  pyrit/prompt_converter/chunked_request_converter.py
  pyrit/prompt_converter/negation_trap_converter.py
  tests/test_ctf_converters.py
Due: website

Implement ChunkedRequestAttack as multi-turn attack strategy
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/chunked_request_attack.py
  tests/unit/executor/attack/multi_turn/test_chunked_request_attack.py
Due: website

moving files and imports
  doc/api.rst
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  pyrit/memory/memory_interface.py
  pyrit/models/scenario_result.py
  pyrit/scenario/__init__.py
  pyrit/scenario/airt/__init__.py
  pyrit/scenario/foundry/__init__.py
  pyrit/scenario/garak/__init__.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/foundry.py
  pyrit/scenario/scenarios/garak/__init__.py
  pyrit/scenario/scenarios/garak/encoding.py
  tests/unit/auth/test_azure_auth.py
  tests/unit/auth/test_azure_storage_auth.py
  tests/unit/common/test_hf_model_downloads.py
  tests/unit/docs/test_api_documentation.py
  tests/unit/docs/test_converter_documentation.py
  tests/unit/embedding/test_azure_text_embedding.py
  tests/unit/executor/attack/multi_turn/test_red_team_system.py
  tests/unit/executor/attack/single_turn/test_many_shot_template.py
  tests/unit/models/test_embedding_response.py
  tests/unit/prompt_normalizer/test_normalizer_request.py
  tests/unit/prompt_normalizer/test_prompt_normalizer.py
  tests/unit/scenarios/test_content_harms.py
  tests/unit/scenarios/test_cyber.py
  tests/unit/scenarios/test_encoding.py
  tests/unit/scenarios/test_foundry.py
  tests/unit/scenarios/test_strategy_validation.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fixing tests
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

fixing tests and making scenarios imports better
  pyrit/scenario/__init__.py
  pyrit/scenario/airt/__init__.py
  pyrit/scenario/foundry/__init__.py
  pyrit/scenario/garak/__init__.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/foundry/__init__.py
  pyrit/scenario/scenarios/foundry/foundry.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/docs/test_api_documentation.py
  tests/unit/docs/test_converter_documentation.py
  tests/unit/scenarios/test_foundry.py
Due: website

fixing jupyter build
  build_scripts/validate_jupyter_book.py
  pyrit/scenario/core/scenario_strategy.py
Due: website

remove target and config logic to keep it simple for initial PR
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  pyrit/backend/main.py
  pyrit/backend/routes/config.py
  pyrit/backend/routes/targets.py
  pyrit/backend/services/target_registry.py
  tests/unit/backend/test_config_routes.py
  tests/unit/backend/test_target_registry.py
  tests/unit/backend/test_targets_routes.py
Due: website

fixing more jupyter issues
  doc/api.rst
  pyrit/scenario/core/scenario_strategy.py
Due: validate-jupyter-book, website

pr fixes
  pyrit/scenario/scenarios/foundry/foundry.py
  pyrit/scenario/scenarios/garak/encoding.py
Due: website

remove impersonation examples, fix up naming and scorer
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona.yaml
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona_generic.yaml
  pyrit/datasets/executors/role_play/persuasion_script_written.yaml
  pyrit/datasets/score/true_false_question/scam_materials.yaml
  pyrit/datasets/score/true_false_question/scams.yaml
  pyrit/datasets/score/true_false_question/scams_impersonation.yaml
  pyrit/datasets/seed_datasets/local/airt/scam_materials.prompt
  pyrit/datasets/seed_datasets/local/airt/scams_impersonation.prompt
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/scenario/scenarios/airt/scam_scenario.py
Due: website

address comments
  .flake8
  pyrit/backend/main.py
  pyrit/backend/models/responses.py
  pyrit/backend/routes/health.py
  pyrit/backend/routes/version.py
Due: website

update unit tests and to match recent additions to scenarios
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona_generic.yaml
  pyrit/datasets/score/true_false_question/scams.yaml
  pyrit/datasets/seed_datasets/local/airt/scams.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/scam.py
  tests/unit/scenarios/test_scam.py
Due: website

correction
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
Due: website

ignore dev.py for flake8
  .flake8
Due: none

adding seedSimulatedConversation
  pyrit/models/__init__.py
  pyrit/models/seed.py
  pyrit/models/seed_dataset.py
  pyrit/models/seed_group.py
  pyrit/models/seed_objective.py
  pyrit/models/seed_prompt.py
  pyrit/models/seeds/__init__.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/models/seeds/seed_group.py
  pyrit/models/seeds/seed_objective.py
  pyrit/models/seeds/seed_prompt.py
  pyrit/models/seeds/seed_simulated_conversation.py
  pyrit/models/simulated_conversation_generation_result.py
Due: website

add deprecation instructions
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

FEAT add skeleton backend for the GUI/frontend (#1298)
  .dockerignore
  .flake8
  .gitignore
  MANIFEST.in
  Makefile
  doc/contributing/1a_install_uv.md
  doc/contributing/1c_install_conda.md
  doc/index.md
  frontend/README.md
  frontend/dev.py
  frontend/package.json
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  pyproject.toml
  pyrit/backend/README.md
  pyrit/backend/__init__.py
  pyrit/backend/main.py
  pyrit/backend/models/__init__.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/health.py
  pyrit/backend/routes/version.py
  pyrit/backend/services/__init__.py
Due: check-links, validate-jupyter-book, website

run code block of scenario to update with scam scenario info + pre commit
  doc/code/scenarios/0_scenarios.ipynb
  pyrit/datasets/score/true_false_question/scams.yaml
  pyrit/scenario/scenarios/airt/scam.py
  tests/unit/scenarios/test_scam.py
Due: remove-notebook-headers, validate-jupyter-book, website

models looking good
  pyrit/models/seeds/seed_group.py
  pyrit/models/seeds/seed_simulated_conversation.py
Due: website

updating memory
  doc/api.rst
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  tests/unit/models/test_seed.py
  tests/unit/models/test_seed_group.py
  tests/unit/models/test_seed_simulated_conversation.py
Due: validate-jupyter-book, website

Comment clarity and making category enum private
  pyrit/datasets/seed_datasets/remote/jailbreakv_28k_dataset.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

Updating parameters to deseiralize simulated conversation
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/scenario/scenarios/rich/dynamic_attacks.py
Due: website

fixing tests
  pyrit/executor/attack/core/attack_executor.py
  tests/unit/executor/attack/core/test_attack_parameters.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

pre-commit
  pyrit/models/seeds/seed_attack_group.py
  tests/unit/executor/attack/core/test_attack_parameters.py
Due: website

adding SeedType and using
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/literals.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/models/seeds/seed_group.py
  tests/unit/models/test_seed.py
Due: website

updating memory
  doc/code/executor/attack/0_attack.md
  pyrit/memory/memory_interface.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/models/seeds/seed_group.py
Due: check-links, validate-jupyter-book, website

basics working
  doc/api.rst
  doc/code/datasets/2_seed_programming.ipynb
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_attack_group.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/models/seeds/seed_group.py
  pyrit/models/seeds/seed_objective.py
  pyrit/models/seeds/seed_prompt.py
  pyrit/models/seeds/seed_simulated_conversation.py
  tests/unit/models/test_seed.py
  tests/unit/models/test_seed_group.py
  tests/unit/models/test_seed_simulated_conversation.py
Due: remove-notebook-headers, validate-jupyter-book, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
