Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

pre-commit
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/2_xpia_ai_recruiter.ipynb
  doc/code/setup/pyrit_initializer.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Switching auth
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

minor fix for notebook
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix unit test
  tests/unit/score/test_conversation_history_scorer.py
Due: website

docstring
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
Due: website

refactor
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/context_compliance.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/prompt_normalizer/normalizer_request.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/integration/targets/test_rate_limiting_integration.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/test_normalizer_request.py
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, validate-jupyter-book, website

fix env file loading to include all directories on the way to the cwd (in reverse)
  pyrit/setup/initialization.py
  tests/unit/setup/test_initialization.py
Due: website

FIX: Bias notebook fix (#1249)
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

revert change to prompt_sending.py and update file naming to match harm area "scams" (plural)
  pyrit/datasets/score/true_false_question/scams_impersonation.yaml
  pyrit/executor/attack/single_turn/prompt_sending.py
Due: website

fix up things in scenario since draft pr published
  pyrit/scenario/scenarios/airt/scam_scenario.py
Due: website

removing lookback scorer
  pyrit/score/__init__.py
  pyrit/score/float_scale/look_back_scorer.py
Due: website

deleted lookback unit tests
  tests/unit/score/test_look_back_scorer.py
Due: website

update integration tests and component gov
  .github/workflows/build_and_test.yml
  component-governance.yml
  integration-tests.yml
Due: none

remove unnecessary --extra
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

test
  .github/workflows/docs.yml
Due: none

remove upgrade
  integration-tests.yml
Due: none

ls
  integration-tests.yml
Due: none

copy all tests
  integration-tests.yml
Due: none

precommit
  doc/api.rst
Due: validate-jupyter-book

Updating initialize_async to support supplied env files
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/setup/initialization.py
  tests/unit/setup/test_initialization.py
Due: website

pre-commit
  pyrit/cli/frontend_core.py
  pyrit/setup/initialization.py
  tests/unit/setup/test_initialization.py
Due: website

changes from openai migration and change name to scorermetricsregistry
  doc/code/scoring/scorer_evals.ipynb
  pyrit/models/scenario_result.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_registry.py
Due: remove-notebook-headers, validate-jupyter-book, website

add mock prompt target to integration test mocks
  component-governance.yml
  tests/integration/converter/test_retry_timing_integration.py
  tests/integration/mocks.py
  tests/integration/targets/test_rate_limiting_integration.py
Due: website

pre-commit
  pyrit/auxiliary_attacks/gcg/experiments/run.py
Due: website

fix path
  integration-tests.yml
  tests/integration/converter/test_retry_timing_integration.py
  tests/integration/targets/test_rate_limiting_integration.py
Due: website

fixing test
  pyrit/cli/frontend_core.py
  tests/unit/cli/test_pyrit_shell.py
Due: website

FEAT: Conversation Scorer and Psychosocial Harms Red Teaming Automation (#1138)
  doc/_toc.yml
  doc/api.rst
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.py
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/executors/crescendo/escalation_crisis.yaml
  pyrit/datasets/score/likert/behavior_change.yaml
  pyrit/datasets/seed_datasets/local/examples/psych-crisis-conversations.prompt
  pyrit/score/__init__.py
  pyrit/score/conversation_scorer.py
  pyrit/score/float_scale/look_back_scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Jailbreak attacks pushed
  pyrit/datasets/jailbreak/templates/acausal_defense.yaml
  pyrit/datasets/jailbreak/templates/ailab_redteam_simulation.yaml
  pyrit/datasets/jailbreak/templates/alignment_researcher_memo.yaml
  pyrit/datasets/jailbreak/templates/authority_override.yaml
  pyrit/datasets/jailbreak/templates/black_mirror_episode.yaml
  pyrit/datasets/jailbreak/templates/classified_briefing.yaml
  pyrit/datasets/jailbreak/templates/cognitive_overload.yaml
  pyrit/datasets/jailbreak/templates/consciousness_upload.yaml
  pyrit/datasets/jailbreak/templates/constitutional_override.yaml
  pyrit/datasets/jailbreak/templates/context_flood_academic.yaml
  pyrit/datasets/jailbreak/templates/context_hijack.yaml
  pyrit/datasets/jailbreak/templates/cosmic_horror.yaml
  pyrit/datasets/jailbreak/templates/determinism_argument.yaml
  pyrit/datasets/jailbreak/templates/dual_consciousness.yaml
  pyrit/datasets/jailbreak/templates/emergent_persona.yaml
  pyrit/datasets/jailbreak/templates/fewshot_alignment.yaml
  pyrit/datasets/jailbreak/templates/fewshot_escalation.yaml
  pyrit/datasets/jailbreak/templates/fewshot_redteam_eval.yaml
  pyrit/datasets/jailbreak/templates/fractal_identity_collapse.yaml
  pyrit/datasets/jailbreak/templates/glitch_token.yaml
  pyrit/datasets/jailbreak/templates/godel_incompleteness.yaml
  pyrit/datasets/jailbreak/templates/medical_emergency.yaml
  pyrit/datasets/jailbreak/templates/metamorphic_prompt.yaml
  pyrit/datasets/jailbreak/templates/mirror_universe.yaml
  pyrit/datasets/jailbreak/templates/pentest_authorization.yaml
  pyrit/datasets/jailbreak/templates/recursive_simulator.yaml
  pyrit/datasets/jailbreak/templates/safety_benchmark_eval.yaml
  pyrit/datasets/jailbreak/templates/system_prompt_injection.yaml
  pyrit/datasets/jailbreak/templates/token_manipulation.yaml
  pyrit/datasets/jailbreak/templates/trolley_problem.yaml
Due: none

another pre-commit
  tests/unit/cli/test_pyrit_shell.py
Due: website

FEAT: Add NVIDIA Aegis Content Safety Dataset (#1218)
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/aegis_ai_content_safety_dataset.py
Due: website

Reorganized
  pyrit/datasets/jailbreak/templates/arth/acausal_defense.yaml
  pyrit/datasets/jailbreak/templates/arth/ailab_redteam_simulation.yaml
  pyrit/datasets/jailbreak/templates/arth/alignment_researcher_memo.yaml
  pyrit/datasets/jailbreak/templates/arth/authority_override.yaml
  pyrit/datasets/jailbreak/templates/arth/black_mirror_episode.yaml
  pyrit/datasets/jailbreak/templates/arth/classified_briefing.yaml
  pyrit/datasets/jailbreak/templates/arth/cognitive_overload.yaml
  pyrit/datasets/jailbreak/templates/arth/consciousness_upload.yaml
  pyrit/datasets/jailbreak/templates/arth/constitutional_override.yaml
  pyrit/datasets/jailbreak/templates/arth/context_flood_academic.yaml
  pyrit/datasets/jailbreak/templates/arth/context_hijack.yaml
  pyrit/datasets/jailbreak/templates/arth/cosmic_horror.yaml
  pyrit/datasets/jailbreak/templates/arth/determinism_argument.yaml
  pyrit/datasets/jailbreak/templates/arth/dual_consciousness.yaml
  pyrit/datasets/jailbreak/templates/arth/emergent_persona.yaml
  pyrit/datasets/jailbreak/templates/arth/fewshot_alignment.yaml
  pyrit/datasets/jailbreak/templates/arth/fewshot_escalation.yaml
  pyrit/datasets/jailbreak/templates/arth/fewshot_redteam_eval.yaml
  pyrit/datasets/jailbreak/templates/arth/fractal_identity_collapse.yaml
  pyrit/datasets/jailbreak/templates/arth/glitch_token.yaml
  pyrit/datasets/jailbreak/templates/arth/godel_incompleteness.yaml
  pyrit/datasets/jailbreak/templates/arth/medical_emergency.yaml
  pyrit/datasets/jailbreak/templates/arth/metamorphic_prompt.yaml
  pyrit/datasets/jailbreak/templates/arth/mirror_universe.yaml
  pyrit/datasets/jailbreak/templates/arth/pentest_authorization.yaml
  pyrit/datasets/jailbreak/templates/arth/recursive_simulator.yaml
  pyrit/datasets/jailbreak/templates/arth/safety_benchmark_eval.yaml
  pyrit/datasets/jailbreak/templates/arth/system_prompt_injection.yaml
  pyrit/datasets/jailbreak/templates/arth/token_manipulation.yaml
  pyrit/datasets/jailbreak/templates/arth/trolley_problem.yaml
Due: none

add missing functions, fix up nit in tests
  pyrit/scenario/__init__.py
  pyrit/scenario/scenarios/__init__.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/scam_scenario.py
  tests/unit/scenarios/test_scam_scenario.py
Due: website

Fixed
  pyrit/datasets/jailbreak/templates/arth/context_flood_academic.yaml
  pyrit/datasets/jailbreak/templates/arth/fewshot_alignment.yaml
  pyrit/datasets/jailbreak/templates/arth/fewshot_redteam_eval.yaml
  pyrit/datasets/jailbreak/templates/arth/system_prompt_injection.yaml
Due: none

Renamed arth to Arth_Singh
  pyrit/datasets/jailbreak/templates/Arth_Singh/acausal_defense.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/ailab_redteam_simulation.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/alignment_researcher_memo.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/authority_override.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/black_mirror_episode.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/classified_briefing.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/cognitive_overload.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/consciousness_upload.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/constitutional_override.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/context_flood_academic.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/context_hijack.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/cosmic_horror.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/determinism_argument.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/dual_consciousness.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/emergent_persona.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fewshot_alignment.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fewshot_escalation.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fewshot_redteam_eval.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fractal_identity_collapse.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/glitch_token.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/godel_incompleteness.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/medical_emergency.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/metamorphic_prompt.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/mirror_universe.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/pentest_authorization.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/recursive_simulator.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/safety_benchmark_eval.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/system_prompt_injection.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/token_manipulation.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/trolley_problem.yaml
Due: none

release v0.10.0
  README.md
  pyproject.toml
  pyrit/__init__.py
Due: website

0.10.1.dev0
  pyproject.toml
  pyrit/__init__.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
