Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

remove file path output
  doc/code/executor/attack/2_red_teaming_attack.ipynb
Due: remove-notebook-headers

fix toc
  doc/_toc.yml
Due: none

Precommit
  doc/code/orchestrators/4_scoring_orchestrator.ipynb
  doc/code/orchestrators/4_scoring_orchestrator.py
  doc/code/orchestrators/HITL_Scoring_Orchestrator.ipynb
  doc/code/orchestrators/HITL_Scoring_Orchestrator.py
  doc/code/scoring/3_classification_scorers.ipynb
  doc/code/scoring/3_classification_scorers.py
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/score/config/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
Due: remove-notebook-headers, check-links, website

[FIX] Fix red teaming mermaid diagram & MarkdownAttackResultPrinter for images (#1087)
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/2_red_teaming_attack.py
  doc/contributing/11_release_process.md
  pyrit/executor/attack/printer/markdown_printer.py
  tests/unit/executor/attack/core/test_markdown_printer.py
Due: remove-notebook-headers, check-links, website

Add printing for visibility
  pyrit/score/ensemble_scorer.py
Due: website

resolved comments
  pyrit/attacks/multi_turn/tree_of_attacks.py
  tests/unit/attacks/test_tree_of_attacks.py
Due: website

fixing general scorer tests
  pyrit/score/__init__.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/score/test_general_float_scale_scorer.py
  tests/unit/score/test_general_true_false_scorer.py
  tests/unit/score/test_self_ask_scale.py
Due: website

upodating hitl, markdown, scale score tests
  tests/unit/score/test_hitl.py
  tests/unit/score/test_hitl_gradio.py
  tests/unit/score/test_look_back_scorer.py
  tests/unit/score/test_markdown_injection.py
  tests/unit/score/test_self_ask_scale.py
Due: website

Errors fixed, onto failures
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/question_answer_scorer.py
  pyrit/score/true_false/substring_scorer.py
  tests/unit/score/test_question_answer_scorer.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/score/test_self_ask_refusal.py
  tests/unit/score/test_substring.py
Due: website

most score tests updated
  pyrit/score/__init__.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/float_scale/plagiarism_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/gandalf_scorer.py
  pyrit/score/true_false/true_false_inverter_scorer.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_gandalf_scorer.py
  tests/unit/score/test_insecure_code_scorer.py
  tests/unit/score/test_plagiarism_scorer.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_self_ask_likert.py
  tests/unit/score/test_true_false_inverter.py
  tests/unit/score/test_true_false_score_aggregator.py
Due: website

updating scorer
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/models/prompt_request_piece.py
  pyrit/models/prompt_request_response.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/test_prompt_request_response.py
Due: website

add image extraction and notebook
  doc/code/targets/hackathon_test.ipynb
  pyrit/score/azure_content_filter_scorer.py
  pyrit/score/scorer.py
Due: remove-notebook-headers, website

correct type
  pyrit/score/scorer.py
Due: website

Draft of the multibranch attack
  doc/code/executor/attack/multi_branch_attack.ipynb
  doc/code/executor/attack/tap_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: remove-notebook-headers, website

Further updates and tweaks
  doc/code/executor/attack/multi_branch_attack.ipynb
  doc/code/executor/attack/tap_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: remove-notebook-headers, website

remove nb test
  doc/code/targets/hackathon_test.ipynb
Due: remove-notebook-headers

Docstring added to enum
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: website

FEAT Changes to send_async in MBAttack
  doc/code/executor/attack/multi_branch_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_branch_attack.ipynb:Zone.Identifier
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: remove-notebook-headers, website

azurespeechauth
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
Due: website

Modify scorer functions to create temporary images, testing with 5_multi_modal_targets notebook / SORA target (modified ipynb, not py)
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/score/scorer.py
Due: remove-notebook-headers, website

refactor and batch
  pyrit/score/scorer.py
Due: website

make prompt target optional
  pyrit/prompt_target/batch_helper.py
  pyrit/score/scorer.py
Due: website

add configurable frames
  pyrit/score/azure_content_filter_scorer.py
  pyrit/score/scorer.py
Due: website

updating tests
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  tests/unit/score/test_scorer.py
Due: website

add num_frames throughout the attacks and to scorer
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/score/azure_content_filter_scorer.py
  pyrit/score/scorer.py
Due: remove-notebook-headers, website

add aggregate scoring logic for T/F scorers (aka objective scorers)
  pyrit/score/scorer.py
Due: website

FEAT Revised multibranchattack design
  doc/code/executor/attack/multi_branch_attack.ipynb
  doc/code/executor/attack/tap_attack.ipynb
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: remove-notebook-headers, website

FEAT multibranch cleanup
  doc/code/executor/attack/multi_branch_attack.ipynb
  pyrit/executor/attack/multi_turn/multi_branch_attack.ipynb:Zone.Identifier
  pyrit/executor/attack/multi_turn/multi_branch_attack.py
Due: remove-notebook-headers, website

updating tests
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/7_batch_scorer.py
  doc/code/scoring/prompt_shield_scorer.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/promptgen/fuzzer.py
  pyrit/memory/memory_interface.py
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/fuzzer_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/scoring_orchestrator.py
  pyrit/score/batch_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_many_shot_jailbreak.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/orchestrator/test_fuzzer_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_role_play_orchestrator.py
  tests/unit/orchestrator/test_scoring_orchestrator.py
  tests/unit/score/test_batch_scorer.py
  tests/unit/score/test_scorer.py
  tests/unit/test_prompt_request_piece.py
  tests/unit/test_prompt_request_response.py
Due: check-links, website

update aggregate score and nb
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/score/scorer.py
Due: remove-notebook-headers, website

FEAT Multi-prompt sending attack (#1071)
  doc/_toc.yml
  doc/api.rst
  doc/code/executor/attack/multi_prompt_sending_attack.ipynb
  doc/code/executor/attack/multi_prompt_sending_attack.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
Due: remove-notebook-headers, check-links, website

Update _toc.yml
  doc/_toc.yml
Due: none

Update api.rst
  doc/api.rst
Due: none

Create implicare_attack.py
  pyrit/executor/attack/single_turn/implicare_attack.py
Due: website

Update implicare_attack.py
  pyrit/executor/attack/single_turn/implicare_attack.py
Due: website
