Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

consolidate
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/2_end_to_end_scenario.ipynb
  doc/code/scenarios/2_end_to_end_scenario.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harm_scenario.py
  pyrit/scenarios/scenarios/harms/__init__.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

removing extra file
  doc/code/converters/1_llm_converters.ipynb
Due: remove-notebook-headers

fix responses API handling of tool/function calls, more tests
  .env_example
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/3_copyright_violations.ipynb
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_response_target_function_chaining.py
Due: remove-notebook-headers, website

Memory and bug fixes
  pyrit/executor/attack/printer/console_printer.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/executor/attack/core/test_markdown_printer.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/mocks.py
Due: website

response target notebook running
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/prompt_target/azure_ml_chat_target.py
Due: remove-notebook-headers, website

merge and address comments
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/2_end_to_end_scenario.ipynb
  doc/code/scenarios/2_end_to_end_scenario.py
  doc/code/scenarios/2_end_to_end_scenario_datasets.md
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/cli/scenario_registry.py
  pyrit/datasets/seed_prompts/harms/sexual.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

integration test fix
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-objective-group.prompt
  pyrit/models/seed.py
  pyrit/models/seed_prompt.py
Due: remove-notebook-headers, check-links, website

file reference fix
  pyrit/prompt_target/__init__.py
Due: website

FIX: Memory Interface and Bug Fixes (#1209)
  doc/code/memory/11_harm_categories.ipynb
  doc/code/memory/11_harm_categories.py
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-objective-group.prompt
  pyrit/executor/attack/printer/console_printer.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/seed.py
  pyrit/models/seed_prompt.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/executor/attack/core/test_markdown_printer.py
  tests/unit/memory/memory_interface/memory_interface.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/mocks.py
  tests/unit/models/test_seed.py
Due: remove-notebook-headers, check-links, website

move to seed & fix pre commit issues
  pyrit/datasets/seed_prompts/harms/fairness.prompt
  pyrit/datasets/seed_prompts/harms/harassment.prompt
  pyrit/datasets/seed_prompts/harms/hate.prompt
  pyrit/datasets/seed_prompts/harms/leakage.prompt
  pyrit/datasets/seed_prompts/harms/misinformation.prompt
  pyrit/datasets/seed_prompts/harms/sexual.prompt
  pyrit/datasets/seed_prompts/harms/violence.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: website

addressing comments
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/score/float_scale/conversation_scorer.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: remove-notebook-headers, check-links, website

change lookbackscorer notebook to use conversation scorer
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/score/__init__.py
  pyrit/score/config/likert_scales/behavior_change.yaml
Due: remove-notebook-headers, check-links, website

precommit
  doc/cookbooks/5_psychosocial_harms.ipynb
Due: remove-notebook-headers

pre-commit
  .github/instructions/docs.instructions.md
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/4_testing_bias.ipynb
  pyrit/datasets/jailbreak/text_jailbreak.py
Due: remove-notebook-headers, check-links, website

mangled notebook fix
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
Due: remove-notebook-headers, check-links, website

adding to pct files
  doc/cookbooks/2_precomputing_turns.py
  doc/cookbooks/4_testing_bias.py
Due: check-links, website

fix test and update notebooks
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/1_composite_scenario.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

remove ref to deleted nb
  doc/_toc.yml
Due: none

pre-commit
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.py
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  doc/cookbooks/2_precomputing_turns.py
  doc/cookbooks/4_testing_bias.py
  pyrit/score/scorer_evaluation/config_eval_datasets.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/scoring/look_back_scorer.ipynb
Due: remove-notebook-headers

FEAT Content harm scenario (#1174)
  .env_example
  .pre-commit-config.yaml
  doc/_toc.yml
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/1_composite_scenario.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/cli/scenario_registry.py
  pyrit/datasets/executors/role_play/video_game.yaml
  pyrit/datasets/seed_prompts/harms/fairness.prompt
  pyrit/datasets/seed_prompts/harms/harassment.prompt
  pyrit/datasets/seed_prompts/harms/hate.prompt
  pyrit/datasets/seed_prompts/harms/leakage.prompt
  pyrit/datasets/seed_prompts/harms/misinformation.prompt
  pyrit/datasets/seed_prompts/harms/sexual.prompt
  pyrit/datasets/seed_prompts/harms/violence.prompt
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  tests/unit/scenarios/test_content_harm_scenario.py
Due: remove-notebook-headers, check-links, website

minor improvements
  doc/code/memory/11_harm_categories.ipynb
  doc/code/scoring/look_back_scorer.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
Due: remove-notebook-headers, check-links, website

fixing bug in RolePlayAttack
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/scenarios/0_scenarios.ipynb
  pyrit/executor/attack/single_turn/role_play.py
  tests/unit/executor/attack/single_turn/test_role_play.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/executor/attack/role_play_attack.ipynb
Due: remove-notebook-headers

realtime working (audio not tested yet)
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_realtime_target.py
Due: remove-notebook-headers, check-links, website

pr fix
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
Due: remove-notebook-headers, check-links, website

renaming include_scores to printer
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
  pyrit/executor/attack/printer/attack_result_printer.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/executor/attack/context_compliance_attack.ipynb
Due: remove-notebook-headers

FIX: Bug in RolePlayAttack (#1211)
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/scenarios/0_scenarios.ipynb
  pyrit/executor/attack/single_turn/role_play.py
  tests/unit/executor/attack/single_turn/test_role_play.py
Due: remove-notebook-headers, check-links, website

realtime working on all cases
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/realtime_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_realtime_target.py
Due: remove-notebook-headers, check-links, website

remove obsolete auth header code
  pyrit/prompt_target/openai/openai_target.py
Due: website

MAINT: Renaming printer to include_scores from include_auxiliary_scores (#1212)
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
  pyrit/executor/attack/printer/attack_result_printer.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
