Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

integration tests passing
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
Due: remove-notebook-headers, check-links, website

fix test typo
  tests/integration/targets/test_entra_auth_targets.py
Due: website

pr feedback
  doc/code/datasets/1_seed_prompt.ipynb
  pyrit/common/path.py
  pyrit/datasets/score/content_classifiers/harm.yaml
  pyrit/datasets/score/likert/behavior_change.yaml
  pyrit/datasets/score/likert/cyber.yaml
  pyrit/datasets/score/likert/deception.yaml
  pyrit/datasets/score/likert/exploits.yaml
  pyrit/datasets/score/likert/fairness_bias.yaml
  pyrit/datasets/score/likert/harm.yaml
  pyrit/datasets/score/likert/hate_speech.yaml
  pyrit/datasets/score/likert/information_integrity.yaml
  pyrit/datasets/score/likert/likert_system_prompt.yaml
  pyrit/datasets/score/likert/misinformation.yaml
  pyrit/datasets/score/likert/persuasion.yaml
  pyrit/datasets/score/likert/phishing.yaml
  pyrit/datasets/score/likert/privacy.yaml
  pyrit/datasets/score/likert/self_harm.yaml
  pyrit/datasets/score/likert/sexual.yaml
  pyrit/datasets/score/likert/violence.yaml
  pyrit/score/true_false/self_ask_category_scorer.py
Due: remove-notebook-headers, website

pre-commit
  doc/code/datasets/1_seed_prompt.ipynb
Due: remove-notebook-headers

adding dataset_provider
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
Due: website

using score async edit
  pyrit/score/float_scale/conversation_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: website

ensuring executors handle content filter errors properly, addressing small PR suggestions, text fixes, response target notebook tests working
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/prompt_target/openai/openai_error_handling.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/test_error_skip_scoring.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_response_target_function_chaining.py
Due: remove-notebook-headers, check-links, website

miscellaneous pre-commit fixes
  doc/code/targets/realtime_target.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/converter/test_math_prompt_converter.py
  tests/unit/executor/attack/test_error_skip_scoring.py
  tests/unit/mocks.py
  tests/unit/target/test_http_api_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_response_target_function_chaining.py
  tests/unit/target/test_realtime_target.py
Due: check-links, website

add old-style -> new-style URL conversion
  pyrit/prompt_target/openai/openai_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_url_conversion.py
Due: website

Issue 1204 Fix Docker build dependency conflict in requirements.txt (#1205)
  docker/requirements.txt
Due: none

MAINT: Fix docstrings for setup modules (partial #1176)
  pyproject.toml
  pyrit/setup/__init__.py
  pyrit/setup/initialization.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  pyrit/setup/initializers/simple.py
Due: website

pre-commit
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/scoring/generic_scorers.ipynb
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/realtime_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/3_copyright_violations.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/executor/attack/test_error_skip_scoring.py
  tests/unit/target/test_openai_url_conversion.py
Due: remove-notebook-headers, website

MAINT: Fix docstrings for setup module (partial #1176) (#1215)
  pyproject.toml
  pyrit/setup/__init__.py
  pyrit/setup/initialization.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  pyrit/setup/initializers/simple.py
Due: website

fixing bug with scenario registry
  pyrit/cli/scenario_registry.py
  tests/unit/cli/test_scenario_registry.py
Due: website

updating doc title
  doc/code/front_end/2_pyrit_shell.md
Due: check-links

updating broken docs
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.py
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/8_seed_database.ipynb
  doc/code/memory/8_seed_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyrit/datasets/executors/question_answer/wmdp_dataset.py
  pyrit/datasets/score/content_classifiers/pronoun_category_score.yaml
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/scenario/scenarios/foundry_scenario.py
  tests/unit/models/test_seed.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/8_seed_database.ipynb
  doc/cookbooks/4_testing_bias.ipynb
Due: remove-notebook-headers, check-links, website

unify url validation as best as possible, make target specific, add unit tests
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_error_handling.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_url_conversion.py
  tests/unit/target/test_video_target.py
Due: website

unify temperature validation and fix other failing tests
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/common/utils.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_hugging_face_endpoint_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_url_conversion.py
  tests/unit/target/test_video_target.py
Due: website

clean up response target internals that translate messages into requests
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

allow multiple system messages in responses api
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

text fix
  tests/unit/cli/test_scenario_registry.py
Due: website

FIX: List Scenarios Bug (#1216)
  doc/code/front_end/2_pyrit_shell.md
  pyrit/cli/scenario_registry.py
  tests/unit/cli/test_scenario_registry.py
Due: check-links, website

pr fixes
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/8_seed_database.ipynb
  doc/cookbooks/4_testing_bias.ipynb
  doc/cookbooks/4_testing_bias.py
  pyrit/datasets/seed_datasets/local/__init__.py
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/aya_redteaming_dataset.py
  pyrit/datasets/seed_datasets/remote/babelscape_alert_dataset.py
  pyrit/datasets/seed_datasets/remote/ccp_sensitive_prompts_dataset.py
  pyrit/datasets/seed_datasets/remote/darkbench_dataset.py
  pyrit/datasets/seed_datasets/remote/equitymedqa_dataset.py
  pyrit/datasets/seed_datasets/remote/forbidden_questions_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_multimodal_dataset.py
  pyrit/datasets/seed_datasets/remote/jbb_behaviors_dataset.py
  pyrit/datasets/seed_datasets/remote/librai_do_not_answer_dataset.py
  pyrit/datasets/seed_datasets/remote/llm_latent_adversarial_training_dataset.py
  pyrit/datasets/seed_datasets/remote/medsafetybench_dataset.py
  pyrit/datasets/seed_datasets/remote/mlcommons_ailuminate_dataset.py
  pyrit/datasets/seed_datasets/remote/multilingual_vulnerability_dataset.py
  pyrit/datasets/seed_datasets/remote/pku_safe_rlhf_dataset.py
  pyrit/datasets/seed_datasets/remote/red_team_social_bias_dataset.py
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/sorry_bench_dataset.py
  pyrit/datasets/seed_datasets/remote/sosbench_dataset.py
  pyrit/datasets/seed_datasets/remote/tdc23_redteaming_dataset.py
  pyrit/datasets/seed_datasets/remote/xstest_dataset.py
  tests/unit/datasets/test_local_dataset_loader.py
  tests/unit/datasets/test_remote_dataset_loader.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: remove-notebook-headers, check-links, website

refactor to factory
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/score/__init__.py
  pyrit/score/float_scale/conversation_scorer.py
  tests/unit/score/test_conversation_history_scorer.py
Due: remove-notebook-headers, check-links, website

rename file
  doc/code/scoring/persuasion_conversation_history_scoring.ipynb
  doc/code/scoring/persuasion_conversation_history_scoring.py
Due: remove-notebook-headers, check-links, website

supported roles
  doc/code/scoring/persuasion_conversation_history_scoring.py
  pyrit/score/float_scale/conversation_scorer.py
Due: check-links, website

pre-commit
  doc/blog/2025_02_11.md
Due: check-links

fixing merge conflict
  doc/_toc.yml
  doc/code/scoring/persuasion_conversation_history_scoring.ipynb
  doc/code/scoring/persuasion_conversation_history_scoring.py
Due: remove-notebook-headers, check-links, website

fix notebook after main merge
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/seed_prompts/psych-crisis-conversations.prompt
Due: remove-notebook-headers, check-links, website

pr feedback
  pyrit/datasets/seed_datasets/remote/aya_redteaming_dataset.py
  pyrit/datasets/seed_datasets/remote/babelscape_alert_dataset.py
  pyrit/datasets/seed_datasets/remote/ccp_sensitive_prompts_dataset.py
  pyrit/datasets/seed_datasets/remote/equitymedqa_dataset.py
  pyrit/datasets/seed_datasets/remote/forbidden_questions_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_multimodal_dataset.py
  pyrit/datasets/seed_datasets/remote/librai_do_not_answer_dataset.py
  pyrit/datasets/seed_datasets/remote/llm_latent_adversarial_training_dataset.py
  pyrit/datasets/seed_datasets/remote/medsafetybench_dataset.py
  pyrit/datasets/seed_datasets/remote/mlcommons_ailuminate_dataset.py
  pyrit/datasets/seed_datasets/remote/multilingual_vulnerability_dataset.py
  pyrit/datasets/seed_datasets/remote/pku_safe_rlhf_dataset.py
  pyrit/datasets/seed_datasets/remote/red_team_social_bias_dataset.py
  pyrit/datasets/seed_datasets/remote/sosbench_dataset.py
  pyrit/datasets/seed_datasets/remote/tdc23_redteaming_dataset.py
  pyrit/datasets/seed_datasets/remote/xstest_dataset.py
Due: website

pr feedback
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
Due: website

move imports to the top
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

combine imports
  pyrit/auth/azure_auth.py
Due: website

warn for non-conforming URLs, update XPIA notebook (not yet working)
  .env_example
  .env_local_example
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/code/executor/workflow/1_xpia_website.py
  pyrit/auth/azure_auth.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/openai/openai_video_target.py
  tests/integration/targets/test_entra_auth_targets.py
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_openai_url_warnings.py
Due: remove-notebook-headers, check-links, website

xpia and prompt sending cookbook working
  doc/code/executor/workflow/1_xpia_website.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
Due: remove-notebook-headers

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
