Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

add video scorer - note to check on logic for aggregating frame scores (noticed that for float it is 20 frames when it should be 5 frames)
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/video_scorer.py
Due: remove-notebook-headers, check-links, website

print using console printer
  pyrit/cli/__main__.py
Due: website

make the default scenario a bit more sensible
  pyrit/score/config/scales/task_achieved_scale.yaml
  pyrit/score/config/true_false_question/task_achieved.yaml
  scanner_configurations/basic_multi_turn_attack.yaml
Due: none

also run scanner_configurations files in integration tests
  tests/integration/cli/test_cli_integration.py
Due: website

move the images to the notebook dir
  doc/code/converters/attack_bomb_question.jpg
  doc/code/converters/benign_cake_question.jpg
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/converters/transparency_attack_converter.py
Due: remove-notebook-headers, check-links, website

add a new function
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

fix
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

pre-commit / remove the bad merge remnants
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/datasets/seed_prompts/steal_system_prompt.prompt
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/score/azure_content_filter_scorer.py
  pyrit/score/scorer.py
  pyrit/score/video_scorer.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_scorer.py
Due: remove-notebook-headers, website

pre-commit hooks
  doc/code/targets/5_multi_modal_targets.ipynb
  pyrit/score/video_scorer.py
  tests/unit/score/test_scorer.py
Due: remove-notebook-headers, website

add tests
  pyrit/datasets/harmbench_multimodal_dataset.py
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

fix/improve docs formatting
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

update unit tests
  tests/unit/score/test_video_scorer.py
Due: website

update notebooks to align with db changes
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/9_exporting_data.ipynb
Due: remove-notebook-headers

pre-commit hooks
  pyrit/cli/__main__.py
Due: website

add filtering based on `SemanticCategory`
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

improve docstring
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

add unit tests for aggregation logic of multiple categories
  pyrit/score/video_scorer.py
  tests/unit/score/test_video_scorer.py
Due: website

refactor: improve docstring
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

update tests
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

pre-commit pass
  doc/_toc.yml
  doc/api.rst
  doc/generate_docs/pct_to_ipynb.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  tests/integration/score/test_scorer_notebooks.py
Due: check-links, website

testing out integration test service principal
  integration-tests.yml
  tests/integration/targets/test_aad_auth.py
Due: website

revert speech change
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
Due: website

fixing up merget
  doc/code/scoring/5_human_in_the_loop_scorer.ipynb
  doc/code/scoring/5_human_in_the_loop_scorer.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/self_ask_general_scorer.py
  pyrit/score/true_false/self_ask_category_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_refusal_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_look_back_scorer.py
  tests/unit/score/test_scorer.py
Due: remove-notebook-headers, check-links, website

Update implicare_attack.py
  pyrit/executor/attack/single_turn/implicare_attack.py
Due: website

Adding image support handling for invalid image_path entries coming from HF
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

[MAINT] update notebooks to align with db changes (#1108)
  doc/code/memory/1_sqlite_memory.ipynb
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/6_azure_sql_memory.ipynb
  doc/code/memory/9_exporting_data.ipynb
Due: remove-notebook-headers

Integration tests, ValueError for empty seed_prompts, comment cleanup
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

fix test and precommit
  tests/unit/score/test_video_scorer.py
Due: website

address comments
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/code/targets/5_multi_modal_targets.py
  pyrit/score/video_scorer.py
  tests/unit/score/test_video_scorer.py
Due: remove-notebook-headers, check-links, website

move import
  pyrit/score/video_scorer.py
Due: website

revert and move constant
  pyrit/score/video_scorer.py
Due: website

MAINT: testing aad auth in integration test pipeline (#1109)
  integration-tests.yml
  tests/integration/targets/test_aad_auth.py
Due: website

actually download images
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/harmbench_multimodal_dataset.py
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

add to integration tests
  tests/integration/datasets/test_fetch_datasets.py
Due: website

docs
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

pe-commit for the test file
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

fix line too long & use enum for SemanticCategory
  pyrit/datasets/harmbench_multimodal_dataset.py
Due: website

fix tests
  tests/unit/datasets/test_harmbench_multimodal_dataset.py
Due: website

using attackscoringconfig
  doc/cookbooks/5_testing_bias.ipynb
  doc/cookbooks/5_testing_bias.py
  pyrit/executor/benchmark/fairness_bias.py
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
