Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

eod commit, create converter integration test and fix up other areas of code
  pyrit/cli/__main__.py
  pyrit/models/seed_prompt.py
  pyrit/prompt_converter/repeat_token_converter.py
  tests/integration/cli/illegal_integration_test_audio_input.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/prompt_send_success_converters_image_default.yaml
  tests/integration/cli/prompt_send_success_converters_text_default.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/converter/test_prompt_converter.py
Due: website

unit tests passing, env example update, reasoning type
  .env_example
  doc/code/targets/8_openai_responses_target.py
  pyrit/models/literals.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  tests/unit/mocks.py
  tests/unit/orchestrator/test_red_teaming_orchestrator.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_prompt_target.py
Due: check-links, website

prompt injection attack
  pyrit/attacks/base/__init__.py
  pyrit/attacks/base/context.py
  pyrit/attacks/base/result.py
  pyrit/attacks/single_turn/PromptInjectionAttack.py
  pyrit/attacks/single_turn/__init__.py
Due: website

prompt sending orchestrator
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
Due: website

Update prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
Due: website

fixes
  pyproject.toml
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
Due: website

pyproject changes
  pyproject.toml
Due: none

address comments
  doc/code/orchestrators/xpia_helpers.py
  pyrit/datasets/babelscape_alert_dataset.py
  pyrit/embedding/azure_text_embedding.py
  pyrit/memory/azure_sql_memory.py
  pyrit/models/score.py
  pyrit/models/storage_io.py
  pyrit/orchestrator/orchestrator_class.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/score/scorer.py
Due: check-links, website

add optional to api_version
  pyrit/prompt_target/openai/openai_tts_target.py
Due: website

Including changes to the generated look_back_scorer.py file
  doc/code/scoring/look_back_scorer.py
Due: check-links, website

updated the implementation for higher readability
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/base/context.py
  pyrit/attacks/single_turn/PromptInjectionAttack.py
  pyrit/models/prompt_request_response.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
Due: website

add integration test files + pre-commit
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
Due: website

fix docstrings
  pyrit/datasets/babelscape_alert_dataset.py
  pyrit/orchestrator/multi_turn/multi_turn_orchestrator.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/orchestrator_class.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/prompt_converter/add_image_text_converter.py
  pyrit/prompt_converter/add_image_to_video_converter.py
  pyrit/prompt_converter/add_text_image_converter.py
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_crossover_converter.py
Due: website

fix wording
  pyrit/datasets/babelscape_alert_dataset.py
Due: website

Updated unit test for look_back_scorer and made exclude_instruction_prompts a keyword arg
  pyrit/score/look_back_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: website

update test
  pyrit/common/display_response.py
  pyrit/orchestrator/models/orchestrator_result.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

Updates to arg position in look_back_scorer notebook and py file
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
Due: remove-notebook-headers, check-links, website

Updates
  doc/code/scoring/look_back_scorer.py
Due: check-links, website

revert notebook changes
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
Due: remove-notebook-headers

extra line
  pyrit/orchestrator/models/orchestrator_result.py
Due: website

remove init
  pyrit/memory/azure_sql_memory.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/orchestrator_class.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/score/scorer.py
Due: website

memory model
  pyproject.toml
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/http_target/http_target.py
Due: website

revert: 0a14a19, 2cb789a, 41220dd, ea0459a
  doc/api.rst
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/common/__init__.py
  pyrit/common/utils.py
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/text_to_hex_converter.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_char_swap_generator_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, check-links, website

MASChatTarget agent pipeline
  doc/code/targets/use_msa_chat_target.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/mas_target/mas_chat_target.py
Due: check-links, website

remove **kwargs in favor of named parameters
  pyrit/common/utils.py
Due: website

Adding handling for invalid question_repeat_count and testing
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: website

change to lambda to init default factory
  pyrit/models/seed_prompt.py
Due: website

add keyword only
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

Diagram added colors and pre-commit fix
  doc/code/memory/10_schema_diagram.md
Due: check-links

precommit fix
  doc/code/memory/10_schema_diagram.md
Due: check-links

diagram color and precommit
  doc/code/memory/10_schema_diagram.md
Due: check-links

adding api.rst
  doc/api.rst
Due: none

FEAT: Add denylist converter (#924)
  doc/api.rst
  pyrit/datasets/prompt_converters/denylist_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/diacritic_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_denylist_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

testing, trying to merge
  pyrit/datasets/fetch_equitymedqa_dataset.py
Due: website

MAINT: Adding DB Schema Diagram (#921)
  doc/_toc.yml
  doc/code/memory/10_schema_diagram.md
Due: check-links

addressing feedback
  pyrit/datasets/fetch_equitymedqa_dataset.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
