Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

Update pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

extended tests, and docs
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/common/tool_configs.py
  pyrit/models/literals.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  tests/unit/target/test_openai_response_target.py
Due: remove-notebook-headers, check-links, website

run pre-commit hooks
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/memory/memory_models.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
Due: remove-notebook-headers, check-links, website

add dispose engine and output
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
Due: remove-notebook-headers, check-links, website

precommit
  doc/code/converters/6_human_converter.ipynb
  doc/code/converters/6_human_converter.py
Due: remove-notebook-headers, check-links, website

Update pyrit/common/path.py
  pyrit/common/path.py
Due: website

Resolved changes with SCORER_CONFIGS path variable and fixed docstring in SelfAskCategoryScorer.
  pyrit/common/path.py
  pyrit/score/insecure_code_scorer.py
  pyrit/score/look_back_scorer.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_category_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  pyrit/score/self_ask_refusal_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  pyrit/score/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer.py
Due: website

fix issues related to weak_scorer_dict
  pyrit/score/ensemble_scorer.py
Due: website

Delegated path resolution to Scorer
  pyrit/score/insecure_code_scorer.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_category_scorer.py
  pyrit/score/self_ask_likert_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  pyrit/score/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer.py
Due: website

fix missing return statement mypy
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Update pyrit/score/self_ask_likert_scorer.py
  pyrit/score/self_ask_likert_scorer.py
Due: website

Update pyrit/score/insecure_code_scorer.py
  pyrit/score/insecure_code_scorer.py
Due: website

Fixed bug with SelfAskTrueFalseScorer where system_prompt would not load
  pyrit/score/scorer.py
  pyrit/score/self_ask_true_false_scorer.py
Due: website

Rewrote unit tests to accept new path verification signature
  pyrit/score/insecure_code_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  tests/unit/score/test_scorer.py
Due: website

addressed comments
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/2_red_teaming_attack.py
  pyrit/executor/attack/printer/markdown_printer.py
Due: remove-notebook-headers, check-links, website

addressed comments
  doc/code/executor/attack/2_red_teaming_attack.ipynb
Due: remove-notebook-headers

added more examples
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
Due: remove-notebook-headers, check-links, website

reverting prompt sending exampels to resolve the conflict
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
Due: remove-notebook-headers, check-links, website

added markdown examples to prompt sending notebook
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
Due: remove-notebook-headers, check-links, website

minor feedback addressing
  pyrit/common/initialization.py
  pyrit/score/self_ask_general_scorer.py
Due: website

merge and address minor feedback
  pyrit/memory/sqlite_memory.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/test_prompt_normalizer.py
Due: website

address comments
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/test_prompt_normalizer.py
Due: website

Fix critical security vulnerabilities
  pyrit/datasets/dataset_helper.py
  pyrit/models/seed_prompt.py
Due: website

save blog changes
  doc/blog/2024_12_3.md
  doc/blog/2025_01_27.md
Due: check-links

remove extra paren
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/2_red_teaming_attack.py
Due: remove-notebook-headers, check-links, website

precommit
  doc/code/executor/attack/2_red_teaming_attack.ipynb
Due: remove-notebook-headers

FEAT Attack Result Markdown Printer (#1081)
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/executor/attack/2_red_teaming_attack.ipynb
  doc/code/executor/attack/2_red_teaming_attack.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/printer/__init__.py
  pyrit/executor/attack/printer/attack_result_printer.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
Due: remove-notebook-headers, check-links, website

Removed unused import
  pyrit/score/scorer.py
Due: website

release 1.0.0rc0
  pyproject.toml
  pyrit/__init__.py
Due: website

Changing path verification to return Path and not dict
  doc/code/orchestrators/4_scoring_orchestrator.py
  doc/code/orchestrators/HITL_Scoring_Orchestrator.py
  doc/code/scoring/3_classification_scorers.py
  doc/code/scoring/5_human_in_the_loop_scorer.py
  doc/code/scoring/7_batch_scorer.py
  pyrit/score/insecure_code_scorer.py
  pyrit/score/look_back_scorer.py
  pyrit/score/scorer.py
  pyrit/score/self_ask_category_scorer.py
  pyrit/score/self_ask_likert_scorer.py
  pyrit/score/self_ask_question_answer_scorer.py
  pyrit/score/self_ask_scale_scorer.py
  pyrit/score/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer.py
Due: check-links, website

fix eof
  pyrit/__init__.py
Due: website

Precommit
  pyrit/score/look_back_scorer.py
Due: website

Precommit
  pyrit/score/insecure_code_scorer.py
Due: website

edits to tests and printing
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/test_literals.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
