Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

add memory patches to unit tests, fix other small bugs
  pyrit/datasets/seed_datasets/local/airt/scams_impersonation.prompt
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/scenario/scenarios/airt/scam_scenario.py
  tests/unit/scenarios/test_scam_scenario.py
Due: website

pre-commit hooks
  pyrit/scenario/scenarios/airt/scam_scenario.py
  tests/unit/scenarios/test_scam_scenario.py
Due: website

test fix
  tests/unit/cli/test_pyrit_shell.py
Due: website

retry fix
  pyrit/exceptions/exception_classes.py
  tests/unit/exceptions/test_exceptions.py
Due: website

fixing tests
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/datasets/2_seed_programming.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/executor/benchmark/question_answering.py
  pyrit/memory/memory_interface.py
  pyrit/models/message.py
  tests/unit/converter/test_fuzzer_converter.py
  tests/unit/converter/test_persuasion_converter.py
  tests/unit/converter/test_variation_converter.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scores.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/score/test_self_ask_likert.py
  tests/unit/score/test_self_ask_refusal.py
  tests/unit/score/test_self_ask_true_false.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: remove-notebook-headers, validate-jupyter-book, website

FEAT Integration Request: Jailbreak Template Collection for Enhanced Red Teaming. (#1254)
  pyrit/datasets/jailbreak/templates/Arth_Singh/acausal_defense.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/ailab_redteam_simulation.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/alignment_researcher_memo.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/authority_override.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/black_mirror_episode.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/classified_briefing.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/cognitive_overload.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/consciousness_upload.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/constitutional_override.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/context_flood_academic.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/context_hijack.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/cosmic_horror.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/determinism_argument.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/dual_consciousness.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/emergent_persona.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fewshot_alignment.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fewshot_escalation.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fewshot_redteam_eval.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/fractal_identity_collapse.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/glitch_token.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/godel_incompleteness.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/medical_emergency.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/metamorphic_prompt.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/mirror_universe.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/pentest_authorization.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/recursive_simulator.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/safety_benchmark_eval.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/system_prompt_injection.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/token_manipulation.yaml
  pyrit/datasets/jailbreak/templates/Arth_Singh/trolley_problem.yaml
Due: none

Working on next bit
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Get one test working again...
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

Should be the final test working (plus linting)
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

Think this is the other place?
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

Missing import?
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

And another
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

Sort imports
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

A bad merge
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

More missed merges
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

ruff fix
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

MAINT post-0.10.0 release update to 0.10.1.dev0 (#1255)
  pyproject.toml
  pyrit/__init__.py
Due: website

MAINT: Edge Case with Word Selection Converters
  pyrit/prompt_converter/selective_text_converter.py
  tests/unit/converter/test_selective_text_converter.py
Due: website

MAINT: Edge Case with Word Selection Converters (#1257)
  pyrit/prompt_converter/selective_text_converter.py
  tests/unit/converter/test_selective_text_converter.py
Due: website

add model to test
  tests/unit/scenarios/test_scam_scenario.py
Due: website

add missing API reference entries, add unit tests for API reference, and move fuzzer to executor.promptgen.fuzzer module
  doc/api.rst
  doc/code/executor/promptgen/0_promptgen.md
  doc/code/executor/promptgen/fuzzer_generator.py
  pyrit/executor/promptgen/__init__.py
  pyrit/executor/promptgen/fuzzer/__init__.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/executor/promptgen/fuzzer/fuzzer_converter_base.py
  pyrit/executor/promptgen/fuzzer/fuzzer_crossover_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_expand_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_rephrase_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_shorten_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_similar_converter.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/fuzzer_converter/__init__.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_expand_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/executor/promptgen/fuzzer/test_fuzzer.py
  tests/unit/executor/promptgen/fuzzer/test_fuzzer_converter.py
  tests/unit/test_api_documentation.py
Due: check-links, validate-jupyter-book, website

remove duplicate ScenarioIdentifier section in API reference
  doc/api.rst
Due: validate-jupyter-book

small fix
  doc/api.rst
Due: validate-jupyter-book

pre-commit and extra tests
  doc/code/targets/5_multi_modal_targets.ipynb
  doc/cookbooks/2_precomputing_turns.py
  pyrit/memory/memory_interface.py
  tests/unit/converter/test_fuzzer_converter.py
  tests/unit/converter/test_persuasion_converter.py
  tests/unit/converter/test_variation_converter.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/score/test_self_ask_likert.py
  tests/unit/score/test_self_ask_refusal.py
  tests/unit/score/test_self_ask_true_false.py
  tests/unit/test_message.py
  tests/unit/test_normalizer_request.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/cookbooks/2_precomputing_turns.ipynb
  pyrit/executor/attack/multi_turn/crescendo.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
Due: remove-notebook-headers, validate-jupyter-book, website

MAINT: Fixing Retry configuration so it works from .env (#1256)
  pyrit/exceptions/exception_classes.py
  tests/unit/exceptions/test_exceptions.py
Due: website

pre-commit
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fix D401 non-imperative-mood
  pyproject.toml
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/azure_ml_chat_target.py
  pyrit/prompt_target/batch_helper.py
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/common/utils.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/http_target/http_target_callback_functions.py
  pyrit/prompt_target/hugging_face/hugging_face_chat_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/prompt_shield_target.py
Due: website

fix DOC402 docstring-missing-yields
  pyrit/prompt_target/batch_helper.py
Due: website

DOC202 docstring-extraneous-returns
  pyrit/prompt_target/azure_ml_chat_target.py
Due: website

fix DOC102 docstring-extraneous-parameter
  pyrit/prompt_target/azure_blob_storage_target.py
Due: website

fix D404 docstring-starts-with-this
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/rpc_client.py
Due: website

FEAT: Add NegationTrapConverter and ChunkedRequestConverter
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/chunked_request_converter.py
  pyrit/prompt_converter/negation_trap_converter.py
  tests/test_ctf_converters.py
Due: website

MAINT add missing API reference entries, add unit tests for API reference, and move fuzzer to executor.promptgen.fuzzer module (#1258)
  doc/api.rst
  doc/code/executor/promptgen/0_promptgen.md
  doc/code/executor/promptgen/fuzzer_generator.py
  pyrit/executor/promptgen/__init__.py
  pyrit/executor/promptgen/fuzzer/__init__.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/executor/promptgen/fuzzer/fuzzer_converter_base.py
  pyrit/executor/promptgen/fuzzer/fuzzer_crossover_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_expand_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_rephrase_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_shorten_converter.py
  pyrit/executor/promptgen/fuzzer/fuzzer_similar_converter.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/fuzzer_converter/__init__.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_expand_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/executor/promptgen/fuzzer/test_fuzzer.py
  tests/unit/executor/promptgen/fuzzer/test_fuzzer_converter.py
  tests/unit/test_api_documentation.py
Due: check-links, validate-jupyter-book, website

Need a doc string
  pyrit/models/json_response_config.py
Due: website

Forgot doc hook
  doc/api.rst
Due: validate-jupyter-book

update docker and tests
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
  .github/workflows/docs.yml
  component-governance.yml
  doc/contributing/1a_install_conda.md
  doc/contributing/1a_install_uv.md
  doc/setup/1b_install_docker.md
  tests/integration/mocks.py
Due: check-links, validate-jupyter-book, website

remove references to old conda file
  doc/_toc.yml
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/contributing/1a_install_uv.md
  doc/contributing/1b_install_devcontainers.md
  doc/index.md
Due: remove-notebook-headers, check-links, validate-jupyter-book, website
