Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

Adding more garak converters
  pyproject.toml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/bin_ascii_converter.py
  pyrit/prompt_converter/ecoji_converter.py
  tests/unit/converter/test_bin_ascii_converter.py
  tests/unit/converter/test_ecoji_converter.py
  tests/unit/converter/test_text_to_hex_converter.py
Due: website

mypy
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

pre-commit
  doc/code/memory/6_azure_sql_memory.py
  doc/code/memory/9_exporting_data.py
  doc/code/scoring/1_azure_content_safety_scorers.py
  doc/code/targets/8_openai_responses_target.py
Due: check-links, website

remove duplicate file
  pyrit/executor/promptgen/memory_interface.py
Due: website

remove duplicate file
  tests/integration/score/test_message_piece.py
Due: website

fix test and update dataset
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

Adding more garak converters
  pyrit/prompt_converter/ask_to_decode_converter.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/bin_ascii_converter.py
  pyrit/prompt_converter/ecoji_converter.py
  tests/unit/converter/test_braille_converter.py
  tests/unit/converter/test_ecoji_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

removing scenario in this branch
  pyrit/scenarios/scenarios/encoding_scenario.py
Due: website

FIX broken links from cards on landing page (#1140)
  build_scripts/check_links.py
  doc/_config.yml
  doc/contributing/11_release_process.md
  doc/index.md
  pyrit/models/storage_io.py
  tests/unit/score/test_true_false_composite_scorer.py
Due: check-links, website

good draft
  doc/code/scenarios/scenarios.ipynb
  pyrit/datasets/seed_prompts/garak/access_shell_commands.prompt
  pyrit/datasets/seed_prompts/garak/slur_terms_en.prompt
  pyrit/datasets/seed_prompts/garak/web_html_js.prompt
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: remove-notebook-headers, website

updated things
  .pre-commit-config.yaml
  doc/api.rst
  pyproject.toml
  pyrit/.vscode/settings.json
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/base2048_converter.py
  pyrit/prompt_converter/ecoji_converter.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/converter/test_base2048_converter.py
  tests/unit/converter/test_ecoji_converter.py
Due: website

fixing typo in pyproject
  pyproject.toml
Due: none

relaxing dependencies
  pyproject.toml
Due: none

pre-commit
  pyrit/prompt_converter/base2048_converter.py
Due: website

created custom scorer
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/score/float_scale/conversation_scorer.py
Due: remove-notebook-headers, check-links, website

minor formatting
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, website

detect is_objective in seedpromptentry
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt_group.py
Due: website

prompt_piece -> message_piece
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/sqlite_memory.py
  tests/unit/executor/attack/core/test_markdown_printer.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, check-links, website

moving dependencies to required
  pyproject.toml
  pyrit/prompt_converter/base2048_converter.py
  pyrit/prompt_converter/ecoji_converter.py
  tests/unit/converter/test_base2048_converter.py
  tests/unit/converter/test_ecoji_converter.py
Due: website

fix notebook
  doc/code/memory/8_seed_prompt_database.ipynb
Due: remove-notebook-headers

sorting init
  pyrit/prompt_converter/__init__.py
Due: website

FEAT: Adding Encoders from Garak as Converters (#1139)
  .pre-commit-config.yaml
  doc/api.rst
  pyproject.toml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/ask_to_decode_converter.py
  pyrit/prompt_converter/base2048_converter.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/bin_ascii_converter.py
  pyrit/prompt_converter/braille_converter.py
  pyrit/prompt_converter/ecoji_converter.py
  pyrit/prompt_converter/nato_converter.py
  pyrit/prompt_converter/text_to_hex_converter.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/converter/test_ask_to_decode_converter.py
  tests/unit/converter/test_base2048_converter.py
  tests/unit/converter/test_bin_ascii_converter.py
  tests/unit/converter/test_braille_converter.py
  tests/unit/converter/test_ecoji_converter.py
  tests/unit/converter/test_nato_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/converter/test_text_to_hex_converter.py
Due: website

Refactored Krippendorff's alpha implementation according to pyrits scope
  pyrit/score/scorer_evaluation/krippendorff.py
Due: website

replace request/prompt piece with message piece
  doc/code/scoring/insecure_code_scorer.ipynb
  doc/code/scoring/insecure_code_scorer.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/memory/memory_interface.py
  pyrit/models/message.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_sora_target.py
  pyrit/score/float_scale/insecure_code_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/float_scale/video_float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/question_answer_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_question_answer_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/substring_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_scorer.py
  pyrit/score/true_false/video_true_false_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
  tests/unit/target/test_huggingface_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/test_message.py
  tests/unit/test_message_piece.py
  tests/unit/test_prompt_normalizer.py
Due: remove-notebook-headers, check-links, website

a few more renames from PR feedback
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/score/scorer_prompt_validator.py
Due: website

pre-commit and unit tests pass
  pyrit/analytics/__init__.py
  pyrit/analytics/result_analysis.py
  pyrit/memory/memory_interface.py
  pyrit/models/message.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/score/scorer.py
  tests/unit/memory/memory_interface/memory_interface.py
  tests/unit/test_prompt_normalizer.py
Due: website

undo anecdoctor changes since they're irrelevant for this PR
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.py
Due: remove-notebook-headers, check-links, website

integrate latest refactoring in main (messages)
  pyrit/prompt_target/openai/openai_sora_target.py
  tests/unit/target/test_sora_target.py
Due: website

fix imports
  pyrit/prompt_target/openai/openai_sora_target.py
Due: website

fix imports
  pyrit/memory/memory_interface.py
Due: website

add test and fix a few comments
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt_group.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
Due: website

Adding threshold for prompts returned, associated tests and local image backup since HF is missing most images.
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

overwrite local notebook runs
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
Due: remove-notebook-headers

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
