Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

fixing precommit, adding copyright
  tests/unit/converter/test_zalgo_converter.py
Due: website

reducing line length
  pyrit/prompt_converter/zalgo_converter.py
Due: website

Formatting
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/converter/test_zalgo_converter.py
Due: website

FIX fixed msodbcsql dep for devcontainer
  .devcontainer/Dockerfile
Due: none

Question prompt pairs moved out of scorer
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
Due: website

Bringing functionality from Benchmark scorer into QA Orchestrator
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
Due: website

Refactored scorer working
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
Due: website

Moving common QA class helpers to helper file
  pyrit/common/question_answer_helpers.py
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
Due: website

send_promtps_async added
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
Due: website

Added tests, removed some redundant code, added batched scoring and helpers to QA scorer
  pyrit/datasets/orchestrators/benchmark/capital_city.yaml
  pyrit/datasets/orchestrators/benchmark/one_plus_one.yaml
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: website

Changing notebook, changes from commit hooks
  doc/code/orchestrators/benchmark_orchestrator.ipynb
  doc/code/orchestrators/benchmark_orchestrator.py
  pyrit/common/question_answer_helpers.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

Using ordered prompt sending return, fixing testing
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: website

pr feedback: adding integration tests (in-progress)
  tests/integration/cli/illegal_integration_test.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/prompt_send_success_converters_image_default.yaml
  tests/integration/cli/prompt_send_success_converters_text_default.yaml
  tests/integration/cli/test_cli_integration.py
Due: website

FIX fixed msodbcsql dep for devcontainer (#895)
  .devcontainer/Dockerfile
Due: none

updating pr feedback
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/models/orchestrator_result.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
Due: remove-notebook-headers, website

updating pr feedback
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/prompt_normalizer/prompt_normalizer.py
Due: website

updating docs
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/many_shot_jailbreak_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: remove-notebook-headers, website

bug fixes from refactor and rerunning notebooks
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/code/orchestrators/1_prompt_sending_orchestrator.py
  doc/code/orchestrators/context_compliance_orchestrator.ipynb
  doc/code/orchestrators/context_compliance_orchestrator.py
  doc/code/orchestrators/flip_orchestrator.ipynb
  doc/code/orchestrators/flip_orchestrator.py
  doc/code/orchestrators/many_shot_jailbreak.ipynb
  doc/code/orchestrators/many_shot_jailbreak.py
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  pyrit/orchestrator/single_turn/role_play_orchestrator.py
Due: remove-notebook-headers, check-links, website

remove dependency, skip tests if not installed
  pyproject.toml
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
Due: website

fix test class name
  tests/unit/converter/test_azure_speech_converter.py
Due: website

add conditional import
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
Due: website

ddoc change pyrit/prompt_converter/toxic_sentence_generator_converter.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
Due: website

REFACTOR: Address reviewer suggestions for toxic sentence generator
  doc/api.rst
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
  tests/unit/converter/test_toxic_sentence_generator_converter.py
Due: website

REFACTOR: Remove doc files and add GitHub link to Project Moonshot reference
  doc/code/converters/toxic_sentence_generator.ipynb
  doc/code/converters/toxic_sentence_generator.py
  pyrit/prompt_converter/toxic_sentence_generator_converter.py
Due: remove-notebook-headers, check-links, website

Changing to more inclusive language
  pyrit/prompt_converter/zalgo_converter.py
Due: website

Adding normalizing intensity (int) to constructor, more detail to logging
  pyrit/prompt_converter/zalgo_converter.py
Due: website

cleaning up logger formatting
  pyrit/prompt_converter/zalgo_converter.py
Due: website

Adding docstrings and code cleanup
  pyrit/common/question_answer_helpers.py
  pyrit/datasets/orchestrators/benchmark/capital_city.yaml
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  pyrit/score/question_answer_scorer.py
Due: website

Removing old orchestrator from merge
  pyrit/orchestrator/question_answer_benchmark_orchestrator.py
Due: website

move import to __init__ for constructor
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
Due: website

More tests, plus better check if intensity was normalized
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/converter/test_zalgo_converter.py
Due: website

most things working
  doc/code/orchestrators/1_prompt_sending_orchestrator.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/models/prompt_request_response.py
  pyrit/orchestrator/models/orchestrator_result.py
Due: remove-notebook-headers, website

Automated formatting changes and removing unused declaration
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/converter/test_zalgo_converter.py
Due: website

fix exceptions
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
  tests/unit/converter/test_azure_speech_converter.py
  tests/unit/converter/test_azure_speech_text_converter.py
Due: website

Adding compound scorer
  pyrit/prompt_target/batch_helper.py
  pyrit/score/compound_scorer.py
  tests/unit/score/test_compound_scorer.py
Due: website

pre-commit
  pyrit/score/compound_scorer.py
  tests/unit/score/test_compound_scorer.py
Due: website

reverting file
  pyrit/prompt_target/batch_helper.py
Due: website

pre-commit
  pyrit/score/compound_scorer.py
Due: website

made new env variables for xpia notebook
  .env_local_example
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
Due: remove-notebook-headers, check-links, website

add type_checking for import
  pyrit/prompt_converter/azure_speech_audio_to_text_converter.py
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
Due: website
