Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

MAINT add deprecation instructions (#1303)
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

harm_definition_version and nb update
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/8_scorer_metrics.py
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/score/conversation_scorer.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT: Enhance type hinting across auth and analytics modules, improve cosine similarity robustness.
  pyrit/analytics/conversation_analytics.py
  pyrit/auth/azure_storage_auth.py
  pyrit/embedding/_text_embedding.py
  pyrit/embedding/openai_text_embedding.py
  pyrit/exceptions/exception_classes.py
  pyrit/exceptions/exceptions_helpers.py
  pyrit/models/message_piece.py
  pyrit/prompt_converter/prompt_converter.py
Due: website

MAINT: Enhance type hinting and add strict mypy checks for improved type safety across common and memeory modules
  pyrit/common/default_values.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/message.py
  pyrit/models/score.py
  pyrit/models/seed.py
Due: website

MAINT: Seperate strict and regular mypy checeks for different modules
  .pre-commit-config.yaml
Due: none

fix token issue in test
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

minor follow-up fixes post-merge
  pyrit/auth/azure_storage_auth.py
  pyrit/memory/sqlite_memory.py
Due: website

MAINT: Enhance type hinting across auth and analytics modules (#1300)
  .pre-commit-config.yaml
  pyrit/analytics/conversation_analytics.py
  pyrit/analytics/result_analysis.py
  pyrit/auth/azure_auth.py
  pyrit/auth/azure_storage_auth.py
  pyrit/common/default_values.py
  pyrit/embedding/_text_embedding.py
  pyrit/embedding/openai_text_embedding.py
  pyrit/exceptions/exception_classes.py
  pyrit/exceptions/exceptions_helpers.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_exporter.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  pyrit/models/score.py
  pyrit/models/seed.py
  pyrit/prompt_converter/prompt_converter.py
Due: website

solidifying
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/2_instance_registry.ipynb
  pyrit/cli/frontend_core.py
  pyrit/cli/initializer_registry.py
  pyrit/cli/scenario_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  tests/unit/cli/test_initializer_registry.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/registry/__init__.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixing things up
  doc/api.rst
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  doc/code/executor/attack/chunked_request_attack.ipynb
  doc/code/executor/attack/chunked_request_attack.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/prompt_converter/negation_trap_converter.py
  tests/test_ctf_converters.py
  tests/unit/converter/test_negation_trap_converter.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
  tests/unit/executor/attack/multi_turn/test_chunked_request_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/executor/attack/chunked_request_attack.ipynb
  doc/code/executor/attack/chunked_request_attack.py
  pyrit/executor/attack/multi_turn/chunked_request.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fixing pre-commit
  doc/_toc.yml
  pyrit/executor/attack/multi_turn/chunked_request.py
Due: validate-jupyter-book, website

jupyter
  pyrit/executor/attack/multi_turn/chunked_request.py
Due: website

removint whitespace
  pyrit/executor/attack/multi_turn/chunked_request.py
Due: website

FEAT: Add NegationTrapConverter and ChunkedRequestConverter (#1261)
  doc/_toc.yml
  doc/api.rst
  doc/code/converters/1_text_to_text_converters.ipynb
  doc/code/converters/1_text_to_text_converters.py
  doc/code/executor/attack/chunked_request_attack.ipynb
  doc/code/executor/attack/chunked_request_attack.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/negation_trap_converter.py
  tests/unit/converter/test_negation_trap_converter.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

added support for multimodal prompts
  pyrit/models/seed.py
Due: website

added VLSU multimodal dataset functionality
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
Due: website

added unit and integration tests for VLSU dataset
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
Due: website

fixed formatting
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/models/seed.py
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
Due: website

fix: update Docker setup instructions to use ~/.pyrit environment files
  doc/setup/1b_install_docker.md
  docker/docker-compose.yaml
Due: check-links, validate-jupyter-book

Removing text field specification, adding redteam query as ObjectiveSeed, fixing casing issue impacting Linux
  pyrit/datasets/seed_datasets/remote/jailbreakv_28k_dataset.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

Adding RedTeam_2K subset of JailbreakV as separate fetcher
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/jailbreakv_28k_dataset.py
  pyrit/datasets/seed_datasets/remote/jailbreakv_redteam_2k_dataset.py
Due: website

FIX example filename in Docker setup instructions (#1305)
  doc/setup/1b_install_docker.md
  docker/docker-compose.yaml
Due: check-links, validate-jupyter-book

scenario_result minor change
  pyrit/models/scenario_result.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/crucible_target.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/metrics_type.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/true_false_scorer.py
Due: website

fix scam
  pyrit/scenario/scenarios/airt/scam.py
Due: website

build book error
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

some fixes
  pyproject.toml
  pyrit/prompt_converter/base2048_converter.py
  pyrit/prompt_converter/base64_converter.py
  pyrit/prompt_converter/character_space_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/flip_converter.py
  pyrit/prompt_converter/zero_width_converter.py
Due: website

indentation
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

pre-commit
  doc/code/datasets/2_seed_programming.ipynb
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/executor/attack/multi_turn/simulated_conversation.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/__init__.py
  pyrit/models/seeds/__init__.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/scenario/scenarios/airt/scam.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: remove-notebook-headers, validate-jupyter-book, website

indentation again
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

fix nb
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/8_scorer_metrics.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

ruff
  pyrit/score/printer/__init__.py
  pyrit/score/printer/console_scorer_printer.py
  tests/unit/score/test_scorer_eval_csv_schema.py
Due: website

pre-commit
  doc/cookbooks/2_precomputing_turns.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fixing code for linux
  pyrit/executor/attack/core/attack_parameters.py
Due: website

trying again 3.11
  pyrit/executor/attack/core/attack_parameters.py
Due: website

trying in the func
  pyrit/executor/attack/core/attack_parameters.py
Due: website

one more try
  pyrit/executor/attack/core/attack_parameters.py
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

mypy
  pyrit/executor/attack/core/attack_parameters.py
Due: website
