Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

simplifying strategies in main and removing old code
  doc/code/front_end/0_cli.ipynb
  pyrit/cli/__main__.py
Due: remove-notebook-headers, website

updating scenario docs
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
Due: remove-notebook-headers, check-links, website

move attack file
  pyrit/datasets/executors/crescendo/escalation_crisis_v1.yaml
Due: none

pr feedback
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/scenarios/scenario.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
Due: website

FEAT FIX: Adding ScenarioResult to the Database (#1159)
  pyrit/common/apply_defaults.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/__init__.py
  pyrit/models/scenario_result.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/printer/console_printer.py
  pyrit/scenarios/printer/scenario_result_printer.py
  pyrit/scenarios/scenario.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/cli/test_initializer_registry.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
  tests/unit/score/test_scorer.py
Due: website

PR feedback, getting notebooks in an executable state (but not yet run)
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target.py
  doc/code/targets/playwright_target_copilot.ipynb
  doc/code/targets/playwright_target_copilot.py
  pyrit/models/message_piece.py
  pyrit/prompt_converter/fuzzer_converter/fuzzer_converter_base.py
  pyrit/prompt_converter/variation_converter.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_dall_e_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/score/scorer.py
  tests/unit/target/test_http_api_target.py
  tests/unit/target/test_http_target.py
  tests/unit/target/test_huggingface_chat_target.py
Due: remove-notebook-headers, check-links, website

pr feedback
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  doc/code/scenarios/scenarios.ipynb
  pyrit/cli/__main__.py
  pyrit/cli/scenario_registry.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/cli/test_cli_main.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/scenarios/test_scenario.py
Due: remove-notebook-headers, check-links, website

FEAT: Solidifying scenario-strategy (#1162)
  .github/instructions/style-guide.instructions.md
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  pyrit/cli/__main__.py
  pyrit/cli/scenario_registry.py
  pyrit/common/apply_defaults.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/cli/test_cli_main.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_strategies.py
  tests/unit/scenarios/test_strategy_validation.py
  tests/unit/score/test_scorer.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/test_message_piece.py
Due: remove-notebook-headers, check-links, website

objectives resume
  doc/code/scenarios/scenarios.ipynb
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/scenario_result.py
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_retry.py
Due: remove-notebook-headers, website

minor clarity update
  pyrit/memory/memory_interface.py
  pyrit/scenarios/scenario.py
Due: website

Resilience mostly working, tests pass
  doc/_toc.yml
  doc/code/scenarios/scenarios.ipynb
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/1_resiliency.ipynb
  doc/code/setup/1_resiliency.py
  pyrit/exceptions/exception_classes.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/scenario_result.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/atomic_attack.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/executor/attack/core/test_attack_executor_partial.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: remove-notebook-headers, check-links, website

playwright notebook with cowboy app working
  .devcontainer/devcontainer.json
  doc/code/targets/playwright_demo/app.py
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target.py
Due: remove-notebook-headers, check-links, website

cleaning up and pre-commit
  doc/_toc.yml
  doc/api.rst
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/1_resiliency.ipynb
  doc/code/setup/1_resiliency.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/scenarios/atomic_attack.py
  tests/unit/executor/attack/core/test_attack_executor_partial.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: remove-notebook-headers, check-links, website

Renaming AttackExecutionResult
  doc/api.rst
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/scenarios/atomic_attack.py
  tests/unit/executor/attack/core/test_attack_executor_partial.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

fixing indenting error
  pyrit/scenarios/atomic_attack.py
Due: website

03112025
  doc/llamafile_guide.fr.md
  tests/integration/ai_recruiter/ai_recruiter_integration_test.fr.md
  tests/integration/ai_recruiter/on_site_guide.fr.md
Due: check-links

adding unit tests
  tests/unit/score/test_conversation_history_scorer.py
Due: website

fix unit test
  tests/unit/score/test_conversation_history_scorer.py
Due: website

Removing jailbreakV-28k from integration tests
  pyrit/datasets/fetch_jailbreakv_28k_dataset.py
  tests/unit/datasets/test_fetch_jailbreakv_28k.py
Due: website

FEAT: Add Sorry-Bench dataset integration
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/sorry_bench_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_sorry_bench_dataset.py
Due: website

Address reviewer feedback: update prompt_style API and add input validation
  pyrit/datasets/sorry_bench_dataset.py
  tests/unit/datasets/test_sorry_bench_dataset.py
Due: website

Adding baseline to scenarios
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/scenarios/atomic_attack.py
  pyrit/scenarios/scenario.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

pre-commit
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/scenarios/scenario.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

pr feedback
  pyrit/executor/attack/core/attack_executor.py
  pyrit/scenarios/scenario.py
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

Adding a method to create a fresh instance of an OpenAIResponseTarget
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Doing some bludgeoning
  pyrit/prompt_target/openai/beamsearch_target.py
Due: website

Throwing together the rest of the code (I hope)
  pyrit/prompt_target/openai/beamsearch_target.py
Due: website

Hacking...
  pyrit/prompt_target/openai/beamsearch_target.py
Due: website

A little more output for debugging
  pyrit/prompt_target/openai/beamsearch_target.py
Due: website

language updates
  doc/code/scenarios/scenarios.ipynb
  doc/code/setup/1_resiliency.ipynb
  doc/code/setup/1_resiliency.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: remove-notebook-headers, check-links, website

Adding cyber scenario.
  pyrit/scenarios/scenarios/cyber_scenario.py
Due: website

integrationtestyaml
  integration-tests.yml
Due: none

remove duckDB installation
  .devcontainer/Dockerfile
Due: none

fix jupyterbook
  .pre-commit-config.yaml
  Makefile
Due: none

fix jupyterbook
  pyproject.toml
Due: none

revert jb changes
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

pin jupyterbook version
  pyproject.toml
Due: none

adding eval datasets
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/exploits_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/hate_speech_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/information_ingetrity_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/privacy_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/self_harm_evaluation_dataset.csv
Due: none

FIX: Pin jupyterbook version (#1168)
  pyproject.toml
Due: none

pr feedback
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/0_configuration.py
  doc/code/setup/1_resiliency.ipynb
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
