Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

linting
  pyrit/datasets/seed_datasets/remote/transphobia_awareness_dataset.py
  tests/unit/datasets/test_transphobia_awareness_dataset.py
Due: website

adding draft psych scenario file
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

pr feedback
  pyrit/common/utils.py
  pyrit/common/yaml_loadable.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_identifier.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  tests/unit/common/test_helper_functions.py
  tests/unit/score/test_scorer_identifier.py
Due: website

FIX add transphobia awareness dataset back (#1264)
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/transphobia_awareness_dataset.py
  tests/unit/datasets/test_transphobia_awareness_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

add OPENAI_CHAT_MODEL as required in docs
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  pyrit/setup/initializers/simple.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix headers
  doc/contributing/1c_install_conda.md
Due: check-links, validate-jupyter-book

add one more missing occurence
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FEAT add UV support (#1226)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  .devcontainer/docker-compose.yml
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  Makefile
  doc/_toc.yml
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.py
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/role_play_attack.py
  doc/contributing/11_release_process.md
  doc/contributing/1a_install_uv.md
  doc/contributing/1b_install_devcontainers.md
  doc/contributing/1c_install_conda.md
  doc/contributing/9_pre_commit.md
  doc/index.md
  doc/setup/1a_install_uv.md
  doc/setup/1b_install_docker.md
  doc/setup/1c_install_conda.md
  doc/setup/jupyter_setup.md
  end-to-end-tests.yml
  integration-tests.yml
  pyproject.toml
  pyrit/auxiliary_attacks/gcg/src/Dockerfile
  pyrit/auxiliary_attacks/gcg/src/conda_dependencies.yaml
  tests/integration/converter/test_retry_timing_integration.py
  tests/integration/mocks.py
  tests/integration/targets/test_rate_limiting_integration.py
  tests/unit/converter/test_add_image_text_converter.py
  uv.lock
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/cookbooks/5_psychosocial_harms.ipynb
Due: remove-notebook-headers, validate-jupyter-book

TEST: integration test fixes (#1265)
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/scoring/6_refusal_scorer.ipynb
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/seed_datasets/local/examples/psych-crisis-conversations.prompt
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/integration/targets/test_target_filters.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

one more fix
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/datasets/2_seed_programming.ipynb
  doc/code/datasets/2_seed_programming.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

integration test fixes
  doc/code/executor/attack/multi_prompt_sending_attack.ipynb
  doc/code/executor/attack/multi_prompt_sending_attack.py
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/benchmark/1_qa_benchmark.ipynb
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/executor/benchmark/question_answering.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/executor/benchmark/test_question_answering.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

add dataset versions and edit accidental repeat
  pyrit/score/float_scale/self_ask_general_float_scale_scorer.py
  pyrit/score/scorer_evals/likert/exploit.csv
  pyrit/score/scorer_evals/likert/hate_speech.csv
  pyrit/score/scorer_evals/likert/hate_speech_multi_score.csv
  pyrit/score/scorer_evals/likert/info_integrity.csv
  pyrit/score/scorer_evals/likert/privacy.csv
  pyrit/score/scorer_evals/likert/self_harm.csv
  pyrit/score/scorer_evals/likert/sexual.csv
  pyrit/score/scorer_evals/likert/violence.csv
  pyrit/score/scorer_evals/likert/violence_multi_score.csv
  pyrit/score/scorer_evals/true_false/exploit.csv
  pyrit/score/scorer_evals/true_false/hate_speech.csv
  pyrit/score/scorer_evals/true_false/info_integrity.csv
  pyrit/score/scorer_evals/true_false/privacy.csv
  pyrit/score/scorer_evals/true_false/refusal.csv
  pyrit/score/scorer_evals/true_false/self_harm.csv
  pyrit/score/scorer_evals/true_false/sexual.csv
  pyrit/score/scorer_evals/true_false/violence.csv
Due: website

small changes
  pyrit/score/true_false/self_ask_general_true_false_scorer.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  pyrit/score/true_false/true_false_composite_scorer.py
  pyrit/score/true_false/video_true_false_scorer.py
Due: website

update to seed_group
  doc/api.rst
  doc/code/converters/transparency_attack_converter.py
  doc/code/datasets/2_seed_programming.py
  doc/code/executor/attack/1_prompt_sending_attack.py
  doc/code/memory/7_azure_sql_memory_attacks.py
  doc/code/targets/5_multi_modal_targets.py
  doc/code/targets/playwright_target_copilot.py
  doc/code/targets/realtime_target.py
  doc/cookbooks/1_sending_prompts.py
  pyrit/executor/promptgen/fuzzer/fuzzer.py
  pyrit/models/__init__.py
  pyrit/models/seed_group.py
  tests/unit/models/test_seed.py
Due: check-links, validate-jupyter-book, website

Update api.rst
  doc/api.rst
Due: validate-jupyter-book

Update __init__.py
  pyrit/datasets/__init__.py
Due: website

Address PR review: move anthropic_evals_dataset to question_answer, remove dataset_helper
  pyrit/datasets/dataset_helper.py
  pyrit/datasets/executors/question_answer/anthropic_evals_dataset.py
  tests/unit/datasets/test_anthropic_evals_dataset.py
Due: website

refactor done
  doc/code/scenarios/0_scenarios.py
  pyrit/datasets/seed_datasets/local/airt/hate.prompt
  pyrit/executor/attack/core/attack_executor.py
  pyrit/models/seed_group.py
  pyrit/scenario/core/atomic_attack.py
  pyrit/scenario/core/scenario.py
  pyrit/scenario/scenarios/airt/content_harms_scenario.py
  pyrit/scenario/scenarios/airt/cyber_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  pyrit/scenario/scenarios/garak/encoding_scenario.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_attack_executor_partial.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_cyber_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: check-links, validate-jupyter-book, website

linting
  doc/code/converters/0_converters.ipynb
  doc/code/converters/2_audio_converters.ipynb
  doc/code/converters/5_file_converters.ipynb
  doc/code/converters/7_human_converter.ipynb
Due: remove-notebook-headers, validate-jupyter-book

more linting
  doc/code/converters/0_converters.ipynb
  doc/code/converters/7_human_converter.ipynb
Due: remove-notebook-headers, validate-jupyter-book

fix: use max_iterations in CharSwapConverter perturbation loop
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  tests/unit/converter/test_char_swap_generator_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/converters/1_llm_converters.ipynb
  doc/code/converters/2_using_converters.ipynb
  doc/code/converters/4_image_converters.ipynb
  doc/code/converters/7_video_converters.ipynb
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/converters/transparency_attack_converter.ipynb
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/promptgen/fuzzer_generator.ipynb
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/memory/2_basic_memory_programming.ipynb
  doc/code/memory/5_memory_labels.ipynb
  doc/code/memory/8_seed_database.ipynb
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/generic_scorers.ipynb
  doc/code/scoring/insecure_code_scorer.ipynb
  doc/code/scoring/persuasion_full_conversation_scorer.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/setup/2_resiliency.ipynb
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/3_non_open_ai_chat_targets.ipynb
  doc/code/targets/open_ai_completions.ipynb
  doc/code/targets/realtime_target.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  tests/unit/executor/attack/single_turn/test_flip_attack.py
Due: remove-notebook-headers, validate-jupyter-book, website

pre-commit
  doc/code/auxiliary_attacks/0_auxiliary_attacks.ipynb
  doc/code/converters/ansi_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/math_prompt_converter.ipynb
  doc/code/datasets/1_loading_datasets.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/context_compliance_attack.ipynb
  doc/code/executor/attack/many_shot_jailbreak_attack.ipynb
  doc/code/executor/attack/role_play_attack.ipynb
  doc/code/executor/attack/skeleton_key_attack.ipynb
  doc/code/executor/attack/violent_durian_attack.ipynb
  doc/code/executor/promptgen/1_anecdoctor_generator.ipynb
  doc/code/memory/8_seed_database.ipynb
  doc/code/scoring/2_true_false_scorers.ipynb
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/targets/open_ai_completions.ipynb
  doc/code/targets/prompt_shield_target.ipynb
  doc/code/targets/realtime_target.ipynb
  doc/code/targets/use_huggingface_chat_target.ipynb
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/3_copyright_violations.ipynb
Due: remove-notebook-headers, validate-jupyter-book

linting, links
  doc/code/converters/5_file_converters.ipynb
  doc/code/converters/5_file_converters.py
  doc/code/converters/7_human_converter.ipynb
  doc/code/converters/7_human_converter.py
  doc/index.md
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FIX add OPENAI_CHAT_MODEL as required in docs, initializers (#1267)
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  pyrit/setup/initializers/simple.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix unit tests
  doc/api.rst
  tests/unit/converter/test_prompt_converter.py
  tests/unit/test_converter_documentation.py
Due: validate-jupyter-book, website

lint
  pyrit/prompt_converter/prompt_converter.py
Due: website

test: add test to verify proportion unchanged with iterations
  doc/code/converters/char_swap_attack_converter.ipynb
  tests/unit/converter/test_char_swap_generator_converter.py
Due: remove-notebook-headers, validate-jupyter-book, website

FIX: Add ARM64/Apple Silicon support for devcontainer builds (#1251)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

FIX: use max_iterations in CharSwapConverter perturbation loop (#1269)
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  tests/unit/converter/test_char_swap_generator_converter.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website
