Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

FIX: Authenticate and run Azure SQL Memory ADO integration tests properly (#1167)
  .devcontainer/Dockerfile
  integration-tests.yml
Due: none

FEAT: Add Anthropic model-written-evals dataset (#450)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/anthropic_evals_dataset.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_anthropic_evals_dataset.py
Due: website

Starting to think about making this an attack instead
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

fixing markdown
  doc/code/setup/1_resiliency.ipynb
  doc/code/setup/1_resiliency.py
Due: remove-notebook-headers, check-links, website

woops precommit
  doc/code/setup/1_resiliency.ipynb
Due: remove-notebook-headers

FEAT Breaking: Adding Resiliency to Scenarios (#1164)
  doc/_toc.yml
  doc/api.rst
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/0_configuration.ipynb
  doc/code/setup/0_configuration.py
  doc/code/setup/1_resiliency.ipynb
  doc/code/setup/1_resiliency.py
  pyrit/exceptions/exception_classes.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/models/scenario_result.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/atomic_attack.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/executor/attack/core/test_attack_executor.py
  tests/unit/executor/attack/core/test_attack_executor_partial.py
  tests/unit/scenarios/test_atomic_attack.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: remove-notebook-headers, check-links, website

A couple more options
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Copy more implementations
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Lint
  pyrit/prompt_target/openai/beamsearch_target.py
Due: website

Trying to puzzle out how things fit
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Cyber scenario skeleton
  pyrit/scenarios/scenarios/cyber_scenario.py
Due: website

pre-commit
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

merge errors
  pyrit/executor/attack/core/attack_executor.py
  pyrit/scenarios/scenario.py
Due: website

more merge errors
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: website

exposing baseline param to subclasses
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
Due: website

Refactoring exception globals
  pyrit/exceptions/exception_classes.py
  tests/integration/conftest.py
  tests/unit/conftest.py
Due: website

pre-commit
  pyrit/exceptions/exception_classes.py
Due: website

pr feedback
  pyrit/scenarios/atomic_attack.py
  pyrit/scenarios/scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

MAINT: Refactoring exception globals (#1172)
  pyrit/exceptions/exception_classes.py
  tests/integration/conftest.py
  tests/unit/conftest.py
Due: website

first draft of harm scenario
  pyrit/scenarios/scenarios/ai_rt/rapid_response_harm_scenario.py
Due: website

Applying some bludgeoning
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Chipping away, trying to get scoring working
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

Fixing website
  doc/_toc.yml
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/0_setup.md
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/setup/populating_secrets.md
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/code/front_end/0_cli.ipynb
  doc/code/scenarios/scenarios.ipynb
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
Due: remove-notebook-headers, check-links, website

FIX: Fixing website (#1175)
  doc/_toc.yml
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/0_setup.md
  doc/code/setup/1_configuration.ipynb
  doc/code/setup/1_configuration.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/setup/populating_secrets.md
Due: remove-notebook-headers, check-links, website

Update pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario.py
Due: website

Adding contents to cyber scenario
  pyrit/datasets/seed_prompts/malware.prompt
  pyrit/scenarios/scenarios/cyber_scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
Due: website

pr feedback
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

FEAT: Adding baseline to Scenario Execution (#1171)
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/multi_turn_attack_strategy.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/single_turn_attack_strategy.py
  pyrit/scenarios/atomic_attack.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
Due: website

Adding scenario param validation and to cli
  doc/code/front_end/0_cli.ipynb
  pyrit/cli/__main__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_signature_enforcer.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  tests/unit/scenarios/test_scenario_signature_enforcer.py
  tests/unit/scenarios/test_scenario_strategies.py
Due: remove-notebook-headers, website

Finishing cyber scenario
  pyrit/scenarios/scenarios/cyber_scenario.py
Due: website

Testing skeleton
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

Temporarily add test script to branch
  beam_search_test.py
Due: website

Drafting a quick test script
  selfask_scorer_test.py
Due: website

Corrected JSON support
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Expand testing
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

Don't need this
  selfask_scorer_test.py
Due: website

Update pyrit/datasets/anthropic_evals_dataset.py
  pyrit/datasets/anthropic_evals_dataset.py
Due: website

Update pyrit/datasets/sorry_bench_dataset.py
  pyrit/datasets/sorry_bench_dataset.py
Due: website

get rid of redundant error block
  pyrit/datasets/anthropic_evals_dataset.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
