Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

Add JB2 API workaround context and tracking issue link to scripts
  build_scripts/gen_api_md.py
  build_scripts/pydoc2json.py
Due: website

Restore test_sanitize_notebook_paths.py
  tests/unit/build_scripts/test_sanitize_notebook_paths.py
Due: website

Fix top navbar URLs (JB2 converts underscores to hyphens in URLs)
  doc/myst.yml
Due: none

Fix all nav URLs - JB2 strips leading numbers and converts underscores to hyphens
  doc/myst.yml
Due: none

Remove test_api_documentation.py (validated api.rst which no longer exists)
  tests/unit/docs/test_api_documentation.py
Due: website

Skip auto-generated api/ dir in doc validation (gitignored, built in CI)
  build_scripts/validate_docs.py
Due: website

adding av to dependencies
  pyproject.toml
Due: none

Address PR review comments, expand GUI docs, fix and add e2e/unit tests
  doc/code/gui/0_gui.md
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/api.spec.ts
  frontend/e2e/chat.spec.ts
  frontend/e2e/config.spec.ts
  frontend/e2e/errors.spec.ts
  frontend/e2e/flows.spec.ts
  frontend/e2e/history.spec.ts
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatInputArea.test.tsx
  frontend/src/components/Chat/ChatInputArea.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Config/CreateTargetDialog.test.tsx
  frontend/src/components/Config/CreateTargetDialog.tsx
  frontend/src/components/Config/TargetConfig.test.tsx
  frontend/src/components/ConnectionBanner.test.tsx
  frontend/src/components/ConnectionBanner.tsx
  frontend/src/components/History/AttackHistory.styles.ts
  frontend/src/components/History/AttackHistory.test.tsx
  frontend/src/components/History/AttackHistory.tsx
  frontend/src/components/History/AttackTable.tsx
  frontend/src/components/History/HistoryFiltersBar.tsx
  frontend/src/components/History/HistoryPagination.tsx
  frontend/src/components/Labels/LabelsBar.test.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/utils/messageMapper.test.ts
  frontend/src/utils/messageMapper.ts
Due: check-links, validate-jupyter-book

adding unit tests
  tests/unit/score/test_audio_scorer.py
Due: website

addressing comments
  pyrit/score/audio_transcript_scorer.py
  pyrit/score/float_scale/audio_float_scale_scorer.py
  pyrit/score/true_false/audio_true_false_scorer.py
Due: website

Fix Entra auth integration tests: remove API-key-only endpoints, fix env var names
  tests/integration/targets/test_entra_auth_targets.py
Due: website

refactor: convert ErrorBoundary to functional component using react-error-boundary
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: none

fix: add loadConversation to useEffect deps to fix ESLint warning
  frontend/src/components/Chat/ChatWindow.tsx
Due: none

data types
  pyrit/datasets/__init__.py
  pyrit/datasets/seed_datasets/remote/aegis_ai_content_safety_dataset.py
  pyrit/datasets/seed_datasets/remote/harmbench_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
Due: website

Build video-first prompt builder and add length mode
  .devcontainer/Dockerfile
  docker/Dockerfile
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Builder/AttackOptionList.tsx
  frontend/src/components/Builder/PromptBuilderPage.tsx
  frontend/src/components/Builder/PromptOutputPanel.tsx
  frontend/src/components/Builder/TestDetailsPanel.tsx
  frontend/src/components/Builder/builderUtils.ts
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.test.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
  pyrit/backend/models/converters.py
  pyrit/backend/routes/converters.py
  pyrit/backend/services/converter_service.py
  pyrit/cli/pyrit_backend.py
  pyrit/prompt_converter/length_mode.py
  pyrit/prompt_converter/llm_generic_text_converter.py
  pyrit/prompt_converter/persuasion_converter.py
  pyrit/prompt_converter/tense_converter.py
  pyrit/prompt_converter/tone_converter.py
  pyrit/prompt_converter/variation_converter.py
  scripts/grok_builder_initializer.py
Due: website

pr feedback
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

DOC: Add Release Readiness step to release process docs (#1450)
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

pr feedback
  pyrit/setup/initializers/components/scorers.py
  tests/unit/setup/test_scorer_initializer.py
Due: website

fix: run mock e2e tests in CI instead of seeded (no secrets needed)
  .github/workflows/frontend_tests.yml
  frontend/playwright.config.ts
Due: none

Refactor frontend: consolidate banners, rename hasMore, add tests, extract styles
  frontend/src/components/Chat/ChatInputArea.styles.ts
  frontend/src/components/Chat/ChatInputArea.tsx
  frontend/src/components/Chat/ChatWindow.styles.ts
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/ConversationPanel.styles.ts
  frontend/src/components/Chat/ConversationPanel.tsx
  frontend/src/components/Chat/MessageList.styles.ts
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/History/AttackHistory.tsx
  frontend/src/components/History/AttackTable.test.tsx
  frontend/src/components/History/HistoryFiltersBar.test.tsx
  frontend/src/components/History/HistoryPagination.tsx
  frontend/src/components/Labels/LabelsBar.styles.ts
  frontend/src/components/Labels/LabelsBar.tsx
  frontend/src/components/Layout/MainLayout.styles.ts
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.styles.ts
  frontend/src/components/Sidebar/Navigation.tsx
Due: none

docs: add operator and operation label examples to .pyrit_conf_example
  .pyrit_conf_example
Due: none

fix: use useLayoutEffect for textarea auto-resize to avoid flicker
  frontend/src/components/Chat/ChatInputArea.tsx
Due: none

fix: remove broken GitHub user-attachment image links from GUI docs
  doc/code/gui/0_gui.md
Due: check-links, validate-jupyter-book

Revert "fix: remove broken GitHub user-attachment image links from GUI docs"
  doc/code/gui/0_gui.md
Due: check-links, validate-jupyter-book

fix: add GUI screenshots to repo and use local paths in docs
  doc/code/gui/0_gui.md
  doc/code/gui/images/chat_branch.png
  doc/code/gui/images/chat_image.png
  doc/code/gui/images/chat_text.png
  doc/code/gui/images/config.png
  doc/code/gui/images/history.png
Due: check-links, validate-jupyter-book

nit: update .pyrit_conf_example defaults to roakey/op_trash_panda
  .pyrit_conf_example
Due: none

Add local deployment guide
  LOCAL_DEPLOYMENT.md
  README.md
Due: none

FIX use cognitiveservices scope for all Azure AI endpoints (#1453)
  pyrit/auth/azure_auth.py
  tests/integration/targets/test_entra_auth_targets.py
Due: website

Move messages state from App.tsx into ChatWindow.tsx
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.test.tsx
  frontend/src/components/Chat/ChatWindow.tsx
Due: none

docs: simplify operator/operation description in .pyrit_conf_example
  .pyrit_conf_example
Due: none

revert: undo .gitattributes changes
  .gitattributes
Due: none

test: add video target remix test with text+video_path pieces
  tests/unit/target/test_video_target.py
Due: website

Fix backslash paths in myst.yml and update landing page emojis
  doc/index.md
  doc/myst.yml
Due: check-links, validate-jupyter-book

fix: restore Python/uv setup in e2e CI job
  .github/workflows/frontend_tests.yml
Due: none

Add video builder accelerators
  LOCAL_DEPLOYMENT.md
  frontend/README.md
  frontend/dev.py
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/api.spec.ts
  frontend/e2e/builder.spec.ts
  frontend/e2e/builderTestUtils.ts
  frontend/e2e/chat.spec.ts
  frontend/playwright.config.ts
  frontend/src/App.test.tsx
  frontend/src/components/Builder/AttackStarterPanel.test.tsx
  frontend/src/components/Builder/AttackStarterPanel.tsx
  frontend/src/components/Builder/PromptBuilderPage.tsx
  frontend/src/components/Builder/PromptOutputPanel.test.tsx
  frontend/src/components/Builder/PromptOutputPanel.tsx
  frontend/src/components/Builder/TestDetailsPanel.tsx
  frontend/src/components/Builder/builderUtils.test.ts
  frontend/src/components/Builder/builderUtils.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
  pyrit/backend/main.py
  pyrit/backend/models/__init__.py
  pyrit/backend/models/builder.py
  pyrit/backend/routes/__init__.py
  pyrit/backend/routes/builder.py
  pyrit/backend/services/__init__.py
  pyrit/backend/services/builder_service.py
  pyrit/prompt_converter/variation_converter.py
  scripts/grok_builder_initializer.py
  tests/unit/backend/test_builder_routes.py
  tests/unit/backend/test_builder_service.py
Due: website

test: add missing test files for TargetTable and HistoryPagination
  frontend/src/components/Config/TargetTable.test.tsx
  frontend/src/components/History/HistoryPagination.test.tsx
Due: none

Fix middle column scrolling
  frontend/src/components/Builder/PromptBuilderPage.tsx
  frontend/src/components/Builder/TestDetailsPanel.tsx
Due: none

Improve starter goal phrasing
  pyrit/backend/services/builder_service.py
Due: website

Clarify transformed output panel
  frontend/src/components/Builder/PromptOutputPanel.test.tsx
  frontend/src/components/Builder/PromptOutputPanel.tsx
Due: none

Fix type annotation warnings and test warnings (issue #442)
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_target/azure_blob_storage_target.py
  tests/unit/scenarios/test_leakage_scenario.py
  tests/unit/target/test_tts_target.py
  tests/unit/target/test_websocket_copilot_target.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
