Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

feat: add standard parameter passing for initializers
  .pyrit_conf_example
  build_scripts/evaluate_scorers.py
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/setup/pyrit_conf.md
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_backend.py
  pyrit/cli/pyrit_scan.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/setup/configuration_loader.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  pyrit/setup/initializers/simple.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_backend.py
  tests/unit/setup/test_pyrit_initializer.py
  tests/unit/setup/test_targets_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

scaffolding
  pyrit/datasets/seed_datasets/remote/aegis_ai_content_safety_dataset.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
Due: website

reorder notebook in toc
  doc/_toc.yml
Due: validate-jupyter-book

refactor: change initializer params from dict[str, str] to dict[str, list[str]]
  .pyrit_conf_example
  build_scripts/evaluate_scorers.py
  doc/setup/pyrit_conf.md
  pyrit/cli/frontend_core.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/setup/configuration_loader.py
  pyrit/setup/initializers/airt.py
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  pyrit/setup/initializers/simple.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/setup/test_pyrit_initializer.py
  tests/unit/setup/test_targets_initializer.py
Due: check-links, validate-jupyter-book, website

Fieldname fixup
  pyrit/executor/attack/single_turn/beam_search.py
Due: website

fix: render binary_path pieces as file attachments instead of text
  frontend/src/utils/messageMapper.test.ts
  frontend/src/utils/messageMapper.ts
Due: none

fix: rename labels to label in listAttacks params to match backend
  frontend/src/services/api.ts
Due: none

fix: normalize empty converter_types so empty query means no-converter attacks
  pyrit/backend/routes/attacks.py
  tests/unit/backend/test_api_routes.py
Due: website

fix: use cognitiveservices scope for all Azure AI endpoints
  pyrit/auth/azure_auth.py
  tests/integration/targets/test_entra_auth_targets.py
Due: website

fix: replace tail with pure Python log tailing for Windows compatibility
  frontend/dev.py
Due: website

fix: use datetime instead of str for ConversationSummary.created_at
  pyrit/backend/models/attacks.py
  pyrit/backend/services/attack_service.py
Due: website

adding evals
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/sexual_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
Due: none

FIX: Reorder scorer metrics notebook in table of contents (#1452)
  doc/_toc.yml
Due: validate-jupyter-book

docs: update pyrit_shell help text for initializer params syntax
  pyrit/cli/pyrit_shell.py
Due: website

pre-commit
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_backend.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/setup/configuration_loader.py
  pyrit/setup/initializers/pyrit_initializer.py
  pyrit/setup/initializers/simple.py
Due: website

fixing private access
  build_scripts/evaluate_scorers.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_backend.py
  pyrit/setup/configuration_loader.py
  pyrit/setup/initializers/pyrit_initializer.py
  tests/unit/setup/test_pyrit_initializer.py
Due: website

adding all column
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  tests/unit/setup/test_scorer_initializer.py
  tests/unit/setup/test_targets_initializer.py
Due: website

test fix
  tests/integration/memory/test_azure_sql_memory_integration.py
Due: website

updating to use atomic attack
  tests/integration/memory/test_azure_sql_memory_integration.py
Due: website

FIX: Fixing SQL Azure Integration Tests (#1457)
  tests/integration/memory/test_azure_sql_memory_integration.py
Due: website

removing old metrics
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
Due: none

adding all logic
  pyrit/setup/initializers/components/scorers.py
  pyrit/setup/initializers/components/targets.py
  tests/unit/cli/test_frontend_core.py
Due: website

fix: re-sign blob URLs with expired SAS tokens instead of skipping
  pyrit/backend/mappers/attack_mappers.py
  tests/unit/backend/test_mappers.py
Due: website

rerunning metrics notebook
  doc/code/scoring/8_scorer_metrics.ipynb
Due: remove-notebook-headers, validate-jupyter-book

more scaffolding
  pyrit/datasets/__init__.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_seed_dataset_metadata.py
Due: website

MAINT: Adding Scorer Evals (#1455)
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/sexual_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
Due: remove-notebook-headers, validate-jupyter-book

Update DALL-E-3 comments to gpt-image-1.5
  tests/integration/targets/test_targets_and_secrets.py
Due: website

replace with pyav
  pyproject.toml
  pyrit/score/audio_transcript_scorer.py
Due: website

.
  pyrit/datasets/seed_datasets/seed_metadata.py
Due: website

MAINT Fix integration test import errors and runtime issues (#1448)
  pyrit/prompt_converter/add_image_to_video_converter.py
  tests/integration/mocks.py
  tests/integration/score/test_hitl_gradio_integration.py
  tests/integration/targets/test_targets_and_secrets.py
Due: website

Fix three systemic issues in seeded e2e flow tests
  frontend/e2e/flows.spec.ts
Due: none

Use make docs-build in CI workflow (consolidates API gen + JB build)
  .github/workflows/docs.yml
  Makefile
Due: none

Add comments to Makefile and restore docs-api target
  Makefile
Due: none

Restore remove_notebook_headers.py and sanitize_notebook_paths.py
  build_scripts/remove_notebook_headers.py
  build_scripts/sanitize_notebook_paths.py
Due: website

Restore notebook pre-commit hooks (remove headers, sanitize paths)
  .pre-commit-config.yaml
Due: none

Add fast doc validation pre-commit hook (replaces validate_jupyter_book.py)
  .pre-commit-config.yaml
  build_scripts/validate_docs.py
Due: website

Move pydoc2json.py and gen_api_md.py to build_scripts/
  .readthedocs.yaml
  Makefile
  build_scripts/gen_api_md.py
  build_scripts/pydoc2json.py
Due: website
