Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

fix refusal integration and mypy error
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  tests/integration/score/test_refusal_integration.py
Due: website

minor edit
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
Due: website

FIX: OpenAIChatTarget inheritance (#1001)
  pyrit/prompt_target/openai/openai_chat_target_base.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

fix up comments
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/memory/memory_models.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
Due: website

add turn alias and separate group and dataset
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/cli/__main__.py
  pyrit/models/__init__.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/models/seed_prompt_group.py
  pyrit/orchestrator/orchestrator_class.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/prompt_normalizer/normalizer_request.py
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/test_normalizer_request.py
  tests/unit/test_prompt_normalizer.py
Due: website

fix errors and use SeedPromptGroup
  doc/code/targets/realtime_target.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/models/__init__.py
  pyrit/models/seed_prompt.py
  pyrit/models/seed_prompt_dataset.py
  pyrit/models/seed_prompt_group.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
  pyrit/orchestrator/multi_turn/crescendo_orchestrator.py
  pyrit/orchestrator/multi_turn/tree_of_attacks_node.py
  pyrit/orchestrator/single_turn/context_compliance_orchestrator.py
  pyrit/orchestrator/skeleton_key_orchestrator.py
  pyrit/orchestrator/xpia_orchestrator.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/test_prompt_normalizer.py
Due: check-links, website

fix test
  tests/unit/test_prompt_normalizer.py
Due: website

revert response
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

adding tracking adversarial chats
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/models/attack_result.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/attacks/test_tree_of_attacks.py
Due: website

adding crescendo adversarial chat tracking
  pyrit/attacks/multi_turn/crescendo.py
  tests/unit/attacks/test_crescendo.py
Due: website

updating memory models
  pyrit/memory/memory_models.py
  tests/unit/memory/test_memory_interface.py
Due: website

more fixes to datasets
  pyrit/datasets/multilingual_vulnerability_dataset.py
  pyrit/datasets/red_team_social_bias_dataset.py
  pyrit/datasets/seclists_bias_testing_dataset.py
  pyrit/datasets/sosbench_dataset.py
  pyrit/datasets/xstest_dataset.py
  pyrit/models/harm_category.py
Due: website

adding conversation ids to memory
  doc/contributing/8_notebooks.md
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/multi_turn/tree_of_attacks.py
  pyrit/memory/memory_models.py
  pyrit/models/attack_result.py
  tests/unit/attacks/test_crescendo.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/attacks/test_tree_of_attacks.py
  tests/unit/memory/test_memory_interface.py
Due: check-links, website

multi-agent first orchestrator version
  doc/code/orchestrators/use_msa_orchestrator.ipynb
  doc/code/orchestrators/use_msa_orchestrator.py
  pyrit/datasets/orchestrators/red_teaming/multi_agent/red_team_agent.yaml
  pyrit/datasets/orchestrators/red_teaming/multi_agent/strategy_agent.yaml
  pyrit/orchestrator/__init__.py
  pyrit/orchestrator/multi_turn/mulit_agent_orchestrator.py
Due: remove-notebook-headers, check-links, website

delete type ignore
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

FEAT: Scorer Evaluations (#934)
  doc/_toc.yml
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyproject.toml
  pyrit/common/path.py
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech.csv
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/violence.csv
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal.csv
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/models/seed_prompt.py
  pyrit/score/__init__.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/metrics_type.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/self_ask_likert_scorer.py
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
  tests/unit/score/test_human_labeled_dataset.py
  tests/unit/score/test_scorer.py
  tests/unit/score/test_scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

fix type annotations for parameters that can be None
  pyrit/prompt_converter/image_compression_converter.py
Due: website

expand unit tests for input validation
  tests/unit/converter/test_image_compression_converter.py
Due: website

tests for corrupted image and format fallback
  tests/unit/converter/test_image_compression_converter.py
Due: website

added anaylze_results
  pyrit/analytics/analyze_results.py
Due: website

extend multi-agent orchestrator with GOAT-style attack toolbox and YAML system prompts
  doc/code/orchestrators/use_msa_orchestrator.ipynb
  doc/code/orchestrators/use_msa_orchestrator.py
  pyrit/datasets/orchestrators/red_teaming/multi_agent/goat_attacks.yaml
  pyrit/datasets/orchestrators/red_teaming/multi_agent/strategy_agent_goat.yaml
Due: remove-notebook-headers, check-links, website

fix: updated the fetch function
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/medsafetybench.py
Due: website

fixing bug with aux scores
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_prompt_sending.py
Due: website

pre-commit
  tests/unit/attacks/test_prompt_sending.py
Due: website

pre-commit
  tests/unit/score/test_gandalf_scorer.py
Due: website

FIX: Auxiliary scores in PromptSendingAttack (#1004)
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/score/test_gandalf_scorer.py
Due: website

XPIA via website - working example and associated breaking changes to XPIA orchestrator, not yet validated RAG XPIA example
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
  doc/code/orchestrators/xpia_helpers.py
  pyrit/datasets/xpia/website/example/index.html
  pyrit/models/data_type_serializer.py
  pyrit/orchestrator/xpia_orchestrator.py
  pyrit/prompt_target/azure_blob_storage_target.py
Due: remove-notebook-headers, check-links, website

remove sk installation
  pyproject.toml
Due: none

support tool calls in OpenAIResponseTarget
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_target.py
Due: remove-notebook-headers, website

use per-instance tool/function registry for OpenAIResponseTarget
  doc/code/targets/8_openai_responses_target.ipynb
  pyrit/prompt_target/openai/openai_response_target.py
Due: remove-notebook-headers, website

add websearch feature example
  doc/code/targets/8_openai_responses_target.ipynb
Due: remove-notebook-headers

pushing fuzzer attack
  pyrit/attacks/__init__.py
  pyrit/attacks/fuzzer_attack.py
Due: website

adding fuzzer tests
  .devcontainer/Dockerfile
  tests/unit/attacks/test_fuzzer.py
Due: website

FIX RTO was not honoring prepended conversations
  pyrit/attacks/base/attack_strategy.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  tests/unit/attacks/test_attack_strategy.py
Due: website

flip attack
  doc/code/orchestrators/flip_orchestrator.ipynb
  pyrit/attacks/__init__.py
  pyrit/attacks/single_turn/flip_attack.py
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
  tests/unit/attacks/test_flip_attack.py
Due: remove-notebook-headers, website

add deprecated decorator
  pyrit/orchestrator/single_turn/flip_attack_orchestrator.py
Due: website

delete flip orchestrator tests
  tests/unit/orchestrator/test_flip_orchestrator.py
Due: website

fixed the tests
  tests/unit/attacks/test_prompt_sending.py
Due: website

setting a default for memory labels
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
