Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

DOC fix citation for decoding trust dataset (#937)
  doc/api.rst
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
Due: website

FEAT: Equity Med Dataset (#922)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_equitymedqa_dataset.py
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

FEAT extend http target to allow custom http client (#804)
  pyrit/prompt_target/http_target/http_target.py
  tests/unit/target/test_http_target.py
Due: website

MAINT bump target API versions (#938)
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

TEST: add test for print_conversation_async with include_auxiliary_scores (#928)
  pyrit/orchestrator/models/orchestrator_result.py
  tests/unit/orchestrator/test_multi_turn_orchestrator.py
Due: website

FEAT: Add denylist converter (#924)
  doc/api.rst
  pyrit/datasets/prompt_converters/denylist_converter.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/colloquial_wordswap_converter.py
  pyrit/prompt_converter/denylist_converter.py
  pyrit/prompt_converter/diacritic_converter.py
  pyrit/prompt_converter/math_prompt_converter.py
  pyrit/prompt_converter/pdf_converter.py
  tests/unit/converter/test_denylist_converter.py
  tests/unit/converter/test_prompt_converter.py
Due: website

FIX: Retry bug with single turn retry (#943)
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

FEAT Adding flag parameter to LookBackScorer (#918)
  doc/code/scoring/look_back_scorer.ipynb
  doc/code/scoring/look_back_scorer.py
  pyrit/score/look_back_scorer.py
  tests/unit/score/test_look_back_scorer.py
Due: remove-notebook-headers, check-links, website

MAINT bump package versions (#939)
  pyproject.toml
Due: none

MAINT replace pylint dev commit with latest version (#942)
  .pre-commit-config.yaml
Due: none

FEAT: Add Converter Support to Scanner (#882)
  doc/api.rst
  pyrit/cli/__main__.py
  pyrit/cli/scanner_config.py
  pyrit/models/seed_prompt.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  pyrit/prompt_converter/repeat_token_converter.py
  tests/integration/cli/illegal_integration_test.prompt
  tests/integration/cli/illegal_integration_test_audio_input.prompt
  tests/integration/cli/illegal_integration_test_image_input.prompt
  tests/integration/cli/multiple_converters_success.yaml
  tests/integration/cli/prompt_send_converters_wrong_data_type.yaml
  tests/integration/cli/prompt_send_success.yaml
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/mixed_multiple_orchestrators_args_success.yaml
  tests/unit/cli/prompt_send_converters_missing_arg.yaml
  tests/unit/cli/prompt_send_converters_wrong_arg.yaml
  tests/unit/cli/prompt_send_no_converter_target.yaml
  tests/unit/cli/prompt_send_success_converters_custom_target.yaml
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/cli/prompt_send_success_converters_llm_mixed_target.yaml
  tests/unit/cli/prompt_send_success_converters_no_target.yaml
  tests/unit/cli/test_cli.py
  tests/unit/converter/test_prompt_converter.py
Due: website

MAINT: Adding DB Schema Diagram (#921)
  doc/_toc.yml
  doc/code/memory/10_schema_diagram.md
Due: check-links

MAINT Clean up Example SeedPrompt Datasets (#944)
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal.prompt
  pyrit/datasets/seed_prompts/illegal.prompt
  tests/integration/cli/test_cli_integration.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website

FIX: Added Azure Speech dependencies to the Dev Container (#932)
  .devcontainer/Dockerfile
  pyrit/prompt_converter/azure_speech_text_to_audio_converter.py
Due: website

fix integration test with new PSO method (#941)
  tests/integration/targets/test_target_filters.py
Due: website

change realtime api version
  pyrit/prompt_target/openai/openai_realtime_target.py
Due: website

FIX: Change realtime target api_version (#946)
  pyrit/prompt_target/openai/openai_realtime_target.py
Due: website

ignore seed prompt test file
  .pre-commit-config.yaml
Due: none

pre-commit fixes
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
Due: remove-notebook-headers

mark ai recruiter integration tests with @pytest.mark.run_only_if_all_tests
  tests/integration/ai_recruiter/test_ai_recruiter.py
Due: website

FEAT: Integrate XPIATestOrchestrator with the AI Recruiter (#684)
  .pre-commit-config.yaml
  build_scripts/check_links.py
  doc/code/converters/pdf_converter.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
  pyrit/datasets/prompt_converters/pdf_converters/Jonathon_Sanchez.pdf
  pyrit/orchestrator/xpia_orchestrator.py
  pyrit/prompt_converter/pdf_converter.py
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/http_target/httpx_api_target.py
  tests/integration/ai_recruiter/test_ai_recruiter.py
  tests/unit/orchestrator/test_xpia_orchestrator.py
  tests/unit/target/test_http_api_target.py
Due: remove-notebook-headers, check-links, website

adding converter
  pyrit/datasets/__init__.py
  pyrit/datasets/text_jailbreak.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/text_jailbreak_converter.py
  tests/unit/converter/test_text_jailbreak_converter.py
  tests/unit/datasets/test_jailbreak_text.py
Due: website

REFACTOR: rename evaluate to generate_attack and adjust returns
  doc/code/orchestrators/anecdoctor_orchestrator.ipynb
  doc/code/orchestrators/anecdoctor_orchestrator.py
  pyrit/orchestrator/anecdoctor_orchestrator.py
  tests/unit/orchestrator/test_anecdoctor_orchestrator.py
Due: remove-notebook-headers, check-links, website

pre-commit fix
  .pre-commit-config.yaml
  pyrit/datasets/text_jailbreak.py
  pyrit/prompt_converter/text_jailbreak_converter.py
  tests/unit/converter/test_text_jailbreak_converter.py
Due: website

Check for empty entries list
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: website

FEAT Question answer benchmark repeated question support (#933)
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

pre-commit
  doc/blog/2025_06_06.md
  doc/code/converters/pdf_converter.ipynb
Due: remove-notebook-headers, check-links

headings
  doc/blog/2025_06_06.md
Due: check-links

update tests
  pyrit/prompt_converter/word_level_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: website

pre-commit run --all-files
  doc/cookbooks/1_sending_prompts.ipynb
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, website

add Copyright notice
  tests/unit/converter/test_word_level_converter.py
Due: website

jupytext --execute --to notebook doc/code/converters/char_swap_attack_converter.py
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
Due: remove-notebook-headers, check-links, website

updates
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_generator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
Due: remove-notebook-headers

Update char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.ipynb
Due: remove-notebook-headers

Update doc/code/converters/char_swap_attack_converter.py
  doc/code/converters/char_swap_attack_converter.py
Due: check-links, website

Correcting benchmark orchestrator notebook
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

removing any reference to "developer" role outside of response target
  pyrit/models/chat_message.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

error code 200 for output filters, remove empty line
  pyrit/models/literals.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
