Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

DOC Correcting benchmark orchestrator notebook (#952)
  doc/code/orchestrators/qa_benchmark_orchestrator.ipynb
  doc/code/orchestrators/qa_benchmark_orchestrator.py
Due: remove-notebook-headers, check-links, website

BREAKING FEAT: introduce word-level converter (#847)
  doc/_toc.yml
  doc/api.rst
  doc/code/converters/char_swap_attack_converter.ipynb
  doc/code/converters/char_swap_attack_converter.py
  doc/code/orchestrators/role_playing_orchestrator.ipynb
  doc/code/orchestrators/role_playing_orchestrator.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/common/__init__.py
  pyrit/common/utils.py
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/binary_converter.py
  pyrit/prompt_converter/charswap_attack_converter.py
  pyrit/prompt_converter/emoji_converter.py
  pyrit/prompt_converter/leetspeak_converter.py
  pyrit/prompt_converter/rot13_converter.py
  pyrit/prompt_converter/string_join_converter.py
  pyrit/prompt_converter/text_to_hex_converter.py
  pyrit/prompt_converter/unicode_replacement_converter.py
  pyrit/prompt_converter/word_level_converter.py
  pyrit/prompt_converter/zalgo_converter.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/cli/prompt_send_success_converters_default.yaml
  tests/unit/common/test_helper_functions.py
  tests/unit/converter/test_char_swap_generator_converter.py
  tests/unit/converter/test_prompt_converter.py
  tests/unit/converter/test_word_level_converter.py
Due: remove-notebook-headers, check-links, website

segment converter done
  pyrit/datasets/jailbreak/plinys_roleplay_emoji.yaml
  pyrit/datasets/jailbreak/scorer_prompt.yaml
  pyrit/datasets/prompt_converters/template_segment_converter/tom_and_jerry.yaml
  pyrit/prompt_converter/__init__.py
  pyrit/prompt_converter/template_segment_converter.py
  pyrit/prompt_converter/text_jailbreak_converter.py
  tests/unit/converter/test_template_segment_converter.py
  tests/unit/converter/test_text_jailbreak_converter.py
  tests/unit/datasets/test_jailbreak_text.py
Due: website

DOC: add blog post for XPIAOrchestrator with AI Recruiter (#716)
  doc/_toc.yml
  doc/blog/2025_06_06.md
  doc/code/converters/pdf_converter.ipynb
Due: remove-notebook-headers, check-links

fixed all templates
  pyrit/datasets/jailbreak/multi_parameter/dt_stereotypes_targeted.yaml
  pyrit/datasets/jailbreak/multi_parameter/many_shot_template.yaml
  pyrit/datasets/jailbreak/multi_parameter/translator_bot.yaml
  pyrit/datasets/jailbreak/pliny/alibaba/qwen_2.yaml
  pyrit/datasets/jailbreak/pliny/alibaba/qwen_2_5_max.yaml
  pyrit/datasets/jailbreak/pliny/apple/siri_chatgpt.yaml
  pyrit/datasets/jailbreak/pliny/google/gemini_1_5_pro_experimental_0801.yaml
  pyrit/datasets/jailbreak/pliny/google/gemini_2_0_flash_thinking_exp.yaml
  pyrit/datasets/jailbreak/pliny/google/gemini_2_0_pro_experimental.yaml
  pyrit/datasets/jailbreak/pliny/google/gemini_experimental_1114.yaml
  pyrit/datasets/jailbreak/pliny/google/gemini_experimental_1206_flash_2_0.yaml
  pyrit/datasets/jailbreak/pliny/nvidia/llama_3_1_nemotron_70b.yaml
  pyrit/datasets/jailbreak/pliny/nvidia/nemotron_7_340b.yaml
  pyrit/datasets/jailbreak/pliny/openai/chatgpt_tasks.yaml
  pyrit/datasets/text_jailbreak.py
  tests/unit/datasets/test_jailbreak_text.py
Due: website

create abstract base class for response and chat targets, move as much as possible into that class
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Reset pyrit\common\utils.py to match origin/main
  pyrit/common/utils.py
Due: website

index on scorer_evals_v2: dd07206d documentation
  doc/code/scoring/scorer_evals.ipynb
  pyrit/common/path.py
  pyrit/datasets/score/scorer_evals/eval_datasets/likert_hate_speech_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/likert_hate_speech_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/harm/likert_violence_sample_dataset.csv
  pyrit/score/__init__.py
  pyrit/score/gold_dataset.py
  pyrit/score/human_labeled_dataset.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluator.py
  pyrit/score/self_ask_likert_scorer.py
Due: remove-notebook-headers, website

json mode fix
  pyrit/prompt_target/openai/openai_response_target.py
  tests/unit/target/test_openai_response_target.py
Due: website

refactor: simplify SuperscriptConverter by extending WordLevelConverter
  pyrit/prompt_converter/superscript_converter.py
  tests/unit/converter/test_superscript_converter.py
Due: website

add SuperscriptConverter to api.rst
  doc/api.rst
Due: none

update docstring
  pyrit/prompt_converter/superscript_converter.py
Due: website

improve docstring formatting
  pyrit/prompt_converter/superscript_converter.py
Due: website

fix binary converter
  pyrit/prompt_converter/binary_converter.py
Due: website

addressed comments, added a few more testcases, and tried to optimize pylance in devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  pyrightconfig.json
  pyrit/attacks/__init__.py
  pyrit/attacks/base/attack_config.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_result.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/base/config.py
  pyrit/attacks/base/result.py
  pyrit/attacks/components/__init__.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/components/objective_evaluator.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/score/scorer.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_conversation_manager.py
  tests/unit/attacks/test_objective_evaluator.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/score/test_scorer.py
Due: website

fixed the testcases for prompt sending attack
  tests/unit/attacks/test_prompt_sending.py
Due: website

updated the devcontainer json
  .devcontainer/devcontainer.json
Due: none

removed unused log function from red teaming
  pyrit/attacks/multi_turn/red_teaming.py
Due: website

change join_words method
  pyrit/prompt_converter/binary_converter.py
Due: website

fix tests
  tests/integration/targets/test_targets_and_secrets.py
  tests/unit/target/test_sora_target.py
Due: website

FIX: BinaryConverter convert_word_async (#953)
  pyrit/prompt_converter/binary_converter.py
Due: website

fixed pre-commit errors
  pyrit/attacks/base/attack_config.py
  pyrit/attacks/base/attack_result.py
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/score/test_scorer.py
Due: website

Refactoring Orchestrator module as Attacks (#945)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  pyrightconfig.json
  pyrit/attacks/__init__.py
  pyrit/attacks/base/__init__.py
  pyrit/attacks/base/attack_config.py
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/attack_result.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/components/__init__.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/components/objective_evaluator.py
  pyrit/attacks/multi_turn/__init__.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/__init__.py
  pyrit/attacks/single_turn/prompt_sending.py
  pyrit/common/default_values.py
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_classes.py
  pyrit/models/prompt_request_piece.py
  pyrit/models/prompt_request_response.py
  pyrit/prompt_normalizer/prompt_converter_configuration.py
  pyrit/score/scorer.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_conversation_manager.py
  tests/unit/attacks/test_objective_evaluator.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/score/test_scorer.py
  tests/unit/test_prompt_request_piece.py
  tests/unit/test_prompt_response.py
Due: website

validation for top_p and temperature
  pyrit/prompt_target/openai/openai_chat_target_base.py
Due: website

get instead of direct array access, split role translation logic out into its own method, add more descriptive exception
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

pre-commit
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

deprecated prompt sending and red teaming orchestrators
  pyrit/attacks/__init__.py
  pyrit/common/__init__.py
  pyrit/common/deprecation.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_red_teaming_orchestrator.py
Due: website

fixed the issue with python 3.10
  pyrit/common/deprecation.py
  pyrit/orchestrator/multi_turn/red_teaming_orchestrator.py
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
Due: website

Removed achieved_objective field from context
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

MAINT Removed achieved_objective field from context (#956)
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_sending.py
  tests/unit/attacks/test_prompt_sending.py
  tests/unit/attacks/test_red_teaming.py
Due: website

safe field access
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

draft 3
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/datasets/score/scorer_evals/csv_results/SelfAskLikertScorer/hate_speech.csv
  pyrit/datasets/score/scorer_evals/eval_datasets/likert_hate_speech_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/eval_datasets/likert_violence_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech.csv
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/SAMPLE_hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech.csv
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/hate_speech_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/harm/likert_violence_sample_dataset.csv
  pyrit/datasets/score/scorer_evals/harm/violence.csv
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_metrics.json
  pyrit/datasets/score/scorer_evals/harm/violence_SelfAskLikertScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/metrics/SelfAskLikertScorer/hate_speech.json
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal.csv
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_metrics.json
  pyrit/datasets/score/scorer_evals/objective/SAMPLE_mixed_objective_refusal_SelfAskRefusalScorer_scoring_results.csv
  pyrit/datasets/score/scorer_evals/objective/mixed_objective_refusal.csv
  pyrit/score/human_labeled_dataset.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluator.py
Due: remove-notebook-headers, check-links, website

Crescendo orchestrator refactoring
  pyrit/attacks/base/attack_context.py
  pyrit/attacks/multi_turn/__init__.py
  pyrit/attacks/multi_turn/crescendo.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/models/seed_prompt.py
  tests/unit/attacks/test_red_teaming.py
Due: website

fixing pre-commit for windows
  .github/workflows/build_and_test.yml
Due: none

updated the build matrix
  .github/workflows/build_and_test.yml
Due: none

fixed env-var
  .github/workflows/build_and_test.yml
Due: none

testing pre-commit failure
  pyrit/attacks/base/attack_context.py
Due: website

reverted the test string
  pyrit/attacks/base/attack_context.py
Due: website

FIX fixing pre-commit for windows (#957)
  .github/workflows/build_and_test.yml
  pyrit/attacks/base/attack_context.py
Due: website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
