Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

FEAT Allow context free grammars in OpenAI Responses (#1151)
  build_scripts/check_links.py
  doc/code/targets/8_openai_responses_target.ipynb
  doc/code/targets/8_openai_responses_target.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: remove-notebook-headers, check-links, website

Drafting a test
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

Fill out test
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

Propose fix for test
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

added endpoint to regex
  pyrit/prompt_target/openai/openai_target.py
Due: website

Whitespace trim
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

blacken
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

precommit
  pyrit/prompt_target/openai/openai_target.py
Due: website

precommit fixes
  doc/cookbooks/5_psychosocial_harms.ipynb
  doc/cookbooks/5_psychosocial_harms.py
  pyrit/datasets/executors/psychosocial_harm/escalation_crisis_v1.yaml
  pyrit/score/float_scale/conversation_scorer.py
Due: remove-notebook-headers, check-links, website

pr feedback and pre-commit
  .env_example
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  pyrit/cli/__main__.py
  pyrit/cli/initializer_registry.py
  pyrit/setup/__init__.py
  pyrit/setup/initializers/scenarios/objective_list.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  tests/unit/cli/test_cli_main.py
  tests/unit/cli/test_initializer_registry.py
  tests/unit/target/test_openai_chat_target.py
Due: remove-notebook-headers, check-links, website

small edits to work with our integration tests
  .env_example
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

BUG Fix for `responses` API (#1156)
  .env_example
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_openai_responses_gpt5.py
Due: website

pr feedback and pre-commit
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  pyrit/cli/initializer_registry.py
  pyrit/setup/initializers/scenarios/openai_objective_target.py
  tests/unit/cli/test_initializer_registry.py
Due: remove-notebook-headers, check-links, website

fix notebook and change env variable
  doc/deployment/score_aml_endpoint.ipynb
  doc/deployment/score_aml_endpoint.py
Due: remove-notebook-headers, website

moving scenario_result
  pyrit/models/__init__.py
  pyrit/models/scenario_result.py
  pyrit/scenarios/__init__.py
  pyrit/scenarios/printer/console_printer.py
  pyrit/scenarios/printer/scenario_result_printer.py
  pyrit/scenarios/scenario.py
Due: website

scenario result interface working
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/scenario_result.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
Due: website

address straightforward comments
  doc/_toc.yml
  pyrit/prompt_target/playwright_copilot_target.py
Due: website

extract content if ready function
  doc/_toc.yml
  doc/generate_docs/pct_to_ipynb.py
  pyrit/prompt_target/playwright_copilot_target.py
  tests/integration/targets/test_notebooks_targets.py
Due: check-links, website

break up multimodal extract method
  pyrit/prompt_target/playwright_copilot_target.py
Due: website

follow-up fixes to tests
  pyrit/prompt_target/playwright_copilot_target.py
  tests/unit/target/test_playwright_copilot_target.py
  tests/unit/target/test_playwright_target.py
Due: website

pre-commit
  doc/code/targets/playwright_target.ipynb
  doc/code/targets/playwright_target_copilot.ipynb
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_playwright_copilot_target.py
  tests/unit/target/test_playwright_target.py
Due: remove-notebook-headers, website

fix lexer error
  doc/deployment/score_aml_endpoint.ipynb
Due: remove-notebook-headers

Make optional IPython import optional
  pyrit/executor/attack/printer/markdown_printer.py
Due: website

MAINT: added Azure Sora Endpoint Regex Pattern (#1157)
  pyrit/prompt_target/openai/openai_target.py
Due: website

SQL Azure integration tests
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
Due: website

FIX: Plaintext API Leakage (#1137)
  doc/deployment/score_aml_endpoint.ipynb
  doc/deployment/score_aml_endpoint.py
Due: remove-notebook-headers, website

cleaning up pre-commit and tests
  pyrit/common/apply_defaults.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/scenario_result.py
  pyrit/scenarios/printer/console_printer.py
  pyrit/scenarios/scenario.py
  tests/integration/memory/test_azure_sql_memory_integration.py
  tests/unit/cli/test_initializer_registry.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
  tests/unit/score/test_scorer.py
Due: website

fixing some test warnings
  pyrit/prompt_converter/transparency_attack_converter.py
  tests/unit/converter/test_math_prompt_converter.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/target/test_huggingface_chat_target.py
  tests/unit/test_azure_storage_auth.py
  tests/unit/test_common_net_utility.py
  tests/unit/test_hf_model_downloads.py
  tests/unit/test_prompt_normalizer.py
Due: website

more test fixes
  tests/unit/target/test_huggingface_chat_target.py
  tests/unit/test_common_net_utility.py
  tests/unit/test_prompt_normalizer.py
Due: website

adding scenario strategies to scenario class
  .github/instructions/style-guide.instructions.md
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
Due: website

llamafile
  doc/_toc.yml
  doc/llamafile_guide.fr.md
Due: check-links

Adding excpetion for JailbrakV-28k dataset in integration presence verification
  tests/integration/datasets/test_fetch_datasets.py
  tests/unit/datasets/test_exists_integration_test.py
Due: website

closer
  doc/code/front_end/0_cli.ipynb
  pyrit/cli/__main__.py
  pyrit/cli/scenario_registry.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_strategies.py
  tests/unit/test_strategy_validation.py
Due: remove-notebook-headers, website

pr feedback
  pyrit/memory/azure_sql_memory.py
Due: website

FIX Make optional IPython import in markdown printer optional (#1158)
  pyrit/executor/attack/printer/markdown_printer.py
Due: website

MAINT: Fixing low-hanging test warnings (#1160)
  pyrit/prompt_converter/transparency_attack_converter.py
  tests/unit/converter/test_math_prompt_converter.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/target/test_huggingface_chat_target.py
  tests/unit/test_azure_storage_auth.py
  tests/unit/test_hf_model_downloads.py
  tests/unit/test_prompt_normalizer.py
Due: website

fixing up everything
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  pyrit/cli/__main__.py
  pyrit/cli/scenario_registry.py
  pyrit/common/apply_defaults.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenario_strategy.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/cli/test_cli_main.py
  tests/unit/cli/test_scenario_registry.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_seed_prompts.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_strategies.py
  tests/unit/scenarios/test_strategy_validation.py
  tests/unit/score/test_scorer.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/test_message_piece.py
Due: remove-notebook-headers, check-links, website

pre-commit
  tests/unit/scenarios/test_strategy_validation.py
Due: website
