Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

Fix ruff format and unused import in validate_docs.py
  build_scripts/validate_docs.py
Due: website

Restore builder three-column layout
  frontend/src/components/Builder/PromptBuilderPage.tsx
Due: none

Fix typo in Makefile: build_build_scripts -> build_scripts
  Makefile
Due: none

fix: tag api.spec.ts tests as @seeded since they need a real backend
  frontend/e2e/api.spec.ts
Due: none

Guard incompatible builder inputs
  frontend/src/components/Builder/AttackOptionList.tsx
  frontend/src/components/Builder/PromptBuilderPage.tsx
  frontend/src/components/Builder/TestDetailsPanel.tsx
  frontend/src/components/Builder/builderUtils.test.ts
  frontend/src/components/Builder/builderUtils.ts
Due: none

Fix API doc generation and RSS path for CI
  build_scripts/gen_api_md.py
  build_scripts/generate_rss.py
  build_scripts/pydoc2json.py
Due: website

Rewrite RSS generation to parse source markdown instead of JB1 HTML
  build_scripts/generate_rss.py
Due: website

Fix option tag wrapping
  frontend/src/components/Builder/AttackOptionList.tsx
Due: none

feat: add ISO 42001 aligned harm definitions for AI supply chain, transparency and governance
  pyrit/datasets/harm_definition/ai_governance_failure.yaml
  pyrit/datasets/harm_definition/ai_supply_chain.yaml
  pyrit/datasets/harm_definition/ai_system_transparency.yaml
Due: none

Fix 11 Dependabot security alerts
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: none

Fix type annotation warnings and test warnings (issue #442) (#1459)
  pyrit/prompt_converter/translation_converter.py
  pyrit/prompt_target/azure_blob_storage_target.py
  tests/unit/scenarios/test_leakage_scenario.py
  tests/unit/target/test_tts_target.py
  tests/unit/target/test_websocket_copilot_target.py
Due: website

Address PR #1417 review comments
  pyrit/cli/banner.py
  pyrit/cli/banner_assets.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_banner.py
  tests/unit/cli/test_pyrit_shell.py
Due: website

Add tests for animation stdout output and Ctrl+C fallback
  tests/unit/cli/test_banner.py
Due: website

feat: register ISO 42001 harm scales in LikertScalePaths enum
  pyrit/score/float_scale/self_ask_likert_scorer.py
Due: website

Fix ruff RSE102: remove unnecessary parentheses on raise KeyboardInterrupt
  tests/unit/cli/test_banner.py
Due: website

FIX address dependabot alerts by bumping package versions (#1460)
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: none

MAINT: Optimize devcontainer Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/devcontainer_setup.sh
  build_scripts/prepare_package.py
Due: website

remove shebang - all references use python
  build_scripts/prepare_package.py
  docker/build_pyrit_docker.py
  docker/run_pyrit_docker.py
Due: check-links, website

move azure cli to devcontainer feature
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

redesign
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/harmbench_dataset.py
  pyrit/datasets/seed_datasets/remote/jbb_behaviors_dataset.py
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_seed_dataset_metadata.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

Addig openai invalid_prompt safety blocks as content filters
  pyrit/prompt_target/openai/openai_error_handling.py
  tests/unit/target/test_openai_error_handling.py
Due: website

pre-commit
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/common/target_capabilities.py
  pyrit/prompt_target/gandalf_target.py
  pyrit/prompt_target/http_target/http_target.py
  pyrit/prompt_target/hugging_face/hugging_face_endpoint_target.py
  pyrit/prompt_target/openai/openai_image_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  pyrit/prompt_target/openai/openai_tts_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/unit/target/test_http_target.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_playwright_copilot_target.py
Due: website

review
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/remote/harmbench_dataset.py
  pyrit/datasets/seed_datasets/remote/remote_dataset_loader.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_seed_dataset_metadata.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

add raises
  pyrit/prompt_target/common/prompt_target.py
Due: website

tests
  pyrit/datasets/seed_datasets/local/local_dataset_loader.py
  pyrit/datasets/seed_datasets/seed_dataset_provider.py
  pyrit/datasets/seed_datasets/seed_metadata.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_seed_dataset_metadata.py
  tests/unit/datasets/test_seed_dataset_provider.py
Due: website

Adding support for async in azure content filter scorer
  pyrit/auth/__init__.py
  pyrit/auth/azure_auth.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/integration/mocks.py
  tests/integration/score/test_azure_content_filter_integration.py
  tests/unit/score/test_azure_content_filter.py
Due: website

precommit
  pyrit/datasets/seed_datasets/remote/jbb_behaviors_dataset.py
Due: website

FIX: Adding openai invalid_prompt safety blocks as content filters (#1463)
  pyrit/prompt_target/openai/openai_error_handling.py
  tests/unit/target/test_openai_error_handling.py
Due: website

FEAT Animated ASCII banner with raccoon mascot for PyRIT CLI (#1417)
  pyrit/cli/banner.py
  pyrit/cli/banner_assets.py
  pyrit/cli/pyrit_shell.py
  tests/unit/cli/test_banner.py
  tests/unit/cli/test_pyrit_shell.py
Due: website

Adding demo
  doc/_toc.yml
  doc/code/targets/websocket_target.ipynb
  pyrit/prompt_target/websocket_target.py
  tests/unit/target/test_websocket_target.py
Due: remove-notebook-headers, validate-jupyter-book, website

FEAT: CBT-Bench Dataset (#1411)
  doc/code/datasets/1_loading_datasets.ipynb
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/cbt_bench_dataset.py
  tests/unit/datasets/test_cbt_bench_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

DOC Upgrade to jupyterbook v2 and add proper landing page (#1458)
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  Makefile
  build_scripts/conditional_jb_build.py
  build_scripts/gen_api_md.py
  build_scripts/generate_rss.py
  build_scripts/pydoc2json.py
  build_scripts/validate_docs.py
  build_scripts/validate_jupyter_book.py
  doc/.gitignore
  doc/_config.yml
  doc/_toc.yml
  doc/api.rst
  doc/banner.png
  doc/conf.py
  doc/css/custom.css
  doc/index.md
  doc/myst.yml
  pyproject.toml
  tests/unit/docs/test_api_documentation.py
Due: check-links, validate-jupyter-book, website

Fix GitHub Pages 404: use static HTML output for deployment
  .github/workflows/docs.yml
  Makefile
Due: none

DOC GitHub Pages 404: use static HTML output for deployment (#1465)
  .github/workflows/docs.yml
  Makefile
Due: none

Fix GitHub Pages: static HTML + BASE_URL env var
  .github/workflows/docs.yml
Due: none

DOC fix pages deploy (#1466)
  .github/workflows/docs.yml
Due: none

Fix pre-commit: add Returns docstring to __aenter__ and ruff format fix
  pyrit/auth/azure_auth.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
Due: website

FIX: fixing navbar link
  doc/myst.yml
Due: none

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
