Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

website:
  name: Jupyter Book Build Check
  entry: jb build -W -q ./doc
  language: system
  pass_filenames: false

More scaffolding
  pyrit/containers/__init__.py
  pyrit/containers/config/ctf-compose.yaml
  pyrit/containers/config/ctf.dockerfile
  pyrit/containers/config/ctf_challenge/flag.txt
  pyrit/containers/config/ctf_challenge/mcp_server.py
  pyrit/containers/config/ctf_challenge/target_app.py
  pyrit/containers/runtime.py
  pyrit/containers/utils.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/simulation/runtime.py
  pyrit/simulation/utils.py
  tests/unit/containers/config/test_ctf.py
  tests/unit/containers/test_runtime.py
Due: website

MAINT: Creating an interface for scenarios (#1184)
  doc/code/front_end/0_cli.ipynb
  doc/code/front_end/0_cli.py
  doc/code/scenarios/scenarios.ipynb
  doc/code/scenarios/scenarios.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  pyrit/cli/__main__.py
  pyrit/scenarios/scenario.py
  pyrit/scenarios/scenarios/encoding_scenario.py
  pyrit/scenarios/scenarios/foundry_scenario.py
  tests/unit/cli/test_cli_main.py
  tests/unit/scenarios/test_encoding_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
  tests/unit/scenarios/test_scenario.py
  tests/unit/scenarios/test_scenario_partial_results.py
  tests/unit/scenarios/test_scenario_retry.py
  tests/unit/scenarios/test_scenario_strategies.py
Due: remove-notebook-headers, check-links, website

changing data column name, changing file structure, adding self harm to notebook
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/exploits_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/exploit_dataset_v1.csv
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/self_harm_dataset_v1.csv
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
Due: remove-notebook-headers, check-links, website

moving more dataset files
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/likert_scales/information_integrity_v1.yaml
  pyrit/score/config/likert_scales/self_harm_v2.yaml
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/hate_speech_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/10_22_2025_evaluation_dataset/information_ingetrity_evaluation_dataset.csv
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/hate_speech_dataset_v1.csv
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/information_integrity_dataset_v1.csv
Due: remove-notebook-headers, check-links, website

fix category loading for winogenerated and advanced-ai-risk. winogenerated loading has empty prompts winogenerated_occupations.jsonl???
  pyrit/datasets/anthropic_evals_dataset.py
  tests/unit/datasets/test_anthropic_evals_dataset.py
Due: website

propagate params in attack executor functions
  pyrit/executor/attack/core/attack_executor.py
  pyrit/scenarios/atomic_attack.py
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

FIX propagate params in attack executor functions (#1187)
  pyrit/executor/attack/core/attack_executor.py
  pyrit/scenarios/atomic_attack.py
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

front end refactor
  .flake8
  .pre-commit-config.yaml
  doc/code/front_end/0_cli.ipynb
  pyproject.toml
  pyrit/cli/frontend_core.py
  pyrit/cli/initializer_registry.py
  pyrit/cli/pyrit_scan.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/cli/test_pyrit_shell.py
Due: remove-notebook-headers, website

Removed hardcoded unit test and added fast/slow dichotomy
  pyrit/scenarios/scenarios/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

adapting front end to new scenario constructors
  .flake8
  doc/_toc.yml
  doc/code/front_end/0_front_end.md
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/front_end/2_pyrit_shell.md
  pyrit/cli/__main__.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_shell.py
  pyrit/cli/scenario_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/cli/test_pyrit_shell.py
  tests/unit/cli/test_scenario_registry.py
Due: remove-notebook-headers, check-links, website

scaffolding again
  pyrit/containers/runtime.py
  pyrit/containers/utils.py
Due: website

fixing tests and pre-commit
  .flake8
  .pre-commit-config.yaml
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  pyrit/cli/frontend_core.py
  pyrit/cli/pyrit_scan.py
  tests/unit/cli/test_cli_main.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/cli/test_pyrit_shell.py
Due: remove-notebook-headers, check-links, website

changing how it prints ready
  pyrit/cli/frontend_core.py
Due: website

changing doc titles
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/2_pyrit_shell.md
Due: remove-notebook-headers, check-links

interface refactoring
  pyrit/scenarios/scenarios/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

Moving scenario under airt
  pyrit/scenarios/__init__.py
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
Due: website

Precommit fixes
  pyrit/scenarios/scenarios/airt/cyber_scenario.py
  tests/unit/scenarios/test_cyber_scenario.py
Due: website

make the config simpler
  .pre-commit-config.yaml
  pyproject.toml
Due: none

restore 7_batch_scorer
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
Due: remove-notebook-headers, check-links, website

fix 7_batch_scorer
  doc/code/scoring/7_batch_scorer.ipynb
  doc/code/scoring/7_batch_scorer.py
Due: remove-notebook-headers, check-links, website

Add the JSONResponseConfig class
  pyrit/models/__init__.py
  pyrit/models/json_response_config.py
  tests/unit/models/test_json_response_config.py
Due: website

Better name
  tests/unit/models/test_json_response_config.py
Due: website

Start on other changes
  pyrit/prompt_target/common/prompt_chat_target.py
Due: website

Next changes
  pyrit/prompt_target/openai/openai_chat_target_base.py
Due: website

use google convention
  pyrit/auxiliary_attacks/gcg/attack/base/attack_manager.py
  pyrit/auxiliary_attacks/gcg/attack/gcg/gcg_attack.py
Due: website

don't use `noqa: D415` if not really needed
  pyrit/chat_message_normalizer/chat_message_normalizer_tokenizer.py
  pyrit/executor/attack/single_turn/many_shot_jailbreak.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/models/storage_io.py
  pyrit/prompt_converter/transparency_attack_converter.py
  pyrit/prompt_target/azure_blob_storage_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_completion_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
Due: website

Try dealing with some linting
  pyrit/models/json_response_config.py
  pyrit/prompt_target/common/prompt_chat_target.py
Due: website

ignore D301
  pyproject.toml
  pyrit/datasets/aya_redteaming_dataset.py
  pyrit/datasets/darkbench_dataset.py
  pyrit/datasets/harmbench_multimodal_dataset.py
  pyrit/datasets/mlcommons_ailuminate_demo_dataset.py
  pyrit/datasets/sosbench_dataset.py
  pyrit/prompt_converter/image_compression_converter.py
Due: website

More changes....
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_chat_target_base.py
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

Correct responses setup
  pyrit/prompt_target/openai/openai_response_target.py
Due: website

blacken
  pyrit/prompt_target/openai/openai_chat_target.py
Due: website

Fix a test....
  tests/unit/target/test_openai_response_target.py
Due: website

Fix reponses tests
  tests/unit/target/test_openai_response_target.py
Due: website

Fix chat target tests
  pyrit/prompt_target/openai/openai_chat_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

blacken
  tests/unit/target/test_openai_chat_target.py
Due: website

Add health disinformation jailbreak datasets from Menz et al. publication
  pyrit/datasets/jailbreak/menz_health_disinformation_1.yaml
  pyrit/datasets/jailbreak/menz_health_disinformation_2.yaml
Due: none

slim side and top bars, working text+image inputs, redesigned input box
  frontend/dev.py
  frontend/public/roakey.png
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatWindow.tsx
  frontend/src/components/Chat/InputBox.tsx.backup
  frontend/src/components/Chat/MessageList.tsx
  frontend/src/components/Layout/MainLayout.tsx
  frontend/src/components/Sidebar/Navigation.tsx
  frontend/src/main.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  pyrit/backend/main.py
  pyrit/backend/routes/chat.py
  pyrit/backend/routes/config.py
  pyrit/backend/services/chat_service.py
Due: website

adding privacy files
  doc/code/scoring/scorer_evals.ipynb
  pyrit/score/config/likert_scales/privacy.yaml
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/privacy_dataset_v1.csv
Due: remove-notebook-headers

move rest of datasets
  doc/code/scoring/scorer_evals.ipynb
  doc/code/scoring/scorer_evals.py
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/sexual_content_dataset_v1.csv
  pyrit/score/config/scorer_evals/harm/human_labeled_evals/violence_dataset_v1.csv
Due: remove-notebook-headers, check-links, website

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  website: any of: \.py$
