Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

mypy
  pyrit/scenario/scenarios/airt/content_harms.py
Due: website

pre-commit again...
  pyrit/scenario/scenarios/airt/content_harms.py
Due: website

syncing uv
  uv.lock
Due: none

fixing warnings
  pyrit/datasets/seed_datasets/local/adv_bench.prompt
  pyrit/datasets/seed_datasets/local/airt/fairness.prompt
  pyrit/datasets/seed_datasets/local/airt/harassment.prompt
  pyrit/datasets/seed_datasets/local/airt/hate.prompt
  pyrit/datasets/seed_datasets/local/airt/illegal.prompt
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/datasets/seed_datasets/local/airt/malware.prompt
  pyrit/datasets/seed_datasets/local/airt/misinformation.prompt
  pyrit/datasets/seed_datasets/local/airt/scams.prompt
  pyrit/datasets/seed_datasets/local/airt/sexual.prompt
  pyrit/datasets/seed_datasets/local/airt/violence.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-multimodal-objective-group.prompt
  pyrit/datasets/seed_datasets/local/examples/illegal-objective-only-group.prompt
  pyrit/datasets/seed_datasets/local/garak/access_shell_commands.prompt
  pyrit/datasets/seed_datasets/local/garak/slur_terms_en.prompt
  pyrit/datasets/seed_datasets/local/garak/web_html_js.prompt
  pyrit/datasets/seed_datasets/local/psfuzz_steal_system.prompt
Due: none

updating pyproject to match deprecation fix
  pyproject.toml
Due: none

updating lock
  uv.lock
Due: none

fixing things
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/2_instance_registry.ipynb
  pyrit/cli/frontend_core.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/end_to_end/test_scenarios.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/cli/test_pyrit_scan.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
  tests/unit/setup/test_load_default_datasets.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixing tests
  tests/unit/cli/test_frontend_core.py
  tests/unit/setup/test_load_default_datasets.py
Due: website

pr feedback
  doc/_toc.yml
  doc/code/registry/0_registry.md
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/1_class_registry.py
  doc/code/registry/2_instance_registry.ipynb
  doc/code/registry/2_instance_registry.py
  pyrit/cli/frontend_core.py
  pyrit/registry/__init__.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  pyrit/setup/initializers/scenarios/load_default_datasets.py
  tests/end_to_end/test_scenarios.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
  tests/unit/setup/test_load_default_datasets.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

adding audio and tool support to chat completions
  doc/api.rst
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/openai/completions_audio_config.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_openai_chat_target_integration.py
  tests/unit/target/test_completions_audio_config.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_prompt_target.py
Due: validate-jupyter-book, website

doc fix
  pyrit/prompt_target/openai/completions_audio_config.py
Due: website

precommit
  pyrit/prompt_target/openai/completions_audio_config.py
  pyrit/prompt_target/openai/openai_chat_target.py
  tests/integration/targets/test_openai_chat_target_integration.py
  tests/unit/target/test_completions_audio_config.py
  tests/unit/target/test_openai_chat_target.py
Due: website

precommit
  pyrit/prompt_target/openai/completions_audio_config.py
Due: website

added unique pyrit uuids
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
Due: website

removed limit and random sampling
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  tests/integration/datasets/test_seed_dataset_provider_integration.py
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
Due: website

removed exports
  pyrit/datasets/seed_datasets/remote/__init__.py
Due: website

Refactor to move metadata from messages to results
  doc/api.rst
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/attack_strategy.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/printer/console_printer.py
  pyrit/executor/attack/printer/markdown_printer.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/attack/single_turn/skeleton_key.py
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/memory/azure_sql_memory.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
  pyrit/memory/sqlite_memory.py
  pyrit/models/attack_result.py
  pyrit/models/message_piece.py
  pyrit/models/score.py
  pyrit/score/aggregator_utils.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/score_aggregator_result.py
  pyrit/score/score_utils.py
  pyrit/score/scorer.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/attack/core/test_markdown_printer.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_skeleton_key.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/memory/memory_interface/test_interface_attack_results.py
Due: validate-jupyter-book, website

fixing tests
  pyrit/executor/benchmark/fairness_bias.py
  pyrit/models/score.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/executor/attack/core/test_attack_strategy.py
  tests/unit/executor/benchmark/test_fairness_bias.py
Due: website

adding tests
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/models/attack_result.py
  pyrit/models/score.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/score_utils.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  pyrit/score/true_false/true_false_score_aggregator.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/score/test_score_utils.py
Due: website

notebook
  doc/_toc.yml
  doc/code/targets/websocket_copilot_target.ipynb
  doc/code/targets/websocket_copilot_target.py
  pyrit/auth/copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fixing precommit stuff
  doc/code/targets/websocket_copilot_target.ipynb
  doc/code/targets/websocket_copilot_target.py
  pyrit/auth/copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/auth/test_copilot_authenticator.py
  websocket_copilot_simple_example.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

refresh_token_async/get_token_async
  pyrit/auth/authenticator.py
  pyrit/auth/copilot_authenticator.py
  pyrit/prompt_target/websocket_copilot_target.py
  tests/unit/auth/test_copilot_authenticator.py
  tests/unit/target/test_websocket_copilot_target.py
Due: website

ProactorEventLoop && notebook rerun
  doc/code/targets/websocket_copilot_target.ipynb
  doc/code/targets/websocket_copilot_target.py
  pyrit/auth/copilot_authenticator.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pr feedback
  doc/code/registry/2_instance_registry.py
  pyrit/score/true_false/prompt_shield_scorer.py
  tests/unit/cli/test_frontend_core.py
Due: check-links, validate-jupyter-book, website

pr feedback
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/front_end/2_pyrit_shell.md
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/1_class_registry.py
  pyrit/registry/discovery.py
  pyrit/scenario/scenarios/foundry/__init__.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

precommit
  doc/api.rst
  doc/code/front_end/1_pyrit_scan.ipynb
  doc/code/front_end/1_pyrit_scan.py
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/1_class_registry.py
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  doc/code/setup/2_resiliency.ipynb
  doc/code/setup/2_resiliency.py
  pyrit/scenario/__init__.py
  pyrit/scenario/scenarios/foundry/red_team_agent.py
  tests/unit/scenarios/test_foundry.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/registry/1_class_registry.ipynb
Due: remove-notebook-headers, validate-jupyter-book

pre-commit
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/1_class_registry.py
  doc/code/registry/2_instance_registry.ipynb
  doc/code/registry/2_instance_registry.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Updated! Text and image prompts now always share the same prompt_group_id and are added/skipped together based on combined_grade. This ensures they can be sent as a single multimodal message.
  pyrit/datasets/seed_datasets/remote/vlsu_multimodal_dataset.py
  pyrit/models/seed.py
  tests/unit/datasets/test_vlsu_multimodal_dataset.py
Due: website

draft
  pyrit/datasets/score/likert/dependency_management.yaml
  pyrit/datasets/seed_datasets/local/airt/psychosocial_therapist_boundaries.prompt
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
Due: website

more mypy fixes
  pyrit/executor/attack/core/attack_executor.py
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/message_normalizer/chat_message_normalizer.py
  pyrit/models/scenario_result.py
  pyrit/models/seeds/seed.py
  pyrit/models/seeds/seed_dataset.py
  pyrit/models/seeds/seed_group.py
  pyrit/models/seeds/seed_prompt.py
  pyrit/models/seeds/seed_simulated_conversation.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/scenario/core/atomic_attack.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/self_ask_likert_scorer.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/human_labeled_dataset.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/true_false/true_false_scorer.py
Due: website

pillow fix to use getdata instead of get_flattened_data
  tests/unit/converter/test_add_image_text_converter.py
  tests/unit/converter/test_add_text_image_converter.py
Due: website

fix unit tests, pre-commit
  pyrit/message_normalizer/chat_message_normalizer.py
  pyrit/models/data_type_serializer.py
  pyrit/models/storage_io.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

small fixes post-merge
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
Due: website

fix for py 3.11 typing
  pyrit/common/utils.py
Due: website
