Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

remove-notebook-headers:
  name: Remove Notebook Headers
  entry: python ./build_scripts/remove_notebook_headers.py
  language: python

check-links:
  name: Check Links in Python and md Files
  entry: python ./build_scripts/check_links.py
  language: python
  additional_dependencies:
  - requests

validate-jupyter-book:
  name: Validate Jupyter Book Structure
  entry: python ./build_scripts/validate_jupyter_book.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

website:
  name: Jupyter Book Build Check
  entry: python ./build_scripts/conditional_jb_build.py
  language: system
  pass_filenames: false

pre-commit
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FIX: initializer doc fix (#1241)
  doc/code/scoring/prompt_shield_scorer.ipynb
  doc/code/setup/pyrit_initializer.ipynb
  doc/code/setup/pyrit_initializer.py
  doc/code/targets/1_openai_chat_target.ipynb
  doc/code/targets/5_multi_modal_targets.ipynb
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT: Updating FoundryScenario
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/1_composite_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/code/scenarios/1_composite_scenario.ipynb
Due: remove-notebook-headers, validate-jupyter-book

update manifest to include dataset files, remove obsolete directory
  MANIFEST.in
Due: none

fix typo
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_coding.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

clean up flip attack notebook
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT: Foundry Scenario Updates (#1243)
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.py
  doc/code/scenarios/1_composite_scenario.ipynb
  doc/code/scenarios/1_composite_scenario.py
  pyrit/scenario/scenarios/foundry_scenario.py
  tests/unit/scenarios/test_foundry_scenario.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

FIX: Fixing jailbreak content (#1238)
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2.yaml
  pyrit/datasets/jailbreak/templates/pliny/alibaba/qwen_2_5_max.yaml
  pyrit/datasets/jailbreak/templates/pliny/apple/siri_chatgpt.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_1_5_pro_experimental_0801.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_flash_thinking_exp.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_2_0_pro_experimental.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1114.yaml
  pyrit/datasets/jailbreak/templates/pliny/google/gemini_experimental_1206_flash_2_0.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/llama_3_1_nemotron_70b.yaml
  pyrit/datasets/jailbreak/templates/pliny/nvidia/nemotron_7_340b.yaml
  pyrit/datasets/jailbreak/templates/pliny/openai/chatgpt_tasks.yaml
Due: none

MAINT: Adding End to End Tests for all scenarios (#1239)
  Makefile
  build_scripts/env_local_integration_test
  end-to-end-tests.yml
  tests/end_to_end/__init__.py
  tests/end_to_end/test_scenarios.py
Due: website

pre-commit
  doc/code/executor/attack/flip_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Update pyrit/score/scorer_prompt_validator.py
  pyrit/score/scorer_prompt_validator.py
Due: website

pr feedback
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  pyrit/auth/__init__.py
  pyrit/auth/azure_auth.py
  pyrit/exceptions/exception_classes.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/common/utils.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/scorer.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_gandalf_scorer.py
  tests/unit/score/test_insecure_code_scorer.py
  tests/unit/score/test_look_back_scorer.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/score/test_self_ask_likert.py
  tests/unit/score/test_self_ask_refusal.py
  tests/unit/score/test_self_ask_true_false.py
  tests/unit/score/test_true_false_inverter.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixed a bug and added an integration test
  pyrit/auth/azure_auth.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/scorer.py
  tests/integration/score/test_azure_content_filter_integration.py
Due: website

test fix
  tests/integration/score/test_azure_content_filter_integration.py
  tests/unit/score/test_azure_content_filter.py
Due: website

FIX typo in dataset coding notebook (#1245)
  doc/code/datasets/4_dataset_coding.ipynb
  doc/code/datasets/4_dataset_coding.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

MAINT update manifest to include dataset files, remove obsolete directory (#1244)
  MANIFEST.in
Due: none

weird how this test was failing but fixed
  tests/unit/converter/test_add_image_text_converter.py
Due: website

FIX: AzureContentFilterScorer Improvements (#1242)
  doc/code/scoring/1_azure_content_safety_scorers.ipynb
  pyrit/auth/__init__.py
  pyrit/auth/azure_auth.py
  pyrit/exceptions/exception_classes.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  pyrit/prompt_target/common/utils.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  pyrit/score/float_scale/float_scale_score_aggregator.py
  pyrit/score/scorer.py
  pyrit/score/scorer_prompt_validator.py
  pyrit/score/true_false/float_scale_threshold_scorer.py
  tests/integration/score/test_azure_content_filter_integration.py
  tests/integration/targets/test_target_filters.py
  tests/unit/converter/test_add_image_text_converter.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/score/test_azure_content_filter.py
  tests/unit/score/test_float_scale_score_aggregator.py
  tests/unit/score/test_float_scale_threshold_scorer.py
  tests/unit/score/test_gandalf_scorer.py
  tests/unit/score/test_insecure_code_scorer.py
  tests/unit/score/test_look_back_scorer.py
  tests/unit/score/test_scorer_prompt_validator.py
  tests/unit/score/test_self_ask_category.py
  tests/unit/score/test_self_ask_likert.py
  tests/unit/score/test_self_ask_refusal.py
  tests/unit/score/test_self_ask_true_false.py
  tests/unit/score/test_true_false_inverter.py
Due: remove-notebook-headers, validate-jupyter-book, website

pre-commit should pass now
  pyrit/datasets/seed_datasets/remote/aegis_ai_content_safety_dataset.py
Due: website

added platform: linux/amd64
  .devcontainer/docker-compose.yml
Due: none

added platform: linux/amd64
  .devcontainer/Dockerfile
Due: none

nbstripout
  doc/code/executor/attack/flip_attack.ipynb
Due: remove-notebook-headers, validate-jupyter-book

MAINT clean up flip attack notebook (#1246)
  doc/code/executor/attack/flip_attack.ipynb
  doc/code/executor/attack/flip_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

uncomment
  .github/workflows/build_and_test.yml
Due: none

fix missing env var
  .github/workflows/build_and_test.yml
Due: none

custom uv cache dir
  .github/workflows/build_and_test.yml
Due: none

simple example
  .github/workflows/build_and_test.yml
Due: none

lost changes
  .github/workflows/build_and_test.yml
Due: none

remove lock
  .github/workflows/build_and_test.yml
Due: none

convert
  .github/workflows/build_and_test.yml
Due: none

always all install
  .github/workflows/build_and_test.yml
Due: none

update all
  .devcontainer/Dockerfile
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
  uv.lock
Due: none

always use all
  .github/workflows/build_and_test.yml
Due: none

fix toc
  doc/_toc.yml
Due: validate-jupyter-book

update build book
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

use extra command
  .github/workflows/build_and_test.yml
Due: none

update book yml
  .github/workflows/build_and_test.yml
  .github/workflows/docs.yml
Due: none

install uv in build book
  .github/workflows/docs.yml
Due: none

run jb
  Makefile
Due: none

Path conditions:
  remove-notebook-headers: any of: ^doc.*\.(ipynb)$
  check-links: any of: ^doc.*\.(py|md)$, but not: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)
  validate-jupyter-book: any of: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
  website: any of: \.py$
