Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

pre-commit
  pyrit/identifiers/evaluation_identity.py
  tests/unit/identifiers/test_evaluation_identity.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: website

Revert RuntimeError change, keep bare raise in handle_bad_request_exception
  pyrit/exceptions/exception_classes.py
Due: website

Thread capabilities parameter through target constructors
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Update tests/unit/scenarios/test_psychosocial_harms.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

Update doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/0_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

copilot suggestions
  pyrit/scenario/scenarios/airt/content_harms.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

Update tests/unit/scenarios/test_leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

pre-commit
  pyrit/identifiers/evaluation_identity.py
  tests/unit/score/test_scorer_evaluation_identity.py
Due: website

add uv lock and fix test
  pyrit/scenario/core/scenario_strategy.py
  tests/unit/scenarios/test_psychosocial_harms.py
  uv.lock
Due: website

precommit
  pyrit/prompt_converter/scientific_translation_converter.py
Due: website

fix after main
  pyrit/prompt_converter/scientific_translation_converter.py
Due: website

add datasets and edit datasets and add yaml
  pyrit/datasets/score/true_false_question/task_achieved_refined.yaml
  pyrit/datasets/scorer_evals/objective/bias.csv
  pyrit/datasets/scorer_evals/objective/exploits.csv
  pyrit/datasets/scorer_evals/objective/info_integrity.csv
  pyrit/datasets/scorer_evals/objective/privacy.csv
  pyrit/datasets/scorer_evals/objective/self_harm.csv
  pyrit/datasets/scorer_evals/objective/sexual.csv
  pyrit/datasets/scorer_evals/objective/violence.csv
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_scorer_evaluator.py
Due: website

Remove redundant supports_multi_turn property overrides from subclasses
  pyrit/prompt_target/common/prompt_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/playwright_copilot_target.py
  pyrit/prompt_target/playwright_target.py
  pyrit/prompt_target/websocket_copilot_target.py
Due: website

Re-apply --config-file changes to pyrit_backend.py lost during merge
  pyrit/cli/pyrit_backend.py
Due: website

Add TemplateSyntaxError handling for BeaverTails prompts
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
  tests/unit/datasets/test_beaver_tails_dataset.py
Due: website

Revert unrelated markdown_printer.py change
  pyrit/executor/attack/printer/markdown_printer.py
Due: website

use enummeta
  pyrit/scenario/core/scenario_strategy.py
Due: website

erroneous changes
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
  pyrit/datasets/scorer_evals/sample/test_refusal_metrics.jsonl
Due: remove-notebook-headers, validate-jupyter-book

MAINT/FIX: Generalizing eval-hash (#1434)
  doc/api.rst
  pyrit/identifiers/__init__.py
  pyrit/identifiers/evaluation_identity.py
  pyrit/models/scenario_result.py
  pyrit/score/float_scale/float_scale_scorer.py
  pyrit/score/printer/console_scorer_printer.py
  pyrit/score/scorer.py
  pyrit/score/scorer_evaluation/scorer_evaluation_identity.py
  pyrit/score/scorer_evaluation/scorer_evaluator.py
  pyrit/score/scorer_evaluation/scorer_metrics_io.py
  pyrit/score/true_false/true_false_scorer.py
  tests/unit/identifiers/test_component_identifier.py
  tests/unit/identifiers/test_evaluation_identity.py
  tests/unit/score/test_scorer_evaluation_identity.py
  tests/unit/score/test_scorer_evaluator.py
  tests/unit/score/test_scorer_metrics.py
  tests/unit/target/test_prompt_target_text.py
Due: validate-jupyter-book, website

median change and undo jsonl changes
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/score/scorer_evaluation/scorer_evaluator.py
Due: website

Address remaining PR review comments
  doc/code/executor/attack/3_crescendo_attack.ipynb
  doc/code/executor/attack/3_crescendo_attack.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/unit/target/test_supports_multi_turn.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fix corrupted characters and tests
  pyrit/datasets/scorer_evals/harm/bias.csv
  pyrit/datasets/scorer_evals/objective/bias.csv
  pyrit/datasets/scorer_evals/objective/violence.csv
  tests/unit/score/test_scorer_eval_csv_schema.py
Due: website

FIX Add arm64 support for devcontainer
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

FIX: Add arm64 Support for `devcontainer` (#1409)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: none

FEAT Add BeaverTails dataset loader (#1424)
  pyrit/datasets/seed_datasets/remote/__init__.py
  pyrit/datasets/seed_datasets/remote/beaver_tails_dataset.py
  tests/unit/datasets/test_beaver_tails_dataset.py
Due: website

Regenerate prompt_sending_attack notebook
  doc/code/executor/attack/1_prompt_sending_attack.ipynb
  doc/code/executor/attack/1_prompt_sending_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Add comprehensive tests for attack rotation and system prompt carryover
  pyrit/executor/attack/multi_turn/chunked_request.py
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
Due: website

Add edge case tests for rotation and TAP duplication
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
Due: website

Add more edge case tests for rotation and TAP duplication
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
Due: website

Add TAP branching integration test for system prompt preservation
  tests/unit/executor/attack/multi_turn/test_supports_multi_turn_attacks.py
Due: website

Update supports_multi_turn docstring to reflect capabilities pattern
  pyrit/prompt_target/common/prompt_target.py
Due: website

Add unit tests for OpenAI auth resolution branches
  tests/unit/target/test_openai_target_auth.py
Due: website

Guard against sync callables returning awaitables in AzureContentFilterScorer
  pyrit/score/float_scale/azure_content_filter_scorer.py
  tests/unit/score/test_azure_content_filter.py
Due: website

Regenerate TAP notebook with clean output
  doc/code/executor/attack/tap_attack.ipynb
  doc/code/executor/attack/tap_attack.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

Rerun 1_loading_datasets notebook with clean outputs
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book

Regenerate 1_loading_datasets.ipynb via jupytext
  doc/code/datasets/1_loading_datasets.ipynb
Due: remove-notebook-headers, validate-jupyter-book
