Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        exclude: (doc/|.github/|pyrit/prompt_converter/morse_converter.py|tests/unit/converter/test_prompt_converter.py|pyrit/prompt_converter/emoji_converter.py)

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pycqa/pylint
    # update rev after pylint includes this https://github.com/Azure/PyRIT/issues/809
    rev: c8c96d20cde3552a79858c7456bb1483bf83d633
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]
        exclude: NOTICE.txt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: website
        name: Jupyter Book Build Check
        entry: jb build -W -q ./doc
        language: system
        types: [python]
        pass_filenames: false

updated red teaming attack, docstrings, etc
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/base/context.py
  pyrit/attacks/components/score_evaluator.py
  pyrit/attacks/multi_turn/__init__.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/__init__.py
  pyrit/attacks/single_turn/prompt_injection.py
Due: website

run xpia notebook
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
Due: remove-notebook-headers, check-links, website

pre-commit
  pyrit/datasets/fetch_equitymedqa_dataset.py
Due: website

pre-commit
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

DOC fix citation for decoding trust dataset (#937)
  doc/api.rst
  pyrit/datasets/decoding_trust_stereotypes_dataset.py
Due: website

unit test fix
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

FEAT: Equity Med Dataset (#922)
  doc/api.rst
  pyrit/datasets/__init__.py
  pyrit/datasets/fetch_equitymedqa_dataset.py
  tests/unit/datasets/test_equitymedqa_dataset.py
Due: website

Apply suggestions from code review
  pyrit/prompt_target/openai/openai_realtime_target.py
Due: website

MAINT replace pylint dev commit with latest version (#942)
  .pre-commit-config.yaml
Due: none

fix integration test with new PSO method (#941)
  tests/integration/targets/test_target_filters.py
Due: website

MAINT bump target API versions (#938)
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_target.py
  pyrit/prompt_target/prompt_shield_target.py
  tests/unit/target/test_azure_ml_chat_target.py
  tests/unit/target/test_azure_openai_completion_target.py
  tests/unit/target/test_dall_e_target.py
  tests/unit/target/test_openai_chat_target.py
Due: website

MAINT bump package versions (#939)
  pyproject.toml
Due: none

fixing retry bug
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

FIX: Retry bug with single turn retry (#943)
  pyrit/orchestrator/single_turn/prompt_sending_orchestrator.py
  tests/unit/orchestrator/test_prompt_sending_orchestrator.py
Due: website

Improving duplication for prepended conversations
  doc/code/orchestrators/qa_benchmark_orchestrator.py
  pyrit/orchestrator/single_turn/question_answer_benchmark_orchestrator.py
  tests/unit/orchestrator/test_question_answer_benchmark_orchestrator.py
Due: check-links, website

update dataset examples and notebooks using them
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal.prompt
  pyrit/datasets/seed_prompts/illegal.prompt
  tests/integration/cli/test_cli_integration.py
Due: remove-notebook-headers, check-links, website

fix unit tests
  tests/unit/models/test_seed_prompt.py
Due: website

pre-commit hooks
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/cookbooks/1_sending_prompts.ipynb
Due: remove-notebook-headers

updated tests
  pyrit/attacks/__init__.py
  pyrit/attacks/attack_strategy_factory.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/base/backtracking_strategy.py
  pyrit/attacks/base/config.py
  pyrit/attacks/base/context.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/multi_turn/__init__.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_injection.py
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_classes.py
  pyrit/score/scorer.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_prompt_injection.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/score/test_scorer.py
Due: website

update docs, tests and commit id for integration test
  doc/code/converters/pdf_converter.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.ipynb
  doc/code/orchestrators/3_xpia_orchestrator.py
  tests/integration/ai_recruiter/test_ai_recruiter.py
  tests/unit/orchestrator/test_xpia_orchestrator.py
Due: remove-notebook-headers, check-links, website

added more tests
  pyrit/attacks/attack_strategy_factory.py
  pyrit/attacks/base/attack_strategy.py
  pyrit/attacks/base/config.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_injection.py
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_classes.py
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_conversation_manager.py
  tests/unit/attacks/test_prompt_injection.py
  tests/unit/attacks/test_red_teaming.py
  tests/unit/exceptions/test_exceptions.py
Due: website

updated test cases with the right fixtures
  tests/unit/attacks/test_attack_strategy.py
  tests/unit/attacks/test_conversation_manager.py
Due: website

added attack_executor
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/result.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_injection.py
  tests/unit/attacks/test_attack_executor.py
  tests/unit/attacks/test_conversation_manager.py
  tests/unit/attacks/test_red_teaming.py
Due: website

added score_evaluator tests
  tests/unit/attacks/test_score_evaluator.py
Due: website

added tests for prompt request response and request piece
  tests/unit/test_prompt_request_piece.py
  tests/unit/test_prompt_response.py
Due: website

fixed python 3.10 compatibility with Self
  pyrit/attacks/base/context.py
Due: website

fixed pre-commit errors
  pyrit/attacks/base/attack_executor.py
  pyrit/attacks/base/config.py
  pyrit/attacks/components/conversation_manager.py
  pyrit/attacks/multi_turn/red_teaming.py
  pyrit/attacks/single_turn/prompt_injection.py
  pyrit/models/prompt_request_response.py
  tests/unit/exceptions/test_exceptions.py
  tests/unit/score/test_scorer.py
Due: website

FEAT extend http target to allow custom http client (#804)
  pyrit/prompt_target/http_target/http_target.py
  tests/unit/target/test_http_target.py
Due: website

pre-commit hooks
  tests/unit/models/test_seed_prompt.py
Due: website

pr feedback
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website

MAINT Clean up Example SeedPrompt Datasets (#944)
  doc/code/datasets/1_seed_prompt.ipynb
  doc/code/datasets/1_seed_prompt.py
  doc/code/memory/8_seed_prompt_database.ipynb
  doc/code/memory/8_seed_prompt_database.py
  doc/cookbooks/1_sending_prompts.ipynb
  doc/cookbooks/1_sending_prompts.py
  pyrit/datasets/seed_prompts/illegal-multimodal-dataset.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal-group.prompt
  pyrit/datasets/seed_prompts/illegal-multimodal.prompt
  pyrit/datasets/seed_prompts/illegal.prompt
  tests/integration/cli/test_cli_integration.py
  tests/unit/models/test_seed_prompt.py
Due: remove-notebook-headers, check-links, website
