Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

fixing tests
  pyrit/datasets/seed_datasets/remote/harmbench_dataset.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/simulated_conversation.py
  tests/unit/executor/attack/core/test_attack_parameters.py
  tests/unit/models/test_seed.py
Due: website

adding flexibility
  doc/code/datasets/2_seed_programming.ipynb
  pyrit/datasets/executors/simulated_target/direct_next_message.yaml
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/models/__init__.py
  pyrit/models/seeds/__init__.py
  pyrit/models/seeds/seed_group.py
  pyrit/models/seeds/seed_prompt.py
  pyrit/models/seeds/seed_simulated_conversation.py
  pyrit/models/simulated_conversation_result.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/executor/attack/core/test_attack_parameters.py
  tests/unit/models/test_seed.py
  tests/unit/models/test_seed_group.py
  tests/unit/models/test_seed_simulated_conversation.py
Due: remove-notebook-headers, validate-jupyter-book, website

missing import
  pyrit/models/__init__.py
Due: website

re-populate registries
  build_scripts/evaluate_scorers.py
  doc/code/scoring/8_scorer_metrics.ipynb
  pyrit/datasets/scorer_evals/harm/exploits_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/hate_speech_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/information_integrity_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/privacy_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/self_harm_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/sexual_metrics.jsonl
  pyrit/datasets/scorer_evals/harm/violence_metrics.jsonl
  pyrit/datasets/scorer_evals/objective/objective_achieved_metrics.jsonl
  pyrit/datasets/scorer_evals/refusal_scorer/refusal_metrics.jsonl
  pyrit/datasets/scorer_evals/sample/mini_refusal.csv
  pyrit/score/true_false/self_ask_true_false_scorer.py
  tests/unit/score/test_human_labeled_dataset.py
Due: remove-notebook-headers, validate-jupyter-book, website

fixing doc
  doc/api.rst
Due: validate-jupyter-book

rename
  pyrit/executor/attack/component/conversation_manager.py
Due: website

PR feedback
  pyrit/scenario/scenarios/airt/scam.py
Due: website

tests changed
  tests/integration/score/test_likert_integration.py
  tests/integration/score/test_refusal_integration.py
  tests/unit/score/test_human_labeled_dataset.py
Due: website

to_py
  doc/code/scoring/8_scorer_metrics.ipynb
  doc/code/scoring/8_scorer_metrics.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

revert changes to scenarios notebook
  doc/code/scenarios/1_configuring_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

pre-commit hooks
  doc/code/scenarios/1_configuring_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

nbstripout changes
  doc/code/scenarios/1_configuring_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

hooks
  doc/code/scenarios/1_configuring_scenarios.ipynb
Due: remove-notebook-headers, validate-jupyter-book

pr review
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/prepended_conversation_config.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
  tests/unit/models/test_message.py
Due: website

test fix
  tests/unit/memory/memory_interface/test_interface_export.py
Due: website

fix example filename in Docker setup instructions
  doc/setup/1b_install_docker.md
Due: check-links, validate-jupyter-book

[FIX Breaking]: PrependedConversationConfig and Attack Param Consistency (#1299)
  doc/api.rst
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/core/prepended_conversation_config.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/flip_attack.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/message_normalizer/tokenizer_template_normalizer.py
  pyrit/models/message.py
  pyrit/models/message_piece.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/component/test_format_conversation_context.py
  tests/unit/executor/attack/component/test_prepend_adversarial_chat.py
  tests/unit/executor/attack/multi_turn/test_crescendo.py
  tests/unit/executor/attack/multi_turn/test_multi_prompt_sending.py
  tests/unit/executor/attack/multi_turn/test_red_teaming.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
  tests/unit/memory/memory_interface/test_interface_export.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
  tests/unit/models/test_message.py
Due: validate-jupyter-book, website

fixing docs and pre-commit
  doc/api.rst
  doc/code/datasets/2_seed_programming.py
  doc/code/scenarios/0_scenarios.ipynb
  tests/unit/models/test_seed.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

pre-commit
  doc/api.rst
  doc/code/datasets/2_seed_programming.py
  doc/cookbooks/2_precomputing_turns.ipynb
  doc/cookbooks/2_precomputing_turns.py
  pyrit/executor/attack/component/simulated_conversation.py
  pyrit/memory/memory_interface.py
  pyrit/memory/memory_models.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

fixing bug
  pyrit/executor/attack/core/attack_parameters.py
  tests/unit/executor/attack/core/test_attack_parameters.py
Due: website

fixing test
  tests/unit/executor/attack/core/test_attack_parameters.py
Due: website

fixing test
  tests/unit/executor/attack/core/test_attack_executor.py
Due: website

let's try again...
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/message_normalizer/chat_message_normalizer.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

updating deprecated methods
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/message_normalizer/chat_message_normalizer.py
  pyrit/message_normalizer/conversation_context_normalizer.py
  pyrit/message_normalizer/generic_system_squash.py
  pyrit/models/message.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/score/scorer_prompt_validator.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/executor/attack/single_turn/test_context_compliance.py
  tests/unit/executor/attack/single_turn/test_flip_attack.py
  tests/unit/executor/attack/single_turn/test_prompt_sending.py
  tests/unit/executor/attack/single_turn/test_role_play.py
  tests/unit/executor/benchmark/test_fairness_bias.py
  tests/unit/executor/benchmark/test_question_answering.py
  tests/unit/memory/memory_interface/test_interface_prompts.py
  tests/unit/memory/memory_interface/test_interface_scenario_results.py
  tests/unit/memory/test_azure_sql_memory.py
  tests/unit/memory/test_sqlite_memory.py
  tests/unit/message_normalizer/test_generic_system_squash_normalizer.py
  tests/unit/models/test_message.py
  tests/unit/models/test_message_piece.py
  tests/unit/models/test_models.py
  tests/unit/models/test_seed.py
  tests/unit/prompt_normalizer/test_prompt_normalizer.py
  tests/unit/target/test_openai_response_target.py
  tests/unit/target/test_playwright_copilot_target.py
  tests/unit/target/test_playwright_target.py
  tests/unit/target/test_prompt_target.py
  uv.lock
Due: website

adding print_deprecation_message
  doc/api.rst
  pyrit/common/__init__.py
  pyrit/common/deprecation.py
  pyrit/executor/attack/core/attack_executor.py
  pyrit/models/chat_message.py
  pyrit/scenario/scenarios/airt/cyber.py
  pyrit/scenario/scenarios/foundry/foundry.py
  pyrit/scenario/scenarios/garak/encoding.py
  tests/unit/converter/test_add_image_text_converter.py
  tests/unit/converter/test_add_text_image_converter.py
Due: validate-jupyter-book, website

fixing deprecated usage in scenarios
  pyrit/common/__init__.py
  pyrit/executor/attack/core/attack_executor.py
  tests/unit/scenarios/test_cyber.py
  tests/unit/scenarios/test_encoding.py
  tests/unit/scenarios/test_foundry.py
Due: website

adding print_deprecation_message to api.rst
  doc/api.rst
  pyrit/common/__init__.py
Due: validate-jupyter-book, website

remove exclusion for doc dir
  pyrit/datasets/jailbreak/text_jailbreak.py
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  tests/unit/executor/attack/test_attack_parameter_consistency.py
Due: website

fix imports
  doc/api.rst
  pyrit/score/__init__.py
Due: validate-jupyter-book, website

pr feedback & fix import for notebook
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  pyrit/scenario/scenarios/airt/scam.py
  tests/unit/scenarios/test_scam.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

base registry implementation
  doc/code/registry/0_registry.md
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/2_instance_registry.ipynb
  pyrit/cli/frontend_core.py
  pyrit/registry/__init__.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/__init__.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/discovery.py
  pyrit/registry/instance_registries/__init__.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  pyrit/registry/name_utils.py
  tests/unit/cli/test_frontend_core.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

include doc in ruff
  .pre-commit-config.yaml
  doc/code/scoring/generic_scorers.py
  doc/code/setup/1_configuration.py
  doc/code/targets/4_non_llm_targets.py
  pyproject.toml
Due: check-links, validate-jupyter-book, website

base registry doc
  doc/code/registry/2_instance_registry.ipynb
Due: remove-notebook-headers, validate-jupyter-book

pr feedback: add to scam strategy docstring
  pyrit/scenario/scenarios/airt/scam.py
Due: website

FEAT: New Scenario - Scams (#1202)
  doc/code/scenarios/0_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.ipynb
  doc/code/scenarios/1_configuring_scenarios.py
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona.yaml
  pyrit/datasets/executors/red_teaming/persuasion_deception/persuasion_persona_generic.yaml
  pyrit/datasets/executors/role_play/persuasion_script_written.yaml
  pyrit/datasets/score/true_false_question/scams.yaml
  pyrit/datasets/seed_datasets/local/airt/scams.prompt
  pyrit/executor/attack/core/attack_config.py
  pyrit/executor/attack/single_turn/role_play.py
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/scam.py
  tests/unit/scenarios/test_scam.py
Due: remove-notebook-headers, check-links, validate-jupyter-book, website

minor rewording
  doc/contributing/11_release_process.md
Due: validate-jupyter-book

pr feedback
  pyrit/executor/attack/core/attack_parameters.py
  pyrit/models/seeds/seed_attack_group.py
  pyrit/models/seeds/seed_group.py
  pyrit/scenario/core/atomic_attack.py
Due: website

test fix
  tests/unit/scenarios/test_scam.py
Due: website

fix circular imports
  pyrit/executor/attack/__init__.py
  pyrit/executor/attack/component/__init__.py
  pyrit/executor/attack/component/conversation_manager.py
  pyrit/executor/attack/component/prepended_conversation_config.py
  pyrit/executor/attack/core/__init__.py
  pyrit/executor/attack/multi_turn/__init__.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/simulated_conversation.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/executor/attack/component/test_conversation_manager.py
  tests/unit/executor/attack/component/test_simulated_conversation.py
  tests/unit/message_normalizer/test_chat_normalizer_tokenizer.py
Due: website

registry added
  doc/code/registry/1_class_registry.ipynb
  doc/code/registry/2_instance_registry.ipynb
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
Due: remove-notebook-headers, validate-jupyter-book, website
