Repository Azure/PyRIT: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-headers, check-links, validate-jupyter-book, website

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - '--keep-output'

  - repo: local
    hooks:
    - id: remove-notebook-headers
      name: Remove Notebook Headers
      entry: python ./build_scripts/remove_notebook_headers.py
      language: python
      files: ^doc.*\.(ipynb)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: NOTICE.txt
      - id: end-of-file-fixer
        exclude: NOTICE.txt
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=3072"]  # Set limit to 3072 KB (3 MB) for displaying images in notebooks
      - id: detect-private-key

  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Import Sort (Python files)
        exclude: __init__.py
        args: [--profile=black, --filter-files, --treat-comment-as-code "# %%"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-isort
      name: Import Sort (Jupyter Notebooks)
      args: [--profile=black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: ruff-check
        args: [--fix]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-copyright']
        types: [python]
        exclude: ^doc/

  - repo: local
    hooks:
    - id: check-links
      name: Check Links in Python and md Files
      entry: python ./build_scripts/check_links.py
      language: python
      files: ^doc.*\.(py|md)$
      additional_dependencies: ['requests']
      exclude: (release_process.md|git.md|^doc/deployment/|tests|pyrit/prompt_converter/morse_converter.py|.github|pyrit/prompt_converter/emoji_converter.py|pyrit/score/markdown_injection.py|^pyrit/datasets/|^pyrit/auxiliary_attacks/gcg/)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --ignore-missing-imports, --sqlite-cache, --cache-dir=.mypy_cache]
        name: mypy
        entry: mypy
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: validate-jupyter-book
        name: Validate Jupyter Book Structure
        entry: python ./build_scripts/validate_jupyter_book.py
        language: python
        files: ^(doc/.*\.(py|ipynb|md|rst)|doc/_toc\.yml)$
        pass_filenames: false
        additional_dependencies: ['pyyaml']
      - id: website
        name: Jupyter Book Build Check
        entry: python ./build_scripts/conditional_jb_build.py
        language: system
        types: [python]
        pass_filenames: false

pr feedback
  pyrit/executor/attack/component/conversation_manager.py
Due: website

test fix
  tests/unit/executor/attack/component/test_conversation_manager.py
Due: website

[deps]: replace `mypy` w ith`ty`;
  pyproject.toml
Due: none

[lock]: regenerated lock file for uv;
  uv.lock
Due: none

Adding better exception messages
  pyrit/exceptions/__init__.py
  pyrit/exceptions/exception_context.py
  pyrit/exceptions/exceptions_helpers.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  pyrit/executor/core/strategy.py
  pyrit/prompt_normalizer/prompt_normalizer.py
  tests/unit/exceptions/test_exception_context.py
  tests/unit/exceptions/test_exceptions_helpers.py
  tests/unit/executor/attack/multi_turn/test_chunked_request.py
  tests/unit/executor/attack/multi_turn/test_tree_of_attacks.py
  tests/unit/executor/core/test_strategy.py
  tests/unit/prompt_normalizer/test_prompt_normalizer.py
Due: website

pre-commit
  pyrit/executor/core/strategy.py
  tests/unit/exceptions/test_exceptions_helpers.py
  tests/unit/executor/core/test_strategy.py
  tests/unit/prompt_normalizer/test_prompt_normalizer.py
Due: website

adding objective
  pyrit/exceptions/exception_context.py
  pyrit/executor/attack/multi_turn/chunked_request.py
  pyrit/executor/attack/multi_turn/crescendo.py
  pyrit/executor/attack/multi_turn/multi_prompt_sending.py
  pyrit/executor/attack/multi_turn/red_teaming.py
  pyrit/executor/attack/multi_turn/tree_of_attacks.py
  pyrit/executor/attack/single_turn/prompt_sending.py
  tests/unit/exceptions/test_exception_context.py
Due: website

[cleanup]: remove mypy pre commit hook; - no official pre commit hook support for ty: https://github.com/astral-sh/ty/issues/269
  .pre-commit-config.yaml
Due: none

[maint]: add ty cache in dockerignore instead of mypy;
  .dockerignore
Due: none

[maint]: add ty cache in dev container instead of mypy;
  .devcontainer/devcontainer.json
Due: none

[maint]: add ty cache in container volume instead of mypy;
  .devcontainer/docker-compose.yml
Due: none

[doc]: update command for `ty` type checker;
  doc/contributing/1a_install_uv.md
Due: check-links, validate-jupyter-book

[feat]: ty make command replacing mypy;
  Makefile
Due: none

[config]: `ty` config over `mypy`;
  pyproject.toml
Due: none

[config]: cleanup false `ty` config; - `ty` doesn't have any allow empty body config afaik
  pyproject.toml
Due: none

FEAT: Adding audio and tool support to chat completions (#1311)
  doc/api.rst
  pyrit/prompt_target/__init__.py
  pyrit/prompt_target/openai/openai_chat_audio_config.py
  pyrit/prompt_target/openai/openai_chat_target.py
  pyrit/prompt_target/openai/openai_realtime_target.py
  pyrit/prompt_target/openai/openai_response_target.py
  tests/integration/targets/test_openai_chat_target_integration.py
  tests/unit/target/test_chat_audio_config.py
  tests/unit/target/test_openai_chat_target.py
  tests/unit/target/test_prompt_target.py
Due: validate-jupyter-book, website

addressing feedback
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/psychosocial_harms_scenario.py
  tests/unit/scenarios/test_psychosocial_harms.py
Due: website

Update pyrit/scenario/scenarios/airt/leakage_scenario.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
Due: website

Update Leakage Scenario Based on PR comments
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

first draft
  .env_example
  doc/api.rst
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/instance_registries/__init__.py
  pyrit/registry/instance_registries/target_registry.py
  pyrit/setup/initializers/__init__.py
  pyrit/setup/initializers/airt_targets.py
  tests/unit/registry/test_target_registry.py
Due: validate-jupyter-book, website

Support baseline-only execution in Scenario
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  tests/unit/scenarios/test_scenario.py
Due: website

Fix mypy type error: cast objective_scorer to TrueFalseScorer
  pyrit/scenario/core/scenario.py
Due: website

Fix formatting with black
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  tests/unit/scenarios/test_scenario.py
Due: website

Apply ruff formatting fixes
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  tests/unit/scenarios/test_scenario.py
Due: website

Refactor baseline support per PR feedback: remove allow_empty param and consolidate methods
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  tests/unit/scenarios/test_scenario.py
Due: website

fix: Add type annotation and apply ruff formatting
  pyrit/scenario/core/scenario.py
  pyrit/scenario/core/scenario_strategy.py
  tests/unit/scenarios/test_scenario.py
Due: website

refactoring register metadata
  doc/api.rst
  pyrit/cli/frontend_core.py
  pyrit/models/__init__.py
  pyrit/models/identifiers.py
  pyrit/prompt_converter/prompt_converter.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
Due: validate-jupyter-book, website

pre-commit
  pyrit/models/identifiers.py
  pyrit/registry/base.py
Due: website

Fix Merge Validation
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

FEAT: Leakage Scenario - New (#1284)
  pyrit/datasets/score/true_false_question/leakage.yaml
  pyrit/datasets/seed_datasets/local/airt/leakage.prompt
  pyrit/scenario/scenarios/airt/__init__.py
  pyrit/scenario/scenarios/airt/leakage_scenario.py
  tests/unit/scenarios/test_leakage_scenario.py
Due: website

pr feedback
  doc/api.rst
  pyrit/models/__init__.py
  pyrit/models/identifiers.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
Due: validate-jupyter-book, website

pr feedback
  pyrit/models/identifiers.py
  tests/unit/models/test_identifiers.py
Due: website

pre-commit
  tests/unit/models/test_identifiers.py
Due: website

MAINT: Registry Metadata Refactor (#1323)
  doc/api.rst
  pyrit/cli/frontend_core.py
  pyrit/models/__init__.py
  pyrit/models/identifiers.py
  pyrit/prompt_converter/prompt_converter.py
  pyrit/prompt_target/common/prompt_target.py
  pyrit/registry/__init__.py
  pyrit/registry/base.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/initializer_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/registry/instance_registries/base_instance_registry.py
  pyrit/registry/instance_registries/scorer_registry.py
  tests/unit/cli/test_frontend_core.py
  tests/unit/models/test_identifiers.py
  tests/unit/registry/test_base.py
  tests/unit/registry/test_base_instance_registry.py
  tests/unit/registry/test_scorer_registry.py
Due: validate-jupyter-book, website

identifier location update
  pyrit/identifiers/__init__.py
  pyrit/identifiers/class_name_utils.py
  pyrit/identifiers/identifiable.py
  pyrit/identifiers/identifiers.py
  pyrit/identifiers/scorer_identifier.py
  pyrit/models/__init__.py
  pyrit/models/scenario_result.py
  pyrit/registry/__init__.py
  pyrit/registry/class_registries/base_class_registry.py
  pyrit/registry/class_registries/scenario_registry.py
  pyrit/score/scorer.py
  tests/unit/identifiers/test_scorer_identifier.py
  tests/unit/registry/test_scorer_registry.py
  tests/unit/score/test_scorer.py
Due: website
